Repository bigbluebutton/bigbluebutton, pull requests merged in 2018-10, with the labels that each got.

#6113 Added script for sending recording ready notifications
  record-and-playback/core/Gemfile
  record-and-playback/core/Gemfile.lock
  record-and-playback/core/scripts/post_publish/post_publish_recording_ready_callback.rb
Labels: Recording

#6126 change intl label for consistency with others options.
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#6145 Added onunmute listener to MediaStreamTrack
  bigbluebutton-html5/client/compatibility/kurento-utils.js
Labels: HTML5 Client

#6090 Remove settings and use yml file
  bigbluebutton-html5/imports/startup/server/index.js
  bigbluebutton-html5/imports/startup/server/settings.js
  bigbluebutton-html5/package-lock.json
  bigbluebutton-html5/package.json
  bigbluebutton-html5/private/config/settings-development.json
  bigbluebutton-html5/private/config/settings-production.json
  bigbluebutton-html5/private/config/settings.yml
Labels: HTML5 Client

#6143 Adds compatibility with Electron Chromium to choose one screen to share
  bigbluebutton-html5/client/compatibility/kurento-extension.js
Labels: HTML5 Client

#6144 Make bbb-webrtc-sfu connect to Kurento using multiple websockets and other assorted improvements
  bigbluebutton-html5/imports/ui/components/video-provider/component.jsx
  labs/bbb-webrtc-sfu/config/default.example.yml
  labs/bbb-webrtc-sfu/lib/audio/audio.js
  labs/bbb-webrtc-sfu/lib/base/BaseManager.js
  labs/bbb-webrtc-sfu/lib/base/BaseProvider.js
  labs/bbb-webrtc-sfu/lib/mcs-core/lib/adapters/kurento/kurento.js
  labs/bbb-webrtc-sfu/lib/mcs-core/lib/constants/Constants.js
  labs/bbb-webrtc-sfu/lib/mcs-core/lib/media/MediaController.js
  labs/bbb-webrtc-sfu/lib/mcs-core/lib/model/MediaSession.js
  labs/bbb-webrtc-sfu/lib/mcs-core/lib/model/Room.js
  labs/bbb-webrtc-sfu/lib/screenshare/screenshare.js
  labs/bbb-webrtc-sfu/lib/video/VideoManager.js
  labs/bbb-webrtc-sfu/lib/video/video.js
Labels: HTML5 Client

#6156 Fix for bug in preview not working for students
  bbb-lti/grails-app/views/tool/index.gsp
Labels: Bug, LTI

#6140 Handle system messages in public chat
  bigbluebutton-html5/imports/api/meetings/server/modifiers/addMeeting.js
  bigbluebutton-html5/imports/api/users/server/modifiers/addUser.js
  bigbluebutton-html5/imports/ui/components/chat/container.jsx
  bigbluebutton-html5/imports/ui/components/chat/service.js
  bigbluebutton-html5/imports/ui/services/user/mapUser.js
Labels: HTML5 Client

#6157 Fix for bug in preview not working for students
  bbb-lti/grails-app/views/tool/index.gsp
Labels: Bug, LTI

#6129 Travis CI Setup for HTML5
  .nvmrc
  .travis.yml
  bigbluebutton-html5/.eslintignore
  bigbluebutton-html5/test-html5.sh
  bigbluebutton-html5/tests/puppeteer/.env-template
  bigbluebutton-html5/tests/puppeteer/.gitignore
  bigbluebutton-html5/tests/puppeteer/README.md
  bigbluebutton-html5/tests/puppeteer/elements.js
  bigbluebutton-html5/tests/puppeteer/helper.js
  bigbluebutton-html5/tests/puppeteer/html5-check.js
  bigbluebutton-html5/tests/puppeteer/jest.config.js
  bigbluebutton-html5/tests/puppeteer/jest.setup.js
  bigbluebutton-html5/tests/puppeteer/package.json
  bigbluebutton-html5/tests/puppeteer/page-chat.js
  bigbluebutton-html5/tests/puppeteer/page-chat.test.js
  bigbluebutton-html5/tests/puppeteer/page-draw.js
  bigbluebutton-html5/tests/puppeteer/page-draw.test.js
  bigbluebutton-html5/tests/puppeteer/page-status.js
  bigbluebutton-html5/tests/puppeteer/page-status.test.js
  bigbluebutton-html5/tests/puppeteer/page-switch-slides.js
  bigbluebutton-html5/tests/puppeteer/page-switch-slides.test.js
  bigbluebutton-html5/tests/puppeteer/page-upload.js
  bigbluebutton-html5/tests/puppeteer/page-upload.test.js
  bigbluebutton-html5/tests/puppeteer/page.js
  bigbluebutton-html5/tests/puppeteer/params.js
  bigbluebutton-html5/tests/puppeteer/screenshots/screenshots.txt
  bigbluebutton-html5/tests/puppeteer/tests-not-ready/page-hotkeys-mic-first-test.js
  bigbluebutton-html5/tests/puppeteer/tests-not-ready/page-hotkeys-mic-first.js
  bigbluebutton-html5/tests/puppeteer/tests-not-ready/page-hotkeys-test.js
  bigbluebutton-html5/tests/puppeteer/tests-not-ready/page-hotkeys.js
  bigbluebutton-html5/tests/puppeteer/upload-test.png
  build_script.sh
Labels: HTML5 Client

#6110 User manage button
  bigbluebutton-html5/imports/ui/components/app/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/styles.scss
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-options/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-options/container.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-options/styles.scss
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#6168 Configurable whiteboard tools
  bigbluebutton-html5/client/compatibility/kurento-extension.js
  bigbluebutton-html5/imports/api/users-settings/server/methods/addUserSettings.js
  bigbluebutton-html5/imports/ui/components/presentation/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/presentation-overlay/component.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-toolbar/component.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-toolbar/container.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-toolbar/service.js
  bigbluebutton-html5/imports/utils/slideCalcUtils.js
  bigbluebutton-html5/private/config/settings.yml
Labels: HTML5 Client

#6182 Drop metadata configs; use userdata configs for autoSwap
  bigbluebutton-html5/imports/api/users-settings/server/methods/addUserSettings.js
  bigbluebutton-html5/imports/startup/client/auth.js
  bigbluebutton-html5/imports/ui/components/media/container.jsx
  bigbluebutton-html5/imports/ui/components/media/service.js
  bigbluebutton-html5/imports/ui/components/presentation/default-content/component.jsx
  bigbluebutton-html5/private/config/settings.yml
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#6190 Pulled html5 locales oct 24, 2018
  bigbluebutton-html5/private/locales/zh_CN.json
Labels: HTML5 Client

#6162 Remove react router
  bigbluebutton-html5/.meteor/packages
  bigbluebutton-html5/client/main.jsx
  bigbluebutton-html5/imports/api/acl/Acl.js
  bigbluebutton-html5/imports/startup/client/auth.js
  bigbluebutton-html5/imports/startup/client/base.jsx
  bigbluebutton-html5/imports/startup/client/routes.js
  bigbluebutton-html5/imports/startup/server/redis.js
  bigbluebutton-html5/imports/ui/components/app/component.jsx
  bigbluebutton-html5/imports/ui/components/app/container.jsx
  bigbluebutton-html5/imports/ui/components/chat/alert/component.jsx
  bigbluebutton-html5/imports/ui/components/chat/alert/push-alert/component.jsx
  bigbluebutton-html5/imports/ui/components/chat/component.jsx
  bigbluebutton-html5/imports/ui/components/chat/container.jsx
  bigbluebutton-html5/imports/ui/components/chat/message-form/component.jsx
  bigbluebutton-html5/imports/ui/components/chat/message-list/component.jsx
  bigbluebutton-html5/imports/ui/components/chat/service.js
  bigbluebutton-html5/imports/ui/components/chat/styles.scss
  bigbluebutton-html5/imports/ui/components/dropdown/list/component.jsx
  bigbluebutton-html5/imports/ui/components/error-screen/component.jsx
  bigbluebutton-html5/imports/ui/components/logout-confirmation/component.jsx
  bigbluebutton-html5/imports/ui/components/logout-confirmation/container.jsx
  bigbluebutton-html5/imports/ui/components/meeting-ended/component.jsx
  bigbluebutton-html5/imports/ui/components/nav-bar/component.jsx
  bigbluebutton-html5/imports/ui/components/nav-bar/container.jsx
  bigbluebutton-html5/imports/ui/components/settings/component.jsx
  bigbluebutton-html5/imports/ui/components/settings/container.jsx
  bigbluebutton-html5/imports/ui/components/user-list/chat-list-item/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/chat-list-item/styles.scss
  bigbluebutton-html5/imports/ui/components/user-list/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/service.js
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/user-dropdown/component.jsx
  bigbluebutton-html5/imports/ui/services/api/index.js
  bigbluebutton-html5/package-lock.json
  bigbluebutton-html5/package.json
  bigbluebutton-html5/private/config/settings.yml
Labels: HTML5 Client

#6104 Add fit-to-width for html5
  bigbluebutton-html5/imports/ui/components/presentation/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/presentation-overlay/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/presentation-toolbar/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/presentation-toolbar/container.jsx
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#6123 Fix compatibility in some old browser
  bigbluebutton-html5/client/compatibility/kurento-extension.js
Labels: HTML5 Client

#6196 Recover toggle PublicChat
  bigbluebutton-html5/imports/ui/components/user-list/chat-list-item/component.jsx
Labels: HTML5 Client

#6198 Updated package-lock.json
  bigbluebutton-html5/package-lock.json
  bigbluebutton-html5/package.json
Labels: HTML5 Client
