Repository bigbluebutton/bigbluebutton, pull requests merged in 2019-07, with the labels that each got.

#7636 Fixes performance bug when youtube video is shared
  bigbluebutton-html5/imports/ui/components/actions-bar/container.jsx
  bigbluebutton-html5/imports/ui/components/app/component.jsx
  bigbluebutton-html5/imports/ui/components/external-video-player/modal/component.jsx
  bigbluebutton-html5/imports/ui/components/external-video-player/modal/container.jsx
  bigbluebutton-html5/imports/ui/components/media/container.jsx
  bigbluebutton-html5/imports/ui/components/media/service.js
  bigbluebutton-html5/imports/ui/services/users-settings/index.js
Labels: HTML5 Client

#7710 Add enabled poll property in settings.yml
  bigbluebutton-html5/imports/ui/components/actions-bar/actions-dropdown/component.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/component.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/container.jsx
  bigbluebutton-html5/imports/ui/components/polling/container.jsx
  bigbluebutton-html5/private/config/settings.yml
Labels: HTML5 Client

#7709 Logging structure - add extraInfo: {}
  bigbluebutton-html5/imports/api/audio/client/bridge/kurento.js
  bigbluebutton-html5/imports/api/audio/client/bridge/sip.js
  bigbluebutton-html5/imports/api/log-client/server/methods/logClient.js
  bigbluebutton-html5/imports/startup/client/logger.js
  bigbluebutton-html5/imports/ui/components/actions-bar/desktop-share/component.jsx
  bigbluebutton-html5/imports/ui/components/audio/device-selector/component.jsx
  bigbluebutton-html5/imports/ui/components/captions/pad/component.jsx
  bigbluebutton-html5/imports/ui/components/external-video-player/component.jsx
  bigbluebutton-html5/imports/ui/components/join-handler/component.jsx
  bigbluebutton-html5/imports/ui/components/meeting-ended/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/presentation-uploader/component.jsx
  bigbluebutton-html5/imports/ui/components/subscriptions/component.jsx
  bigbluebutton-html5/imports/ui/components/video-preview/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/video-list-item/component.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/service.js
  bigbluebutton-html5/imports/ui/services/audio-manager/index.js
  bigbluebutton-html5/imports/ui/services/auth/index.js
  bigbluebutton-html5/imports/ui/services/network-information/index.js
Labels: HTML5 Client

#7713 Prepend sessionToken to uniqueClientSession
  bigbluebutton-html5/imports/ui/services/auth/index.js
Labels: HTML5 Client

#7719 Add lock verification for users actions
  bigbluebutton-html5/imports/ui/components/user-list/service.js
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/user-dropdown/component.jsx
Labels: HTML5 Client

#7726 Avoid re-defining userAgent in kurento-utils.js
  bigbluebutton-html5/public/compatibility/kurento-utils.js
Labels: HTML5 Client, webrtc

#7727 Fix cannot read property 'focus' of null
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-overlay/text-draw-listener/component.jsx
Labels: HTML5 Client

#7708 Add ping-pong message to html5 client
  bigbluebutton-html5/imports/api/ping-pong/index.js
  bigbluebutton-html5/imports/api/ping-pong/server/index.js
  bigbluebutton-html5/imports/api/ping-pong/server/methods.js
  bigbluebutton-html5/imports/api/ping-pong/server/methods/ping.js
  bigbluebutton-html5/imports/api/ping-pong/server/publishers.js
  bigbluebutton-html5/imports/api/users/server/handlers/validateAuthToken.js
  bigbluebutton-html5/imports/api/users/server/methods/userLeaving.js
  bigbluebutton-html5/imports/api/users/server/publishers.js
  bigbluebutton-html5/imports/startup/client/base.jsx
  bigbluebutton-html5/imports/startup/server/index.js
  bigbluebutton-html5/imports/ui/components/app/component.jsx
  bigbluebutton-html5/imports/ui/components/ping-pong/container.jsx
  bigbluebutton-html5/imports/ui/components/subscriptions/component.jsx
  bigbluebutton-html5/server/main.js
Labels: HTML5 Client

#7583 Improve client reconnection
  bigbluebutton-html5/imports/startup/client/base.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/actions-dropdown/component.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/component.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/container.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/create-breakout-room/component.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/desktop-share/component.jsx
  bigbluebutton-html5/imports/ui/components/audio/audio-controls/component.jsx
  bigbluebutton-html5/imports/ui/components/audio/audio-controls/container.jsx
  bigbluebutton-html5/imports/ui/components/breakout-room/component.jsx
  bigbluebutton-html5/imports/ui/components/breakout-room/container.jsx
  bigbluebutton-html5/imports/ui/components/chat/chat-dropdown/component.jsx
  bigbluebutton-html5/imports/ui/components/chat/component.jsx
  bigbluebutton-html5/imports/ui/components/chat/container.jsx
  bigbluebutton-html5/imports/ui/components/chat/message-form/component.jsx
  bigbluebutton-html5/imports/ui/components/nav-bar/recording-indicator/component.jsx
  bigbluebutton-html5/imports/ui/components/nav-bar/settings-dropdown/component.jsx
  bigbluebutton-html5/imports/ui/components/nav-bar/settings-dropdown/container.jsx
  bigbluebutton-html5/imports/ui/components/notifications-bar/container.jsx
  bigbluebutton-html5/imports/ui/components/notifications-bar/styles.scss
  bigbluebutton-html5/imports/ui/components/panel-manager/component.jsx
  bigbluebutton-html5/imports/ui/components/poll/component.jsx
  bigbluebutton-html5/imports/ui/components/poll/container.jsx
  bigbluebutton-html5/imports/ui/components/poll/live-result/component.jsx
  bigbluebutton-html5/imports/ui/components/polling/component.jsx
  bigbluebutton-html5/imports/ui/components/polling/container.jsx
  bigbluebutton-html5/imports/ui/components/presentation/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/presentation-toolbar/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/presentation-toolbar/container.jsx
  bigbluebutton-html5/imports/ui/components/presentation/presentation-toolbar/zoom-tool/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/presentation-toolbar/zoom-tool/holdButton/component.jsx
  bigbluebutton-html5/imports/ui/components/recording/component.jsx
  bigbluebutton-html5/imports/ui/components/recording/container.jsx
  bigbluebutton-html5/imports/ui/components/screenshare/service.js
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/container.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/user-dropdown/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-options/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-options/container.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/video-button/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/video-button/container.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-toolbar/component.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-toolbar/container.jsx
  bigbluebutton-html5/imports/ui/services/api/index.js
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#7691 Implements tooltip and label to the button to take over the captions
  bigbluebutton-html5/imports/ui/components/button/component.jsx
  bigbluebutton-html5/imports/ui/components/captions/pad/component.jsx
  bigbluebutton-html5/imports/ui/components/tooltip/component.jsx
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#7730 Pulled html5 locales Jul 4, 2019
  bigbluebutton-html5/private/locales/ar.json
  bigbluebutton-html5/private/locales/bg_BG.json
  bigbluebutton-html5/private/locales/cs_CZ.json
  bigbluebutton-html5/private/locales/de.json
  bigbluebutton-html5/private/locales/el_GR.json
  bigbluebutton-html5/private/locales/es.json
  bigbluebutton-html5/private/locales/es_ES.json
  bigbluebutton-html5/private/locales/es_MX.json
  bigbluebutton-html5/private/locales/eu.json
  bigbluebutton-html5/private/locales/fa_IR.json
  bigbluebutton-html5/private/locales/fi.json
  bigbluebutton-html5/private/locales/fr.json
  bigbluebutton-html5/private/locales/he.json
  bigbluebutton-html5/private/locales/hi_IN.json
  bigbluebutton-html5/private/locales/hu_HU.json
  bigbluebutton-html5/private/locales/id.json
  bigbluebutton-html5/private/locales/it_IT.json
  bigbluebutton-html5/private/locales/ja.json
  bigbluebutton-html5/private/locales/ja_JP.json
  bigbluebutton-html5/private/locales/km.json
  bigbluebutton-html5/private/locales/pt.json
  bigbluebutton-html5/private/locales/pt_BR.json
  bigbluebutton-html5/private/locales/ru_RU.json
  bigbluebutton-html5/private/locales/sv_SE.json
  bigbluebutton-html5/private/locales/tr_TR.json
  bigbluebutton-html5/private/locales/uk_UA.json
  bigbluebutton-html5/private/locales/vi_VN.json
  bigbluebutton-html5/private/locales/zh_CN.json
  bigbluebutton-html5/private/locales/zh_TW.json
Labels: HTML5 Client, Localization

#7712 Prevent user from being ejected when confirming start/stop recording or end meeting after losing moderator role
  bigbluebutton-html5/imports/api/meetings/server/methods/endMeeting.js
  bigbluebutton-html5/imports/api/meetings/server/methods/toggleRecording.js
Labels: HTML5 Client

#7692 Fix blue screen after selecting share webcam (Chrome iOS)
  bigbluebutton-html5/imports/ui/components/audio/audio-modal/component.jsx
  bigbluebutton-html5/imports/ui/components/audio/audio-modal/container.jsx
  bigbluebutton-html5/imports/ui/components/video-preview/component.jsx
  bigbluebutton-html5/imports/ui/components/video-preview/container.jsx
  bigbluebutton-html5/imports/ui/components/video-preview/styles.scss
  bigbluebutton-html5/imports/utils/deviceInfo.js
Labels: HTML5 Client

#7731 Handle default value for isBreakoutUser property for dummy users
  bigbluebutton-html5/imports/ui/services/user/mapUser.js
Labels: HTML5 Client

#7733 Align You are disconnected label to the left; tweak label text
  bigbluebutton-html5/imports/ui/components/chat/message-form/styles.scss
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#7741 Fix audio input selector
  bigbluebutton-html5/imports/ui/components/audio/device-selector/component.jsx
Labels: HTML5 Client

#7742 Fix HTML5 server exceptions
  bigbluebutton-html5/imports/api/log-client/server/methods/logClient.js
  bigbluebutton-html5/imports/api/polls/server/methods/publishVote.js
  bigbluebutton-html5/imports/startup/server/index.js
Labels: HTML5 Client

#7743 Change unsafe Users upserts to updates
  bigbluebutton-html5/imports/api/meetings/server/modifiers/changeUserLock.js
  bigbluebutton-html5/imports/api/ping-pong/server/methods/ping.js
  bigbluebutton-html5/imports/api/video/server/modifiers/sharedWebcam.js
  bigbluebutton-html5/imports/api/video/server/modifiers/unsharedWebcam.js
Labels: HTML5 Client

#7738 Fix accessibility issues in closed captions
  bigbluebutton-html5/imports/ui/components/actions-bar/captions/reader-menu/component.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/captions/reader-menu/styles.scss
  bigbluebutton-html5/imports/ui/components/captions/component.jsx
  bigbluebutton-html5/imports/ui/components/settings/submenus/application/component.jsx
Labels: HTML5 Client

#7752 Fix crash from invalid online users
  bigbluebutton-html5/imports/api/ping-pong/server/publishers.js
  bigbluebutton-html5/imports/api/users/server/handlers/validateAuthToken.js
  bigbluebutton-html5/imports/api/users/server/methods/userLeaving.js
  bigbluebutton-html5/imports/startup/server/index.js
Labels: HTML5 Client

#7754 Pulled html5 logs July 8, 2019
  bigbluebutton-html5/private/locales/ar.json
  bigbluebutton-html5/private/locales/bg_BG.json
  bigbluebutton-html5/private/locales/cs_CZ.json
  bigbluebutton-html5/private/locales/de.json
  bigbluebutton-html5/private/locales/es.json
  bigbluebutton-html5/private/locales/es_ES.json
  bigbluebutton-html5/private/locales/es_MX.json
  bigbluebutton-html5/private/locales/eu.json
  bigbluebutton-html5/private/locales/fa_IR.json
  bigbluebutton-html5/private/locales/fi.json
  bigbluebutton-html5/private/locales/fr.json
  bigbluebutton-html5/private/locales/hi_IN.json
  bigbluebutton-html5/private/locales/hu_HU.json
  bigbluebutton-html5/private/locales/id.json
  bigbluebutton-html5/private/locales/it_IT.json
  bigbluebutton-html5/private/locales/ja.json
  bigbluebutton-html5/private/locales/ja_JP.json
  bigbluebutton-html5/private/locales/km.json
  bigbluebutton-html5/private/locales/pt.json
  bigbluebutton-html5/private/locales/pt_BR.json
  bigbluebutton-html5/private/locales/ru_RU.json
  bigbluebutton-html5/private/locales/sv_SE.json
  bigbluebutton-html5/private/locales/tr_TR.json
  bigbluebutton-html5/private/locales/uk_UA.json
  bigbluebutton-html5/private/locales/vi_VN.json
  bigbluebutton-html5/private/locales/zh_CN.json
  bigbluebutton-html5/private/locales/zh_TW.json
Labels: HTML5 Client, Localization

#7755 Fix publishing second custom poll not working
  bigbluebutton-html5/imports/ui/components/poll/component.jsx
Labels: HTML5 Client

#7759 Add property in setting.yml to override default locale
  bigbluebutton-html5/imports/startup/server/index.js
  bigbluebutton-html5/private/config/settings.yml
Labels: HTML5 Client

#7765 Tip that explains how to mute/unmute yourself using a phone
  bigbluebutton-html5/imports/ui/components/audio/audio-dial/component.jsx
  bigbluebutton-html5/imports/ui/components/audio/audio-dial/styles.scss
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#7771 Prevent client freze on Meteor.call() if not connected
  bigbluebutton-html5/imports/ui/components/join-handler/component.jsx
  bigbluebutton-html5/imports/ui/services/api/index.js
Labels: HTML5 Client

#7772 Add missing end of re-run for fetchToken
  bigbluebutton-html5/imports/ui/components/join-handler/component.jsx
Labels: HTML5 Client

#7773 Skip saving viewParticipantsWebcams in collection
  bigbluebutton-html5/imports/ui/services/settings/index.js
Labels: HTML5 Client

#7775 Hide scrollbar for media (webcams)
  bigbluebutton-html5/imports/ui/components/media/styles.scss
Labels: HTML5 Client

#7781 Update lodash package
  bigbluebutton-html5/package-lock.json
  bigbluebutton-html5/package.json
Labels: HTML5 Client

#7770 Remove unused `httpsConnection` flag in settings.yml
  bigbluebutton-html5/private/config/settings.yml
Labels: HTML5 Client

#7756 Webcam draggable refactoring
  bigbluebutton-html5/imports/ui/components/app/styles.scss
  bigbluebutton-html5/imports/ui/components/media/component.jsx
  bigbluebutton-html5/imports/ui/components/media/container.jsx
  bigbluebutton-html5/imports/ui/components/media/styles.scss
  bigbluebutton-html5/imports/ui/components/media/webcam-draggable-overlay/component.jsx
  bigbluebutton-html5/imports/ui/components/media/webcam-draggable-overlay/context.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/container.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/styles.scss
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/video-list-item/component.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-toolbar/styles.scss
Labels: HTML5 Client

#7790 Remove ChangeState functions.
  bigbluebutton-html5/imports/ui/components/authenticated-handler/component.jsx
  bigbluebutton-html5/imports/ui/components/join-handler/component.jsx
Labels: HTML5 Client, refactoring

#7786 Fix panel resizing for RTL locales
  bigbluebutton-html5/imports/ui/components/app/component.jsx
  bigbluebutton-html5/imports/ui/components/app/container.jsx
  bigbluebutton-html5/imports/ui/components/panel-manager/component.jsx
Labels: HTML5 Client

#7788 Refactor screenshare/listen only client-side logs
  bigbluebutton-html5/imports/api/audio/client/bridge/kurento.js
  bigbluebutton-html5/imports/api/screenshare/client/bridge/kurento.js
  bigbluebutton-html5/public/compatibility/kurento-extension.js
Labels: HTML5 Client

#7789 Creates parameter to enable or disable the Logout option
  bigbluebutton-html5/imports/ui/components/nav-bar/settings-dropdown/component.jsx
  bigbluebutton-html5/private/config/settings.yml
Labels: Configuration, HTML5 Client

#7784 Changes the position of the parameter enableExternalVideo in the settings.yml
  bigbluebutton-html5/imports/ui/components/actions-bar/component.jsx
  bigbluebutton-html5/imports/ui/components/media/service.js
  bigbluebutton-html5/private/config/settings.yml
Labels: HTML5 Client

#7807 Update lodash.mergewith, lodash
  bigbluebutton-html5/package-lock.json
Labels: HTML5 Client

#7764 Fix same name files failing in upload.
  bigbluebutton-html5/imports/api/presentation-upload-token/server/handlers/presentationUploadTokenPass.js
  bigbluebutton-html5/imports/api/presentation-upload-token/server/methods.js
  bigbluebutton-html5/imports/api/presentation-upload-token/server/methods/setUsedToken.js
  bigbluebutton-html5/imports/ui/components/presentation/presentation-uploader/service.js
Labels: HTML5 Client

#7804 Add enabled parameter to chat in settings.yml
  bigbluebutton-html5/imports/ui/components/chat/message-form/component.jsx
  bigbluebutton-html5/imports/ui/components/join-handler/component.jsx
  bigbluebutton-html5/imports/ui/components/lock-viewers/component.jsx
  bigbluebutton-html5/imports/ui/components/settings/submenus/application/component.jsx
  bigbluebutton-html5/imports/ui/components/shortcut-help/component.jsx
  bigbluebutton-html5/imports/ui/components/subscriptions/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/user-dropdown/component.jsx
  bigbluebutton-html5/private/config/settings.yml
Labels: HTML5 Client

#7813 Do not log clientInfo with each log, just the joinhandler one
  bigbluebutton-html5/imports/ui/components/join-handler/component.jsx
  bigbluebutton-html5/imports/ui/services/api/index.js
Labels: HTML5 Client

#7808 Fix webcams of other viewers lock toggle
  bigbluebutton-html5/imports/api/meetings/server/methods/toggleWebcamsOnlyForModerator.js
  bigbluebutton-html5/imports/api/meetings/server/modifiers/webcamOnlyModerator.js
  bigbluebutton-html5/imports/ui/components/audio/audio-modal/component.jsx
  bigbluebutton-html5/imports/ui/components/lock-viewers/container.jsx
Labels: HTML5 Client

#7812 Refactor video-provider component logs
  bigbluebutton-html5/imports/ui/components/video-provider/component.jsx
Labels: HTML5 Client

#7818 Pulled HTML5 locales July 19, 2019
  bigbluebutton-html5/private/locales/ar.json
  bigbluebutton-html5/private/locales/de.json
  bigbluebutton-html5/private/locales/fa_IR.json
  bigbluebutton-html5/private/locales/fr.json
  bigbluebutton-html5/private/locales/pl_PL.json
  bigbluebutton-html5/private/locales/zh_CN.json
Labels: HTML5 Client, Localization

#7830 Use correct property in log for video-provider
  bigbluebutton-html5/imports/ui/components/join-handler/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/component.jsx
  bigbluebutton-html5/public/compatibility/kurento-extension.js
Labels: HTML5 Client

#7832 Fix locales not working in legacy component
  bigbluebutton-html5/imports/ui/components/legacy/component.jsx
Labels: HTML5 Client

#7833 Minor optimization using Fields in miniMongo
  bigbluebutton-html5/imports/startup/client/base.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/container.jsx
  bigbluebutton-html5/imports/ui/components/app/container.jsx
  bigbluebutton-html5/imports/ui/components/nav-bar/container.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/container.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/service.js
Labels: HTML5 Client

#7836 Yet another workaround for autoplay issues
  bigbluebutton-html5/imports/api/audio/client/bridge/kurento.js
  bigbluebutton-html5/imports/ui/components/media/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/video-list-item/component.jsx
  bigbluebutton-html5/public/compatibility/kurento-utils.js
Labels: HTML5 Client

#7840 Add audio logs (joining / leaving / mute / unmute)
  bigbluebutton-html5/imports/ui/components/audio/audio-controls/component.jsx
  bigbluebutton-html5/imports/ui/components/audio/audio-controls/container.jsx
  bigbluebutton-html5/imports/ui/components/audio/service.js
  bigbluebutton-html5/imports/ui/components/breakout-join-confirmation/component.jsx
  bigbluebutton-html5/imports/ui/components/breakout-join-confirmation/container.jsx
  bigbluebutton-html5/imports/ui/components/user-list/service.js
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-options/container.jsx
  bigbluebutton-html5/imports/ui/services/audio-manager/index.js
Labels: HTML5 Client

#7837 Refactor of the presentation area to improve performance
  bigbluebutton-html5/imports/api/audio/client/bridge/kurento.js
  bigbluebutton-html5/imports/api/note/server/helpers.js
  bigbluebutton-html5/imports/ui/components/app/container.jsx
  bigbluebutton-html5/imports/ui/components/captions/service.js
  bigbluebutton-html5/imports/ui/components/chat/container.jsx
  bigbluebutton-html5/imports/ui/components/cursor/service.js
  bigbluebutton-html5/imports/ui/components/media/component.jsx
  bigbluebutton-html5/imports/ui/components/panel-manager/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/container.jsx
  bigbluebutton-html5/imports/ui/components/presentation/cursor/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/presentation-overlay/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/presentation-overlay/container.jsx
  bigbluebutton-html5/imports/ui/components/presentation/presentation-overlay/service.js
  bigbluebutton-html5/imports/ui/components/presentation/presentation-toolbar/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/presentation-toolbar/container.jsx
  bigbluebutton-html5/imports/ui/components/presentation/presentation-toolbar/service.js
  bigbluebutton-html5/imports/ui/components/presentation/service.js
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-notes/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/container.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-overlay/component.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-overlay/container.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-overlay/cursor-listener/component.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-overlay/pan-zoom-draw-listener/component.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-overlay/pencil-draw-listener/component.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-overlay/service.js
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-overlay/shape-draw-listener/component.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-overlay/text-draw-listener/component.jsx
  bigbluebutton-html5/imports/utils/slideCalcUtils.js
  bigbluebutton-html5/private/config/settings.yml
Labels: HTML5 Client

#7819 Updated npm dependencies
  bigbluebutton-html5/package-lock.json
  bigbluebutton-html5/package.json
Labels: HTML5 Client

#7831 Adjustments to fullscreen toggle
  bigbluebutton-html5/imports/ui/components/fullscreen-button/component.jsx
  bigbluebutton-html5/imports/ui/components/fullscreen-button/container.jsx
  bigbluebutton-html5/imports/ui/components/fullscreen-button/service.js
  bigbluebutton-html5/imports/ui/components/fullscreen-button/styles.scss
  bigbluebutton-html5/imports/ui/components/media/component.jsx
  bigbluebutton-html5/imports/ui/components/media/container.jsx
  bigbluebutton-html5/imports/ui/components/media/webcam-draggable-overlay/component.jsx
  bigbluebutton-html5/imports/ui/components/media/webcam-draggable-overlay/context.jsx
  bigbluebutton-html5/imports/ui/components/nav-bar/settings-dropdown/component.jsx
  bigbluebutton-html5/imports/ui/components/nav-bar/settings-dropdown/container.jsx
  bigbluebutton-html5/imports/ui/components/nav-bar/settings-dropdown/service.js
  bigbluebutton-html5/imports/ui/components/presentation/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/container.jsx
  bigbluebutton-html5/imports/ui/components/presentation/presentation-toolbar/component.jsx
  bigbluebutton-html5/imports/ui/components/screenshare/component.jsx
  bigbluebutton-html5/imports/ui/components/screenshare/container.jsx
  bigbluebutton-html5/imports/ui/components/screenshare/styles.scss
  bigbluebutton-html5/imports/ui/components/video-preview/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/container.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/styles.scss
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/video-list-item/component.jsx
  bigbluebutton-html5/imports/ui/stylesheets/variables/palette.scss
  bigbluebutton-html5/private/config/settings.yml
Labels: HTML5 Client

#7753 Add pong and clear users intervals times to settings
  bigbluebutton-html5/imports/api/ping-pong/server/publishers.js
  bigbluebutton-html5/imports/startup/server/index.js
  bigbluebutton-html5/private/config/settings.yml
Labels: HTML5 Client

#7863 Move Transifex instructions to the repo from docs
  bigbluebutton-html5/TRANSIFEX_PULL_INSTRUCTIONS.md
Labels: Docs, HTML5 Client

#7865 Move slide positions into their own collection
  bigbluebutton-html5/imports/api/presentation-pods/server/utils/isPodPresenter.js
  bigbluebutton-html5/imports/api/presentations/server/modifiers/addPresentation.js
  bigbluebutton-html5/imports/api/slides/index.js
  bigbluebutton-html5/imports/api/slides/server/helpers.js
  bigbluebutton-html5/imports/api/slides/server/methods/switchSlide.js
  bigbluebutton-html5/imports/api/slides/server/methods/zoomSlide.js
  bigbluebutton-html5/imports/api/slides/server/modifiers/addSlide.js
  bigbluebutton-html5/imports/api/slides/server/modifiers/addSlidePositions.js
  bigbluebutton-html5/imports/api/slides/server/modifiers/changeCurrentSlide.js
  bigbluebutton-html5/imports/api/slides/server/modifiers/clearSlides.js
  bigbluebutton-html5/imports/api/slides/server/modifiers/clearSlidesPresentation.js
  bigbluebutton-html5/imports/api/slides/server/modifiers/resizeSlide.js
  bigbluebutton-html5/imports/api/slides/server/publishers.js
  bigbluebutton-html5/imports/ui/components/presentation/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/container.jsx
  bigbluebutton-html5/imports/ui/components/presentation/presentation-overlay/container.jsx
  bigbluebutton-html5/imports/ui/components/presentation/presentation-toolbar/container.jsx
  bigbluebutton-html5/imports/ui/components/presentation/service.js
  bigbluebutton-html5/imports/ui/components/subscriptions/component.jsx
  bigbluebutton-html5/private/config/settings.yml
Labels: HTML5 Client

#7706 Removes tooltip from start recording button
  bigbluebutton-html5/imports/ui/components/nav-bar/component.jsx
  bigbluebutton-html5/imports/ui/components/nav-bar/recording-indicator/component.jsx
Labels: HTML5 Client
