Repository bigbluebutton/bigbluebutton, pull requests merged in 2019-03, with the labels that each got.

#6874 Fix mute all users option
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-options/component.jsx
Labels: HTML5 Client

#6876 Fix text overflow in error screen button.
  bigbluebutton-html5/imports/ui/components/error-screen/styles.scss
Labels: HTML5 Client

#6890 Exclude dial in users from polls
  bigbluebutton-html5/imports/api/polls/server/modifiers/addPoll.js
Labels: HTML5 Client

#6834 Improve shared notes accessibility
  bigbluebutton-html5/imports/ui/components/note/component.jsx
  bigbluebutton-html5/imports/ui/components/note/styles.scss
  bigbluebutton-html5/imports/ui/stylesheets/variables/palette.scss
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#6838 Quick poll implement
  bigbluebutton-html5/imports/ui/components/actions-bar/actions-dropdown/component.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/component.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/container.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/quick-poll-dropdown/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/service.js
  bigbluebutton-html5/imports/ui/components/presentation/styles.scss
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client, Polling

#6882 Fullscreen in Edge
  bigbluebutton-html5/imports/ui/components/presentation/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/video-list-item/component.jsx
Labels: HTML5 Client

#6809 Fix links in welcome message
  bigbluebutton-html5/imports/api/meetings/server/modifiers/addMeeting.js
Labels: HTML5 Client

#6877 Fix the issue with videos overlapping whiteboard
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/styles.scss
Labels: HTML5 Client

#6832 Improve talking indicators in edge
  bigbluebutton-html5/imports/ui/components/audio/audio-controls/styles.scss
  bigbluebutton-html5/imports/ui/components/user-avatar/styles.scss
Labels: HTML5 Client

#6875 Mute shared video when echo test is open.
  bigbluebutton-html5/imports/ui/components/audio/echo-test/component.jsx
  bigbluebutton-html5/imports/ui/components/external-video-player/component.jsx
  bigbluebutton-html5/imports/ui/components/external-video-player/container.jsx
Labels: HTML5 Client

#6850 Fix private chat for viewers and allow private chat with moderators
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/apps/groupchats/CreateGroupChatReqMsgHdlr.scala
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/apps/groupchats/SendGroupChatMessageMsgHdlr.scala
  bigbluebutton-client/src/org/bigbluebutton/modules/chat/views/ChatOptionsTab.mxml
  bigbluebutton-client/src/org/bigbluebutton/modules/chat/views/ChatTab.mxml
  bigbluebutton-client/src/org/bigbluebutton/modules/chat/views/ChatView.mxml
  bigbluebutton-html5/imports/ui/components/chat/service.js
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/user-dropdown/component.jsx
Labels: Chat, Flash Client, HTML5 Client

#6865 Fix save chat with URL
  bigbluebutton-html5/imports/ui/components/chat/service.js
Labels: HTML5 Client

#6908 Stop tracks when close preview modal
  bigbluebutton-html5/imports/ui/components/video-preview/component.jsx
Labels: HTML5 Client

#6909 Pulled latest html5 locales; added Hebrew
  bigbluebutton-html5/imports/startup/client/intl.jsx
  bigbluebutton-html5/private/locales/cs_CZ.json
  bigbluebutton-html5/private/locales/de.json
  bigbluebutton-html5/private/locales/es.json
  bigbluebutton-html5/private/locales/es_MX.json
  bigbluebutton-html5/private/locales/fa_IR.json
  bigbluebutton-html5/private/locales/fr.json
  bigbluebutton-html5/private/locales/he.json
  bigbluebutton-html5/private/locales/ja.json
  bigbluebutton-html5/private/locales/ja_JP.json
  bigbluebutton-html5/private/locales/km.json
  bigbluebutton-html5/private/locales/pt_BR.json
  bigbluebutton-html5/private/locales/ru_RU.json
  bigbluebutton-html5/private/locales/tr_TR.json
  bigbluebutton-html5/private/locales/uk_UA.json
  bigbluebutton-html5/private/locales/zh_CN.json
Labels: HTML5 Client

#6870 Implement user inactivity check
  bigbluebutton-html5/imports/api/users/server/eventHandlers.js
  bigbluebutton-html5/imports/api/users/server/handlers/userInactivityInspect.js
  bigbluebutton-html5/imports/api/users/server/handlers/validateAuthToken.js
  bigbluebutton-html5/imports/api/users/server/methods.js
  bigbluebutton-html5/imports/api/users/server/methods/userActivitySign.js
  bigbluebutton-html5/imports/api/users/server/modifiers/addUser.js
  bigbluebutton-html5/imports/api/users/server/modifiers/userInactivityInspect.js
  bigbluebutton-html5/imports/ui/components/activity-check/component.jsx
  bigbluebutton-html5/imports/ui/components/activity-check/container.jsx
  bigbluebutton-html5/imports/ui/components/activity-check/styles.scss
  bigbluebutton-html5/imports/ui/components/app/component.jsx
  bigbluebutton-html5/imports/ui/components/modal/simple/component.jsx
  bigbluebutton-html5/imports/ui/components/settings/component.jsx
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#6910 Fix ejections in Flash
  bigbluebutton-client/locale/en_US/bbbResources.properties
  bigbluebutton-client/src/org/bigbluebutton/modules/users/views/MediaItemRenderer.mxml
  bigbluebutton-client/src/org/bigbluebutton/modules/users/views/RoomActionsRenderer.mxml
  bigbluebutton-client/src/org/bigbluebutton/modules/users/views/StatusItemRenderer.mxml
  bigbluebutton-client/src/org/bigbluebutton/modules/users/views/UsersWindow.mxml
Labels: Flash Client

#6902 Improvement for the feedback client logging
  bigbluebutton-html5/imports/ui/components/meeting-ended/component.jsx
  bigbluebutton-html5/private/config/settings.yml
Labels: HTML5 Client

#6889 Fix whiteboard toolbar icons not rendering
  bigbluebutton-html5/client/stylesheets/fonts.css
  bigbluebutton-html5/imports/ui/components/actions-bar/quick-poll-dropdown/component.jsx
  bigbluebutton-html5/imports/ui/components/app/styles.scss
  bigbluebutton-html5/imports/ui/components/audio/audio-controls/styles.scss
  bigbluebutton-html5/imports/ui/components/audio/audio-modal/styles.scss
  bigbluebutton-html5/imports/ui/components/audio/audio-test/styles.scss
  bigbluebutton-html5/imports/ui/components/audio/permissions-overlay/styles.scss
  bigbluebutton-html5/imports/ui/components/breakout-room/styles.scss
  bigbluebutton-html5/imports/ui/components/button/styles.scss
  bigbluebutton-html5/imports/ui/components/chat/message-form/styles.scss
  bigbluebutton-html5/imports/ui/components/external-video-player/modal/styles.scss
  bigbluebutton-html5/imports/ui/components/loading-screen/styles.scss
  bigbluebutton-html5/imports/ui/components/presentation/default-content/styles.scss
  bigbluebutton-html5/imports/ui/components/presentation/presentation-uploader/styles.scss
  bigbluebutton-html5/imports/ui/components/presentation/styles.scss
  bigbluebutton-html5/imports/ui/components/toast/styles.scss
  bigbluebutton-html5/imports/ui/components/user-avatar/styles.scss
  bigbluebutton-html5/imports/ui/components/user-list/styles.scss
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/user-dropdown/styles.scss
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/user-icons/styles.scss
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/user-name/styles.scss
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/styles.scss
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-toolbar/component.jsx
  bigbluebutton-html5/public/fonts/SourceSansPro/SourceSansPro-Black.ttf
  bigbluebutton-html5/public/fonts/SourceSansPro/SourceSansPro-BlackItalic.ttf
  bigbluebutton-html5/public/fonts/SourceSansPro/SourceSansPro-Bold.ttf
  bigbluebutton-html5/public/fonts/SourceSansPro/SourceSansPro-Bold.woff
  bigbluebutton-html5/public/fonts/SourceSansPro/SourceSansPro-BoldItalic.ttf
  bigbluebutton-html5/public/fonts/SourceSansPro/SourceSansPro-BoldItalic.woff
  bigbluebutton-html5/public/fonts/SourceSansPro/SourceSansPro-ExtraLight.ttf
  bigbluebutton-html5/public/fonts/SourceSansPro/SourceSansPro-ExtraLightItalic.ttf
  bigbluebutton-html5/public/fonts/SourceSansPro/SourceSansPro-Italic.ttf
  bigbluebutton-html5/public/fonts/SourceSansPro/SourceSansPro-Italic.woff
  bigbluebutton-html5/public/fonts/SourceSansPro/SourceSansPro-Light.ttf
  bigbluebutton-html5/public/fonts/SourceSansPro/SourceSansPro-Light.woff
  bigbluebutton-html5/public/fonts/SourceSansPro/SourceSansPro-LightItalic.ttf
  bigbluebutton-html5/public/fonts/SourceSansPro/SourceSansPro-LightItalic.woff
  bigbluebutton-html5/public/fonts/SourceSansPro/SourceSansPro-Regular.ttf
  bigbluebutton-html5/public/fonts/SourceSansPro/SourceSansPro-Regular.woff
  bigbluebutton-html5/public/fonts/SourceSansPro/SourceSansPro-Semibold.ttf
  bigbluebutton-html5/public/fonts/SourceSansPro/SourceSansPro-Semibold.woff
  bigbluebutton-html5/public/fonts/SourceSansPro/SourceSansPro-SemiboldItalic.ttf
  bigbluebutton-html5/public/fonts/SourceSansPro/SourceSansPro-SemiboldItalic.woff
Labels: HTML5 Client

#6898 Improve welcome message
  bigbluebutton-html5/imports/ui/components/chat/container.jsx
  bigbluebutton-html5/imports/ui/components/chat/message-list/message-list-item/component.jsx
  bigbluebutton-html5/imports/ui/components/chat/message-list/message-list-item/styles.scss
Labels: HTML5 Client

#6778 Updated the slide control toolbar look
  bigbluebutton-html5/imports/ui/components/button/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/container.jsx
  bigbluebutton-html5/imports/ui/components/presentation/download-presentation-button/styles.scss
  bigbluebutton-html5/imports/ui/components/presentation/presentation-toolbar/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/presentation-toolbar/container.jsx
  bigbluebutton-html5/imports/ui/components/presentation/presentation-toolbar/styles.scss
  bigbluebutton-html5/imports/ui/components/presentation/presentation-toolbar/zoom-tool/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/service.js
  bigbluebutton-html5/imports/ui/components/presentation/styles.scss
  bigbluebutton-html5/imports/ui/components/tooltip/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/fullscreen-button/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/fullscreen-button/styles.scss
Labels: HTML5 Client

#6958 Avoid client crash when in multi whiteboard mode and when publishing polls
  bigbluebutton-html5/imports/ui/components/media/styles.scss
Labels: HTML5 Client

#6957 Reduce log noise; minor adjustment to locale error catcher
  bigbluebutton-html5/imports/api/annotations/addAnnotation.js
  bigbluebutton-html5/imports/api/annotations/server/modifiers/addAnnotation.js
  bigbluebutton-html5/imports/api/annotations/server/publishers.js
  bigbluebutton-html5/imports/api/breakouts/server/publishers.js
  bigbluebutton-html5/imports/api/captions/server/publishers.js
  bigbluebutton-html5/imports/api/group-chat-msg/server/publishers.js
  bigbluebutton-html5/imports/api/group-chat/server/publishers.js
  bigbluebutton-html5/imports/api/meetings/server/publishers.js
  bigbluebutton-html5/imports/api/polls/server/publishers.js
  bigbluebutton-html5/imports/api/presentation-pods/server/publishers.js
  bigbluebutton-html5/imports/api/presentation-upload-token/server/publishers.js
  bigbluebutton-html5/imports/api/presentations/server/handlers/presentationConversionUpdate.js
  bigbluebutton-html5/imports/api/presentations/server/publishers.js
  bigbluebutton-html5/imports/api/screenshare/server/publishers.js
  bigbluebutton-html5/imports/api/slides/server/modifiers/resizeSlide.js
  bigbluebutton-html5/imports/api/slides/server/publishers.js
  bigbluebutton-html5/imports/api/users-settings/server/publishers.js
  bigbluebutton-html5/imports/api/users/server/publishers.js
  bigbluebutton-html5/imports/api/voice-users/server/publishers.js
  bigbluebutton-html5/imports/api/whiteboard-multi-user/server/publishers.js
  bigbluebutton-html5/imports/startup/server/index.js
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/video-list-item/component.jsx
Labels: HTML5 Client

#6960 Enable screenshare by default; npm audit
  bigbluebutton-html5/package-lock.json
  bigbluebutton-html5/package.json
  bigbluebutton-html5/private/config/settings.yml
Labels: HTML5 Client

#6964 Fix poll exception when no presentation selected.
  bigbluebutton-html5/imports/ui/components/poll/component.jsx
  bigbluebutton-html5/imports/ui/components/poll/container.jsx
  bigbluebutton-html5/imports/ui/components/poll/styles.scss
  bigbluebutton-html5/imports/ui/components/presentation/presentation-uploader/service.js
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#6961 Remove all Verto code
  bigbluebutton-html5/client/compatibility/verto-min.js
  bigbluebutton-html5/client/compatibility/verto_extension.js
  bigbluebutton-html5/imports/api/audio/client/bridge/verto.js
  bigbluebutton-html5/imports/api/screenshare/client/bridge/index.js
  bigbluebutton-html5/imports/api/screenshare/client/bridge/service.js
  bigbluebutton-html5/imports/api/screenshare/client/bridge/verto.js
  bigbluebutton-html5/imports/ui/components/screenshare/service.js
  bigbluebutton-html5/imports/ui/services/audio-manager/index.js
  bigbluebutton-html5/private/config/settings.yml
Labels: HTML5 Client

#6869 Add pending/guest users waiting to approval panel
  bigbluebutton-html5/imports/api/guest-users/index.js
  bigbluebutton-html5/imports/api/guest-users/server/eventHandlers.js
  bigbluebutton-html5/imports/api/guest-users/server/handlers/guestApproved.js
  bigbluebutton-html5/imports/api/guest-users/server/handlers/guestsWaitingForApproval.js
  bigbluebutton-html5/imports/api/guest-users/server/index.js
  bigbluebutton-html5/imports/api/guest-users/server/methods.js
  bigbluebutton-html5/imports/api/guest-users/server/methods/allowPendingUsers.js
  bigbluebutton-html5/imports/api/guest-users/server/modifiers/setGuestStatus.js
  bigbluebutton-html5/imports/api/guest-users/server/publishers.js
  bigbluebutton-html5/imports/api/users/server/eventHandlers.js
  bigbluebutton-html5/imports/api/users/server/handlers/guestApproved.js
  bigbluebutton-html5/imports/api/users/server/handlers/guestsWaitingForApproval.js
  bigbluebutton-html5/imports/api/users/server/modifiers/addUser.js
  bigbluebutton-html5/imports/api/users/server/modifiers/setApprovedStatus.js
  bigbluebutton-html5/imports/startup/client/base.jsx
  bigbluebutton-html5/imports/ui/components/app/component.jsx
  bigbluebutton-html5/imports/ui/components/panel-manager/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/container.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/waiting-users/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/waiting-users/styles.scss
  bigbluebutton-html5/imports/ui/components/waiting-users/alert/component.jsx
  bigbluebutton-html5/imports/ui/components/waiting-users/alert/container.jsx
  bigbluebutton-html5/imports/ui/components/waiting-users/alert/styles.scss
  bigbluebutton-html5/imports/ui/components/waiting-users/component.jsx
  bigbluebutton-html5/imports/ui/components/waiting-users/container.jsx
  bigbluebutton-html5/imports/ui/components/waiting-users/service.js
  bigbluebutton-html5/imports/ui/components/waiting-users/styles.scss
  bigbluebutton-html5/private/locales/en.json
  bigbluebutton-html5/server/main.js
Labels: HTML5 Client

#6979 Fix set status chevron icon clipped on hover
  bigbluebutton-html5/imports/ui/components/dropdown/list/styles.scss
Labels: HTML5 Client

#6967 Recording button style
  bigbluebutton-html5/imports/api/users/server/modifiers/addUser.js
  bigbluebutton-html5/imports/ui/components/button/component.jsx
  bigbluebutton-html5/imports/ui/components/nav-bar/recording-indicator/component.jsx
  bigbluebutton-html5/imports/ui/components/nav-bar/recording-indicator/styles.scss
  bigbluebutton-html5/imports/ui/components/tooltip/component.jsx
  bigbluebutton-html5/imports/ui/components/waiting-users/component.jsx
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#6985 Change webcam resolution to 640x480 if using iOS
  bigbluebutton-html5/imports/ui/components/video-preview/component.jsx
Labels: HTML5 Client

#6995 Don't show demote/promote action in breakout rooms
  bigbluebutton-html5/imports/ui/components/user-list/service.js
Labels: HTML5 Client

#6981 Fix fitToWidth label toggle / button alignment
  bigbluebutton-html5/imports/ui/components/nav-bar/settings-dropdown/component.jsx
  bigbluebutton-html5/imports/ui/components/nav-bar/settings-dropdown/container.jsx
  bigbluebutton-html5/imports/ui/components/presentation/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/presentation-toolbar/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/presentation-toolbar/container.jsx
  bigbluebutton-html5/imports/ui/components/presentation/presentation-uploader/styles.scss
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#6881 Disable start sharing button while camera is not selected
  bigbluebutton-html5/imports/ui/components/video-preview/component.jsx
Labels: HTML5 Client

#7002 Fix loading animation.
  bigbluebutton-html5/imports/ui/components/loading-screen/styles.scss
Labels: HTML5 Client

#6984 Fix tooltips and fullscreen
  bigbluebutton-html5/imports/startup/client/base.jsx
  bigbluebutton-html5/imports/ui/components/nav-bar/settings-dropdown/component.jsx
  bigbluebutton-html5/imports/ui/components/nav-bar/settings-dropdown/container.jsx
  bigbluebutton-html5/imports/ui/components/panel-manager/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/container.jsx
  bigbluebutton-html5/imports/ui/components/presentation/presentation-toolbar/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/presentation-toolbar/styles.scss
  bigbluebutton-html5/imports/ui/components/presentation/service.js
  bigbluebutton-html5/imports/ui/components/video-provider/fullscreen-button/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/fullscreen-button/styles.scss
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#7005 Mute locked users instead of removing audio.
  bigbluebutton-html5/imports/ui/components/audio/audio-controls/container.jsx
  bigbluebutton-html5/imports/ui/components/audio/container.jsx
Labels: HTML5 Client

#7020 Add callback to screenshare remove
  bigbluebutton-html5/imports/api/screenshare/server/modifiers/clearScreenshare.js
Labels: HTML5 Client

#7019 Change to higher resolution if getUserMedia throws exception
  bigbluebutton-html5/imports/ui/components/video-preview/component.jsx
Labels: HTML5 Client

#6980 Adjust background for name in webcam area
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/styles.scss
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/video-list-item/component.jsx
Labels: HTML5 Client

#6999 Improved YouTube URL input field
  bigbluebutton-html5/imports/ui/components/external-video-player/modal/component.jsx
  bigbluebutton-html5/imports/ui/components/external-video-player/modal/styles.scss
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#6988 Hide mute button when moderator join via audio in breakout room.
  bigbluebutton-html5/imports/ui/components/audio/audio-controls/component.jsx
  bigbluebutton-html5/imports/ui/components/audio/audio-controls/container.jsx
  bigbluebutton-html5/imports/ui/components/audio/service.js
Labels: HTML5 Client

#7025 Pulled html5 locales March 14, 2019
  bigbluebutton-html5/.gitignore
  bigbluebutton-html5/private/locales/cs_CZ.json
  bigbluebutton-html5/private/locales/de.json
  bigbluebutton-html5/private/locales/es.json
  bigbluebutton-html5/private/locales/es_MX.json
  bigbluebutton-html5/private/locales/id.json
  bigbluebutton-html5/private/locales/pt_BR.json
  bigbluebutton-html5/private/locales/uk_UA.json
  bigbluebutton-html5/private/locales/zh_CN.json
  bigbluebutton-web/.gitignore
Labels: HTML5 Client

#6884 Change as mime types are coded
  bigbluebutton-html5/imports/ui/components/presentation/presentation-uploader/component.jsx
  bigbluebutton-html5/private/config/settings.yml
Labels: HTML5 Client

#6930 Fix few breakout room bugs.
  bigbluebutton-html5/imports/api/breakouts/server/publishers.js
  bigbluebutton-html5/imports/api/meetings/server/publishers.js
  bigbluebutton-html5/imports/api/users/server/publishers.js
  bigbluebutton-html5/imports/startup/client/base.jsx
  bigbluebutton-html5/imports/ui/components/breakout-room/component.jsx
  bigbluebutton-html5/imports/ui/components/nav-bar/component.jsx
Labels: HTML5 Client

#7015 Update inactivity modal
  bigbluebutton-html5/imports/api/users/server/eventHandlers.js
  bigbluebutton-html5/imports/api/users/server/handlers/userEjected.js
  bigbluebutton-html5/imports/api/users/server/modifiers/userEjected.js
  bigbluebutton-html5/imports/startup/client/base.jsx
  bigbluebutton-html5/imports/ui/components/activity-check/component.jsx
  bigbluebutton-html5/imports/ui/components/meeting-ended/component.jsx
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#7035 Add message to share YouTube modal
  bigbluebutton-html5/imports/ui/components/external-video-player/modal/component.jsx
  bigbluebutton-html5/imports/ui/components/external-video-player/modal/styles.scss
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#7041 Add cache busting to JS files that were missing it
  bigbluebutton-client/resources/prod/BigBlueButton.html
  bigbluebutton-client/resources/prod/lib/sockjs.min.js
Labels: Flash Client

#7063 Fix weird number in breakout user counter
  bigbluebutton-html5/imports/ui/components/breakout-room/component.jsx
Labels: HTML5 Client

#7064 Remove old folders references of .gitignore file.
  bigbluebutton-html5/.gitignore
Labels: HTML5 Client

#7042 Only process chat msgs when requested from html5
  bigbluebutton-html5/imports/api/group-chat-msg/server/eventHandlers.js
  bigbluebutton-html5/imports/api/group-chat/server/eventHandlers.js
  bigbluebutton-html5/imports/api/voice-users/server/modifiers/updateVoiceUser.js
Labels: HTML5 Client

#7046 Fix enter API parsing and cleaned up the ChatTab
  bigbluebutton-client/branding/default/style/css/V2Theme.css
  bigbluebutton-client/src/org/bigbluebutton/main/model/users/JoinService.as
  bigbluebutton-client/src/org/bigbluebutton/main/model/users/UserService.as
  bigbluebutton-client/src/org/bigbluebutton/modules/chat/views/ChatTab.mxml
Labels: Flash Client

#7073 Fit-to-width adapted to the new toolbar
  bigbluebutton-html5/imports/ui/components/presentation/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/cursor/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/presentation-close-button/styles.scss
  bigbluebutton-html5/imports/ui/components/presentation/presentation-overlay/component.jsx
Labels: HTML5 Client

#7082 Add resume title to recording modal
  bigbluebutton-html5/imports/ui/components/recording/component.jsx
  bigbluebutton-html5/imports/ui/components/recording/container.jsx
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#7094 Show bite out of avatar when not in audio
  bigbluebutton-html5/imports/ui/components/user-avatar/component.jsx
  bigbluebutton-html5/imports/ui/components/user-avatar/styles.scss
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/user-dropdown/component.jsx
Labels: HTML5 Client

#7090 Clean all the buttons
  bigbluebutton-html5/client/stylesheets/bbb-icons.css
  bigbluebutton-html5/imports/ui/components/actions-bar/styles.scss
  bigbluebutton-html5/imports/ui/components/audio/audio-controls/component.jsx
  bigbluebutton-html5/imports/ui/components/audio/audio-controls/container.jsx
  bigbluebutton-html5/imports/ui/components/audio/audio-controls/styles.scss
  bigbluebutton-html5/imports/ui/components/audio/audio-modal/styles.scss
  bigbluebutton-html5/imports/ui/components/button/component.jsx
  bigbluebutton-html5/imports/ui/components/button/styles.scss
  bigbluebutton-html5/imports/ui/components/chat/chat-dropdown/component.jsx
  bigbluebutton-html5/imports/ui/components/chat/component.jsx
  bigbluebutton-html5/imports/ui/components/chat/message-form/styles.scss
  bigbluebutton-html5/imports/ui/components/chat/styles.scss
  bigbluebutton-html5/imports/ui/components/video-preview/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/video-button/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/video-button/styles.scss
  bigbluebutton-html5/imports/ui/stylesheets/variables/general.scss
Labels: HTML5 Client

#7105 Warning for IE users
  bigbluebutton-html5/client/main.html
Labels: HTML5 Client

#7107 Moved the translation of the audio modal headers
  bigbluebutton-html5/imports/ui/components/audio/audio-modal/component.jsx
Labels: HTML5 Client

#7108 Don't clear the mod message from chat
  bigbluebutton-html5/imports/ui/components/chat/container.jsx
Labels: HTML5 Client

#7130 Add modal warnings for edge users
  bigbluebutton-html5/imports/ui/components/audio/audio-modal/component.jsx
  bigbluebutton-html5/imports/ui/components/audio/audio-modal/container.jsx
  bigbluebutton-html5/imports/ui/components/audio/audio-modal/styles.scss
  bigbluebutton-html5/imports/ui/components/video-preview/component.jsx
  bigbluebutton-html5/imports/ui/components/video-preview/styles.scss
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#7132 Fix outline of disabled buttons and button getting cut off
  bigbluebutton-html5/imports/ui/components/button/styles.scss
  bigbluebutton-html5/imports/ui/components/video-preview/styles.scss
Labels: HTML5 Client

#7125 Add spacebar hotkey to toggle whiteboard Pan tool
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-toolbar/component.jsx
Labels: HTML5 Client

#7062 Support loading the HTML5 main JS file and its assets from a CDN
  bigbluebutton-html5/imports/startup/server/index.js
  bigbluebutton-html5/imports/ui/components/activity-check/component.jsx
  bigbluebutton-html5/imports/ui/components/audio/audio-test/container.jsx
  bigbluebutton-html5/imports/ui/components/chat/alert/audio-alert/component.jsx
  bigbluebutton-html5/imports/ui/components/polling/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/video-button/service.js
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-overlay/pan-zoom-draw-listener/component.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-overlay/pencil-draw-listener/component.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-overlay/shape-draw-listener/component.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-overlay/text-draw-listener/component.jsx
  bigbluebutton-html5/private/config/settings.yml
Labels: HTML5 Client
