Repository bigbluebutton/bigbluebutton, pull requests merged in 2019-09, with the labels that each got.

#8053 Tweak record modal text
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#8059 Change audio error code log property
  bigbluebutton-html5/imports/ui/services/audio-manager/index.js
Labels: HTML5 Client

#8060 Fix duplicate user fetch and chat list bugs
  bigbluebutton-html5/imports/ui/components/user-list/service.js
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/user-dropdown/component.jsx
Labels: HTML5 Client

#8067 Fix spacing for keyboard shortcuts modal (RTL)
  bigbluebutton-html5/imports/ui/components/shortcut-help/styles.scss
Labels: HTML5 Client

#8068 Fix space next to current presentation (RTL)
  bigbluebutton-html5/imports/ui/components/presentation/presentation-uploader/styles.scss
Labels: HTML5 Client

#8069 Fix chat error message alignment (RTL)
  bigbluebutton-html5/imports/ui/components/chat/message-form/styles.scss
Labels: HTML5 Client

#8070 Fix microphone failure detection
  bigbluebutton-html5/imports/ui/components/video-preview/component.jsx
  bigbluebutton-html5/imports/ui/services/audio-manager/index.js
Labels: HTML5 Client

#8066 Reliably check mod status for clearing chat
  bigbluebutton-html5/imports/ui/components/chat/chat-dropdown/component.jsx
  bigbluebutton-html5/imports/ui/components/chat/component.jsx
  bigbluebutton-html5/imports/ui/components/chat/container.jsx
  bigbluebutton-html5/imports/ui/components/chat/service.js
Labels: HTML5 Client

#8073 Reduce db probes for getAvailableActions; Simplify SaveUsernames
  bigbluebutton-html5/imports/ui/components/actions-bar/actions-dropdown/component.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/component.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/container.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/create-breakout-room/container.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/desktop-share/component.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/quick-poll-dropdown/component.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/service.js
  bigbluebutton-html5/imports/ui/components/audio/audio-modal/container.jsx
  bigbluebutton-html5/imports/ui/components/breakout-room/component.jsx
  bigbluebutton-html5/imports/ui/components/breakout-room/container.jsx
  bigbluebutton-html5/imports/ui/components/breakout-room/service.js
  bigbluebutton-html5/imports/ui/components/chat/component.jsx
  bigbluebutton-html5/imports/ui/components/chat/container.jsx
  bigbluebutton-html5/imports/ui/components/chat/service.js
  bigbluebutton-html5/imports/ui/components/poll/container.jsx
  bigbluebutton-html5/imports/ui/components/polling/container.jsx
  bigbluebutton-html5/imports/ui/components/user-list/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/container.jsx
  bigbluebutton-html5/imports/ui/components/user-list/service.js
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/container.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/container.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/user-dropdown/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/user-icons/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/user-name/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-options/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-options/container.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/annotations/poll/component.jsx
Labels: HTML5 Client, Performance

#8080 Improve chat rendering performance and rework read message detection
  bigbluebutton-html5/imports/ui/components/chat/message-list/component.jsx
  bigbluebutton-html5/imports/ui/components/chat/message-list/message-list-item/component.jsx
  bigbluebutton-html5/imports/ui/components/chat/message-list/message-list-item/message/component.jsx
  bigbluebutton-html5/package-lock.json
  bigbluebutton-html5/package.json
Labels: HTML5 Client

#8084 Add monitor for memory usage in nodejs html5
  bigbluebutton-html5/imports/startup/server/index.js
  bigbluebutton-html5/package-lock.json
  bigbluebutton-html5/package.json
  bigbluebutton-html5/private/config/settings.yml
Labels: HTML5 Client

#8088 Pulled html5 locales Sept 9, 2019
  bigbluebutton-html5/private/locales/ar.json
  bigbluebutton-html5/private/locales/cs_CZ.json
  bigbluebutton-html5/private/locales/de.json
  bigbluebutton-html5/private/locales/en.json
  bigbluebutton-html5/private/locales/es.json
  bigbluebutton-html5/private/locales/es_MX.json
  bigbluebutton-html5/private/locales/eu.json
  bigbluebutton-html5/private/locales/fa_IR.json
  bigbluebutton-html5/private/locales/fi.json
  bigbluebutton-html5/private/locales/fr.json
  bigbluebutton-html5/private/locales/hi_IN.json
  bigbluebutton-html5/private/locales/hu_HU.json
  bigbluebutton-html5/private/locales/it_IT.json
  bigbluebutton-html5/private/locales/ja.json
  bigbluebutton-html5/private/locales/ja_JP.json
  bigbluebutton-html5/private/locales/km.json
  bigbluebutton-html5/private/locales/pt.json
  bigbluebutton-html5/private/locales/pt_BR.json
  bigbluebutton-html5/private/locales/ru_RU.json
  bigbluebutton-html5/private/locales/sv_SE.json
  bigbluebutton-html5/private/locales/uk_UA.json
  bigbluebutton-html5/private/locales/vi_VN.json
  bigbluebutton-html5/private/locales/zh_CN.json
  bigbluebutton-html5/private/locales/zh_TW.json
Labels: HTML5 Client, Localization

#8092 Update arrow character used in join audio modal
  bigbluebutton-html5/imports/ui/components/audio/audio-modal/component.jsx
Labels: HTML5 Client

#8093 Display error toasts on screenshare failures, more log improvements
  bigbluebutton-html5/imports/api/audio/client/bridge/kurento.js
  bigbluebutton-html5/imports/api/screenshare/client/bridge/kurento.js
  bigbluebutton-html5/imports/ui/components/actions-bar/desktop-share/component.jsx
  bigbluebutton-html5/private/locales/en.json
  bigbluebutton-html5/public/compatibility/kurento-extension.js
Labels: HTML5 Client

#8099 Restore breakout name in invitation modal
  bigbluebutton-html5/imports/ui/components/breakout-room/service.js
Labels: HTML5 Client

#8063 Move hasStream to video-users collection
  bigbluebutton-html5/imports/api/users/server/modifiers/removeUser.js
  bigbluebutton-html5/imports/api/video-streams/index.js
  bigbluebutton-html5/imports/api/video-streams/server/eventHandlers.js
  bigbluebutton-html5/imports/api/video-streams/server/handlers/userSharedHtml5Webcam.js
  bigbluebutton-html5/imports/api/video-streams/server/handlers/userUnsharedHtml5Webcam.js
  bigbluebutton-html5/imports/api/video-streams/server/index.js
  bigbluebutton-html5/imports/api/video-streams/server/methods.js
  bigbluebutton-html5/imports/api/video-streams/server/methods/userShareWebcam.js
  bigbluebutton-html5/imports/api/video-streams/server/methods/userUnshareWebcam.js
  bigbluebutton-html5/imports/api/video-streams/server/modifiers/sharedWebcam.js
  bigbluebutton-html5/imports/api/video-streams/server/modifiers/unsharedWebcam.js
  bigbluebutton-html5/imports/api/video-streams/server/publisher.js
  bigbluebutton-html5/imports/ui/components/subscriptions/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/many-users-notify/container.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/service.js
  bigbluebutton-html5/imports/ui/components/video-provider/video-button/service.js
  bigbluebutton-html5/server/main.js
Labels: HTML5 Client

#8110 Detect presenter change and reassign external video to new presenter
  bigbluebutton-html5/imports/ui/components/external-video-player/component.jsx
Labels: HTML5 Client

#8154 Bitrate only webcam profiles and error handling
  bigbluebutton-html5/imports/ui/components/video-preview/component.jsx
  bigbluebutton-html5/imports/ui/components/video-preview/styles.scss
  bigbluebutton-html5/imports/ui/components/video-provider/component.jsx
  bigbluebutton-html5/private/config/settings.yml
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#8028 Prevent close btn remaining visible on mobile (user dropdown)
  bigbluebutton-html5/imports/ui/components/dropdown/component.jsx
Labels: HTML5 Client

#8114 Fix unread indicator not displaying with long names
  bigbluebutton-html5/imports/ui/components/user-list/chat-list-item/styles.scss
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-notes/styles.scss
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/user-name/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/user-name/styles.scss
Labels: HTML5 Client

#8157 Viewer webcam lock unshare
  bigbluebutton-html5/imports/ui/components/video-provider/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/container.jsx
Labels: HTML5 Client

#8158 List users in a breakout in the breakout panel
  bigbluebutton-html5/imports/ui/components/app/styles.scss
  bigbluebutton-html5/imports/ui/components/breakout-room/component.jsx
  bigbluebutton-html5/imports/ui/components/breakout-room/styles.scss
  bigbluebutton-html5/imports/ui/components/user-list/service.js
Labels: HTML5 Client

#8131 Fix issues related to breakouts start/stop and page reload
  bigbluebutton-html5/imports/startup/client/base.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/create-breakout-room/component.jsx
  bigbluebutton-html5/imports/ui/components/breakout-room/component.jsx
  bigbluebutton-html5/imports/ui/components/breakout-room/container.jsx
  bigbluebutton-html5/imports/ui/components/breakout-room/invitation/component.jsx
  bigbluebutton-html5/imports/ui/components/breakout-room/invitation/container.jsx
  bigbluebutton-html5/imports/ui/components/breakout-room/service.js
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/container.jsx
Labels: HTML5 Client

#8054 Fix multiple clicks on upload button
  bigbluebutton-html5/imports/ui/components/presentation/presentation-uploader/component.jsx
Labels: HTML5 Client
