Repository bigbluebutton/bigbluebutton, pull requests merged in 2019-05, with the labels that each got.

#7329 Fix typo in regular expression detecting iOS version
  bigbluebutton-html5/imports/ui/components/app/service.js
  bigbluebutton-html5/imports/ui/components/toast/component.jsx
Labels: HTML5 Client

#7333 Adjustment to #7293 youtube video share
  bigbluebutton-html5/imports/ui/components/actions-bar/actions-dropdown/component.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/component.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/container.jsx
  bigbluebutton-html5/imports/ui/components/external-video-player/component.jsx
  bigbluebutton-html5/imports/ui/components/external-video-player/modal/component.jsx
  bigbluebutton-html5/imports/ui/components/external-video-player/modal/container.jsx
  bigbluebutton-html5/imports/ui/components/external-video-player/modal/styles.scss
  bigbluebutton-html5/imports/ui/components/external-video-player/service.js
  bigbluebutton-html5/package-lock.json
  bigbluebutton-html5/package.json
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#7293 merge start/stop buttons in share external video modal
  bigbluebutton-html5/imports/ui/components/actions-bar/actions-dropdown/component.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/component.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/container.jsx
  bigbluebutton-html5/imports/ui/components/external-video-player/modal/component.jsx
  bigbluebutton-html5/imports/ui/components/external-video-player/modal/container.jsx
  bigbluebutton-html5/imports/ui/components/external-video-player/modal/styles.scss
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#7326 Fix create breakout room missing some users.
  bigbluebutton-html5/imports/api/breakouts/server/eventHandlers.js
  bigbluebutton-html5/imports/api/breakouts/server/handlers/breakoutStarted.js
  bigbluebutton-html5/imports/api/breakouts/server/handlers/joinedUsersChanged.js
  bigbluebutton-html5/imports/ui/components/actions-bar/create-breakout-room/component.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/create-breakout-room/container.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/service.js
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-options/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-options/container.jsx
Labels: HTML5 Client

#7328 Refactor video preview modal
  bigbluebutton-html5/imports/ui/components/video-preview/component.jsx
  bigbluebutton-html5/imports/ui/components/video-preview/container.jsx
  bigbluebutton-html5/imports/ui/components/video-preview/service.js
  bigbluebutton-html5/imports/ui/components/video-preview/styles.scss
  bigbluebutton-html5/imports/ui/components/video-provider/component.jsx
  bigbluebutton-html5/private/config/settings.yml
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client, webrtc

#7337 Allow passing of breakout and lock settings on meeting create
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/apps/breakout/CreateBreakoutRoomsCmdMsgHdlr.scala
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/running/MeetingActor.scala
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core2/AnalyticsActor.scala
  bbb-common-message/src/main/scala/org/bigbluebutton/common2/domain/Meeting2x.scala
  bbb-common-message/src/main/scala/org/bigbluebutton/common2/msgs/BreakoutMsgs.scala
  bbb-common-web/src/main/java/org/bigbluebutton/api/ApiParams.java
  bbb-common-web/src/main/java/org/bigbluebutton/api/MeetingService.java
  bbb-common-web/src/main/java/org/bigbluebutton/api/ParamsProcessorUtil.java
  bbb-common-web/src/main/java/org/bigbluebutton/api/domain/BreakoutRoomsParams.java
  bbb-common-web/src/main/java/org/bigbluebutton/api/domain/LockSettingsParams.java
  bbb-common-web/src/main/java/org/bigbluebutton/api/domain/Meeting.java
  bbb-common-web/src/main/java/org/bigbluebutton/api/messaging/messages/CreateBreakoutRoom.java
  bbb-common-web/src/main/java/org/bigbluebutton/api2/IBbbWebApiGWApp.java
  bbb-common-web/src/main/scala/org/bigbluebutton/api2/BbbWebApiGWApp.scala
  bbb-common-web/src/main/scala/org/bigbluebutton/api2/meeting/OldMeetingMsgHdlrActor.scala
  bigbluebutton-client/src/org/bigbluebutton/main/model/users/JoinService.as
  bigbluebutton-html5/imports/api/meetings/server/methods/toggleLockSettings.js
  bigbluebutton-html5/imports/api/meetings/server/modifiers/addMeeting.js
  bigbluebutton-html5/imports/api/meetings/server/modifiers/changeLockSettings.js
  bigbluebutton-html5/imports/ui/components/actions-bar/create-breakout-room/component.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/create-breakout-room/styles.scss
  bigbluebutton-html5/imports/ui/components/actions-bar/service.js
  bigbluebutton-html5/imports/ui/components/audio/service.js
  bigbluebutton-html5/imports/ui/components/chat/service.js
  bigbluebutton-html5/imports/ui/components/lock-viewers/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/service.js
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/user-dropdown/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-options/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-options/container.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/service.js
  bigbluebutton-html5/private/locales/en.json
  bigbluebutton-web/grails-app/conf/bigbluebutton.properties
  bigbluebutton-web/grails-app/conf/spring/resources.xml
  bigbluebutton-web/grails-app/controllers/org/bigbluebutton/web/controllers/ApiController.groovy
Labels: Apps, HTML5 Client

#7335 Move legacy browser versions into settings.yml
  bigbluebutton-html5/imports/startup/server/index.js
  bigbluebutton-html5/imports/startup/server/minBrowserVersion.js
  bigbluebutton-html5/package.json
  bigbluebutton-html5/private/config/settings.yml
  bigbluebutton-html5/server/main.js
Labels: HTML5 Client

#7306 All subscriptions moved from Base to new component
  bigbluebutton-html5/client/main.jsx
  bigbluebutton-html5/imports/startup/client/base.jsx
  bigbluebutton-html5/imports/ui/components/subscriptions/component.jsx
Labels: HTML5 Client

#7341 Full Arabic translation for the HTML5 client
  bigbluebutton-html5/private/locales/ar.json
Labels: HTML5 Client

#7348 Pulled locales html5 May 3, 2019
  bigbluebutton-html5/package-lock.json
  bigbluebutton-html5/private/locales/bg_BG.json
  bigbluebutton-html5/private/locales/cs_CZ.json
  bigbluebutton-html5/private/locales/de.json
  bigbluebutton-html5/private/locales/es.json
  bigbluebutton-html5/private/locales/es_ES.json
  bigbluebutton-html5/private/locales/es_MX.json
  bigbluebutton-html5/private/locales/eu.json
  bigbluebutton-html5/private/locales/fa_IR.json
  bigbluebutton-html5/private/locales/fr.json
  bigbluebutton-html5/private/locales/hi_IN.json
  bigbluebutton-html5/private/locales/id.json
  bigbluebutton-html5/private/locales/ja.json
  bigbluebutton-html5/private/locales/ja_JP.json
  bigbluebutton-html5/private/locales/km.json
  bigbluebutton-html5/private/locales/pt_BR.json
  bigbluebutton-html5/private/locales/ru_RU.json
  bigbluebutton-html5/private/locales/tr_TR.json
  bigbluebutton-html5/private/locales/uk_UA.json
  bigbluebutton-html5/private/locales/zh_CN.json
Labels: HTML5 Client

#7192 Adds outline to elements for high contrast themes (windows)
  bigbluebutton-html5/imports/ui/components/app/styles.scss
  bigbluebutton-html5/imports/ui/components/audio/audio-settings/styles.scss
  bigbluebutton-html5/imports/ui/components/button/styles.scss
  bigbluebutton-html5/imports/ui/components/chat/message-form/styles.scss
  bigbluebutton-html5/imports/ui/components/chat/message-list/message-list-item/styles.scss
  bigbluebutton-html5/imports/ui/components/dropdown/list/styles.scss
  bigbluebutton-html5/imports/ui/components/dropdown/styles.scss
  bigbluebutton-html5/imports/ui/components/modal/base/styles.scss
  bigbluebutton-html5/imports/ui/components/modal/fullscreen/styles.scss
  bigbluebutton-html5/imports/ui/components/modal/simple/styles.scss
  bigbluebutton-html5/imports/ui/components/nav-bar/recording-indicator/component.jsx
  bigbluebutton-html5/imports/ui/components/nav-bar/recording-indicator/styles.scss
  bigbluebutton-html5/imports/ui/components/poll/styles.scss
  bigbluebutton-html5/imports/ui/components/presentation/presentation-toolbar/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/presentation-toolbar/styles.scss
  bigbluebutton-html5/imports/ui/components/settings/submenus/styles.scss
  bigbluebutton-html5/imports/ui/components/switch/component.jsx
  bigbluebutton-html5/imports/ui/components/switch/styles.scss
  bigbluebutton-html5/imports/ui/components/user-avatar/styles.scss
  bigbluebutton-html5/imports/ui/components/user-list/chat-list-item/chat-icon/styles.scss
  bigbluebutton-html5/imports/ui/components/user-list/chat-list-item/styles.scss
  bigbluebutton-html5/imports/ui/components/user-list/styles.scss
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/breakout-room/styles.scss
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/styles.scss
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-notes/styles.scss
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/user-dropdown/styles.scss
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-polls/styles.scss
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-toolbar/styles.scss
  bigbluebutton-html5/imports/ui/stylesheets/mixins/_indicators.scss
  bigbluebutton-html5/imports/ui/stylesheets/mixins/_scrollable.scss
Labels: HTML5 Client

#7159 Cursor not showing multi user whiteboard
  bigbluebutton-html5/imports/ui/components/cursor/service.js
  bigbluebutton-html5/imports/ui/components/presentation/cursor/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/presentation-overlay/component.jsx
Labels: HTML5 Client

#7360 Fix breakout room notification with wrong initial state.
  bigbluebutton-html5/imports/ui/components/breakout-room/breakout-remaining-time/container.jsx
Labels: HTML5 Client

#7363 Unshare webcam when join in a breakout room
  bigbluebutton-html5/imports/ui/components/breakout-join-confirmation/component.jsx
Labels: HTML5 Client

#7364 Further color contrast in polling, breakouts modal, user-list
  bigbluebutton-html5/imports/ui/components/actions-bar/create-breakout-room/styles.scss
  bigbluebutton-html5/imports/ui/components/poll/styles.scss
  bigbluebutton-html5/imports/ui/components/user-list/styles.scss
Labels: HTML5 Client

#7361 Fix aria-expanded on userlist toggle btn
  bigbluebutton-html5/imports/ui/components/nav-bar/container.jsx
Labels: HTML5 Client

#7366 Move focus to poll panel when opened
  bigbluebutton-html5/imports/ui/components/poll/component.jsx
Labels: HTML5 Client

#7371 Make delete presentation btn announce presentation name
  bigbluebutton-html5/imports/ui/components/presentation/presentation-uploader/component.jsx
Labels: HTML5 Client

#7381 Fix inverted labels for + and - buttons
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#7372 Improve labels announced for modal titles
  bigbluebutton-html5/imports/ui/components/audio/audio-modal/component.jsx
  bigbluebutton-html5/imports/ui/components/lock-viewers/component.jsx
  bigbluebutton-html5/imports/ui/components/recording/component.jsx
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#7396 Add Portuguese (Europe) locale
  bigbluebutton-html5/private/locales/pt.json
Labels: HTML5 Client

#7397 Pulled html5 locales May 9, 2019
  bigbluebutton-html5/imports/startup/client/intl.jsx
  bigbluebutton-html5/private/locales/ar.json
  bigbluebutton-html5/private/locales/cs_CZ.json
  bigbluebutton-html5/private/locales/de.json
  bigbluebutton-html5/private/locales/es.json
  bigbluebutton-html5/private/locales/es_MX.json
  bigbluebutton-html5/private/locales/eu.json
  bigbluebutton-html5/private/locales/fa_IR.json
  bigbluebutton-html5/private/locales/fr.json
  bigbluebutton-html5/private/locales/hi_IN.json
  bigbluebutton-html5/private/locales/it_IT.json
  bigbluebutton-html5/private/locales/ja.json
  bigbluebutton-html5/private/locales/ja_JP.json
  bigbluebutton-html5/private/locales/pt_BR.json
  bigbluebutton-html5/private/locales/ru_RU.json
  bigbluebutton-html5/private/locales/sv_SE.json
  bigbluebutton-html5/private/locales/tr_TR.json
  bigbluebutton-html5/private/locales/uk_UA.json
  bigbluebutton-html5/private/locales/zh_CN.json
  bigbluebutton-html5/private/locales/zh_TW.json
Labels: HTML5 Client

#7399 Adjust lock chat strings to be used as keys
  bigbluebutton-html5/imports/ui/components/lock-viewers/notify/component.jsx
Labels: HTML5 Client

#7389 Fixes the duplicated messages when meeting is ended
  bigbluebutton-html5/imports/api/meetings/server/handlers/meetingEnd.js
Labels: HTML5 Client

#7392 Fix custom poll button deactivating start button
  bigbluebutton-html5/imports/ui/components/poll/component.jsx
Labels: HTML5 Client

#7403 Fix error screen at meeting ends
  bigbluebutton-html5/imports/startup/client/base.jsx
Labels: HTML5 Client

#7404 Improved audio connect and transfer
  bigbluebutton-html5/imports/api/audio/client/bridge/sip.js
Labels: HTML5 Client, Voice

#7407 Add disabled prop to start custom poll button
  bigbluebutton-html5/imports/api/polls/server/methods/publishPoll.js
  bigbluebutton-html5/imports/ui/components/poll/component.jsx
Labels: HTML5 Client

#7410 Edit aria-label for custom poll inputs
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#7415 Remove duplicate "role=alert" prop from toast notification
  bigbluebutton-html5/imports/ui/components/toast/component.jsx
Labels: HTML5 Client

#7411 Add filename to aria-labels in presentation upload modal
  bigbluebutton-html5/imports/ui/components/checkbox/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/presentation-uploader/component.jsx
Labels: HTML5 Client

#7374 Display font size as percentage in application settings modal
  bigbluebutton-html5/imports/ui/components/settings/submenus/application/component.jsx
Labels: HTML5 Client

#7375 Add toast notification for published polls
  bigbluebutton-html5/imports/ui/components/whiteboard/annotations/poll/component.jsx
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#7432 Pulled html5 locales May 13, 2019
  bigbluebutton-html5/private/locales/ar.json
  bigbluebutton-html5/private/locales/cs_CZ.json
  bigbluebutton-html5/private/locales/de.json
  bigbluebutton-html5/private/locales/es_MX.json
  bigbluebutton-html5/private/locales/eu.json
  bigbluebutton-html5/private/locales/fr.json
  bigbluebutton-html5/private/locales/hi_IN.json
  bigbluebutton-html5/private/locales/it_IT.json
  bigbluebutton-html5/private/locales/ja.json
  bigbluebutton-html5/private/locales/ja_JP.json
  bigbluebutton-html5/private/locales/pt.json
  bigbluebutton-html5/private/locales/pt_BR.json
  bigbluebutton-html5/private/locales/sv_SE.json
  bigbluebutton-html5/private/locales/uk_UA.json
  bigbluebutton-html5/private/locales/zh_CN.json
  bigbluebutton-html5/private/locales/zh_TW.json
Labels: HTML5 Client

#7362 Make presentation upload checkbox accessible to keyboard
  bigbluebutton-html5/imports/ui/components/checkbox/component.jsx
Labels: HTML5 Client

#7382 Move warnings to top of modals
  bigbluebutton-html5/imports/ui/components/audio/audio-modal/component.jsx
  bigbluebutton-html5/imports/ui/components/video-preview/component.jsx
Labels: HTML5 Client

#7420 Fix thickness icon not updating (whiteboard toolbar)
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-toolbar/component.jsx
Labels: HTML5 Client

#7383 Add toast notification for when settings are saved
  bigbluebutton-html5/imports/ui/components/settings/component.jsx
  bigbluebutton-html5/imports/ui/components/settings/container.jsx
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#7431 Add popout_window icon to help menu item
  bigbluebutton-html5/client/stylesheets/bbb-icons.css
  bigbluebutton-html5/imports/ui/components/nav-bar/settings-dropdown/component.jsx
  bigbluebutton-html5/private/locales/en.json
  bigbluebutton-html5/public/fonts/BbbIcons/bbb-icons.woff
Labels: HTML5 Client

#7409 Improve labels for feedback stars / add legend element
  bigbluebutton-html5/imports/ui/components/meeting-ended/rating/component.jsx
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#7418 Add modal title to dismiss / confirm modal btns for screen reader
  bigbluebutton-html5/imports/ui/components/external-video-player/modal/component.jsx
  bigbluebutton-html5/imports/ui/components/modal/fullscreen/component.jsx
  bigbluebutton-html5/imports/ui/components/modal/simple/component.jsx
  bigbluebutton-html5/imports/ui/components/video-preview/component.jsx
Labels: HTML5 Client

#7421 Fix avatar width in message list item
  bigbluebutton-html5/imports/ui/components/chat/message-list/message-list-item/styles.scss
Labels: HTML5 Client

#7436 Breakouts should omit the end meeting menu
  bigbluebutton-html5/imports/ui/components/audio/permissions-overlay/styles.scss
  bigbluebutton-html5/imports/ui/components/nav-bar/component.jsx
  bigbluebutton-html5/imports/ui/components/nav-bar/settings-dropdown/component.jsx
Labels: HTML5 Client

#7438 Pulled html5 locales May 14, 2019
  bigbluebutton-html5/private/locales/ar.json
  bigbluebutton-html5/private/locales/cs_CZ.json
  bigbluebutton-html5/private/locales/de.json
  bigbluebutton-html5/private/locales/es.json
  bigbluebutton-html5/private/locales/es_MX.json
  bigbluebutton-html5/private/locales/eu.json
  bigbluebutton-html5/private/locales/fr.json
  bigbluebutton-html5/private/locales/hi_IN.json
  bigbluebutton-html5/private/locales/it_IT.json
  bigbluebutton-html5/private/locales/ja.json
  bigbluebutton-html5/private/locales/ja_JP.json
  bigbluebutton-html5/private/locales/pt.json
  bigbluebutton-html5/private/locales/pt_BR.json
  bigbluebutton-html5/private/locales/ru_RU.json
  bigbluebutton-html5/private/locales/uk_UA.json
  bigbluebutton-html5/private/locales/zh_CN.json
  bigbluebutton-html5/private/locales/zh_TW.json
Labels: HTML5 Client

#7417 Add table heading elements in presentation upload modal
  bigbluebutton-html5/imports/ui/components/presentation/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/container.jsx
  bigbluebutton-html5/imports/ui/components/presentation/presentation-uploader/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/presentation-uploader/styles.scss
  bigbluebutton-html5/imports/ui/components/presentation/service.js
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#7231 Add password field for redis settings
  bigbluebutton-html5/imports/startup/server/redis.js
  bigbluebutton-html5/private/config/settings.yml
Labels: HTML5 Client

#7449 Updated "tar" dependency node-sass #2625
  bigbluebutton-html5/package-lock.json
Labels: HTML5 Client

#7451 Add style to feedback legend label
  bigbluebutton-html5/imports/ui/components/meeting-ended/rating/component.jsx
  bigbluebutton-html5/imports/ui/components/meeting-ended/rating/styles.scss
Labels: HTML5 Client

#7472 Add option to force server to use HTTP slide URIs
  bigbluebutton-html5/imports/api/slides/server/modifiers/addSlide.js
  bigbluebutton-html5/private/config/settings.yml
Labels: HTML5 Client, Presentation

#7470 Update HTML5 client ar.json
  bigbluebutton-html5/private/locales/ar.json
Labels: HTML5 Client

#7277 Stop webcams when opens audio modal.
  bigbluebutton-html5/imports/ui/components/audio/audio-modal/component.jsx
  bigbluebutton-html5/imports/ui/components/audio/container.jsx
  bigbluebutton-html5/imports/ui/components/media/component.jsx
  bigbluebutton-html5/imports/ui/components/media/container.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/component.jsx
Labels: HTML5 Client

#7462 Log out user prior to Feedback (end all media streams)
  bigbluebutton-html5/imports/api/users/server/methods.js
  bigbluebutton-html5/imports/api/users/server/methods/userLeftMeeting.js
  bigbluebutton-html5/imports/api/users/server/modifiers/addUser.js
  bigbluebutton-html5/imports/startup/client/base.jsx
  bigbluebutton-html5/imports/ui/components/nav-bar/settings-dropdown/component.jsx
Labels: HTML5 Client

#7440 Verifies if subscription already exists before calling subscribe
  bigbluebutton-html5/imports/ui/services/auth/index.js
Labels: HTML5 Client

#7286 Fix refPresentationContainer requestFullscreen is not a function
  bigbluebutton-html5/imports/ui/components/nav-bar/settings-dropdown/container.jsx
  bigbluebutton-html5/imports/ui/components/nav-bar/settings-dropdown/service.js
  bigbluebutton-html5/imports/ui/components/presentation/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/presentation-toolbar/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/presentation-toolbar/container.jsx
  bigbluebutton-html5/imports/ui/components/screenshare/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/fullscreen-button/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/fullscreen-button/container.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/video-list-item/component.jsx
Labels: HTML5 Client

#7367 Don't show phone user on create breakout room list
  bigbluebutton-html5/imports/ui/components/actions-bar/service.js
Labels: HTML5 Client

#7486 Localise offline status in chat
  bigbluebutton-html5/imports/ui/components/chat/message-list/message-list-item/component.jsx
  bigbluebutton-html5/private/locales/ar.json
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#7491 Pulled html5 locales May 23, 2019; added Vietnamese
  bigbluebutton-html5/imports/startup/client/intl.jsx
  bigbluebutton-html5/private/locales/bg_BG.json
  bigbluebutton-html5/private/locales/cs_CZ.json
  bigbluebutton-html5/private/locales/de.json
  bigbluebutton-html5/private/locales/el_GR.json
  bigbluebutton-html5/private/locales/es.json
  bigbluebutton-html5/private/locales/es_ES.json
  bigbluebutton-html5/private/locales/es_MX.json
  bigbluebutton-html5/private/locales/eu.json
  bigbluebutton-html5/private/locales/fa_IR.json
  bigbluebutton-html5/private/locales/fr.json
  bigbluebutton-html5/private/locales/hi_IN.json
  bigbluebutton-html5/private/locales/id.json
  bigbluebutton-html5/private/locales/it_IT.json
  bigbluebutton-html5/private/locales/ja.json
  bigbluebutton-html5/private/locales/ja_JP.json
  bigbluebutton-html5/private/locales/km.json
  bigbluebutton-html5/private/locales/pl_PL.json
  bigbluebutton-html5/private/locales/pt.json
  bigbluebutton-html5/private/locales/pt_BR.json
  bigbluebutton-html5/private/locales/ru_RU.json
  bigbluebutton-html5/private/locales/tr_TR.json
  bigbluebutton-html5/private/locales/uk_UA.json
  bigbluebutton-html5/private/locales/vi.json
  bigbluebutton-html5/private/locales/vi_VN.json
  bigbluebutton-html5/private/locales/zh_CN.json
  bigbluebutton-html5/private/locales/zh_TW.json
Labels: HTML5 Client

#7493 Add time unit to aria labels in create breakout rooms modal
  bigbluebutton-html5/imports/ui/components/actions-bar/create-breakout-room/component.jsx
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#7495 Add lang prop to Settings language select element
  bigbluebutton-html5/imports/ui/components/settings/submenus/application/component.jsx
Labels: HTML5 Client

#7496 Add indication that join breakout room btn opens new window
  bigbluebutton-html5/imports/ui/components/breakout-join-confirmation/component.jsx
  bigbluebutton-html5/imports/ui/components/modal/fullscreen/component.jsx
  bigbluebutton-html5/imports/ui/components/modal/fullscreen/styles.scss
  bigbluebutton-html5/imports/ui/components/modal/simple/component.jsx
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#7101 Implement audio quality bars
  bigbluebutton-html5/imports/api/meetings/server/modifiers/meetingHasEnded.js
  bigbluebutton-html5/imports/api/network-information/index.js
  bigbluebutton-html5/imports/api/network-information/server/index.js
  bigbluebutton-html5/imports/api/network-information/server/methods.js
  bigbluebutton-html5/imports/api/network-information/server/methods/userInstabilityDetected.js
  bigbluebutton-html5/imports/api/network-information/server/modifiers/clearNetworkInformation.js
  bigbluebutton-html5/imports/api/network-information/server/publisher.js
  bigbluebutton-html5/imports/api/users/server/methods.js
  bigbluebutton-html5/imports/api/users/server/methods/setUserEffectiveConnectionType.js
  bigbluebutton-html5/imports/api/users/server/methods/userChangedSettings.js
  bigbluebutton-html5/imports/api/users/server/modifiers/addUser.js
  bigbluebutton-html5/imports/api/users/server/modifiers/setChangedSettings.js
  bigbluebutton-html5/imports/api/users/server/modifiers/setUserEffectiveConnectionType.js
  bigbluebutton-html5/imports/ui/components/app/component.jsx
  bigbluebutton-html5/imports/ui/components/notifications-bar/container.jsx
  bigbluebutton-html5/imports/ui/components/slow-connection/component.jsx
  bigbluebutton-html5/imports/ui/components/slow-connection/styles.scss
  bigbluebutton-html5/imports/ui/components/subscriptions/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/user-dropdown/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/user-icons/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/user-icons/styles.scss
  bigbluebutton-html5/imports/ui/components/video-provider/component.jsx
  bigbluebutton-html5/imports/ui/services/network-information/index.js
  bigbluebutton-html5/imports/ui/services/settings/index.js
  bigbluebutton-html5/imports/ui/services/user/mapUser.js
  bigbluebutton-html5/private/config/settings.yml
  bigbluebutton-html5/private/locales/en.json
  bigbluebutton-html5/server/main.js
Labels: HTML5 Client

#7499 Fix leaveSession static not called
  bigbluebutton-html5/imports/ui/components/nav-bar/settings-dropdown/component.jsx
Labels: HTML5 Client

#7500 Fix HTML5 logout
  bigbluebutton-html5/imports/startup/client/base.jsx
  bigbluebutton-html5/imports/ui/components/app/component.jsx
  bigbluebutton-html5/imports/ui/components/nav-bar/settings-dropdown/component.jsx
Labels: HTML5 Client

#7501 Fix chat message name alignment
  bigbluebutton-html5/imports/ui/components/chat/message-list/message-list-item/styles.scss
Labels: HTML5 Client

#7522 Fix external video youtube regular expression
  bigbluebutton-html5/imports/ui/components/external-video-player/service.js
Labels: HTML5 Client

#7527 Fix breakout showing wrong message in breakout start
  bigbluebutton-html5/imports/ui/components/breakout-room/breakout-remaining-time/container.jsx
Labels: HTML5 Client

#7488 Stop obsolete toasts for published polls
  bigbluebutton-html5/imports/api/meetings/server/modifiers/addMeeting.js
  bigbluebutton-html5/imports/api/meetings/server/modifiers/setPublishedPoll.js
  bigbluebutton-html5/imports/api/polls/server/handlers/pollPublished.js
  bigbluebutton-html5/imports/api/polls/server/handlers/pollStarted.js
  bigbluebutton-html5/imports/ui/components/app/component.jsx
  bigbluebutton-html5/imports/ui/components/app/container.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/annotations/poll/component.jsx
Labels: HTML5 Client

#7525 Handle incorrect presentationId passed from client
  bigbluebutton-html5/imports/api/presentations/server/methods/setPresentation.js
Labels: HTML5 Client, Presentation

#7532 Add some logs to the external video sync
  bigbluebutton-html5/imports/ui/components/external-video-player/component.jsx
Labels: HTML5 Client

#7088 Fix presentation upload drop zone showing red
  bigbluebutton-html5/imports/ui/components/presentation/presentation-uploader/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/presentation-uploader/styles.scss
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#7524 Make whiteboard toolbar accessible via keyboard
  bigbluebutton-html5/imports/ui/components/settings/submenus/application/component.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-toolbar/component.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-toolbar/toolbar-menu-item/component.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-toolbar/toolbar-submenu-item/component.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-toolbar/toolbar-submenu/component.jsx
Labels: HTML5 Client

#7512 Implemented notification when a lock is disabled
  bigbluebutton-html5/imports/ui/components/lock-viewers/notify/component.jsx
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#7511 Add breakout room indicator in user list.
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/container.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/user-dropdown/component.jsx
  bigbluebutton-html5/imports/ui/services/user/mapUser.js
Labels: HTML5 Client

#7542 Revert #7440 due to causing #7502 join stuck
  bigbluebutton-html5/imports/ui/services/auth/index.js
Labels: HTML5 Client

#7531 Improve the upload presentation modal experience
  bigbluebutton-html5/imports/ui/components/modal/fullscreen/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/presentation-uploader/component.jsx
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client
