Repository bigbluebutton/bigbluebutton, pull requests merged in 2019-11, with the labels that each got.

#7859 Webcams area resizable
  bigbluebutton-html5/imports/ui/components/fullscreen-button/styles.scss
  bigbluebutton-html5/imports/ui/components/media/component.jsx
  bigbluebutton-html5/imports/ui/components/media/container.jsx
  bigbluebutton-html5/imports/ui/components/media/styles.scss
  bigbluebutton-html5/imports/ui/components/media/webcam-draggable-overlay/component.jsx
  bigbluebutton-html5/imports/ui/components/media/webcam-draggable-overlay/context.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/styles.scss
Labels: HTML5 Client

#8296 Change message when uploaded file is too large
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#8298 Pulled html5 locales Nov 5, added Romanian
  bigbluebutton-html5/imports/startup/client/intl.jsx
  bigbluebutton-html5/private/locales/ar.json
  bigbluebutton-html5/private/locales/cs_CZ.json
  bigbluebutton-html5/private/locales/de.json
  bigbluebutton-html5/private/locales/es.json
  bigbluebutton-html5/private/locales/es_MX.json
  bigbluebutton-html5/private/locales/eu.json
  bigbluebutton-html5/private/locales/fa_IR.json
  bigbluebutton-html5/private/locales/fi.json
  bigbluebutton-html5/private/locales/fr.json
  bigbluebutton-html5/private/locales/hi_IN.json
  bigbluebutton-html5/private/locales/hu_HU.json
  bigbluebutton-html5/private/locales/it_IT.json
  bigbluebutton-html5/private/locales/ja.json
  bigbluebutton-html5/private/locales/ja_JP.json
  bigbluebutton-html5/private/locales/km.json
  bigbluebutton-html5/private/locales/pl_PL.json
  bigbluebutton-html5/private/locales/pt.json
  bigbluebutton-html5/private/locales/pt_BR.json
  bigbluebutton-html5/private/locales/ro_RO.json
  bigbluebutton-html5/private/locales/ru_RU.json
  bigbluebutton-html5/private/locales/sv_SE.json
  bigbluebutton-html5/private/locales/tr_TR.json
  bigbluebutton-html5/private/locales/uk_UA.json
  bigbluebutton-html5/private/locales/vi_VN.json
  bigbluebutton-html5/private/locales/zh_CN.json
  bigbluebutton-html5/private/locales/zh_TW.json
Labels: HTML5 Client, Localization

#8301 Attaches the user's role with feedback
  bigbluebutton-html5/imports/ui/components/meeting-ended/component.jsx
Labels: HTML5 Client

#8305 Wrapper for #7805 Add support to new parameter names
  bigbluebutton-html5/imports/api/users-settings/server/methods/addUserSettings.js
  bigbluebutton-html5/imports/ui/components/actions-bar/actions-dropdown/component.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/container.jsx
  bigbluebutton-html5/imports/ui/components/app/component.jsx
  bigbluebutton-html5/imports/ui/components/app/container.jsx
  bigbluebutton-html5/imports/ui/components/audio/audio-controls/component.jsx
  bigbluebutton-html5/imports/ui/components/audio/audio-modal/container.jsx
  bigbluebutton-html5/imports/ui/components/audio/container.jsx
  bigbluebutton-html5/imports/ui/components/media/container.jsx
  bigbluebutton-html5/imports/ui/components/media/service.js
  bigbluebutton-html5/imports/ui/components/meeting-ended/component.jsx
  bigbluebutton-html5/imports/ui/components/nav-bar/component.jsx
  bigbluebutton-html5/imports/ui/components/nav-bar/container.jsx
  bigbluebutton-html5/imports/ui/components/shortcut-help/service.jsx
  bigbluebutton-html5/imports/ui/components/user-list/container.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/container.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-toolbar/service.js
Labels: HTML5 Client

#8300 Add bbb_preferred_camera_profile to user data parameters
  bigbluebutton-html5/imports/api/users-settings/server/methods/addUserSettings.js
  bigbluebutton-html5/imports/ui/components/video-preview/component.jsx
  bigbluebutton-html5/imports/ui/components/video-preview/container.jsx
Labels: HTML5 Client

#8261 Add notification when recording started with no mic users
  bigbluebutton-html5/imports/ui/components/nav-bar/recording-indicator/component.jsx
  bigbluebutton-html5/imports/ui/components/nav-bar/recording-indicator/container.jsx
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#8303 Webcam resizable
  bigbluebutton-html5/imports/ui/components/fullscreen-button/styles.scss
  bigbluebutton-html5/imports/ui/components/media/component.jsx
  bigbluebutton-html5/imports/ui/components/media/container.jsx
  bigbluebutton-html5/imports/ui/components/media/styles.scss
  bigbluebutton-html5/imports/ui/components/media/webcam-draggable-overlay/component.jsx
  bigbluebutton-html5/imports/ui/components/media/webcam-draggable-overlay/context.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/styles.scss
Labels: HTML5 Client

#8292 Add talking indicator to displaying voice users
  bigbluebutton-html5/imports/api/voice-users/server/modifiers/addVoiceUser.js
  bigbluebutton-html5/imports/api/voice-users/server/modifiers/updateVoiceUser.js
  bigbluebutton-html5/imports/ui/components/app/component.jsx
  bigbluebutton-html5/imports/ui/components/app/styles.scss
  bigbluebutton-html5/imports/ui/components/nav-bar/component.jsx
  bigbluebutton-html5/imports/ui/components/nav-bar/styles.scss
  bigbluebutton-html5/imports/ui/components/nav-bar/talking-indicator/component.jsx
  bigbluebutton-html5/imports/ui/components/nav-bar/talking-indicator/container.jsx
  bigbluebutton-html5/imports/ui/components/nav-bar/talking-indicator/service.js
  bigbluebutton-html5/imports/ui/components/nav-bar/talking-indicator/styles.scss
  bigbluebutton-html5/private/config/settings.yml
Labels: HTML5 Client

#8322 Update text style
  bigbluebutton-html5/imports/ui/components/breakout-room/styles.scss
  bigbluebutton-html5/imports/ui/components/chat/message-form/styles.scss
  bigbluebutton-html5/imports/ui/stylesheets/variables/typography.scss
Labels: HTML5 Client

#8318 Add audio cue and toast on user join settings
  bigbluebutton-html5/imports/startup/client/base.jsx
  bigbluebutton-html5/imports/ui/components/settings/component.jsx
  bigbluebutton-html5/imports/ui/components/settings/submenus/application/component.jsx
  bigbluebutton-html5/private/config/settings.yml
  bigbluebutton-html5/private/locales/en.json
  bigbluebutton-html5/public/resources/sounds/userJoin.mp3
Labels: HTML5 Client

#8128 Added event listener to change slides with Page Up and Page Down
  bigbluebutton-html5/imports/ui/components/presentation/presentation-toolbar/component.jsx
  bigbluebutton-html5/imports/utils/keyCodes.js
Labels: HTML5 Client

#8327 Account for mDNS candidates on gUM fallback for recvonly peers
  bigbluebutton-html5/imports/ui/components/screenshare/service.js
  bigbluebutton-html5/imports/ui/components/video-provider/component.jsx
  bigbluebutton-html5/imports/ui/services/audio-manager/index.js
  bigbluebutton-html5/imports/utils/safari-webrtc.js
Labels: HTML5 Client

#8329 Allow for logTag parameter in settings.yml
  bigbluebutton-html5/imports/startup/client/logger.js
  bigbluebutton-html5/private/config/settings.yml
Labels: HTML5 Client

#8333 Pulled HTML5 locales Nov 15
  bigbluebutton-html5/imports/startup/client/intl.jsx
  bigbluebutton-html5/private/locales/ar.json
  bigbluebutton-html5/private/locales/de.json
  bigbluebutton-html5/private/locales/es.json
  bigbluebutton-html5/private/locales/es_MX.json
  bigbluebutton-html5/private/locales/eu.json
  bigbluebutton-html5/private/locales/fa_IR.json
  bigbluebutton-html5/private/locales/fi.json
  bigbluebutton-html5/private/locales/fr.json
  bigbluebutton-html5/private/locales/hi_IN.json
  bigbluebutton-html5/private/locales/hu_HU.json
  bigbluebutton-html5/private/locales/it_IT.json
  bigbluebutton-html5/private/locales/ja.json
  bigbluebutton-html5/private/locales/ja_JP.json
  bigbluebutton-html5/private/locales/km.json
  bigbluebutton-html5/private/locales/ko_KR.json
  bigbluebutton-html5/private/locales/nl.json
  bigbluebutton-html5/private/locales/pl_PL.json
  bigbluebutton-html5/private/locales/pt.json
  bigbluebutton-html5/private/locales/pt_BR.json
  bigbluebutton-html5/private/locales/ro_RO.json
  bigbluebutton-html5/private/locales/ru_RU.json
  bigbluebutton-html5/private/locales/sk_SK.json
  bigbluebutton-html5/private/locales/sr.json
  bigbluebutton-html5/private/locales/sv_SE.json
  bigbluebutton-html5/private/locales/tr_TR.json
  bigbluebutton-html5/private/locales/uk_UA.json
  bigbluebutton-html5/private/locales/vi_VN.json
  bigbluebutton-html5/private/locales/zh_CN.json
  bigbluebutton-html5/private/locales/zh_TW.json
Labels: Localization

#8330 Add mute functionality to talking indicator
  bigbluebutton-html5/imports/api/common/server/helpers.js
  bigbluebutton-html5/imports/api/voice-users/server/modifiers/addVoiceUser.js
  bigbluebutton-html5/imports/api/voice-users/server/modifiers/removeVoiceUser.js
  bigbluebutton-html5/imports/api/voice-users/server/modifiers/updateVoiceUser.js
  bigbluebutton-html5/imports/ui/components/app/styles.scss
  bigbluebutton-html5/imports/ui/components/nav-bar/component.jsx
  bigbluebutton-html5/imports/ui/components/nav-bar/styles.scss
  bigbluebutton-html5/imports/ui/components/nav-bar/talking-indicator/component.jsx
  bigbluebutton-html5/imports/ui/components/nav-bar/talking-indicator/container.jsx
  bigbluebutton-html5/imports/ui/components/nav-bar/talking-indicator/service.js
  bigbluebutton-html5/imports/ui/components/nav-bar/talking-indicator/styles.scss
  bigbluebutton-html5/imports/ui/components/user-list/captions-list-item/styles.scss
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#8235 Update annotations/cursor streamer logic
  bigbluebutton-html5/imports/api/annotations/index.js
  bigbluebutton-html5/imports/api/annotations/server/handlers/whiteboardCleared.js
  bigbluebutton-html5/imports/api/annotations/server/handlers/whiteboardSend.js
  bigbluebutton-html5/imports/api/annotations/server/handlers/whiteboardUndo.js
  bigbluebutton-html5/imports/api/annotations/server/streamer.js
  bigbluebutton-html5/imports/api/cursor/index.js
  bigbluebutton-html5/imports/api/cursor/server/handlers/cursorUpdate.js
  bigbluebutton-html5/imports/api/cursor/server/streamer.js
  bigbluebutton-html5/imports/api/meetings/server/handlers/meetingDestruction.js
  bigbluebutton-html5/imports/api/meetings/server/modifiers/addMeeting.js
  bigbluebutton-html5/imports/api/meetings/server/modifiers/meetingHasEnded.js
  bigbluebutton-html5/imports/ui/components/cursor/service.js
  bigbluebutton-html5/imports/ui/components/subscriptions/component.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/service.js
Labels: HTML5 Client

#8319 Add Skip video preview
  bigbluebutton-html5/imports/api/users-settings/server/methods/addUserSettings.js
  bigbluebutton-html5/imports/ui/components/video-preview/component.jsx
  bigbluebutton-html5/imports/ui/components/video-preview/container.jsx
  bigbluebutton-html5/private/config/settings.yml
Labels: HTML5 Client

#8353 Don't skip video preview if called via interface
  bigbluebutton-html5/imports/ui/components/video-preview/container.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/video-button/container.jsx
Labels: HTML5 Client

#8357 Handle sip.js autoplay failure
  bigbluebutton-html5/public/compatibility/sip.js
Labels: HTML5 Client

#8358 Hangup sip.js on timeout and stop audio join double click
  bigbluebutton-html5/imports/api/audio/client/bridge/sip.js
  bigbluebutton-html5/imports/ui/components/audio/audio-modal/component.jsx
Labels: HTML5 Client

#8359 Update talking indicator styles
  bigbluebutton-html5/imports/api/voice-users/server/modifiers/updateVoiceUser.js
  bigbluebutton-html5/imports/ui/components/app/styles.scss
  bigbluebutton-html5/imports/ui/components/nav-bar/styles.scss
  bigbluebutton-html5/imports/ui/components/nav-bar/talking-indicator/component.jsx
  bigbluebutton-html5/imports/ui/components/nav-bar/talking-indicator/container.jsx
  bigbluebutton-html5/imports/ui/components/nav-bar/talking-indicator/service.js
  bigbluebutton-html5/imports/ui/components/nav-bar/talking-indicator/styles.scss
Labels: HTML5 Client

#8369 Replaced "Audio Error" with a template literal of the error
  bigbluebutton-html5/imports/ui/services/audio-manager/index.js
Labels: HTML5 Client
