Repository bigbluebutton/bigbluebutton, pull requests merged in 2019-01, with the labels that each got.

#6460 Fix proptype warnings
  bigbluebutton-html5/imports/ui/components/actions-bar/actions-dropdown/component.jsx
  bigbluebutton-html5/imports/ui/components/nav-bar/component.jsx
  bigbluebutton-html5/imports/ui/components/nav-bar/container.jsx
Labels: HTML5 Client

#6484 Fixed incorrect error toast on screenshare presenter exit
  bigbluebutton-html5/client/compatibility/kurento-extension.js
Labels: HTML5 Client

#6458 Improve webcam picker
  bigbluebutton-html5/imports/ui/components/video-preview/styles.scss
  bigbluebutton-html5/imports/ui/components/video-provider/component.jsx
Labels: HTML5 Client

#6480 UI improvements and bug fixes
  bigbluebutton-html5/imports/ui/components/chat/message-form/component.jsx
  bigbluebutton-html5/imports/ui/components/chat/message-form/styles.scss
  bigbluebutton-html5/imports/ui/components/tooltip/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/breakout-room/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/breakout-room/styles.scss
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#6462 Fix skip to slide handler
  bigbluebutton-html5/imports/ui/components/presentation/presentation-toolbar/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/presentation-toolbar/container.jsx
  bigbluebutton-html5/imports/ui/components/presentation/presentation-toolbar/service.js
Labels: HTML5 Client

#6411 Fix file uploader mobile
  bigbluebutton-html5/imports/ui/components/presentation/presentation-uploader/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/presentation-uploader/styles.scss
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#6341 Added option to use modal component without header border
  bigbluebutton-html5/imports/ui/components/audio/audio-modal/component.jsx
  bigbluebutton-html5/imports/ui/components/audio/audio-modal/styles.scss
  bigbluebutton-html5/imports/ui/components/lock-viewers/component.jsx
  bigbluebutton-html5/imports/ui/components/lock-viewers/styles.scss
  bigbluebutton-html5/imports/ui/components/modal/simple/component.jsx
  bigbluebutton-html5/imports/ui/components/modal/simple/styles.scss
  bigbluebutton-html5/imports/ui/components/video-preview/component.jsx
  bigbluebutton-html5/imports/ui/components/video-preview/styles.scss
Labels: HTML5 Client

#6510 Shared notes adapted with the new panel manager
  bigbluebutton-html5/imports/ui/components/app/styles.scss
  bigbluebutton-html5/imports/ui/components/note/component.jsx
  bigbluebutton-html5/imports/ui/components/note/container.jsx
  bigbluebutton-html5/imports/ui/components/note/service.js
  bigbluebutton-html5/imports/ui/components/note/styles.scss
  bigbluebutton-html5/imports/ui/components/panel-manager/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-notes/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-notes/styles.scss
  bigbluebutton-html5/private/config/settings.yml
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#6516 Add Welcome Message back to save/copy chat
  bigbluebutton-html5/imports/api/group-chat-msg/server/modifiers/clearGroupChatMsg.js
  bigbluebutton-html5/imports/ui/components/chat/service.js
Labels: HTML5 Client

#6486 Fix user rejoining to meeting when is ejected
  bigbluebutton-html5/imports/startup/client/base.jsx
Labels: HTML5 Client

#6517 Reposition presentation on mobile when data saving is turned on
  bigbluebutton-html5/imports/ui/components/media/container.jsx
Labels: HTML5 Client

#6494 Added margin to chat-window
  bigbluebutton-html5/imports/ui/components/app/component.jsx
  bigbluebutton-html5/imports/ui/components/app/styles.scss
Labels: HTML5 Client

#6464 Fix broken locales on load
  bigbluebutton-html5/imports/startup/client/intl.jsx
Labels: HTML5 Client

#6490 Add support for getDisplayMedia on Chrome and Edge
  bigbluebutton-client/resources/prod/lib/kurento-extension.js
  bigbluebutton-client/resources/prod/lib/kurento-utils.js
  bigbluebutton-html5/client/compatibility/kurento-extension.js
  bigbluebutton-html5/client/compatibility/kurento-utils.js
Labels: Flash Client, HTML5 Client

#6537 Fix problem with user list don't updating on lock change
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/component.jsx
Labels: HTML5 Client

#6538 Reduce the width of shared notes default width
  bigbluebutton-html5/imports/ui/components/panel-manager/component.jsx
Labels: HTML5 Client

#6539 Fix echo test bug where it stays active after closing
  bigbluebutton-html5/imports/ui/components/modal/simple/component.jsx
Labels: HTML5 Client

#6534 Add take presenter role option to actions menu
  bigbluebutton-html5/imports/ui/components/actions-bar/actions-dropdown/component.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/component.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/container.jsx
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#6533 2.0 - Improve dropdown menu click handler
  bigbluebutton-html5/imports/ui/components/dropdown/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/user-dropdown/component.jsx
Labels: HTML5 Client

#6552 Changed default color in the whiteboard toolbar #5691
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-toolbar/component.jsx
Labels: HTML5 Client

#6544 Fix getBoundingClientRect error on console.
  bigbluebutton-html5/imports/ui/components/chat/message-list/message-list-item/component.jsx
  bigbluebutton-html5/imports/ui/components/chat/message-list/message-list-item/message/component.jsx
Labels: HTML5 Client

#6555 Fix for the issue with webcam preview and dropdown value
  bigbluebutton-html5/imports/ui/components/video-preview/component.jsx
Labels: HTML5 Client

#6570 Import correction
  bigbluebutton-html5/imports/ui/components/presentation/presentation-overlay/component.jsx
Labels: HTML5 Client

#6573 Set the default draw thickness to 2
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-toolbar/component.jsx
Labels: HTML5 Client

#6511 Re style error component and implements error description.
  bigbluebutton-html5/imports/ui/components/authenticated-handler/component.jsx
  bigbluebutton-html5/imports/ui/components/error-screen/component.jsx
  bigbluebutton-html5/imports/ui/components/error-screen/styles.scss
  bigbluebutton-html5/imports/ui/components/join-handler/component.jsx
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#6549 Fix a problem with ejected user when private chat is locked.
  bigbluebutton-html5/imports/ui/components/user-list/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/container.jsx
  bigbluebutton-html5/imports/ui/components/user-list/service.js
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/user-dropdown/component.jsx
Labels: HTML5 Client

#6571 Exclude moderator in the Randomly Assign
  bigbluebutton-html5/imports/ui/components/actions-bar/create-breakout-room/component.jsx
Labels: HTML5 Client

#6559 Added End Meeting menu for moderators
  bigbluebutton-html5/imports/ui/components/actions-bar/container.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/create-breakout-room/component.jsx
  bigbluebutton-html5/imports/ui/components/audio/audio-modal/component.jsx
  bigbluebutton-html5/imports/ui/components/chat/message-list/message-list-item/component.jsx
  bigbluebutton-html5/imports/ui/components/chat/message-list/message-list-item/message/component.jsx
  bigbluebutton-html5/imports/ui/components/end-meeting-confirmation/component.jsx
  bigbluebutton-html5/imports/ui/components/end-meeting-confirmation/container.jsx
  bigbluebutton-html5/imports/ui/components/end-meeting-confirmation/styles.scss
  bigbluebutton-html5/imports/ui/components/lock-viewers/component.jsx
  bigbluebutton-html5/imports/ui/components/logout-confirmation/component.jsx
  bigbluebutton-html5/imports/ui/components/logout-confirmation/container.jsx
  bigbluebutton-html5/imports/ui/components/logout-confirmation/service.js
  bigbluebutton-html5/imports/ui/components/logout-confirmation/styles.scss
  bigbluebutton-html5/imports/ui/components/meeting-ended/component.jsx
  bigbluebutton-html5/imports/ui/components/modal/simple/styles.scss
  bigbluebutton-html5/imports/ui/components/nav-bar/component.jsx
  bigbluebutton-html5/imports/ui/components/nav-bar/container.jsx
  bigbluebutton-html5/imports/ui/components/nav-bar/recording-indicator/component.jsx
  bigbluebutton-html5/imports/ui/components/nav-bar/settings-dropdown/component.jsx
  bigbluebutton-html5/imports/ui/components/nav-bar/settings-dropdown/container.jsx
  bigbluebutton-html5/imports/ui/components/nav-bar/settings-dropdown/service.js
  bigbluebutton-html5/imports/ui/components/presentation/presentation-overlay/component.jsx
  bigbluebutton-html5/imports/ui/components/recording/component.jsx
  bigbluebutton-html5/imports/ui/components/toast/container.jsx
  bigbluebutton-html5/imports/ui/components/user-list/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/component.jsx
  bigbluebutton-html5/imports/ui/components/video-preview/component.jsx
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#6547 Fix problems with audio and video in Safari/Webview
  bigbluebutton-html5/client/compatibility/kurento-utils.js
  bigbluebutton-html5/client/compatibility/sip.js
  bigbluebutton-html5/imports/api/audio/client/bridge/sip.js
  bigbluebutton-html5/imports/ui/components/video-provider/component.jsx
  bigbluebutton-html5/imports/ui/services/audio-manager/index.js
  bigbluebutton-html5/imports/utils/ios-webview-audio-polyfills.js
  bigbluebutton-html5/imports/utils/safari-webrtc.js
Labels: HTML5 Client

#6587 Avoid duplicated messages. #6500
  bigbluebutton-html5/imports/ui/components/chat/message-form/component.jsx
Labels: HTML5 Client

#6589 HTML5 client locales on 2.2
  bigbluebutton-html5/private/locales/bg_BG.json
  bigbluebutton-html5/private/locales/de.json
  bigbluebutton-html5/private/locales/el_GR.json
  bigbluebutton-html5/private/locales/es_ES.json
  bigbluebutton-html5/private/locales/fa_IR.json
  bigbluebutton-html5/private/locales/fr.json
  bigbluebutton-html5/private/locales/id.json
  bigbluebutton-html5/private/locales/it_IT.json
  bigbluebutton-html5/private/locales/ja.json
  bigbluebutton-html5/private/locales/ja_JP.json
  bigbluebutton-html5/private/locales/pt_BR.json
  bigbluebutton-html5/private/locales/ru_RU.json
  bigbluebutton-html5/private/locales/tr_TR.json
  bigbluebutton-html5/private/locales/uk_UA.json
  bigbluebutton-html5/private/locales/zh_CN.json
  bigbluebutton-html5/transifex.sh
Labels: HTML5 Client

#6372 Syncrhonized Youtube video player for meetings (WIP)
  bigbluebutton-html5/imports/api/external-videos/index.js
  bigbluebutton-html5/imports/api/external-videos/server/index.js
  bigbluebutton-html5/imports/api/external-videos/server/methods.js
  bigbluebutton-html5/imports/api/external-videos/server/methods/startWatchingExternalVideo.js
  bigbluebutton-html5/imports/api/external-videos/server/methods/stopWatchingExternalVideo.js
  bigbluebutton-html5/imports/ui/components/actions-bar/actions-dropdown/component.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/component.jsx
  bigbluebutton-html5/imports/ui/components/external-video-player/component.jsx
  bigbluebutton-html5/imports/ui/components/external-video-player/container.jsx
  bigbluebutton-html5/imports/ui/components/external-video-player/modal/component.jsx
  bigbluebutton-html5/imports/ui/components/external-video-player/modal/container.jsx
  bigbluebutton-html5/imports/ui/components/external-video-player/modal/styles.scss
  bigbluebutton-html5/imports/ui/components/external-video-player/service.js
  bigbluebutton-html5/imports/ui/components/external-video-player/styles.scss
  bigbluebutton-html5/imports/ui/components/media/container.jsx
  bigbluebutton-html5/imports/ui/components/media/service.js
  bigbluebutton-html5/package-lock.json
  bigbluebutton-html5/package.json
  bigbluebutton-html5/private/config/settings.yml
  bigbluebutton-html5/private/locales/en.json
  bigbluebutton-html5/server/main.js
Labels: HTML5 Client

#6597 Removed REDIS pubsub html5 logs; Disabled debug by default
  bigbluebutton-html5/imports/startup/server/redis.js
  bigbluebutton-html5/private/config/settings.yml
Labels: HTML5 Client

#6598 Enable kurento webcams [video] by default
  bigbluebutton-html5/private/config/settings.yml
Labels: HTML5 Client

#6606 Remove ping-pong logs for webcams
  bigbluebutton-html5/imports/ui/components/video-provider/component.jsx
Labels: HTML5 Client

#6607 Fix webcam/screen sharing on Windows
  bigbluebutton-html5/client/compatibility/kurento-utils.js
Labels: HTML5 Client

#6622 Fix the issue with webcam preview and webcams dropdown
  bigbluebutton-html5/imports/ui/components/video-preview/component.jsx
Labels: HTML5 Client

#6619 Fixed Safari check in kurento-utils
  bigbluebutton-html5/client/compatibility/kurento-utils.js
Labels: HTML5 Client

#6633 Fix audio test play button.
  bigbluebutton-html5/imports/ui/components/audio/audio-test/styles.scss
Labels: HTML5 Client

#6623 Fix blank panel when breakout rooms ends
  bigbluebutton-html5/imports/ui/components/breakout-room/component.jsx
Labels: HTML5 Client

#6629 Added remaining 2.2 HTML5 logs. Fixed issues with format
  bigbluebutton-html5/imports/startup/server/index.js
  bigbluebutton-html5/private/locales/bg_BG.json
  bigbluebutton-html5/private/locales/de.json
  bigbluebutton-html5/private/locales/el_GR.json
  bigbluebutton-html5/private/locales/es_ES.json
  bigbluebutton-html5/private/locales/fa_IR.json
  bigbluebutton-html5/private/locales/fr.json
  bigbluebutton-html5/private/locales/id.json
  bigbluebutton-html5/private/locales/it_IT.json
  bigbluebutton-html5/private/locales/ja.json
  bigbluebutton-html5/private/locales/ja_JP.json
  bigbluebutton-html5/private/locales/km.json
  bigbluebutton-html5/private/locales/pt_BR.json
  bigbluebutton-html5/private/locales/ru_RU.json
  bigbluebutton-html5/private/locales/tr_TR.json
  bigbluebutton-html5/private/locales/uk_UA.json
  bigbluebutton-html5/private/locales/zh_CN.json
Labels: HTML5 Client

#6545 Fix chat alert (push and audio) #6430
  bigbluebutton-html5/imports/api/users/server/handlers/validateAuthToken.js
  bigbluebutton-html5/imports/api/users/server/modifiers/addUser.js
  bigbluebutton-html5/imports/ui/components/chat/alert/audio-alert/component.jsx
  bigbluebutton-html5/imports/ui/components/chat/alert/component.jsx
  bigbluebutton-html5/imports/ui/components/chat/alert/container.jsx
  bigbluebutton-html5/imports/ui/components/chat/alert/push-alert/component.jsx
  bigbluebutton-html5/imports/ui/components/chat/component.jsx
  bigbluebutton-html5/imports/ui/components/chat/container.jsx
  bigbluebutton-html5/imports/ui/components/chat/service.js
  bigbluebutton-html5/imports/ui/components/nav-bar/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/chat-list-item/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/container.jsx
  bigbluebutton-html5/imports/ui/components/user-list/service.js
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-messages/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/user-dropdown/component.jsx
  bigbluebutton-html5/imports/ui/services/user/mapUser.js
Labels: HTML5 Client

#6620 Fix dropdown menu in webcam
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/styles.scss
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/video-list-item/component.jsx
Labels: HTML5 Client

#6647 Backport commits needed for running 2.0 with SFU 2.2.x
  bigbluebutton-html5/imports/ui/components/video-provider/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/container.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/service.js
Labels: HTML5 Client

#6643 Update the version of adapterjs and renable sipjs logging
  bigbluebutton-html5/client/compatibility/adapter.js
  bigbluebutton-html5/imports/api/audio/client/bridge/sip.js
Labels: HTML5 Client, Voice

#6663 Allow start breakout rooms with empty rooms when is freejoin.
  bigbluebutton-html5/imports/ui/components/actions-bar/create-breakout-room/component.jsx
Labels: HTML5 Client

#6640 New UI for presentation/video swap and fullscreen buttons
  bigbluebutton-html5/imports/ui/components/actions-bar/component.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/container.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/presentation-options/component.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/styles.scss
  bigbluebutton-html5/imports/ui/components/button/styles.scss
  bigbluebutton-html5/imports/ui/components/media/container.jsx
  bigbluebutton-html5/imports/ui/components/presentation/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/presentation-close-button/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/presentation-close-button/styles.scss
  bigbluebutton-html5/imports/ui/components/screenshare/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/fullscreen-button/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/fullscreen-button/styles.scss
  bigbluebutton-html5/imports/ui/components/video-provider/video-button/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/video-button/container.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/video-button/service.js
  bigbluebutton-html5/imports/ui/components/video-provider/video-button/styles.scss
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/video-list-item/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/video-menu/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/video-menu/container.jsx
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#6617 Show audio modal when microphone is locked
  bigbluebutton-html5/imports/api/users-settings/server/methods/addUserSettings.js
  bigbluebutton-html5/imports/ui/components/app/component.jsx
  bigbluebutton-html5/imports/ui/components/app/container.jsx
  bigbluebutton-html5/imports/ui/components/audio/audio-controls/container.jsx
  bigbluebutton-html5/imports/ui/components/audio/audio-modal/component.jsx
  bigbluebutton-html5/imports/ui/components/lock-viewers/component.jsx
Labels: HTML5 Client

#6664 Fixed video fullscreen position
  bigbluebutton-html5/imports/ui/components/video-provider/fullscreen-button/styles.scss
Labels: HTML5 Client

#6676 Add action to unlock/lock individual attendee
  bigbluebutton-html5/imports/api/users/server/eventHandlers.js
  bigbluebutton-html5/imports/api/users/server/methods.js
  bigbluebutton-html5/imports/api/users/server/methods/toggleUserLock.js
  bigbluebutton-html5/imports/ui/components/user-list/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/container.jsx
  bigbluebutton-html5/imports/ui/components/user-list/service.js
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/container.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/user-dropdown/component.jsx
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#6681 Pulled the latest HTML5 client locales from Transifex Jan 29, 2019
  bigbluebutton-html5/imports/startup/client/intl.jsx
  bigbluebutton-html5/private/locales/de.json
  bigbluebutton-html5/private/locales/es.json
  bigbluebutton-html5/private/locales/pl_PL.json
Labels: HTML5 Client

#6683 Update/make consistent language strings
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#6581 Check if the meeting exists #6401
  bigbluebutton-html5/imports/startup/client/base.jsx
Labels: HTML5 Client
