Repository bigbluebutton/bigbluebutton, pull requests merged in 2019-08, with the labels that each got.

#7835 Add space to the right and below the welcome message correct
  bigbluebutton-html5/imports/ui/components/chat/message-list/message-list-item/styles.scss
  bigbluebutton-html5/imports/ui/components/chat/message-list/styles.scss
Labels: HTML5 Client

#7872 Fix cursor stuck on dragging in firefox
  bigbluebutton-html5/imports/ui/components/media/webcam-draggable-overlay/component.jsx
Labels: HTML5 Client

#7874 Send audo alert for new messages when in another tab or browser minimized
  bigbluebutton-html5/imports/ui/components/chat/alert/audio-alert/component.jsx
  bigbluebutton-html5/imports/ui/components/chat/alert/component.jsx
  bigbluebutton-html5/imports/ui/components/chat/alert/container.jsx
Labels: HTML5 Client

#7839 Add auto-reconnect to SFU listen only (#6994)
  bigbluebutton-html5/imports/api/audio/client/bridge/kurento.js
Labels: HTML5 Client

#7750 Turn webcams fullscreen when no presentation is selected
  bigbluebutton-html5/imports/ui/components/actions-bar/component.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/container.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/presentation-options/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/presentation-uploader/component.jsx
Labels: HTML5 Client

#7875 Protect against no slide position
  bigbluebutton-html5/imports/ui/components/presentation/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/container.jsx
Labels: HTML5 Client

#7876 Pulled html5 locales Aug 1, 2019
  bigbluebutton-html5/private/locales/eu.json
  bigbluebutton-html5/private/locales/fr.json
  bigbluebutton-html5/private/locales/zh_TW.json
Labels: HTML5 Client, Localization

#7857 Delay setCustomData to after join
  bigbluebutton-html5/imports/ui/components/join-handler/component.jsx
Labels: HTML5 Client

#7880 Fix HTML5 server logger initialization
  bigbluebutton-html5/imports/startup/server/logger.js
Labels: HTML5 Client

#7889 Fix layout in feedback modal (RTL)
  bigbluebutton-html5/imports/ui/components/meeting-ended/rating/component.jsx
Labels: HTML5 Client

#7878 Add hint in message form for when chat is locked
  bigbluebutton-html5/imports/ui/components/chat/component.jsx
  bigbluebutton-html5/imports/ui/components/chat/message-form/component.jsx
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#7853 Save local settings in a different collection
  bigbluebutton-html5/imports/api/local-settings/index.js
  bigbluebutton-html5/imports/api/local-settings/server/index.js
  bigbluebutton-html5/imports/api/local-settings/server/methods.js
  bigbluebutton-html5/imports/api/local-settings/server/methods/userChangedLocalSettings.js
  bigbluebutton-html5/imports/api/local-settings/server/modifiers/clearLocalSettings.js
  bigbluebutton-html5/imports/api/local-settings/server/modifiers/setChangedLocalSettings.js
  bigbluebutton-html5/imports/api/local-settings/server/publishers.js
  bigbluebutton-html5/imports/api/meetings/server/modifiers/meetingHasEnded.js
  bigbluebutton-html5/imports/api/users/server/methods.js
  bigbluebutton-html5/imports/api/users/server/methods/userChangedSettings.js
  bigbluebutton-html5/imports/api/users/server/modifiers/setChangedSettings.js
  bigbluebutton-html5/imports/ui/components/settings/component.jsx
  bigbluebutton-html5/imports/ui/components/settings/container.jsx
  bigbluebutton-html5/imports/ui/components/settings/submenus/participants/component.jsx
  bigbluebutton-html5/imports/ui/components/subscriptions/component.jsx
  bigbluebutton-html5/imports/ui/services/network-information/index.js
  bigbluebutton-html5/imports/ui/services/settings/index.js
  bigbluebutton-html5/private/config/settings.yml
  bigbluebutton-html5/private/locales/en.json
  bigbluebutton-html5/server/main.js
Labels: HTML5 Client

#7887 Fix log errors on webcam draggable
  bigbluebutton-html5/imports/ui/components/media/webcam-draggable-overlay/component.jsx
Labels: HTML5 Client

#7892 Allow negative cursor updates to publish
  bigbluebutton-html5/imports/api/cursor/server/methods/publishCursorUpdate.js
Labels: HTML5 Client

#7895 Fix single webcam overflow
  bigbluebutton-html5/imports/ui/components/media/webcam-draggable-overlay/component.jsx
Labels: HTML5 Client

#7861 Reduce Userlist Renderings
  bigbluebutton-html5/imports/api/users/server/modifiers/addUser.js
  bigbluebutton-html5/imports/ui/components/lock-viewers/context/container.jsx
  bigbluebutton-html5/imports/ui/components/user-list/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/container.jsx
  bigbluebutton-html5/imports/ui/components/user-list/service.js
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/container.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/user-dropdown/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-options/container.jsx
Labels: HTML5 Client

#7900 Fix chat performance.
  bigbluebutton-html5/imports/ui/components/chat/chat-dropdown/component.jsx
  bigbluebutton-html5/imports/ui/components/chat/component.jsx
  bigbluebutton-html5/imports/ui/components/chat/container.jsx
  bigbluebutton-html5/imports/ui/components/chat/message-form/component.jsx
  bigbluebutton-html5/imports/ui/components/chat/message-form/container.jsx
  bigbluebutton-html5/imports/ui/components/chat/message-list/container.jsx
  bigbluebutton-html5/imports/ui/components/chat/service.js
Labels: HTML5 Client

#7907 Pulled html5 locales Aug 9, 2019
  bigbluebutton-html5/private/locales/ar.json
  bigbluebutton-html5/private/locales/bg_BG.json
  bigbluebutton-html5/private/locales/cs_CZ.json
  bigbluebutton-html5/private/locales/de.json
  bigbluebutton-html5/private/locales/es.json
  bigbluebutton-html5/private/locales/es_ES.json
  bigbluebutton-html5/private/locales/es_MX.json
  bigbluebutton-html5/private/locales/eu.json
  bigbluebutton-html5/private/locales/fa_IR.json
  bigbluebutton-html5/private/locales/fi.json
  bigbluebutton-html5/private/locales/fr.json
  bigbluebutton-html5/private/locales/he.json
  bigbluebutton-html5/private/locales/hi_IN.json
  bigbluebutton-html5/private/locales/hu_HU.json
  bigbluebutton-html5/private/locales/id.json
  bigbluebutton-html5/private/locales/it_IT.json
  bigbluebutton-html5/private/locales/ja.json
  bigbluebutton-html5/private/locales/ja_JP.json
  bigbluebutton-html5/private/locales/km.json
  bigbluebutton-html5/private/locales/pt.json
  bigbluebutton-html5/private/locales/pt_BR.json
  bigbluebutton-html5/private/locales/ru_RU.json
  bigbluebutton-html5/private/locales/sv_SE.json
  bigbluebutton-html5/private/locales/tr_TR.json
  bigbluebutton-html5/private/locales/uk_UA.json
  bigbluebutton-html5/private/locales/vi_VN.json
  bigbluebutton-html5/private/locales/zh_CN.json
  bigbluebutton-html5/private/locales/zh_TW.json
Labels: HTML5 Client, Localization

#7908 Improve user fetch and sort, and webcam fetch
  bigbluebutton-html5/imports/api/voice-users/server/handlers/mutedVoiceUser.js
  bigbluebutton-html5/imports/ui/components/media/container.jsx
  bigbluebutton-html5/imports/ui/components/media/service.js
  bigbluebutton-html5/imports/ui/components/user-list/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/container.jsx
  bigbluebutton-html5/imports/ui/components/user-list/service.js
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/container.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/container.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/container.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/service.js
  bigbluebutton-html5/imports/ui/components/video-provider/video-button/service.js
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/video-list-item/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/video-list-item/container.jsx
Labels: HTML5 Client

#7918 Add max and min zoom for mobile
  bigbluebutton-html5/imports/ui/components/presentation/presentation-overlay/component.jsx
Labels: HTML5 Client

#7921 Don't show muted on video when listenOnly
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/video-list-item/component.jsx
Labels: HTML5 Client

#7923 Improve the failed Meteor call log
  bigbluebutton-html5/imports/ui/services/api/index.js
Labels: HTML5 Client

#7899 Fix audio alerts for chat playing when they shouldn't
  bigbluebutton-html5/imports/ui/components/chat/alert/component.jsx
  bigbluebutton-html5/imports/ui/components/chat/alert/container.jsx
Labels: HTML5 Client

#7922 Show presentation and whiteboard controls after auto swap back
  bigbluebutton-html5/imports/ui/components/presentation/container.jsx
  bigbluebutton-html5/imports/ui/components/presentation/presentation-toolbar/container.jsx
Labels: HTML5 Client

#7915 Fix chat input placeholder text
  bigbluebutton-html5/imports/api/group-chat-msg/index.js
  bigbluebutton-html5/imports/ui/components/chat/component.jsx
  bigbluebutton-html5/imports/ui/components/chat/container.jsx
  bigbluebutton-html5/imports/ui/components/chat/message-form/component.jsx
  bigbluebutton-html5/imports/ui/components/chat/message-form/styles.scss
Labels: HTML5 Client

#7882 Add UI prompts when autoplay is blocked for video/screenshare/listen only
  bigbluebutton-html5/imports/api/audio/client/bridge/base.js
  bigbluebutton-html5/imports/api/audio/client/bridge/kurento.js
  bigbluebutton-html5/imports/api/screenshare/client/bridge/kurento.js
  bigbluebutton-html5/imports/ui/components/audio/audio-modal/component.jsx
  bigbluebutton-html5/imports/ui/components/audio/audio-modal/container.jsx
  bigbluebutton-html5/imports/ui/components/audio/autoplay/component.jsx
  bigbluebutton-html5/imports/ui/components/audio/autoplay/styles.scss
  bigbluebutton-html5/imports/ui/components/audio/service.js
  bigbluebutton-html5/imports/ui/components/media/autoplay-overlay/component.jsx
  bigbluebutton-html5/imports/ui/components/media/autoplay-overlay/styles.scss
  bigbluebutton-html5/imports/ui/components/media/component.jsx
  bigbluebutton-html5/imports/ui/components/screenshare/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/video-list-item/component.jsx
  bigbluebutton-html5/imports/ui/services/audio-manager/index.js
  bigbluebutton-html5/private/locales/en.json
  bigbluebutton-html5/public/compatibility/kurento-extension.js
Labels: HTML5 Client

#7928 Make user-list avatar the same width as chat avatar
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/user-dropdown/styles.scss
Labels: HTML5 Client

#7927 Prevent problem after drawing on tablet/mobile
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-overlay/cursor-listener/component.jsx
Labels: HTML5 Client, Whiteboard

#7940 Improve keyboard accessibility of users list
  bigbluebutton-html5/imports/ui/components/dropdown/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/service.js
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-messages/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/user-dropdown/component.jsx
Labels: Accessibilty, HTML5 Client

#7888 Change the default tool in multi-user
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-toolbar/component.jsx
Labels: HTML5 Client

#7823 Implement HOC to handle errors
  bigbluebutton-html5/client/main.jsx
  bigbluebutton-html5/imports/startup/client/base.jsx
  bigbluebutton-html5/imports/startup/client/intl.jsx
  bigbluebutton-html5/imports/ui/components/authenticated-handler/component.jsx
  bigbluebutton-html5/imports/ui/components/error-screen/component.jsx
  bigbluebutton-html5/imports/ui/components/join-handler/component.jsx
  bigbluebutton-html5/imports/ui/components/join-loading/component.jsx
  bigbluebutton-html5/imports/ui/components/join-loading/context/context.jsx
  bigbluebutton-html5/imports/ui/components/loading-screen/styles.scss
  bigbluebutton-html5/imports/ui/components/subscriptions/component.jsx
Labels: HTML5 Client

#7944 Alter screen share end alert sound
  bigbluebutton-html5/imports/ui/components/actions-bar/desktop-share/component.jsx
  bigbluebutton-html5/public/resources/sounds/ScreenshareOff.mp3
Labels: HTML5 Client

#7945 Revert "Implement HOC to handle errors"
  bigbluebutton-html5/client/main.jsx
  bigbluebutton-html5/imports/startup/client/base.jsx
  bigbluebutton-html5/imports/startup/client/intl.jsx
  bigbluebutton-html5/imports/ui/components/authenticated-handler/component.jsx
  bigbluebutton-html5/imports/ui/components/error-screen/component.jsx
  bigbluebutton-html5/imports/ui/components/join-handler/component.jsx
  bigbluebutton-html5/imports/ui/components/join-loading/component.jsx
  bigbluebutton-html5/imports/ui/components/join-loading/context/context.jsx
  bigbluebutton-html5/imports/ui/components/loading-screen/styles.scss
  bigbluebutton-html5/imports/ui/components/subscriptions/component.jsx
Labels: HTML5 Client

#7946 Pulled html5 locales Aug 16, 2019
  bigbluebutton-html5/private/locales/ar.json
  bigbluebutton-html5/private/locales/cs_CZ.json
  bigbluebutton-html5/private/locales/de.json
  bigbluebutton-html5/private/locales/es.json
  bigbluebutton-html5/private/locales/es_MX.json
  bigbluebutton-html5/private/locales/eu.json
  bigbluebutton-html5/private/locales/fa_IR.json
  bigbluebutton-html5/private/locales/fi.json
  bigbluebutton-html5/private/locales/fr.json
  bigbluebutton-html5/private/locales/he.json
  bigbluebutton-html5/private/locales/hi_IN.json
  bigbluebutton-html5/private/locales/hu_HU.json
  bigbluebutton-html5/private/locales/it_IT.json
  bigbluebutton-html5/private/locales/ja.json
  bigbluebutton-html5/private/locales/ja_JP.json
  bigbluebutton-html5/private/locales/km.json
  bigbluebutton-html5/private/locales/pt.json
  bigbluebutton-html5/private/locales/pt_BR.json
  bigbluebutton-html5/private/locales/ru_RU.json
  bigbluebutton-html5/private/locales/sv_SE.json
  bigbluebutton-html5/private/locales/uk_UA.json
  bigbluebutton-html5/private/locales/vi_VN.json
  bigbluebutton-html5/private/locales/zh_CN.json
  bigbluebutton-html5/private/locales/zh_TW.json
Labels: HTML5 Client, Localization

#7950 Fix Clear All status icons
  bigbluebutton-html5/imports/api/users/server/handlers/emojiStatus.js
  bigbluebutton-html5/imports/ui/components/user-list/service.js
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/user-dropdown/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-options/container.jsx
Labels: HTML5 Client

#7951 More responsive and less noisy initial connection watcher
  bigbluebutton-html5/imports/ui/components/join-handler/component.jsx
Labels: HTML5 Client

#7954 Fix chat input loss of focus
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/user-dropdown/component.jsx
Labels: HTML5 Client

#7960 Fix ghost users showing in the typing indicator
  bigbluebutton-html5/imports/api/group-chat-msg/server/methods/startUserTyping.js
  bigbluebutton-html5/imports/api/group-chat-msg/server/methods/stopUserTyping.js
  bigbluebutton-html5/imports/api/group-chat-msg/server/modifiers/startTyping.js
  bigbluebutton-html5/imports/api/group-chat-msg/server/modifiers/stopTyping.js
  bigbluebutton-html5/imports/ui/components/chat/message-form/component.jsx
Labels: HTML5 Client

#7968 Remove pointless userMap in screenshare view
  bigbluebutton-html5/imports/ui/components/screenshare/container.jsx
Labels: HTML5 Client

#7969 Move props for typing indicator from chat to message-form
  bigbluebutton-html5/imports/api/group-chat-msg/server/modifiers/startTyping.js
  bigbluebutton-html5/imports/ui/components/chat/component.jsx
  bigbluebutton-html5/imports/ui/components/chat/container.jsx
  bigbluebutton-html5/imports/ui/components/chat/message-form/component.jsx
  bigbluebutton-html5/imports/ui/components/chat/message-form/container.jsx
  bigbluebutton-html5/imports/ui/components/chat/message-form/typing-indicator/component.jsx
  bigbluebutton-html5/imports/ui/components/chat/message-form/typing-indicator/container.jsx
  bigbluebutton-html5/imports/ui/components/subscriptions/component.jsx
  bigbluebutton-html5/private/config/settings.yml
Labels: HTML5 Client

#7973 Pulled html5 locales on Aug 23, 2019
  bigbluebutton-html5/private/locales/hu_HU.json
  bigbluebutton-html5/private/locales/it_IT.json
Labels: HTML5 Client, Localization

#7974 Fix microphone lock affecting moderators
  bigbluebutton-html5/imports/ui/components/lock-viewers/context/container.jsx
Labels: HTML5 Client

#7970 Recovery partner disconnected message
  bigbluebutton-html5/imports/ui/components/chat/container.jsx
Labels: HTML5 Client

#7978 Automated tests: button clicks instead of pressing Enter key
  bigbluebutton-html5/imports/ui/components/chat/message-form/component.jsx
  bigbluebutton-html5/tests/webdriverio/pageobjects/chat.page.js
  bigbluebutton-html5/tests/webdriverio/specs/chat.spec.js
  bigbluebutton-html5/tests/webdriverio/specs/presentation.spec.js
  bigbluebutton-html5/tests/webdriverio/specs/settings.spec.js
Labels: HTML5 Client, QA

#7982 Make sure the whiteboard toolbar exists first before animating
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-toolbar/component.jsx
Labels: HTML5 Client

#7981 Fix problem with clear chat when popup alerts are enabled
  bigbluebutton-html5/imports/ui/components/chat/alert/component.jsx
Labels: HTML5 Client

#7983 Use an SVG for the recording icon
  bigbluebutton-html5/imports/ui/components/nav-bar/recording-indicator/component.jsx
  bigbluebutton-html5/imports/ui/components/nav-bar/recording-indicator/styles.scss
Labels: HTML5 Client

#8012 Update join breakout room modal RTL style
  bigbluebutton-html5/imports/ui/components/modal/fullscreen/styles.scss
Labels: HTML5 Client

#7955 Fix mute audio log
  bigbluebutton-html5/imports/ui/components/audio/service.js
  bigbluebutton-html5/imports/ui/components/breakout-room/component.jsx
Labels: HTML5 Client

#7996 Fix join by phone icon placement in RTL
  bigbluebutton-html5/imports/ui/components/audio/audio-modal/component.jsx
  bigbluebutton-html5/imports/ui/components/audio/audio-modal/container.jsx
Labels: HTML5 Client

#8021 Automated tests: new code for login
  bigbluebutton-html5/.gitignore
  bigbluebutton-html5/package-lock.json
  bigbluebutton-html5/package.json
  bigbluebutton-html5/tests/webdriverio/.testing-env
  bigbluebutton-html5/tests/webdriverio/pageobjects/landing.page.js
  bigbluebutton-html5/tests/webdriverio/pageobjects/page.js
  bigbluebutton-html5/tests/webdriverio/specs/chat.spec.js
  bigbluebutton-html5/tests/webdriverio/specs/presentation.spec.js
  bigbluebutton-html5/tests/webdriverio/specs/settings.spec.js
  bigbluebutton-html5/tests/webdriverio/wdio.conf.js
Labels: HTML5 Client, QA
