Repository bigbluebutton/bigbluebutton, pull requests merged in 2019-02, with the labels that each got.

#6691 Hide Mic and Camera buttons when userAgent is Mobile App
  bigbluebutton-html5/imports/ui/components/audio/audio-modal/component.jsx
  bigbluebutton-html5/imports/ui/components/audio/audio-modal/container.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/video-button/container.jsx
Labels: HTML5 Client

#6702 Improve logging
  bigbluebutton-html5/client/main.jsx
  bigbluebutton-html5/imports/api/audio/client/bridge/kurento.js
  bigbluebutton-html5/imports/api/audio/client/bridge/sip.js
  bigbluebutton-html5/imports/api/screenshare/client/bridge/kurento.js
  bigbluebutton-html5/imports/startup/client/base.jsx
  bigbluebutton-html5/imports/startup/client/logger.js
  bigbluebutton-html5/imports/ui/components/actions-bar/desktop-share/component.jsx
  bigbluebutton-html5/imports/ui/components/app/component.jsx
  bigbluebutton-html5/imports/ui/components/audio/device-selector/component.jsx
  bigbluebutton-html5/imports/ui/components/join-handler/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/presentation-uploader/component.jsx
  bigbluebutton-html5/imports/ui/components/video-preview/component.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/service.js
  bigbluebutton-html5/imports/ui/services/audio-manager/index.js
  bigbluebutton-html5/imports/ui/services/auth/index.js
Labels: HTML5 Client

#6605 Moved oauth to new repo and added SHA256 support to LTI
  bbb-lti/grails-app/conf/BuildConfig.groovy
  bbb-lti/grails-app/controllers/org/bigbluebutton/ToolController.groovy
  bbb-lti/src/java/net/oauth/ConsumerProperties.java
  bbb-lti/src/java/net/oauth/MessageWithBody.java
  bbb-lti/src/java/net/oauth/OAuth.java
  bbb-lti/src/java/net/oauth/OAuthAccessor.java
  bbb-lti/src/java/net/oauth/OAuthConsumer.java
  bbb-lti/src/java/net/oauth/OAuthException.java
  bbb-lti/src/java/net/oauth/OAuthMessage.java
  bbb-lti/src/java/net/oauth/OAuthProblemException.java
  bbb-lti/src/java/net/oauth/OAuthServiceProvider.java
  bbb-lti/src/java/net/oauth/OAuthValidator.java
  bbb-lti/src/java/net/oauth/ParameterStyle.java
  bbb-lti/src/java/net/oauth/SimpleOAuthValidator.java
  bbb-lti/src/java/net/oauth/client/ExcerptInputStream.java
  bbb-lti/src/java/net/oauth/client/OAuthClient.java
  bbb-lti/src/java/net/oauth/client/OAuthResponseMessage.java
  bbb-lti/src/java/net/oauth/client/URLConnectionClient.java
  bbb-lti/src/java/net/oauth/client/URLConnectionResponse.java
  bbb-lti/src/java/net/oauth/consumer.properties.sample
  bbb-lti/src/java/net/oauth/http/HttpClient.java
  bbb-lti/src/java/net/oauth/http/HttpMessage.java
  bbb-lti/src/java/net/oauth/http/HttpMessageDecoder.java
  bbb-lti/src/java/net/oauth/http/HttpResponseMessage.java
  bbb-lti/src/java/net/oauth/server/HttpRequestMessage.java
  bbb-lti/src/java/net/oauth/server/OAuthServlet.java
  bbb-lti/src/java/net/oauth/signature/Base64.java
  bbb-lti/src/java/net/oauth/signature/HMAC_SHA1.java
  bbb-lti/src/java/net/oauth/signature/OAuthSignatureMethod.java
  bbb-lti/src/java/net/oauth/signature/PLAINTEXT.java
  bbb-lti/src/java/net/oauth/signature/RSA_SHA1.java
  bbb-lti/src/java/net/oauth/signature/pem/Asn1Object.java
  bbb-lti/src/java/net/oauth/signature/pem/DerParser.java
  bbb-lti/src/java/net/oauth/signature/pem/PEMReader.java
  bbb-lti/src/java/net/oauth/signature/pem/PKCS1EncodedKeySpec.java
Labels: LTI

#6634 Implement enable/disable Animations
  bigbluebutton-html5/client/stylesheets/modals.css
  bigbluebutton-html5/client/stylesheets/toggleSwitch.css
  bigbluebutton-html5/imports/startup/client/base.jsx
  bigbluebutton-html5/imports/ui/components/app/styles.scss
  bigbluebutton-html5/imports/ui/components/audio/audio-controls/styles.scss
  bigbluebutton-html5/imports/ui/components/audio/audio-modal/styles.scss
  bigbluebutton-html5/imports/ui/components/audio/audio-test/styles.scss
  bigbluebutton-html5/imports/ui/components/audio/permissions-overlay/styles.scss
  bigbluebutton-html5/imports/ui/components/breakout-room/styles.scss
  bigbluebutton-html5/imports/ui/components/button/styles.scss
  bigbluebutton-html5/imports/ui/components/chat/message-form/styles.scss
  bigbluebutton-html5/imports/ui/components/external-video-player/modal/styles.scss
  bigbluebutton-html5/imports/ui/components/join-handler/component.jsx
  bigbluebutton-html5/imports/ui/components/loading-screen/styles.scss
  bigbluebutton-html5/imports/ui/components/presentation/default-content/styles.scss
  bigbluebutton-html5/imports/ui/components/presentation/presentation-uploader/styles.scss
  bigbluebutton-html5/imports/ui/components/presentation/styles.scss
  bigbluebutton-html5/imports/ui/components/settings/submenus/application/component.jsx
  bigbluebutton-html5/imports/ui/components/toast/styles.scss
  bigbluebutton-html5/imports/ui/components/tooltip/component.jsx
  bigbluebutton-html5/imports/ui/components/user-avatar/styles.scss
  bigbluebutton-html5/imports/ui/components/user-list/styles.scss
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/user-dropdown/styles.scss
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/user-icons/styles.scss
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/user-name/styles.scss
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/styles.scss
  bigbluebutton-html5/imports/ui/stylesheets/variables/general.scss
  bigbluebutton-html5/private/config/settings.yml
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#6690 Fix duplicated dropdowns on userlist.
  bigbluebutton-html5/imports/ui/components/dropdown/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/user-dropdown/component.jsx
Labels: HTML5 Client

#6719 Show 'Default' in Speakers list when browser is Safari
  bigbluebutton-html5/imports/ui/components/audio/device-selector/component.jsx
Labels: HTML5 Client

#6686 Improve create breakoutroom modal accessibility
  bigbluebutton-html5/imports/ui/components/actions-bar/create-breakout-room/component.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/create-breakout-room/styles.scss
  bigbluebutton-html5/imports/ui/components/nav-bar/recording-indicator/component.jsx
  bigbluebutton-html5/imports/ui/components/nav-bar/recording-indicator/styles.scss
  bigbluebutton-html5/imports/ui/components/presentation/presentation-toolbar/zoom-tool/holdButton/component.jsx
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#6637 Added flag to hide dropdown menu in webcam
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/styles.scss
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/video-list-item/component.jsx
  bigbluebutton-html5/private/config/settings.yml
Labels: HTML5 Client

#6618 Add meeting time remaining notification bar status
  bigbluebutton-html5/imports/api/meetings/server/eventHandlers.js
  bigbluebutton-html5/imports/api/meetings/server/handlers/meetingCreation.js
  bigbluebutton-html5/imports/api/meetings/server/handlers/timeRemainingUpdate.js
  bigbluebutton-html5/imports/api/meetings/server/modifiers/addMeeting.js
  bigbluebutton-html5/imports/ui/components/breakout-room/breakout-remaining-time/container.jsx
  bigbluebutton-html5/imports/ui/components/notifications-bar/component.jsx
  bigbluebutton-html5/imports/ui/components/notifications-bar/container.jsx
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#6729 Fix error when user is not moderator
  bigbluebutton-html5/imports/api/users/server/modifiers/addUser.js
Labels: HTML5 Client

#6730 Improve the label used by FullscreenButtonComponent
  bigbluebutton-html5/imports/ui/components/presentation/component.jsx
  bigbluebutton-html5/imports/ui/components/screenshare/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/fullscreen-button/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/video-list-item/component.jsx
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#6728 Matching extra YouTube video IDs from different URL formats
  bigbluebutton-html5/imports/ui/components/external-video-player/service.js
Labels: HTML5 Client

#6660 Fix minor accessibility issues
  bigbluebutton-html5/imports/ui/components/breakout-room/component.jsx
  bigbluebutton-html5/imports/ui/components/breakout-room/styles.scss
  bigbluebutton-html5/imports/ui/components/nav-bar/component.jsx
  bigbluebutton-html5/imports/ui/components/nav-bar/recording-indicator/component.jsx
  bigbluebutton-html5/imports/ui/components/poll/component.jsx
  bigbluebutton-html5/imports/ui/components/poll/live-result/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/presentation-toolbar/styles.scss
  bigbluebutton-html5/imports/ui/components/presentation/presentation-toolbar/zoom-tool/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/video-menu/component.jsx
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#6654 Fix Warning when closing private chat
  bigbluebutton-html5/imports/ui/components/chat/message-list/message-list-item/component.jsx
Labels: HTML5 Client

#6727 Fix log error when meteor restart
  bigbluebutton-html5/imports/startup/client/base.jsx
Labels: HTML5 Client

#6720 Implement reset zoom
  bigbluebutton-html5/imports/ui/components/presentation/presentation-toolbar/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/presentation-toolbar/styles.scss
  bigbluebutton-html5/imports/ui/components/presentation/presentation-toolbar/zoom-tool/component.jsx
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#6687 Prevent SR from repeating button labels twice
  bigbluebutton-html5/imports/ui/components/tooltip/component.jsx
  bigbluebutton-html5/package.json
Labels: HTML5 Client

#6741 Use bowser for browser detection - 2.0 Edition
  bigbluebutton-client/resources/prod/BigBlueButton.html
  bigbluebutton-client/resources/prod/lib/bbb_blinker.js
  bigbluebutton-client/src/org/bigbluebutton/main/views/MainToolbar.mxml
  bigbluebutton-client/src/org/bigbluebutton/modules/screenshare/view/components/ScreensharePublishWindow.mxml
  bigbluebutton-client/src/org/bigbluebutton/util/browser/BrowserCheck.as
Labels: Flash Client

#6742 Use bowser for browser detection - 2.2 Edition
  bigbluebutton-client/resources/prod/BigBlueButton.html
  bigbluebutton-client/resources/prod/lib/bbb_blinker.js
  bigbluebutton-client/src/org/bigbluebutton/main/views/MainToolbar.mxml
  bigbluebutton-client/src/org/bigbluebutton/modules/screenshare/view/components/ScreensharePublishWindow.mxml
  bigbluebutton-client/src/org/bigbluebutton/util/browser/BrowserCheck.as
Labels: Flash Client

#6698 Fix chat input between chats
  bigbluebutton-html5/imports/ui/components/chat/component.jsx
  bigbluebutton-html5/imports/ui/components/chat/container.jsx
  bigbluebutton-html5/imports/ui/components/chat/message-form/component.jsx
  bigbluebutton-html5/imports/ui/components/chat/service.js
Labels: HTML5 Client

#6733 Fix sidebar elements appearance
  bigbluebutton-html5/imports/ui/components/user-list/chat-list-item/styles.scss
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/breakout-room/styles.scss
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-notes/styles.scss
Labels: HTML5 Client

#6758 Revert "Fix error when user is not moderator"
  bigbluebutton-html5/imports/api/users/server/modifiers/addUser.js
Labels: HTML5 Client

#6711 Sync meeting lock settings status
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/apps/users/GetLockSettingsReqMsgHdlr.scala
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/running/MeetingActor.scala
  bigbluebutton-html5/imports/api/meetings/server/eventHandlers.js
  bigbluebutton-html5/imports/api/meetings/server/methods/toggleLockSettings.js
  bigbluebutton-html5/imports/api/meetings/server/modifiers/changeLockSettings.js
Labels: Apps, HTML5 Client

#6735 Recording toggle - allow clicking on the text && Restyling
  bigbluebutton-html5/imports/ui/components/actions-bar/container.jsx
  bigbluebutton-html5/imports/ui/components/nav-bar/recording-indicator/component.jsx
  bigbluebutton-html5/imports/ui/components/nav-bar/recording-indicator/styles.scss
Labels: HTML5 Client

#6761 Fix ActionBar moderator check
  bigbluebutton-html5/imports/ui/components/actions-bar/service.js
Labels: HTML5 Client

#6722 Prevent SR seeing timer notifications as alerts
  bigbluebutton-html5/imports/ui/components/notifications-bar/component.jsx
Labels: HTML5 Client

#6699 Reset to default view if screenshare or sync'ed video is initiated
  bigbluebutton-html5/imports/ui/components/actions-bar/presentation-options/component.jsx
  bigbluebutton-html5/imports/ui/components/media/service.js
  bigbluebutton-html5/imports/ui/components/video-provider/fullscreen-button/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/fullscreen-button/styles.scss
Labels: HTML5 Client

#6769 Fix for duplication in logs
  bigbluebutton-html5/imports/api/log-client/server/methods/logClient.js
Labels: HTML5 Client

#6716 Make SR announce poll inputs individually
  bigbluebutton-html5/imports/ui/components/poll/component.jsx
  bigbluebutton-html5/imports/ui/components/poll/styles.scss
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#6563 Fix for the tooltip error on mobile
  bigbluebutton-html5/imports/ui/components/tooltip/component.jsx
Labels: HTML5 Client

#6776 Update meteor from 1.8.0.1 to 1.8.0.2 (patch)
  bigbluebutton-html5/.meteor/packages
  bigbluebutton-html5/.meteor/release
  bigbluebutton-html5/.meteor/versions
Labels: HTML5 Client

#6775 Remove missing css class references
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-notes/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-polls/component.jsx
  bigbluebutton-html5/imports/ui/components/video-preview/component.jsx
  bigbluebutton-html5/package-lock.json
Labels: HTML5 Client

#6781 Remove explicit dependency to core-js
  bigbluebutton-html5/package.json
Labels: HTML5 Client

#6788 Fix for console error joining breakout room
  bigbluebutton-html5/imports/ui/components/notifications-bar/component.jsx
Labels: HTML5 Client

#6783 Fix chat save feature on Firefox
  bigbluebutton-html5/imports/ui/components/chat/chat-dropdown/component.jsx
Labels: HTML5 Client

#6777 Update npm packages versions
  bigbluebutton-html5/imports/api/users/server/handlers/validateAuthToken.js
  bigbluebutton-html5/package-lock.json
  bigbluebutton-html5/package.json
Labels: HTML5 Client

#6789 Fix console error
  bigbluebutton-html5/imports/ui/components/chat/component.jsx
Labels: HTML5 Client

#6532 Increased display name area
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/styles.scss
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/video-list-item/component.jsx
Labels: HTML5 Client

#6714 In the bbb-lti applicaation, add a way to configure the parameters used for generating the meetingID
  bbb-lti/grails-app/conf/lti-config.properties
  bbb-lti/grails-app/services/org/bigbluebutton/BigbluebuttonService.groovy
Labels: LTI

#6790 Fix unread message indicator remains active
  bigbluebutton-html5/imports/ui/components/nav-bar/container.jsx
Labels: HTML5 Client

#6734 Allow re-invite user that didn't joined in meeting
  bigbluebutton-html5/imports/api/breakouts/server/handlers/breakoutJoinURL.js
  bigbluebutton-html5/imports/api/breakouts/server/methods/requestJoinURL.js
  bigbluebutton-html5/imports/api/users/server/modifiers/addUser.js
  bigbluebutton-html5/imports/api/users/server/publishers.js
  bigbluebutton-html5/imports/startup/client/base.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/service.js
  bigbluebutton-html5/imports/ui/components/nav-bar/component.jsx
  bigbluebutton-html5/imports/ui/components/nav-bar/container.jsx
  bigbluebutton-html5/imports/ui/components/nav-bar/service.js
  bigbluebutton-html5/imports/ui/components/user-list/service.js
Labels: HTML5 Client

#6780 Fix clear public chat
  bigbluebutton-html5/imports/api/group-chat-msg/server/modifiers/clearGroupChatMsg.js
Labels: HTML5 Client

#6774 Prevent drawing problem
  bigbluebutton-html5/imports/api/annotations/index.js
  bigbluebutton-html5/imports/api/annotations/server/methods.js
  bigbluebutton-html5/imports/api/annotations/server/methods/sendBulkAnnotations.js
  bigbluebutton-html5/imports/ui/components/whiteboard/service.js
Labels: HTML5 Client

#6807 Prevent subscribing every 10s when recording
  bigbluebutton-html5/imports/startup/client/base.jsx
Labels: HTML5 Client

#6806 Stop external video sharing when current presenter leaves
  bigbluebutton-html5/imports/api/external-videos/server/methods/startWatchingExternalVideo.js
  bigbluebutton-html5/imports/api/external-videos/server/methods/stopWatchingExternalVideo.js
  bigbluebutton-html5/imports/api/users/server/modifiers/removeUser.js
  bigbluebutton-html5/imports/ui/components/external-video-player/container.jsx
Labels: HTML5 Client

#6813 Change flat function to reduce for compatibility with EDGE
  bigbluebutton-html5/imports/ui/components/actions-bar/service.js
  bigbluebutton-html5/imports/ui/components/nav-bar/service.js
Labels: HTML5 Client

#6791 Update share youtube video label
  bigbluebutton-html5/imports/ui/components/actions-bar/actions-dropdown/component.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/component.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/container.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/service.js
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#6825 Add defaults for Chrome screenshare link and key to config.xml template
  bigbluebutton-client/resources/config.xml.template
  bigbluebutton-client/src/org/bigbluebutton/modules/screenshare/model/ScreenshareOptions.as
  bigbluebutton-client/src/org/bigbluebutton/modules/screenshare/utils/WebRTCScreenshareUtility.as
Labels: Flash Client

#6821 Useful HTML5 sip.js bridge errors
  bigbluebutton-html5/imports/api/audio/client/bridge/sip.js
  bigbluebutton-html5/imports/ui/components/audio/container.jsx
  bigbluebutton-html5/imports/ui/components/audio/service.js
  bigbluebutton-html5/imports/ui/services/audio-manager/index.js
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client, Voice

#6837 Replace double quotes in audio name with single quotes - 2.2 edition
  bigbluebutton-client/resources/prod/lib/bbb_webrtc_bridge_sip.js
  bigbluebutton-html5/imports/api/audio/client/bridge/sip.js
Labels: Flash Client, HTML5 Client

#6845 Pulled the latest html5 client locales; added cs_CZ
  bigbluebutton-html5/imports/startup/client/intl.jsx
  bigbluebutton-html5/private/locales/cs_CZ.json
  bigbluebutton-html5/private/locales/de.json
  bigbluebutton-html5/private/locales/en.json
  bigbluebutton-html5/private/locales/es.json
  bigbluebutton-html5/private/locales/es_ES.json
  bigbluebutton-html5/private/locales/es_MX.json
  bigbluebutton-html5/private/locales/fa_IR.json
  bigbluebutton-html5/private/locales/fr.json
  bigbluebutton-html5/private/locales/ja.json
  bigbluebutton-html5/private/locales/ja_JP.json
  bigbluebutton-html5/private/locales/km.json
  bigbluebutton-html5/private/locales/pt_BR.json
  bigbluebutton-html5/private/locales/ru_RU.json
  bigbluebutton-html5/private/locales/tr_TR.json
  bigbluebutton-html5/private/locales/uk_UA.json
  bigbluebutton-html5/private/locales/zh_CN.json
Labels: HTML5 Client

#6779 Add texts extracted from slides for accessibility
  bigbluebutton-html5/imports/api/presentations/server/modifiers/addPresentation.js
  bigbluebutton-html5/imports/api/slides/server/modifiers/addSlide.js
  bigbluebutton-html5/imports/ui/components/presentation/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/service.js
  bigbluebutton-html5/imports/ui/components/presentation/styles.scss
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#6835 Make the help link configurable
  bigbluebutton-html5/imports/ui/components/nav-bar/settings-dropdown/component.jsx
  bigbluebutton-html5/private/config/settings.yml
Labels: HTML5 Client

#6831 Center user avatar icons in Edge
  bigbluebutton-html5/imports/ui/stylesheets/variables/general.scss
Labels: HTML5 Client

#6824 Allow Chrome 72 to screenshare without extension - 2.0 edition
  bigbluebutton-client/resources/config.xml.template
  bigbluebutton-client/resources/prod/lib/kurento-extension.js
  bigbluebutton-client/resources/prod/lib/kurento-utils.js
  bigbluebutton-client/src/org/bigbluebutton/modules/screenshare/model/ScreenshareOptions.as
  bigbluebutton-client/src/org/bigbluebutton/modules/screenshare/utils/WebRTCScreenshareUtility.as
Labels: Flash Client

#6849 Handle setting presentation as downloadable prior to uploading it
  bigbluebutton-html5/imports/ui/components/presentation/presentation-uploader/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/presentation-uploader/service.js
Labels: HTML5 Client, Presentation

#6853 Fix incorrect reference in pres isDownloadable
  bigbluebutton-html5/imports/ui/components/presentation/presentation-uploader/component.jsx
Labels: HTML5 Client, Presentation

#6823 Make feedback work on logout
  bigbluebutton-html5/imports/ui/components/meeting-ended/component.jsx
  bigbluebutton-html5/imports/ui/components/nav-bar/settings-dropdown/component.jsx
Labels: HTML5 Client

#6872 Fix breakout room items don't appearing
  bigbluebutton-html5/imports/ui/components/actions-bar/service.js
Labels: HTML5 Client
