Repository bigbluebutton/bigbluebutton, pull requests merged in 2019-06, with the labels that each got.

#7557 Update axios from 0.18 to 0.19 (vuln)
  bigbluebutton-html5/package-lock.json
  bigbluebutton-html5/package.json
Labels: HTML5 Client

#6885 Make webcam draggable
  bigbluebutton-html5/imports/ui/components/media/component.jsx
  bigbluebutton-html5/imports/ui/components/media/styles.scss
  bigbluebutton-html5/imports/ui/components/media/webcam-draggable-overlay/component.jsx
  bigbluebutton-html5/imports/ui/components/video-preview/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/container.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/styles.scss
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/video-list-item/component.jsx
  bigbluebutton-html5/imports/ui/stylesheets/variables/video.scss
  bigbluebutton-html5/package-lock.json
  bigbluebutton-html5/package.json
  bigbluebutton-html5/private/config/settings.yml
Labels: HTML5 Client

#7558 Fix repeatCount usage in SVG animations
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-toolbar/component.jsx
Labels: HTML5 Client

#7560 Pulled html5 locales June 3, 2019; added Hungarian
  bigbluebutton-html5/imports/startup/client/intl.jsx
  bigbluebutton-html5/private/locales/ar.json
  bigbluebutton-html5/private/locales/bg_BG.json
  bigbluebutton-html5/private/locales/cs_CZ.json
  bigbluebutton-html5/private/locales/de.json
  bigbluebutton-html5/private/locales/el_GR.json
  bigbluebutton-html5/private/locales/es.json
  bigbluebutton-html5/private/locales/es_ES.json
  bigbluebutton-html5/private/locales/es_MX.json
  bigbluebutton-html5/private/locales/eu.json
  bigbluebutton-html5/private/locales/fa_IR.json
  bigbluebutton-html5/private/locales/fr.json
  bigbluebutton-html5/private/locales/he.json
  bigbluebutton-html5/private/locales/hi_IN.json
  bigbluebutton-html5/private/locales/hu_HU.json
  bigbluebutton-html5/private/locales/id.json
  bigbluebutton-html5/private/locales/it_IT.json
  bigbluebutton-html5/private/locales/ja.json
  bigbluebutton-html5/private/locales/ja_JP.json
  bigbluebutton-html5/private/locales/km.json
  bigbluebutton-html5/private/locales/pl_PL.json
  bigbluebutton-html5/private/locales/pt.json
  bigbluebutton-html5/private/locales/pt_BR.json
  bigbluebutton-html5/private/locales/ru_RU.json
  bigbluebutton-html5/private/locales/tr_TR.json
  bigbluebutton-html5/private/locales/uk_UA.json
  bigbluebutton-html5/private/locales/vi_VN.json
  bigbluebutton-html5/private/locales/zh_CN.json
  bigbluebutton-html5/private/locales/zh_TW.json
Labels: HTML5 Client

#7559 Strip mDNS candidates from sip.js SDPs
  bigbluebutton-html5/imports/api/audio/client/bridge/sip.js
  bigbluebutton-html5/imports/utils/sdpUtils.js
  bigbluebutton-html5/public/compatibility/sip.js
Labels: HTML5 Client

#7544 Add meteor check for annotations to avoid malformed message.
  bigbluebutton-html5/imports/api/annotations/server/methods/sendAnnotation.js
Labels: HTML5 Client

#7540 WebdriverIO Tests
  bigbluebutton-html5/imports/ui/components/end-meeting-confirmation/component.jsx
  bigbluebutton-html5/imports/ui/components/meeting-ended/component.jsx
  bigbluebutton-html5/package-lock.json
  bigbluebutton-html5/package.json
  bigbluebutton-html5/tests/webdriverio/pageobjects/chat.page.js
  bigbluebutton-html5/tests/webdriverio/pageobjects/landing.page.js
  bigbluebutton-html5/tests/webdriverio/pageobjects/modal.page.js
  bigbluebutton-html5/tests/webdriverio/pageobjects/page.js
  bigbluebutton-html5/tests/webdriverio/pageobjects/settings.page.js
  bigbluebutton-html5/tests/webdriverio/specs/chat.spec.js
  bigbluebutton-html5/tests/webdriverio/specs/settings.spec.js
  bigbluebutton-html5/tests/webdriverio/utils.js
  bigbluebutton-html5/tests/webdriverio/wdio.conf.js
Labels: HTML5 Client, qa

#7568 Pass callback for closing of permissions-overlay
  bigbluebutton-html5/imports/ui/components/audio/audio-modal/component.jsx
  bigbluebutton-html5/imports/ui/components/audio/permissions-overlay/component.jsx
Labels: HTML5 Client

#7569 Bump audio leave log level
  bigbluebutton-html5/imports/ui/services/audio-manager/index.js
Labels: HTML5 Client

#7571 Fix the warning that appears when user enters as guest
  bigbluebutton-html5/imports/startup/client/base.jsx
Labels: HTML5 Client

#7575 Try to improve Kurento listen-only error reporting
  bigbluebutton-html5/imports/api/audio/client/bridge/kurento.js
Labels: HTML5 Client

#7523 Fix server exceptions when get a invalid session token.
  bigbluebutton-html5/imports/startup/client/base.jsx
  bigbluebutton-html5/imports/ui/components/subscriptions/component.jsx
Labels: HTML5 Client

#7545 Add toasts for Emoji changes / Meeting mute
  bigbluebutton-html5/imports/ui/components/app/component.jsx
  bigbluebutton-html5/imports/ui/components/app/container.jsx
  bigbluebutton-html5/imports/ui/components/external-video-player/component.jsx
  bigbluebutton-html5/imports/ui/components/external-video-player/service.js
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/user-dropdown/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-options/container.jsx
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#7585 Creates component for breakout invitation
  bigbluebutton-html5/imports/ui/components/app/component.jsx
  bigbluebutton-html5/imports/ui/components/breakout-join-confirmation/container.jsx
  bigbluebutton-html5/imports/ui/components/breakout-room/component.jsx
  bigbluebutton-html5/imports/ui/components/breakout-room/invitation/component.jsx
  bigbluebutton-html5/imports/ui/components/breakout-room/invitation/container.jsx
  bigbluebutton-html5/imports/ui/components/breakout-room/service.js
  bigbluebutton-html5/imports/ui/components/nav-bar/component.jsx
  bigbluebutton-html5/imports/ui/components/nav-bar/container.jsx
  bigbluebutton-html5/imports/ui/components/nav-bar/service.js
  bigbluebutton-html5/imports/ui/components/nav-bar/styles.scss
  bigbluebutton-html5/imports/ui/components/notifications-bar/container.jsx
Labels: HTML5 Client

#7592 Accessibility fixes for Presenter View
  bigbluebutton-html5/imports/ui/components/captions/writer-menu/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/presentation-toolbar/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/presentation-toolbar/zoom-tool/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/captions-list-item/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/chat-list-item/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/chat-list-item/container.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-messages/component.jsx
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#7530 Lock screenshare option when datasaving screenshare setting is disabled
  bigbluebutton-html5/imports/ui/components/actions-bar/component.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/container.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/desktop-share/component.jsx
  bigbluebutton-html5/imports/ui/components/screenshare/service.js
  bigbluebutton-html5/imports/ui/components/video-provider/video-button/component.jsx
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#7497 Add context to manage locksettings
  bigbluebutton-html5/imports/ui/components/audio/audio-controls/container.jsx
  bigbluebutton-html5/imports/ui/components/audio/audio-modal/container.jsx
  bigbluebutton-html5/imports/ui/components/audio/container.jsx
  bigbluebutton-html5/imports/ui/components/audio/service.js
  bigbluebutton-html5/imports/ui/components/lock-viewers/context/consumer.jsx
  bigbluebutton-html5/imports/ui/components/lock-viewers/context/container.jsx
  bigbluebutton-html5/imports/ui/components/lock-viewers/context/context.js
  bigbluebutton-html5/imports/ui/components/lock-viewers/context/provider.jsx
  bigbluebutton-html5/imports/ui/components/lock-viewers/context/withContext.jsx
  bigbluebutton-html5/imports/ui/services/user/mapUser.js
Labels: HTML5 Client

#7602 Pulled html5 locales June 11, 2019
  bigbluebutton-html5/private/locales/ar.json
  bigbluebutton-html5/private/locales/hu_HU.json
  bigbluebutton-html5/private/locales/ja.json
  bigbluebutton-html5/private/locales/ja_JP.json
  bigbluebutton-html5/private/locales/ru_RU.json
  bigbluebutton-html5/private/locales/zh_CN.json
Labels: HTML5 Client

#7546 Shared notes unread indicator
  bigbluebutton-html5/imports/api/captions/server/modifiers/updatePad.js
  bigbluebutton-html5/imports/api/note/index.js
  bigbluebutton-html5/imports/api/note/server/eventHandlers.js
  bigbluebutton-html5/imports/api/note/server/handlers/padUpdate.js
  bigbluebutton-html5/imports/api/note/server/helpers.js
  bigbluebutton-html5/imports/api/note/server/index.js
  bigbluebutton-html5/imports/api/note/server/modifiers/addNote.js
  bigbluebutton-html5/imports/api/note/server/modifiers/updateNote.js
  bigbluebutton-html5/imports/ui/components/note/service.js
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-notes/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-notes/container.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-notes/styles.scss
Labels: HTML5 Client

#7608 Closed Captions UI improvements part1
  bigbluebutton-html5/client/stylesheets/bbb-icons.css
  bigbluebutton-html5/imports/ui/components/actions-bar/actions-dropdown/component.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/captions/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/captions-list-item/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-notes/styles.scss
  bigbluebutton-html5/private/locales/en.json
  bigbluebutton-html5/public/fonts/BbbIcons/bbb-icons.woff
Labels: HTML5 Client, ui

#7610 IPv4 FS audio fallback, auto-reconnect, and fixed input select
  bigbluebutton-html5/imports/api/audio/client/bridge/base.js
  bigbluebutton-html5/imports/api/audio/client/bridge/sip.js
  bigbluebutton-html5/imports/ui/components/audio/audio-modal/styles.scss
  bigbluebutton-html5/imports/ui/components/audio/container.jsx
  bigbluebutton-html5/imports/ui/services/audio-manager/index.js
  bigbluebutton-html5/private/config/settings.yml
  bigbluebutton-html5/private/locales/en.json
  bigbluebutton-html5/public/resources/sounds/LeftCall.mp3
Labels: HTML5 Client

#7617 Pulled html5 locales June13, 2019
  bigbluebutton-html5/private/locales/ar.json
  bigbluebutton-html5/private/locales/cs_CZ.json
  bigbluebutton-html5/private/locales/de.json
  bigbluebutton-html5/private/locales/es.json
  bigbluebutton-html5/private/locales/es_MX.json
  bigbluebutton-html5/private/locales/eu.json
  bigbluebutton-html5/private/locales/fa_IR.json
  bigbluebutton-html5/private/locales/fr.json
  bigbluebutton-html5/private/locales/hi_IN.json
  bigbluebutton-html5/private/locales/hu_HU.json
  bigbluebutton-html5/private/locales/it_IT.json
  bigbluebutton-html5/private/locales/ja.json
  bigbluebutton-html5/private/locales/ja_JP.json
  bigbluebutton-html5/private/locales/km.json
  bigbluebutton-html5/private/locales/pt.json
  bigbluebutton-html5/private/locales/pt_BR.json
  bigbluebutton-html5/private/locales/ru_RU.json
  bigbluebutton-html5/private/locales/sv_SE.json
  bigbluebutton-html5/private/locales/uk_UA.json
  bigbluebutton-html5/private/locales/vi_VN.json
  bigbluebutton-html5/private/locales/zh_CN.json
  bigbluebutton-html5/private/locales/zh_TW.json
Labels: HTML5 Client

#7609 Parameterize packet lost threshold
  bigbluebutton-html5/imports/ui/components/app/component.jsx
  bigbluebutton-html5/imports/ui/components/notifications-bar/container.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/user-icons/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/component.jsx
  bigbluebutton-html5/imports/ui/services/network-information/index.js
  bigbluebutton-html5/private/config/settings.yml
Labels: HTML5 Client

#7413 Make screen reader trap work with all panels
  bigbluebutton-html5/imports/ui/components/app/component.jsx
  bigbluebutton-html5/imports/ui/components/app/container.jsx
  bigbluebutton-html5/imports/ui/components/nav-bar/settings-dropdown/component.jsx
  bigbluebutton-html5/imports/ui/components/panel-manager/component.jsx
Labels: HTML5 Client

#7611 Improve breakout room randomizer
  bigbluebutton-html5/imports/ui/components/actions-bar/create-breakout-room/component.jsx
Labels: HTML5 Client

#7621 Fix for voice-only users not appearing in the audio
  bigbluebutton-html5/imports/api/users/server/modifiers/addUser.js
Labels: HTML5 Client

#7635 Fix shared notes not highlighting when selected
  bigbluebutton-html5/imports/ui/components/user-list/chat-list-item/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/chat-list-item/container.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-notes/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-notes/styles.scss
Labels: HTML5 Client

#7623 Set default tool to pan and add corner triangle
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-toolbar/component.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-toolbar/styles.scss
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-toolbar/toolbar-menu-item/component.jsx
Labels: HTML5 Client

#7641 Fix last participant isn't shown in user list on android
  bigbluebutton-html5/imports/ui/components/app/styles.scss
  bigbluebutton-html5/imports/ui/components/user-list/styles.scss
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/styles.scss
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/component.jsx
Labels: HTML5 Client

#7656 Ensure that media.candidates exists before stripping mDNS candidates
  bigbluebutton-html5/imports/utils/sdpUtils.js
Labels: HTML5 Client

#7654 UI improvements to Closed Captions (part 2)
  bigbluebutton-html5/imports/ui/components/actions-bar/actions-dropdown/component.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/captions/reader-menu/component.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/captions/reader-menu/styles.scss
  bigbluebutton-html5/imports/ui/components/actions-bar/component.jsx
  bigbluebutton-html5/imports/ui/components/captions/writer-menu/component.jsx
  bigbluebutton-html5/imports/ui/components/captions/writer-menu/styles.scss
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-options/component.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-toolbar/component.jsx
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#7646 Refactored shared notes content notification
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-notes/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-notes/styles.scss
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#7660 Handle dismiss prop being undefined.
  bigbluebutton-html5/imports/ui/components/modal/fullscreen/component.jsx
  bigbluebutton-html5/imports/ui/components/modal/simple/component.jsx
Labels: HTML5 Client

#7662 flushOnClose option for Browser Bunyan
  bigbluebutton-html5/package-lock.json
  bigbluebutton-html5/package.json
  bigbluebutton-html5/private/config/settings.yml
Labels: HTML5 Client

#7640 Hide fullscreen buttons from iPhones
  bigbluebutton-html5/imports/ui/components/nav-bar/settings-dropdown/container.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/fullscreen-button/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/fullscreen-button/container.jsx
Labels: HTML5 Client

#7661 Add Chrome on iOS to legacy detection
  bigbluebutton-html5/imports/ui/components/legacy/component.jsx
  bigbluebutton-html5/private/config/settings.yml
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#7663 Pulled html5 locales June 21, 2019
  bigbluebutton-html5/private/locales/de.json
  bigbluebutton-html5/private/locales/fa_IR.json
  bigbluebutton-html5/private/locales/hu_HU.json
  bigbluebutton-html5/private/locales/km.json
  bigbluebutton-html5/private/locales/pt_BR.json
  bigbluebutton-html5/private/locales/ru_RU.json
  bigbluebutton-html5/private/locales/sv_SE.json
  bigbluebutton-html5/private/locales/zh_CN.json
  bigbluebutton-html5/private/locales/zh_TW.json
Labels: HTML5 Client

#7669 Fix exception in presentation uploader
  bigbluebutton-html5/imports/ui/components/presentation/presentation-uploader/component.jsx
Labels: HTML5 Client

#7665 WebdriverIO tests improvements
  bigbluebutton-html5/.eslintrc.js
  bigbluebutton-html5/imports/ui/components/video-provider/fullscreen-button/component.jsx
  bigbluebutton-html5/package-lock.json
  bigbluebutton-html5/package.json
  bigbluebutton-html5/tests/webdriverio/specs/chat.spec.js
  bigbluebutton-html5/tests/webdriverio/specs/presentation.spec.js
Labels: HTML5 Client, qa

#7645 Add speech recognition functionality to writing captions
  bigbluebutton-html5/imports/api/captions/server/methods.js
  bigbluebutton-html5/imports/api/captions/server/methods/appendText.js
  bigbluebutton-html5/imports/api/note/server/helpers.js
  bigbluebutton-html5/imports/ui/components/captions/pad/component.jsx
  bigbluebutton-html5/imports/ui/components/captions/pad/container.jsx
  bigbluebutton-html5/imports/ui/components/captions/pad/service.js
  bigbluebutton-html5/imports/ui/components/captions/pad/styles.scss
  bigbluebutton-html5/imports/ui/components/captions/service.js
  bigbluebutton-html5/private/config/settings.yml
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#7675 Change client error formatting
  bigbluebutton-html5/client/main.jsx
Labels: HTML5 Client

#7678 Fix user names not displaying on cursors in RTL
  bigbluebutton-html5/imports/ui/components/presentation/cursor/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/cursor/container.jsx
Labels: HTML5 Client

#7674 baseErrorCodes not defined
  bigbluebutton-html5/imports/api/audio/client/bridge/sip.js
Labels: HTML5 Client

#7682 Fix published poll results not rendering correctly in RTL
  bigbluebutton-html5/imports/ui/components/whiteboard/annotations/poll/component.jsx
Labels: HTML5 Client

#7683 Minor accessibility improvements
  bigbluebutton-html5/imports/ui/components/poll/component.jsx
  bigbluebutton-html5/imports/ui/components/poll/styles.scss
  bigbluebutton-html5/imports/ui/components/settings/submenus/application/component.jsx
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#7638 Prevent access to dropdown menu while showing poll (small screens)
  bigbluebutton-html5/imports/ui/components/polling/styles.scss
Labels: HTML5 Client

#7651 Draggable webcams grid improvements
  bigbluebutton-html5/imports/ui/components/media/component.jsx
  bigbluebutton-html5/imports/ui/components/media/container.jsx
  bigbluebutton-html5/imports/ui/components/media/styles.scss
  bigbluebutton-html5/imports/ui/components/media/webcam-draggable-overlay/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/container.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/styles.scss
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/video-list-item/component.jsx
  bigbluebutton-html5/imports/ui/stylesheets/variables/video.scss
Labels: HTML5 Client

#7606 Add toast for webcam lock suggestion
  bigbluebutton-html5/imports/api/meetings/server/methods/toggleWebcamsOnlyForModerator.js
  bigbluebutton-html5/imports/api/users/server/handlers/userJoined.js
  bigbluebutton-html5/imports/api/users/server/modifiers/addUser.js
  bigbluebutton-html5/imports/api/video/server/modifiers/sharedWebcam.js
  bigbluebutton-html5/imports/api/video/server/modifiers/unsharedWebcam.js
  bigbluebutton-html5/imports/ui/components/app/component.jsx
  bigbluebutton-html5/imports/ui/components/lock-viewers/service.js
  bigbluebutton-html5/imports/ui/components/video-provider/many-users-notify/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/many-users-notify/container.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/many-users-notify/styles.scss
  bigbluebutton-html5/imports/ui/components/video-provider/video-button/service.js
  bigbluebutton-html5/imports/ui/services/notification/index.js
  bigbluebutton-html5/imports/ui/services/user/mapUser.js
  bigbluebutton-html5/private/config/settings.yml
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#7685 Pulled HTML5 locales June 26, 2019; Added Finnish
  bigbluebutton-html5/imports/startup/client/intl.jsx
  bigbluebutton-html5/private/locales/ar.json
  bigbluebutton-html5/private/locales/de.json
  bigbluebutton-html5/private/locales/es.json
  bigbluebutton-html5/private/locales/fa_IR.json
  bigbluebutton-html5/private/locales/fi.json
  bigbluebutton-html5/private/locales/hu_HU.json
  bigbluebutton-html5/private/locales/km.json
  bigbluebutton-html5/private/locales/pt_BR.json
  bigbluebutton-html5/private/locales/ru_RU.json
  bigbluebutton-html5/private/locales/sv_SE.json
  bigbluebutton-html5/private/locales/zh_CN.json
Labels: HTML5 Client

#7626 Fix DOM injection in number of rooms select
  bigbluebutton-html5/imports/api/breakouts/server/methods/createBreakout.js
  bigbluebutton-html5/imports/ui/components/actions-bar/create-breakout-room/component.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/create-breakout-room/styles.scss
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#7686 Fix issue where webcam would randomly drop after starting properly
  bigbluebutton-html5/imports/ui/components/video-provider/component.jsx
Labels: HTML5 Client

#7694 Improve userChangedSettings method
  bigbluebutton-html5/imports/api/users/server/methods/userChangedSettings.js
  bigbluebutton-html5/imports/api/users/server/modifiers/setChangedSettings.js
Labels: HTML5 Client

#7695 Improve wording in chat placeholder #7615
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#7700 Fix regression from #7606
  bigbluebutton-html5/imports/api/users/server/handlers/userJoined.js
  bigbluebutton-html5/imports/api/users/server/modifiers/addUser.js
  bigbluebutton-html5/imports/startup/server/redis.js
  bigbluebutton-html5/imports/ui/components/video-provider/many-users-notify/container.jsx
Labels: HTML5 Client
