Repository bigbluebutton/bigbluebutton, pull requests merged in 2020-10, with the labels that each got.

#10580 Set stun/turn server for audio's peer in html5 client
  bigbluebutton-html5/imports/api/audio/client/bridge/sip.js
Labels: HTML5 Client

#10581 Map stun/turn servers into WebRTC's iceServers, when using fallback stun
  bigbluebutton-html5/imports/api/audio/client/bridge/sip.js
Labels: HTML5 Client

#10596 Hide draggable overlay when data saving is enabled
  bigbluebutton-html5/imports/ui/components/media/component.jsx
Labels: HTML5 Client

#10601 Fix aria labels on shared notes button
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-notes/component.jsx
Labels: Accessibilty, HTML5 Client

#10603 Correctly set audio input/output devices - latest SIP.js version
  bigbluebutton-html5/imports/api/audio/client/bridge/sip.js
  bigbluebutton-html5/imports/startup/client/base.jsx
  bigbluebutton-html5/imports/ui/components/audio/audio-modal/component.jsx
  bigbluebutton-html5/imports/ui/components/audio/service.js
  bigbluebutton-html5/imports/ui/components/chat/alert/audio-alert/component.jsx
  bigbluebutton-html5/imports/ui/components/polling/component.jsx
  bigbluebutton-html5/imports/ui/components/screenshare/service.js
  bigbluebutton-html5/imports/ui/services/audio-manager/index.js
Labels: HTML5 Client

#10607 Fix the UI state on breakout room audio join
  bigbluebutton-html5/imports/ui/components/breakout-room/component.jsx
Labels: HTML5 Client, breakouts

#10602 Fix share webcam button label for screen readers
  bigbluebutton-html5/imports/ui/components/video-provider/video-button/component.jsx
  bigbluebutton-html5/private/locales/en.json
Labels: Accessibilty, HTML5 Client

#10610 Check if DOMMatrix exists before cursor coordinate transform
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-overlay/component.jsx
Labels: HTML5 Client

#10608 Make emoji list item announce active state for screen readers
  bigbluebutton-html5/imports/ui/components/dropdown/list/item/component.jsx
  bigbluebutton-html5/private/locales/en.json
Labels: Accessibilty, HTML5 Client

#10590 Shortcut key to toggle fullscreen
  bigbluebutton-html5/imports/ui/components/presentation/presentation-toolbar/component.jsx
Labels: Accessibilty, HTML5 Client

#10585 Fix undo-presentation-fullscreen button label
  bigbluebutton-html5/imports/ui/components/fullscreen-button/component.jsx
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#10561 [Backport] Allow Samsung and Yandex browsers
  bigbluebutton-html5/imports/ui/components/legacy/component.jsx
  bigbluebutton-html5/private/config/settings.yml
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#10622 Fix text-area bounding rectangle in the recording
  bigbluebutton-html5/imports/api/annotations/addAnnotation.js
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-overlay/text-draw-listener/component.jsx
Labels: HTML5 Client, Whiteboard

#10564 Fix exception while invoking method 'publishVote'
  bigbluebutton-html5/imports/api/polls/server/methods/publishVote.js
  bigbluebutton-html5/imports/ui/components/polling/component.jsx
Labels: HTML5 Client, Polling

#10612 Improve log in/authentication logs
  bigbluebutton-html5/imports/api/users/server/methods/validateAuthToken.js
  bigbluebutton-html5/imports/startup/client/logger.js
  bigbluebutton-html5/imports/ui/components/app/container.jsx
  bigbluebutton-html5/imports/ui/components/error-screen/component.jsx
  bigbluebutton-html5/imports/ui/components/join-handler/component.jsx
  bigbluebutton-html5/imports/ui/services/auth/index.js
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#10624 Pulled HTML5 locales on Oct 09, 2020
  bigbluebutton-html5/private/locales/ar.json
  bigbluebutton-html5/private/locales/az.json
  bigbluebutton-html5/private/locales/bg_BG.json
  bigbluebutton-html5/private/locales/ca.json
  bigbluebutton-html5/private/locales/cs_CZ.json
  bigbluebutton-html5/private/locales/da.json
  bigbluebutton-html5/private/locales/de.json
  bigbluebutton-html5/private/locales/el_GR.json
  bigbluebutton-html5/private/locales/eo.json
  bigbluebutton-html5/private/locales/es.json
  bigbluebutton-html5/private/locales/es_ES.json
  bigbluebutton-html5/private/locales/es_MX.json
  bigbluebutton-html5/private/locales/et.json
  bigbluebutton-html5/private/locales/eu.json
  bigbluebutton-html5/private/locales/fa_IR.json
  bigbluebutton-html5/private/locales/fi.json
  bigbluebutton-html5/private/locales/fr.json
  bigbluebutton-html5/private/locales/gl.json
  bigbluebutton-html5/private/locales/he.json
  bigbluebutton-html5/private/locales/hi_IN.json
  bigbluebutton-html5/private/locales/hr.json
  bigbluebutton-html5/private/locales/hu_HU.json
  bigbluebutton-html5/private/locales/id.json
  bigbluebutton-html5/private/locales/it_IT.json
  bigbluebutton-html5/private/locales/ja.json
  bigbluebutton-html5/private/locales/ja_JP.json
  bigbluebutton-html5/private/locales/ka_GE.json
  bigbluebutton-html5/private/locales/km.json
  bigbluebutton-html5/private/locales/kn.json
  bigbluebutton-html5/private/locales/ko_KR.json
  bigbluebutton-html5/private/locales/lt_LT.json
  bigbluebutton-html5/private/locales/lv.json
  bigbluebutton-html5/private/locales/nb_NO.json
  bigbluebutton-html5/private/locales/nl.json
  bigbluebutton-html5/private/locales/pl_PL.json
  bigbluebutton-html5/private/locales/pt.json
  bigbluebutton-html5/private/locales/pt_BR.json
  bigbluebutton-html5/private/locales/ro_RO.json
  bigbluebutton-html5/private/locales/ru.json
  bigbluebutton-html5/private/locales/ru_RU.json
  bigbluebutton-html5/private/locales/sk_SK.json
  bigbluebutton-html5/private/locales/sl.json
  bigbluebutton-html5/private/locales/sr.json
  bigbluebutton-html5/private/locales/sv_SE.json
  bigbluebutton-html5/private/locales/te.json
  bigbluebutton-html5/private/locales/th.json
  bigbluebutton-html5/private/locales/th_TH.json
  bigbluebutton-html5/private/locales/tr.json
  bigbluebutton-html5/private/locales/tr_TR.json
  bigbluebutton-html5/private/locales/uk_UA.json
  bigbluebutton-html5/private/locales/vi_VN.json
  bigbluebutton-html5/private/locales/zh_CN.json
  bigbluebutton-html5/private/locales/zh_TW.json
Labels: HTML5 Client, Localization

#10615 Added allowDefaultLogoutUrl config to optionally ignore non-custom logoutUrl
  bigbluebutton-html5/imports/ui/components/meeting-ended/component.jsx
  bigbluebutton-html5/imports/ui/components/meeting-ended/service.js
  bigbluebutton-html5/imports/ui/services/auth/index.js
  bigbluebutton-html5/imports/utils/logoutRouteHandler.js
  bigbluebutton-html5/private/config/settings.yml
Labels: HTML5 Client

#10667 Improve annotations and cursor streamer logs
  bigbluebutton-html5/imports/api/users/server/handlers/validateAuthToken.js
  bigbluebutton-html5/imports/api/users/server/methods/userLeaving.js
  bigbluebutton-html5/imports/api/users/server/methods/validateAuthToken.js
  bigbluebutton-html5/imports/api/users/server/publishers.js
  bigbluebutton-html5/imports/ui/components/cursor/service.js
  bigbluebutton-html5/imports/ui/components/whiteboard/service.js
  bigbluebutton-html5/imports/ui/services/auth/index.js
Labels: HTML5 Client

#10663 Fix for OSX and iOS Safari errors in console
  bigbluebutton-html5/imports/ui/components/fullscreen-button/container.jsx
  bigbluebutton-html5/imports/ui/components/nav-bar/settings-dropdown/container.jsx
Labels: HTML5 Client, signed-cla

#10702 [Mobile] - Setting or clearing user status locks the whole screen
  bigbluebutton-html5/imports/ui/components/dropdown/component.jsx
Labels: HTML5 Client

#10728 Move the check to disable mutedAlert feature; temp disable it
  bigbluebutton-html5/imports/ui/components/audio/audio-controls/component.jsx
  bigbluebutton-html5/imports/ui/components/muted-alert/component.jsx
  bigbluebutton-html5/private/config/settings.yml
Labels: HTML5 Client

#10617 Fix broken undo of consecutive pencil annotations
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/apps/WhiteboardModel.scala
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/apps/whiteboard/SendWhiteboardAnnotationPubMsgHdlr.scala
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/apps/whiteboard/WhiteboardApp2x.scala
  bbb-common-message/src/main/scala/org/bigbluebutton/common2/msgs/WhiteboardMsgs.scala
  bigbluebutton-html5/imports/api/annotations/server/methods/sendAnnotationHelper.js
Labels: Apps, HTML5 Client, Whiteboard

#10741 Properly stops userAgent / peer when audio connection/reconnection fails
  bigbluebutton-html5/imports/api/audio/client/bridge/sip.js
Labels: HTML5 Client
