Repository bigbluebutton/bigbluebutton, pull requests merged in 2020-07, with the labels that each got.

#9685 Make presentation area not visible when minimized
  bigbluebutton-html5/imports/ui/components/presentation/component.jsx
Labels: HTML5 Client

#9578 bbb-conf: respect underscore in nginx server_name
  bigbluebutton-config/bin/bbb-conf
Labels: signed-cla

#10003 Enable multiple webcams and network stats by default
  bigbluebutton-html5/private/config/settings.yml
Labels: HTML5 Client

#10023 Drop webcam when join a breakout room by clicking 'Join room'
  bigbluebutton-html5/imports/ui/components/breakout-room/component.jsx
Labels: HTML5 Client

#10021 Make some media connection timeouts configurable
  bigbluebutton-html5/imports/api/audio/client/bridge/kurento.js
  bigbluebutton-html5/imports/ui/components/video-provider/component.jsx
  bigbluebutton-html5/imports/ui/services/audio-manager/index.js
  bigbluebutton-html5/private/config/settings.yml
Labels: HTML5 Client

#9966 Implement a simple Panopto external video player
  bigbluebutton-html5/imports/ui/components/external-video-player/component.jsx
  bigbluebutton-html5/imports/ui/components/external-video-player/custom-players/panopto.jsx
  bigbluebutton-html5/imports/ui/components/external-video-player/service.js
  bigbluebutton-html5/imports/ui/components/fullscreen-button/styles.scss
  bigbluebutton-html5/imports/ui/components/presentation/download-presentation-button/styles.scss
Labels: HTML5 Client

#10030 Pulled HTML5 locales July 10, 2020
  bigbluebutton-html5/private/locales/ar.json
  bigbluebutton-html5/private/locales/az.json
  bigbluebutton-html5/private/locales/bg_BG.json
  bigbluebutton-html5/private/locales/ca.json
  bigbluebutton-html5/private/locales/cs_CZ.json
  bigbluebutton-html5/private/locales/da.json
  bigbluebutton-html5/private/locales/de.json
  bigbluebutton-html5/private/locales/el_GR.json
  bigbluebutton-html5/private/locales/es.json
  bigbluebutton-html5/private/locales/es_ES.json
  bigbluebutton-html5/private/locales/es_MX.json
  bigbluebutton-html5/private/locales/et.json
  bigbluebutton-html5/private/locales/eu.json
  bigbluebutton-html5/private/locales/fa_IR.json
  bigbluebutton-html5/private/locales/fi.json
  bigbluebutton-html5/private/locales/fr.json
  bigbluebutton-html5/private/locales/gl.json
  bigbluebutton-html5/private/locales/he.json
  bigbluebutton-html5/private/locales/hi_IN.json
  bigbluebutton-html5/private/locales/hr.json
  bigbluebutton-html5/private/locales/hu_HU.json
  bigbluebutton-html5/private/locales/id.json
  bigbluebutton-html5/private/locales/it_IT.json
  bigbluebutton-html5/private/locales/ja.json
  bigbluebutton-html5/private/locales/ja_JP.json
  bigbluebutton-html5/private/locales/ka_GE.json
  bigbluebutton-html5/private/locales/km.json
  bigbluebutton-html5/private/locales/kn.json
  bigbluebutton-html5/private/locales/ko_KR.json
  bigbluebutton-html5/private/locales/lt_LT.json
  bigbluebutton-html5/private/locales/lv.json
  bigbluebutton-html5/private/locales/nb_NO.json
  bigbluebutton-html5/private/locales/nl.json
  bigbluebutton-html5/private/locales/pl_PL.json
  bigbluebutton-html5/private/locales/pt.json
  bigbluebutton-html5/private/locales/pt_BR.json
  bigbluebutton-html5/private/locales/ro_RO.json
  bigbluebutton-html5/private/locales/ru.json
  bigbluebutton-html5/private/locales/ru_RU.json
  bigbluebutton-html5/private/locales/sk_SK.json
  bigbluebutton-html5/private/locales/sl.json
  bigbluebutton-html5/private/locales/sr.json
  bigbluebutton-html5/private/locales/sv_SE.json
  bigbluebutton-html5/private/locales/th.json
  bigbluebutton-html5/private/locales/th_TH.json
  bigbluebutton-html5/private/locales/tr.json
  bigbluebutton-html5/private/locales/tr_TR.json
  bigbluebutton-html5/private/locales/uk_UA.json
  bigbluebutton-html5/private/locales/vi_VN.json
  bigbluebutton-html5/private/locales/zh_CN.json
  bigbluebutton-html5/private/locales/zh_TW.json
Labels: HTML5 Client, Localization

#9728 Use main room user parameters in breakouts room
  bigbluebutton-html5/imports/api/users-settings/server/publishers.js
  bigbluebutton-html5/imports/startup/client/base.jsx
Labels: HTML5 Client

#9792 Fix missing leading zeros in conference number for 2.2.x
  bbb-common-web/src/main/java/org/bigbluebutton/api/ParamsProcessorUtil.java
Labels: Apps, signed-cla

#10027 Make List of waiting users scrollable
  bigbluebutton-html5/imports/ui/components/waiting-users/styles.scss
Labels: HTML5 Client

#10032 Adjust check for User.loggedOut to prevent errors
  bigbluebutton-html5/imports/startup/client/base.jsx
Labels: HTML5 Client

#10024 Ensure getURL value for breakout before redirecting
  bigbluebutton-html5/imports/ui/components/breakout-join-confirmation/component.jsx
Labels: HTML5 Client

#9498 Replace unsafe react lifecycle methods
  bigbluebutton-html5/imports/startup/client/intl.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/actions-dropdown/component.jsx
  bigbluebutton-html5/imports/ui/components/dropdown/component.jsx
  bigbluebutton-html5/imports/ui/components/media/container.jsx
  bigbluebutton-html5/imports/ui/components/presentation/cursor/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/cursor/container.jsx
  bigbluebutton-html5/imports/ui/components/screenshare/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/user-dropdown/component.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/annotations/pencil/component.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/annotations/poll/component.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-overlay/text-draw-listener/component.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-toolbar/toolbar-menu-item/component.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-toolbar/toolbar-submenu-item/component.jsx
Labels: HTML5 Client

#8729 Create layout context and add a layout manager
  bigbluebutton-html5/imports/startup/client/base.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/component.jsx
  bigbluebutton-html5/imports/ui/components/app/component.jsx
  bigbluebutton-html5/imports/ui/components/app/styles.scss
  bigbluebutton-html5/imports/ui/components/breakout-room/service.js
  bigbluebutton-html5/imports/ui/components/chat/alert/push-alert/component.jsx
  bigbluebutton-html5/imports/ui/components/chat/component.jsx
  bigbluebutton-html5/imports/ui/components/layout/context.jsx
  bigbluebutton-html5/imports/ui/components/layout/layout-manager.jsx
  bigbluebutton-html5/imports/ui/components/media/component.jsx
  bigbluebutton-html5/imports/ui/components/media/container.jsx
  bigbluebutton-html5/imports/ui/components/media/service.js
  bigbluebutton-html5/imports/ui/components/media/webcam-draggable-overlay/component.jsx
  bigbluebutton-html5/imports/ui/components/media/webcam-draggable-overlay/context.jsx
  bigbluebutton-html5/imports/ui/components/nav-bar/component.jsx
  bigbluebutton-html5/imports/ui/components/nav-bar/styles.scss
  bigbluebutton-html5/imports/ui/components/panel-manager/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/component.jsx
  bigbluebutton-html5/imports/ui/components/screenshare/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/chat-list-item/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/breakout-room/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/container.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/component.jsx
Labels: HTML5 Client

#10061 Auto select default.pdf after deleting the current presentation
  bigbluebutton-html5/imports/ui/components/presentation/presentation-uploader/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/presentation-uploader/styles.scss
Labels: HTML5 Client

#9958 Fix breakout autotest
  bigbluebutton-html5/tests/puppeteer/breakout.test.js
  bigbluebutton-html5/tests/puppeteer/breakout/create.js
  bigbluebutton-html5/tests/puppeteer/breakout/elements.js
  bigbluebutton-html5/tests/puppeteer/breakout/join.js
  bigbluebutton-html5/tests/puppeteer/breakout/util.js
Labels: HTML5 Client, QA

#10067 Clear private messages on meeting end
  bigbluebutton-html5/imports/api/group-chat-msg/server/modifiers/clearGroupChatMsg.js
Labels: HTML5 Client

#10075 Revert "Create layout context and add a layout manager"
  bigbluebutton-html5/imports/startup/client/base.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/component.jsx
  bigbluebutton-html5/imports/ui/components/app/component.jsx
  bigbluebutton-html5/imports/ui/components/app/styles.scss
  bigbluebutton-html5/imports/ui/components/breakout-room/service.js
  bigbluebutton-html5/imports/ui/components/chat/alert/push-alert/component.jsx
  bigbluebutton-html5/imports/ui/components/chat/component.jsx
  bigbluebutton-html5/imports/ui/components/layout/context.jsx
  bigbluebutton-html5/imports/ui/components/layout/layout-manager.jsx
  bigbluebutton-html5/imports/ui/components/media/component.jsx
  bigbluebutton-html5/imports/ui/components/media/container.jsx
  bigbluebutton-html5/imports/ui/components/media/service.js
  bigbluebutton-html5/imports/ui/components/media/webcam-draggable-overlay/component.jsx
  bigbluebutton-html5/imports/ui/components/media/webcam-draggable-overlay/context.jsx
  bigbluebutton-html5/imports/ui/components/nav-bar/component.jsx
  bigbluebutton-html5/imports/ui/components/nav-bar/styles.scss
  bigbluebutton-html5/imports/ui/components/panel-manager/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/component.jsx
  bigbluebutton-html5/imports/ui/components/screenshare/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/chat-list-item/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/breakout-room/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/container.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/component.jsx
Labels: HTML5 Client

#10077 Revert "Replace unsafe react lifecycle methods"
  bigbluebutton-html5/imports/startup/client/intl.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/actions-dropdown/component.jsx
  bigbluebutton-html5/imports/ui/components/dropdown/component.jsx
  bigbluebutton-html5/imports/ui/components/media/container.jsx
  bigbluebutton-html5/imports/ui/components/presentation/cursor/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/cursor/container.jsx
  bigbluebutton-html5/imports/ui/components/screenshare/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/user-dropdown/component.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/annotations/pencil/component.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/annotations/poll/component.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-overlay/text-draw-listener/component.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-toolbar/toolbar-menu-item/component.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-toolbar/toolbar-submenu-item/component.jsx
Labels: HTML5 Client

#10090 Update Meteor from 1.9 to 1.10.2
  bigbluebutton-html5/.meteor/packages
  bigbluebutton-html5/.meteor/release
  bigbluebutton-html5/.meteor/versions
  bigbluebutton-html5/package-lock.json
  bigbluebutton-html5/package.json
Labels: HTML5 Client

#9006 Update meteor from 1.9 to 1.10.1
  bigbluebutton-html5/.meteor/packages
  bigbluebutton-html5/.meteor/release
  bigbluebutton-html5/.meteor/versions
Labels: HTML5 Client

#10080 added post_events scripts (example and analytics callback)
  record-and-playback/core/Gemfile
  record-and-playback/core/Gemfile.lock
  record-and-playback/core/scripts/post_events/post_events.rb.example
  record-and-playback/core/scripts/post_events/post_events_analytics_callback.rb
Labels: Recording

#10103 Update lodash and node-sass versions
  bigbluebutton-html5/package-lock.json
  bigbluebutton-html5/package.json
Labels: HTML5 Client

#10071 Collect more bigbluebutton nginx access logs in bbb-conf --zip
  bigbluebutton-config/bin/bbb-conf
Labels: Enhancement

#8758 Multiple webcams stop all button
  bigbluebutton-html5/imports/ui/components/video-preview/component.jsx
  bigbluebutton-html5/imports/ui/components/video-preview/container.jsx
  bigbluebutton-html5/imports/ui/components/video-preview/styles.scss
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#10114 Display tooltips when presentation is fullscreen view
  bigbluebutton-html5/imports/ui/components/button/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/presentation-toolbar/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/presentation-toolbar/styles.scss
  bigbluebutton-html5/imports/ui/components/tooltip/component.jsx
  bigbluebutton-html5/imports/ui/components/tooltip/container.jsx
Labels: HTML5 Client

#10089 Sanitize data in addUser
  bigbluebutton-html5/imports/api/users/server/modifiers/addUser.js
  bigbluebutton-html5/imports/ui/components/chat/message-list/message-list-item/message/component.jsx
  bigbluebutton-html5/package-lock.json
  bigbluebutton-html5/package.json
Labels: HTML5 Client

#10128 Sanitize data v2.2 - Add tag br in whitelist
  bigbluebutton-html5/imports/ui/components/chat/message-list/message-list-item/message/component.jsx
Labels: HTML5 Client

#9964 Improve toast notification for raised hands
  bigbluebutton-html5/imports/ui/components/app/component.jsx
  bigbluebutton-html5/imports/ui/components/settings/component.jsx
  bigbluebutton-html5/imports/ui/components/settings/submenus/notification/component.jsx
  bigbluebutton-html5/imports/ui/components/status-notifier/component.jsx
  bigbluebutton-html5/imports/ui/components/status-notifier/container.jsx
  bigbluebutton-html5/imports/ui/components/status-notifier/styles.scss
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/container.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/user-dropdown/component.jsx
  bigbluebutton-html5/imports/ui/stylesheets/variables/typography.scss
  bigbluebutton-html5/private/locales/en.json
Labels: Enhancement, HTML5 Client

#8464 Non-blocking presentation upload
  bigbluebutton-html5/imports/ui/components/actions-bar/actions-dropdown/component.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/actions-dropdown/container.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/component.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/container.jsx
  bigbluebutton-html5/imports/ui/components/app/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/presentation-uploader/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/presentation-uploader/container.jsx
  bigbluebutton-html5/imports/ui/components/presentation/presentation-uploader/styles.scss
  bigbluebutton-html5/imports/ui/components/toast/styles.scss
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#9529 Rework locales list generation
  bigbluebutton-html5/imports/startup/server/index.js
  bigbluebutton-html5/imports/ui/components/settings/component.jsx
  bigbluebutton-html5/imports/ui/components/settings/submenus/application/component.jsx
  bigbluebutton-html5/imports/ui/components/settings/submenus/styles.scss
Labels: HTML5 Client

#10133 Add missing package-lock info for "hark"
  bigbluebutton-html5/package-lock.json
Labels: HTML5 Client

#10134 Set raise hand notification / sound on by default
  bigbluebutton-html5/private/config/settings.yml
Labels: HTML5 Client

#10144 Add Layout Context and Layout Manager
  bigbluebutton-html5/imports/startup/client/base.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/component.jsx
  bigbluebutton-html5/imports/ui/components/app/component.jsx
  bigbluebutton-html5/imports/ui/components/app/styles.scss
  bigbluebutton-html5/imports/ui/components/breakout-room/service.js
  bigbluebutton-html5/imports/ui/components/chat/alert/push-alert/component.jsx
  bigbluebutton-html5/imports/ui/components/chat/component.jsx
  bigbluebutton-html5/imports/ui/components/layout/context.jsx
  bigbluebutton-html5/imports/ui/components/layout/layout-manager.jsx
  bigbluebutton-html5/imports/ui/components/media/component.jsx
  bigbluebutton-html5/imports/ui/components/media/container.jsx
  bigbluebutton-html5/imports/ui/components/media/service.js
  bigbluebutton-html5/imports/ui/components/media/webcam-draggable-overlay/component.jsx
  bigbluebutton-html5/imports/ui/components/media/webcam-draggable-overlay/context.jsx
  bigbluebutton-html5/imports/ui/components/nav-bar/component.jsx
  bigbluebutton-html5/imports/ui/components/nav-bar/styles.scss
  bigbluebutton-html5/imports/ui/components/panel-manager/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/component.jsx
  bigbluebutton-html5/imports/ui/components/screenshare/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/chat-list-item/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/breakout-room/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/container.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/component.jsx
Labels: HTML5 Client

#10147 Pulled HTML5 locales on July 29, 2020
  bigbluebutton-html5/imports/startup/client/intl.jsx
  bigbluebutton-html5/private/locales/eo.json
  bigbluebutton-html5/private/locales/fa_IR.json
  bigbluebutton-html5/private/locales/gl.json
  bigbluebutton-html5/private/locales/id.json
  bigbluebutton-html5/private/locales/pt_BR.json
  bigbluebutton-html5/private/locales/sv_SE.json
  bigbluebutton-html5/private/locales/te.json
  bigbluebutton-html5/private/locales/uk_UA.json
  bigbluebutton-html5/private/locales/zh_TW.json
Labels: HTML5 Client, Localization

#10146 Sanitized modOnlyMessage prior to using it
  bigbluebutton-html5/imports/api/meetings/server/modifiers/addMeeting.js
  bigbluebutton-html5/imports/ui/components/chat/message-list/message-list-item/message/component.jsx
  bigbluebutton-html5/imports/ui/components/join-handler/component.jsx
Labels: HTML5 Client

#10152 Allow img tag in welcome and modOnly messages
  bigbluebutton-html5/imports/api/meetings/server/modifiers/addMeeting.js
  bigbluebutton-html5/imports/ui/components/join-handler/component.jsx
Labels: HTML5 Client

#10153 Only allow for https uri in welcome and modOnly messages
  bigbluebutton-html5/imports/api/meetings/server/modifiers/addMeeting.js
  bigbluebutton-html5/imports/ui/components/join-handler/component.jsx
  bigbluebutton-web/grails-app/conf/bigbluebutton.properties
Labels: HTML5 Client

#10171 Prevent negative values being used in presentation height / width
  bigbluebutton-html5/imports/ui/components/presentation/component.jsx
Labels: HTML5 Client

#10172 Add aria-label to whiteboard poll result
  bigbluebutton-html5/imports/ui/components/whiteboard/annotations/poll/component.jsx
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client
