Repository bigbluebutton/bigbluebutton, pull requests merged in 2020-11, with the labels that each got.

#10742 Prevent users from sending multiple votes per poll
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/models/Polls.scala
  bigbluebutton-html5/imports/api/polls/server/methods/publishVote.js
  bigbluebutton-html5/imports/ui/components/polling/service.js
Labels: HTML5 Client, Polling

#10704 Add error boundary to presentation upload modal
  bigbluebutton-html5/imports/ui/components/fallback-errors/fallback-modal/component.jsx
  bigbluebutton-html5/imports/ui/components/fallback-errors/fallback-view/component.jsx
  bigbluebutton-html5/imports/ui/components/fallback-errors/fallback-view/styles.scss
  bigbluebutton-html5/imports/ui/components/presentation-pod/container.jsx
  bigbluebutton-html5/imports/ui/components/presentation/presentation-uploader/container.jsx
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#10817 Simplified redis debug and placed behind check
  bigbluebutton-html5/imports/startup/server/redis.js
Labels: HTML5 Client

#10824 Pulled HTML5 locales on Nov 13, 2020
  bigbluebutton-html5/private/locales/ar.json
  bigbluebutton-html5/private/locales/az.json
  bigbluebutton-html5/private/locales/bg_BG.json
  bigbluebutton-html5/private/locales/ca.json
  bigbluebutton-html5/private/locales/cs_CZ.json
  bigbluebutton-html5/private/locales/da.json
  bigbluebutton-html5/private/locales/de.json
  bigbluebutton-html5/private/locales/el_GR.json
  bigbluebutton-html5/private/locales/eo.json
  bigbluebutton-html5/private/locales/es.json
  bigbluebutton-html5/private/locales/es_ES.json
  bigbluebutton-html5/private/locales/es_MX.json
  bigbluebutton-html5/private/locales/et.json
  bigbluebutton-html5/private/locales/eu.json
  bigbluebutton-html5/private/locales/fa_IR.json
  bigbluebutton-html5/private/locales/fi.json
  bigbluebutton-html5/private/locales/fr.json
  bigbluebutton-html5/private/locales/gl.json
  bigbluebutton-html5/private/locales/he.json
  bigbluebutton-html5/private/locales/hi_IN.json
  bigbluebutton-html5/private/locales/hu_HU.json
  bigbluebutton-html5/private/locales/id.json
  bigbluebutton-html5/private/locales/it_IT.json
  bigbluebutton-html5/private/locales/ja.json
  bigbluebutton-html5/private/locales/ja_JP.json
  bigbluebutton-html5/private/locales/ka_GE.json
  bigbluebutton-html5/private/locales/km.json
  bigbluebutton-html5/private/locales/kn.json
  bigbluebutton-html5/private/locales/ko_KR.json
  bigbluebutton-html5/private/locales/lv.json
  bigbluebutton-html5/private/locales/nb_NO.json
  bigbluebutton-html5/private/locales/nl.json
  bigbluebutton-html5/private/locales/pl_PL.json
  bigbluebutton-html5/private/locales/pt.json
  bigbluebutton-html5/private/locales/pt_BR.json
  bigbluebutton-html5/private/locales/ro_RO.json
  bigbluebutton-html5/private/locales/ru.json
  bigbluebutton-html5/private/locales/ru_RU.json
  bigbluebutton-html5/private/locales/sk_SK.json
  bigbluebutton-html5/private/locales/sl.json
  bigbluebutton-html5/private/locales/sr.json
  bigbluebutton-html5/private/locales/sv_SE.json
  bigbluebutton-html5/private/locales/te.json
  bigbluebutton-html5/private/locales/th.json
  bigbluebutton-html5/private/locales/th_TH.json
  bigbluebutton-html5/private/locales/tr.json
  bigbluebutton-html5/private/locales/tr_TR.json
  bigbluebutton-html5/private/locales/uk_UA.json
  bigbluebutton-html5/private/locales/vi_VN.json
  bigbluebutton-html5/private/locales/zh_CN.json
  bigbluebutton-html5/private/locales/zh_TW.json
Labels: HTML5 Client, Localization

#10848 Fix audio modal buttons (MIC/LISTEN) after errors AND prevent Error 1006 when user has two or more occurrences of ':'
  bigbluebutton-html5/imports/api/audio/client/bridge/sip.js
  bigbluebutton-html5/imports/ui/components/audio/audio-modal/component.jsx
  bigbluebutton-html5/imports/ui/components/nav-bar/talking-indicator/container.jsx
Labels: HTML5 Client

#10860 Support for parallel bbb-html5 nodejs processes. Part 1
  bigbluebutton-html5/imports/startup/client/intl.jsx
  bigbluebutton-html5/imports/startup/server/redis.js
  bigbluebutton-html5/imports/ui/components/legacy/component.jsx
  bigbluebutton-html5/imports/ui/components/meeting-ended/component.jsx
  bigbluebutton-html5/imports/ui/components/settings/service.js
  bigbluebutton-web/grails-app/conf/bigbluebutton.properties
  bigbluebutton-web/grails-app/controllers/org/bigbluebutton/web/controllers/ApiController.groovy
Labels: Enhancement, HTML5 Client

#10868 parse instanceId as int; develop on port 4000
  bigbluebutton-html5/imports/startup/server/redis.js
  bigbluebutton-html5/package.json
Labels: HTML5 Client

#10870 Breakouts: do not allow mute via who-is-talking button
  bigbluebutton-config/bigbluebutton-release
  bigbluebutton-html5/imports/ui/components/nav-bar/talking-indicator/component.jsx
  bigbluebutton-html5/imports/ui/components/nav-bar/talking-indicator/container.jsx
Labels: HTML5 Client

#10888 Reduce delay for the first reconnection attempt of audio's websocket
  bigbluebutton-html5/imports/api/audio/client/bridge/sip.js
Labels: HTML5 Client, audio

#10889 Removed string interpolation for server debug and verbose logs
  bigbluebutton-html5/imports/api/annotations/server/publishers.js
  bigbluebutton-html5/imports/api/breakouts/server/publishers.js
  bigbluebutton-html5/imports/api/captions/server/methods/appendText.js
  bigbluebutton-html5/imports/api/captions/server/modifiers/addCaption.js
  bigbluebutton-html5/imports/api/captions/server/modifiers/updateOwnerId.js
  bigbluebutton-html5/imports/api/captions/server/modifiers/updatePad.js
  bigbluebutton-html5/imports/api/captions/server/modifiers/updateReadOnlyPadId.js
  bigbluebutton-html5/imports/api/captions/server/publishers.js
  bigbluebutton-html5/imports/api/cursor/server/handlers/cursorUpdate.js
  bigbluebutton-html5/imports/api/cursor/server/modifiers/updateCursor.js
  bigbluebutton-html5/imports/api/cursor/server/streamer.js
  bigbluebutton-html5/imports/api/external-videos/server/methods/initializeExternalVideo.js
  bigbluebutton-html5/imports/api/group-chat-msg/server/modifiers/startTyping.js
  bigbluebutton-html5/imports/api/group-chat-msg/server/modifiers/stopTyping.js
  bigbluebutton-html5/imports/api/group-chat-msg/server/publishers.js
  bigbluebutton-html5/imports/api/group-chat/server/publishers.js
  bigbluebutton-html5/imports/api/local-settings/server/publishers.js
  bigbluebutton-html5/imports/api/meetings/server/methods/transferUser.js
  bigbluebutton-html5/imports/api/meetings/server/publishers.js
  bigbluebutton-html5/imports/api/network-information/server/methods/userInstabilityDetected.js
  bigbluebutton-html5/imports/api/note/server/modifiers/updateNote.js
  bigbluebutton-html5/imports/api/polls/server/publishers.js
  bigbluebutton-html5/imports/api/presentation-pods/server/publishers.js
  bigbluebutton-html5/imports/api/presentation-upload-token/server/publishers.js
  bigbluebutton-html5/imports/api/presentations/server/handlers/presentationConversionUpdate.js
  bigbluebutton-html5/imports/api/presentations/server/publishers.js
  bigbluebutton-html5/imports/api/screenshare/server/publishers.js
  bigbluebutton-html5/imports/api/slides/server/modifiers/resizeSlide.js
  bigbluebutton-html5/imports/api/slides/server/publishers.js
  bigbluebutton-html5/imports/api/users-infos/server/publishers.js
  bigbluebutton-html5/imports/api/users-settings/server/modifiers/addUserSetting.js
  bigbluebutton-html5/imports/api/users-settings/server/publishers.js
  bigbluebutton-html5/imports/api/users/server/methods/assignPresenter.js
  bigbluebutton-html5/imports/api/users/server/methods/changeRole.js
  bigbluebutton-html5/imports/api/users/server/methods/setEmojiStatus.js
  bigbluebutton-html5/imports/api/users/server/methods/setUserEffectiveConnectionType.js
  bigbluebutton-html5/imports/api/users/server/methods/toggleUserLock.js
  bigbluebutton-html5/imports/api/users/server/publishers.js
  bigbluebutton-html5/imports/api/video-streams/server/publisher.js
  bigbluebutton-html5/imports/api/voice-call-states/server/handlers/voiceCallStateEvent.js
  bigbluebutton-html5/imports/api/voice-call-states/server/publishers.js
  bigbluebutton-html5/imports/api/voice-users/server/modifiers/updateVoiceUser.js
  bigbluebutton-html5/imports/api/voice-users/server/publishers.js
  bigbluebutton-html5/imports/api/whiteboard-multi-user/server/publishers.js
Labels: HTML5 Client

#10910 Reduce server side logging
  bigbluebutton-html5/imports/api/cursor/server/handlers/cursorUpdate.js
  bigbluebutton-html5/imports/api/external-videos/server/methods/initializeExternalVideo.js
  bigbluebutton-html5/private/config/settings.yml
Labels: HTML5 Client

#10917 Pulled HTML5 locales, Nov 27, 2020
  bigbluebutton-html5/private/locales/ca.json
  bigbluebutton-html5/private/locales/cs_CZ.json
  bigbluebutton-html5/private/locales/de.json
  bigbluebutton-html5/private/locales/eu.json
  bigbluebutton-html5/private/locales/pt.json
  bigbluebutton-html5/private/locales/sl.json
  bigbluebutton-html5/private/locales/sv_SE.json
  bigbluebutton-html5/private/locales/zh_TW.json
Labels: HTML5 Client, Localization

#10918 First version of a PeerTube player
  bigbluebutton-html5/imports/ui/components/external-video-player/component.jsx
  bigbluebutton-html5/imports/ui/components/external-video-player/custom-players/peertube.jsx
Labels: HTML5 Client, externalVideo

#10925 Allow mirroring individual webcams
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/video-list-item/component.jsx
  bigbluebutton-html5/private/locales/en.json
Labels: Video

#10933 Include instanceId in resources url
  bigbluebutton-html5/imports/api/captions/server/helpers.js
  bigbluebutton-html5/imports/startup/client/base.jsx
  bigbluebutton-html5/imports/startup/server/index.js
  bigbluebutton-html5/imports/startup/server/redis.js
  bigbluebutton-html5/imports/startup/server/settings.js
  bigbluebutton-html5/imports/ui/components/activity-check/component.jsx
  bigbluebutton-html5/imports/ui/components/audio/audio-test/container.jsx
  bigbluebutton-html5/imports/ui/components/chat/alert/audio-alert/component.jsx
  bigbluebutton-html5/imports/ui/components/polling/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/presentation-overlay/component.jsx
  bigbluebutton-html5/imports/ui/components/screenshare/service.js
  bigbluebutton-html5/imports/ui/components/status-notifier/component.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-overlay/pencil-draw-listener/component.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-overlay/shape-draw-listener/component.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-overlay/text-draw-listener/component.jsx
  bigbluebutton-html5/imports/ui/services/audio-manager/index.js
  bigbluebutton-html5/private/config/settings.yml
Labels: HTML5 Client

#10921 Only set panel settings to login defaults on login, not everytime the…
  bigbluebutton-html5/imports/startup/client/base.jsx
Labels: HTML5 Client
