Repository bigbluebutton/bigbluebutton, pull requests merged in 2020-12, with the labels that each got.

#10953 Add uncaught error log and fix custom heartbeat problem
  bigbluebutton-html5/imports/startup/server/index.js
Labels: HTML5 Client

#9489 [FIX] playback doesn't start in iPadOS and [FIX] `bb-record --check` is broken
  bigbluebutton-config/bin/bbb-record
  record-and-playback/presentation/playback/presentation/2.0/lib/writing.js
Labels: Recording, signed-cla

#10390 Add Debug window
  bigbluebutton-html5/imports/startup/client/base.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/component.jsx
  bigbluebutton-html5/imports/ui/components/debug-window/component.jsx
  bigbluebutton-html5/imports/ui/components/debug-window/styles.scss
  bigbluebutton-html5/imports/ui/components/presentation/component.jsx
  bigbluebutton-html5/private/config/settings.yml
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client, Layout

#10984 Fix: Presentation publishing fails when run on NFS storage
  record-and-playback/presentation/scripts/publish/presentation.rb
Labels: Bug, Recording

#10995 2.2.x: Fix voiceBridge collision
  bbb-common-web/src/main/java/org/bigbluebutton/api/ApiErrors.java
  bbb-common-web/src/main/java/org/bigbluebutton/api/MeetingService.java
  bigbluebutton-web/grails-app/controllers/org/bigbluebutton/web/controllers/ApiController.groovy
Labels: Bug

#11006 Add keep alive message to audio's websocket
  bigbluebutton-html5/imports/api/audio/client/bridge/sip.js
  bigbluebutton-html5/private/config/settings.yml
Labels: audio

#11044 Handle ejected presenter case, add missing videoDock locales
  bigbluebutton-html5/imports/ui/components/actions-bar/service.js
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#11045 Pulled HTML5 locales on 2.3, Dec 18, 2020
  bigbluebutton-html5/private/config/fallbackLocales.json
  bigbluebutton-html5/private/locales/ar.json
  bigbluebutton-html5/private/locales/az.json
  bigbluebutton-html5/private/locales/bg_BG.json
  bigbluebutton-html5/private/locales/ca.json
  bigbluebutton-html5/private/locales/cs_CZ.json
  bigbluebutton-html5/private/locales/da.json
  bigbluebutton-html5/private/locales/de.json
  bigbluebutton-html5/private/locales/el_GR.json
  bigbluebutton-html5/private/locales/eo.json
  bigbluebutton-html5/private/locales/es.json
  bigbluebutton-html5/private/locales/es_ES.json
  bigbluebutton-html5/private/locales/es_MX.json
  bigbluebutton-html5/private/locales/et.json
  bigbluebutton-html5/private/locales/eu.json
  bigbluebutton-html5/private/locales/fa_IR.json
  bigbluebutton-html5/private/locales/fi.json
  bigbluebutton-html5/private/locales/fr.json
  bigbluebutton-html5/private/locales/gl.json
  bigbluebutton-html5/private/locales/he.json
  bigbluebutton-html5/private/locales/hi_IN.json
  bigbluebutton-html5/private/locales/hr.json
  bigbluebutton-html5/private/locales/hu_HU.json
  bigbluebutton-html5/private/locales/id.json
  bigbluebutton-html5/private/locales/it_IT.json
  bigbluebutton-html5/private/locales/ja.json
  bigbluebutton-html5/private/locales/ja_JP.json
  bigbluebutton-html5/private/locales/ka.json
  bigbluebutton-html5/private/locales/kk.json
  bigbluebutton-html5/private/locales/km.json
  bigbluebutton-html5/private/locales/kn.json
  bigbluebutton-html5/private/locales/ko_KR.json
  bigbluebutton-html5/private/locales/lt_LT.json
  bigbluebutton-html5/private/locales/lv.json
  bigbluebutton-html5/private/locales/mn_MN.json
  bigbluebutton-html5/private/locales/nb_NO.json
  bigbluebutton-html5/private/locales/nl.json
  bigbluebutton-html5/private/locales/pl_PL.json
  bigbluebutton-html5/private/locales/pt.json
  bigbluebutton-html5/private/locales/pt_BR.json
  bigbluebutton-html5/private/locales/ro_RO.json
  bigbluebutton-html5/private/locales/ru.json
  bigbluebutton-html5/private/locales/ru_RU.json
  bigbluebutton-html5/private/locales/sk_SK.json
  bigbluebutton-html5/private/locales/sl.json
  bigbluebutton-html5/private/locales/sr.json
  bigbluebutton-html5/private/locales/sv_SE.json
  bigbluebutton-html5/private/locales/te.json
  bigbluebutton-html5/private/locales/th.json
  bigbluebutton-html5/private/locales/th_TH.json
  bigbluebutton-html5/private/locales/tr.json
  bigbluebutton-html5/private/locales/tr_TR.json
  bigbluebutton-html5/private/locales/uk_UA.json
  bigbluebutton-html5/private/locales/vi_VN.json
  bigbluebutton-html5/private/locales/zh_CN.json
  bigbluebutton-html5/private/locales/zh_TW.json
Labels: HTML5 Client, Localization

#11046 settings.yml media configs incorrectly placed under "stats"
  bigbluebutton-html5/private/config/settings.yml
Labels: HTML5 Client

#10604 Fix slide size problem at fullscreen <-> window-mode transition
  bigbluebutton-html5/imports/ui/components/presentation/component.jsx
Labels: HTML5 Client
