Repository bigbluebutton/bigbluebutton, pull requests merged in 2020-09, with the labels that each got.

#10367 A bug in rap-starter.rb
  record-and-playback/core/scripts/rap-starter.rb
Labels: Recording

#10382 Fix presentation width of undefined or null
  bigbluebutton-html5/imports/ui/components/presentation/component.jsx
Labels: HTML5 Client

#10389 Add check when start/stop an external video
  bigbluebutton-html5/imports/api/external-videos/server/methods/startWatchingExternalVideo.js
  bigbluebutton-html5/imports/api/external-videos/server/methods/stopWatchingExternalVideo.js
Labels: HTML5 Client

#10396 Prevent non presenters to start/stop an external video
  bigbluebutton-html5/imports/api/external-videos/server/methods/startWatchingExternalVideo.js
  bigbluebutton-html5/imports/api/external-videos/server/methods/stopWatchingExternalVideo.js
Labels: HTML5 Client

#10410 Normalize custom parameters
  bigbluebutton-html5/imports/api/users-settings/server/methods/addUserSettings.js
  bigbluebutton-html5/imports/ui/components/media/container.jsx
Labels: HTML5 Client

#10411 Fix banned users log
  bigbluebutton-html5/imports/api/meetings/server/modifiers/meetingHasEnded.js
  bigbluebutton-html5/imports/api/users/server/store/bannedUsers.js
Labels: HTML5 Client

#10416 Add rtl to userItem
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/user-dropdown/component.jsx
Labels: HTML5 Client

#10422 Pulled HTML5 locales Sept 9, 2020
  bigbluebutton-html5/private/locales/de.json
  bigbluebutton-html5/private/locales/es.json
  bigbluebutton-html5/private/locales/fa_IR.json
  bigbluebutton-html5/private/locales/fr.json
  bigbluebutton-html5/private/locales/gl.json
  bigbluebutton-html5/private/locales/ja.json
  bigbluebutton-html5/private/locales/ja_JP.json
  bigbluebutton-html5/private/locales/ko_KR.json
  bigbluebutton-html5/private/locales/nl.json
  bigbluebutton-html5/private/locales/pt.json
  bigbluebutton-html5/private/locales/ro_RO.json
  bigbluebutton-html5/private/locales/zh_CN.json
  bigbluebutton-html5/private/locales/zh_TW.json
Labels: HTML5 Client, Localization

#10423 Add a client-side microphone mute/unmute
  bigbluebutton-html5/imports/ui/services/audio-manager/index.js
Labels: HTML5 Client

#10424 Add individual messages to video disable
  bigbluebutton-html5/imports/ui/components/video-provider/service.js
  bigbluebutton-html5/imports/ui/components/video-provider/video-button/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/video-button/container.jsx
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#10419 adds webcams layout test suite
  bigbluebutton-html5/tests/puppeteer/core/page.js
  bigbluebutton-html5/tests/puppeteer/run.sh
  bigbluebutton-html5/tests/puppeteer/webcam/elements.js
  bigbluebutton-html5/tests/puppeteer/webcam/util.js
  bigbluebutton-html5/tests/puppeteer/webcam/webcamlayout.js
  bigbluebutton-html5/tests/puppeteer/webcamlayout.obj.js
  bigbluebutton-html5/tests/puppeteer/webcamlayout.test.js
Labels: HTML5 Client, QA

#10342 fixes custom paramters autotest
  bigbluebutton-html5/tests/puppeteer/customparameters.obj.js
  bigbluebutton-html5/tests/puppeteer/customparameters/constants.js
  bigbluebutton-html5/tests/puppeteer/customparameters/customparameters.js
  bigbluebutton-html5/tests/puppeteer/customparameters/util.js
Labels: HTML5 Client, QA

#10429 video-provider: fix mesh stream sorting with multiple cameras
  bigbluebutton-html5/imports/ui/components/video-provider/service.js
Labels: HTML5 Client, Video

#10412 Add override default locale to user settings
  bigbluebutton-html5/imports/api/users-settings/server/methods/addUserSettings.js
  bigbluebutton-html5/imports/startup/client/intl.jsx
Labels: HTML5 Client

#9674 Update react-intl and add fallback to unsupported languages
  bigbluebutton-html5/imports/startup/client/intl.jsx
  bigbluebutton-html5/imports/startup/server/index.js
  bigbluebutton-html5/imports/ui/components/actions-bar/actions-dropdown/component.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/captions/component.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/create-breakout-room/component.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/desktop-share/component.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/presentation-options/component.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/quick-poll-dropdown/component.jsx
  bigbluebutton-html5/imports/ui/components/activity-check/component.jsx
  bigbluebutton-html5/imports/ui/components/app/component.jsx
  bigbluebutton-html5/imports/ui/components/audio/audio-controls/component.jsx
  bigbluebutton-html5/imports/ui/components/audio/audio-dial/component.jsx
  bigbluebutton-html5/imports/ui/components/audio/audio-modal/component.jsx
  bigbluebutton-html5/imports/ui/components/audio/audio-settings/component.jsx
  bigbluebutton-html5/imports/ui/components/audio/audio-test/component.jsx
  bigbluebutton-html5/imports/ui/components/audio/autoplay/component.jsx
  bigbluebutton-html5/imports/ui/components/audio/echo-test/component.jsx
  bigbluebutton-html5/imports/ui/components/audio/permissions-overlay/component.jsx
  bigbluebutton-html5/imports/ui/components/breakout-join-confirmation/component.jsx
  bigbluebutton-html5/imports/ui/components/chat/message-form/component.jsx
  bigbluebutton-html5/imports/ui/components/chat/message-form/typing-indicator/component.jsx
  bigbluebutton-html5/imports/ui/components/dropdown/component.jsx
  bigbluebutton-html5/imports/ui/components/end-meeting-confirmation/component.jsx
  bigbluebutton-html5/imports/ui/components/fullscreen-button/component.jsx
  bigbluebutton-html5/imports/ui/components/legacy/component.jsx
  bigbluebutton-html5/imports/ui/components/media/container.jsx
  bigbluebutton-html5/imports/ui/components/meeting-ended/rating/component.jsx
  bigbluebutton-html5/imports/ui/components/nav-bar/recording-indicator/component.jsx
  bigbluebutton-html5/imports/ui/components/nav-bar/settings-dropdown/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/download-presentation-button/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/presentation-toolbar/zoom-tool/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/presentation-uploader/component.jsx
  bigbluebutton-html5/imports/ui/components/recording/component.jsx
  bigbluebutton-html5/imports/ui/components/screenshare/component.jsx
  bigbluebutton-html5/imports/ui/components/settings/component.jsx
  bigbluebutton-html5/imports/ui/components/shortcut-help/component.jsx
  bigbluebutton-html5/imports/ui/components/user-info/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/captions-list-item/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-options/container.jsx
  bigbluebutton-html5/imports/ui/components/video-preview/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/video-button/component.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/annotations/poll/component.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-toolbar/component.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-toolbar/toolbar-submenu/component.jsx
  bigbluebutton-html5/package-lock.json
  bigbluebutton-html5/package.json
  bigbluebutton-html5/private/config/fallbackLocales.json
Labels: HTML5 Client

#10433 audio-manager: refactor client-side mute/unmute
  bigbluebutton-html5/imports/ui/services/audio-manager/index.js
Labels: HTML5 Client

#10434 Configurable max number of breakout rooms
  bigbluebutton-html5/imports/api/breakouts/server/methods/createBreakout.js
  bigbluebutton-html5/imports/ui/components/actions-bar/create-breakout-room/component.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/create-breakout-room/styles.scss
  bigbluebutton-html5/imports/ui/components/breakout-room/component.jsx
  bigbluebutton-html5/private/config/settings.yml
Labels: Enhancement, HTML5 Client

#10431 screenshare: make presenter's screenshare preview local instead of remote
  bigbluebutton-html5/imports/api/screenshare/client/bridge/kurento.js
  bigbluebutton-html5/imports/ui/components/screenshare/service.js
  bigbluebutton-html5/imports/ui/components/user-list/service.js
  bigbluebutton-html5/imports/ui/components/video-provider/service.js
Labels: HTML5 Client

#10218 Remove unsafe lifecycle from all media and presentation components
  bigbluebutton-html5/imports/ui/components/media/container.jsx
  bigbluebutton-html5/imports/ui/components/presentation/cursor/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/cursor/container.jsx
  bigbluebutton-html5/imports/ui/components/screenshare/component.jsx
Labels: HTML5 Client

#10341 Fix bug when alternate panel. Fix external video size
  bigbluebutton-html5/imports/ui/components/chat/message-list/component.jsx
  bigbluebutton-html5/imports/ui/components/external-video-player/component.jsx
  bigbluebutton-html5/imports/ui/components/layout/layout-manager.jsx
  bigbluebutton-html5/imports/ui/components/panel-manager/component.jsx
Labels: HTML5 Client

#10438 Fix misalign in presenter useritem
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/user-dropdown/styles.scss
Labels: HTML5 Client

#10440 audio-manager: shortcut on setSenderTrackEnabled when in listen only
  bigbluebutton-html5/imports/ui/services/audio-manager/index.js
Labels: HTML5 Client

#10455 In Breakouts close the tab if the user intentionally selects Leave -> OK
  bigbluebutton-html5/imports/ui/components/meeting-ended/component.jsx
Labels: HTML5 Client, breakouts

#10493 Fix last name sort function for save user names
  bigbluebutton-html5/imports/ui/components/user-list/service.js
Labels: HTML5 Client

#10458 Support for avatar images
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/apps/users/RegisterUserReqMsgHdlr.scala
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/models/GuestsWaiting.scala
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core2/message/senders/MsgBuilder.scala
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core2/testdata/FakeTestData.scala
  bbb-common-message/src/main/scala/org/bigbluebutton/common2/msgs/GuestsMsgs.scala
  bbb-common-web/src/main/java/org/bigbluebutton/api/MeetingService.java
  bbb-common-web/src/main/java/org/bigbluebutton/api/ParamsProcessorUtil.java
  bigbluebutton-html5/imports/ui/components/chat/message-list/message-list-item/component.jsx
  bigbluebutton-html5/imports/ui/components/chat/service.js
  bigbluebutton-html5/imports/ui/components/connection-status/modal/component.jsx
  bigbluebutton-html5/imports/ui/components/connection-status/modal/styles.scss
  bigbluebutton-html5/imports/ui/components/connection-status/service.js
  bigbluebutton-html5/imports/ui/components/user-avatar/component.jsx
  bigbluebutton-html5/imports/ui/components/user-avatar/styles.scss
  bigbluebutton-html5/imports/ui/components/user-list/chat-list-item/chat-avatar/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/chat-list-item/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/service.js
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/user-dropdown/component.jsx
  bigbluebutton-html5/imports/ui/components/waiting-users/component.jsx
  bigbluebutton-web/grails-app/conf/bigbluebutton.properties
  bigbluebutton-web/grails-app/conf/spring/resources.xml
Labels: Enhancement, HTML5 Client

#9979 Move guest wait
  bigbluebutton-client/resources/prod/guest-wait.html
  bigbluebutton-client/resources/prod/lib/jquery-2.1.1.min.js
  bigbluebutton-html5/imports/startup/server/index.js
  bigbluebutton-html5/private/static/guest-wait/guest-wait.html
  bigbluebutton-web/grails-app/conf/bigbluebutton.properties
Labels: HTML5 Client

#10504 Prevent validateAuthToken spamming for ejected users
  bigbluebutton-html5/imports/api/users/server/methods/validateAuthToken.js
  bigbluebutton-html5/imports/ui/services/auth/index.js
Labels: HTML5 Client

#10501 Removed unused bowser.js
  bigbluebutton-html5/client/main.html
  bigbluebutton-html5/public/compatibility/bowser.js
Labels: HTML5 Client

#10522 add log for moderator forcing end meeting
  bigbluebutton-html5/imports/ui/components/end-meeting-confirmation/container.jsx
Labels: HTML5 Client

#10523 Show invitation URL in chat window on 2.3a
  bigbluebutton-html5/imports/ui/components/chat/container.jsx
Labels: HTML5 Client

#10530 Pulled HTML5 locales and tested Sept 25, 2020
  bigbluebutton-html5/private/locales/de.json
  bigbluebutton-html5/private/locales/es.json
  bigbluebutton-html5/private/locales/fa_IR.json
  bigbluebutton-html5/private/locales/fr.json
  bigbluebutton-html5/private/locales/gl.json
  bigbluebutton-html5/private/locales/it_IT.json
  bigbluebutton-html5/private/locales/ja.json
  bigbluebutton-html5/private/locales/ja_JP.json
  bigbluebutton-html5/private/locales/ko_KR.json
  bigbluebutton-html5/private/locales/nl.json
  bigbluebutton-html5/private/locales/pt.json
  bigbluebutton-html5/private/locales/zh_CN.json
  bigbluebutton-html5/private/locales/zh_TW.json
Labels: HTML5 Client, Localization

#10534 Problematic audio in some iOS devices
  bigbluebutton-html5/client/main.html
  bigbluebutton-html5/imports/api/audio/client/bridge/kurento.js
  bigbluebutton-html5/imports/api/audio/client/bridge/sip.js
  bigbluebutton-html5/imports/ui/components/audio/audio-modal/component.jsx
  bigbluebutton-html5/imports/ui/services/audio-manager/index.js
  bigbluebutton-html5/imports/utils/sdpUtils.js
  bigbluebutton-html5/private/config/settings.yml
  bigbluebutton-html5/public/compatibility/kurento-extension.js
  bigbluebutton-html5/public/compatibility/sip.js
Labels: HTML5 Client

#10548 Add extra check for sessionToken
  bigbluebutton-html5/imports/api/users/server/methods.js
  bigbluebutton-html5/imports/api/users/server/methods/checkSessionToken.js
  bigbluebutton-html5/imports/api/users/server/methods/validateAuthToken.js
  bigbluebutton-html5/imports/ui/services/auth/index.js
Labels: HTML5 Client

#10549 Prevent multiple on close handler attach
  bigbluebutton-html5/imports/api/users/server/publishers.js
  bigbluebutton-html5/imports/ui/services/auth/index.js
Labels: HTML5 Client

#10553 Prevent repeated setUserId
  bigbluebutton-html5/imports/api/users/server/handlers/validateAuthToken.js
  bigbluebutton-html5/imports/api/users/server/publishers.js
  bigbluebutton-html5/imports/ui/services/auth/index.js
Labels: HTML5 Client

#10543 add samsung internet as compatible browser
  bigbluebutton-html5/private/config/settings.yml
Labels: HTML5 Client, signed-cla

#10529 Tooltip which indicates if a presentation can be downloaded or not can be confusing
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client, requires-cla

#10565 Removing webdriverio* QA libs on 2.2
  bigbluebutton-html5/package-lock.json
  bigbluebutton-html5/package.json
Labels: HTML5 Client, QA
