Repository bigbluebutton/bigbluebutton, pull requests merged in 2020-02, with the labels that each got.

#8525 Add published poll results to the Public chat
  bigbluebutton-html5/imports/ui/components/chat/message-list/message-list-item/component.jsx
  bigbluebutton-html5/imports/ui/components/chat/message-list/message-list-item/container.jsx
  bigbluebutton-html5/imports/ui/components/chat/message-list/message-list-item/styles.scss
  bigbluebutton-html5/imports/ui/components/poll/component.jsx
  bigbluebutton-html5/imports/ui/components/poll/container.jsx
  bigbluebutton-html5/imports/ui/components/poll/live-result/component.jsx
  bigbluebutton-html5/imports/ui/components/poll/service.js
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#8589 Add throttle to user typing call
  bigbluebutton-html5/imports/ui/components/chat/message-form/component.jsx
Labels: HTML5 Client

#8592 Prevent text pasted in chat displaying as poll result
  bigbluebutton-html5/imports/ui/components/chat/message-list/message-list-item/container.jsx
  bigbluebutton-html5/imports/ui/components/poll/live-result/component.jsx
Labels: HTML5 Client

#8617 Increase the pingpong removal timeout to reduce false positives
  bigbluebutton-html5/private/config/settings.yml
Labels: HTML5 Client

#8628 Fix panel resize when first loading in RTL
  bigbluebutton-html5/imports/startup/client/intl.jsx
Labels: HTML5 Client

#8626 Several fixes for the external video module
  bigbluebutton-html5/imports/ui/components/external-video-player/component.jsx
Labels: HTML5 Client

#8639 Pulled HTML5 locales Feb 14, 2020; Added Thai
  bigbluebutton-html5/imports/startup/client/intl.jsx
  bigbluebutton-html5/private/locales/ar.json
  bigbluebutton-html5/private/locales/de.json
  bigbluebutton-html5/private/locales/el_GR.json
  bigbluebutton-html5/private/locales/it_IT.json
  bigbluebutton-html5/private/locales/pt_BR.json
  bigbluebutton-html5/private/locales/sr.json
  bigbluebutton-html5/private/locales/th.json
  bigbluebutton-html5/private/locales/th_TH.json
  bigbluebutton-html5/private/locales/zh_TW.json
Labels: HTML5 Client, Localization

#8591 Fixes media rerender
  bigbluebutton-html5/imports/ui/components/media/component.jsx
  bigbluebutton-html5/imports/ui/components/media/webcam-draggable-overlay/component.jsx
Labels: HTML5 Client

#8611 Unify user-list content style
  bigbluebutton-html5/imports/ui/components/note/service.js
  bigbluebutton-html5/imports/ui/components/user-list/captions-list-item/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/captions-list-item/styles.scss
  bigbluebutton-html5/imports/ui/components/user-list/chat-list-item/chat-unread-messages/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/chat-list-item/chat-unread-messages/styles.scss
  bigbluebutton-html5/imports/ui/components/user-list/styles.scss
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/breakout-room/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/breakout-room/styles.scss
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/styles.scss
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-captions/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-messages/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-notes/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-notes/styles.scss
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-polls/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-polls/styles.scss
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/waiting-users/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/waiting-users/styles.scss
Labels: HTML5 Client

#8612 Add debounce to mute/unmute button
  bigbluebutton-html5/imports/ui/components/audio/service.js
Labels: HTML5 Client

#8636 Adds pupeteer test to join as two users and check if one can see the other
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/user-dropdown/component.jsx
  bigbluebutton-html5/tests/puppeteer/README.md
  bigbluebutton-html5/tests/puppeteer/core/helper.js
  bigbluebutton-html5/tests/puppeteer/core/page.js
  bigbluebutton-html5/tests/puppeteer/user.test.js
  bigbluebutton-html5/tests/puppeteer/user/multiusers.js
Labels: HTML5 Client, QA

#8650 Fix broken shortcut keys
  bigbluebutton-html5/imports/ui/components/shortcut-help/service.jsx
Labels: Fixed, HTML5 Client

#8656 adds join Breakoutrooms Test Spec
  bigbluebutton-html5/imports/ui/components/actions-bar/create-breakout-room/component.jsx
  bigbluebutton-html5/imports/ui/components/breakout-room/breakout-remaining-time/component.jsx
  bigbluebutton-html5/imports/ui/components/breakout-room/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/breakout-room/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-options/component.jsx
  bigbluebutton-html5/tests/puppeteer/breakout.test.js
  bigbluebutton-html5/tests/puppeteer/breakout/create.js
  bigbluebutton-html5/tests/puppeteer/breakout/elements.js
  bigbluebutton-html5/tests/puppeteer/breakout/join.js
  bigbluebutton-html5/tests/puppeteer/breakout/util.js
  bigbluebutton-html5/tests/puppeteer/core/page.js
  bigbluebutton-html5/tests/puppeteer/user/multiusers.js
Labels: HTML5 Client, QA

#8651 adds chatBox data-test for private or public chat & adds checks for private and public messages reception
  bigbluebutton-html5/imports/ui/components/chat/component.jsx
  bigbluebutton-html5/tests/puppeteer/chat.test.js
  bigbluebutton-html5/tests/puppeteer/chat/elements.js
  bigbluebutton-html5/tests/puppeteer/chat/util.js
  bigbluebutton-html5/tests/puppeteer/user/elements.js
  bigbluebutton-html5/tests/puppeteer/user/multiusers.js
Labels: HTML5 Client, QA

#8667 Remove some atmosphere packages
  bigbluebutton-html5/.meteor/packages
  bigbluebutton-html5/.meteor/versions
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/video-list-item/component.jsx
  bigbluebutton-html5/server/main.js
Labels: HTML5 Client, Security

#8669 Explicitly import lodash where it is used
  bigbluebutton-html5/imports/ui/components/dropdown/list/title/component.jsx
  bigbluebutton-html5/imports/utils/fetchStunTurnServers.js
  bigbluebutton-html5/package-lock.json
  bigbluebutton-html5/package.json
Labels: HTML5 Client

#8673 Move kick user option to bottom of options list
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/user-dropdown/component.jsx
Labels: HTML5 Client

#8648 Use internal messages for call state instead of DTMF
  bigbluebutton-html5/imports/api/audio/client/bridge/sip.js
  bigbluebutton-html5/imports/api/meetings/server/modifiers/meetingHasEnded.js
  bigbluebutton-html5/imports/api/voice-call-states/index.js
  bigbluebutton-html5/imports/api/voice-call-states/server/eventHandlers.js
  bigbluebutton-html5/imports/api/voice-call-states/server/handlers/voiceCallStateEvent.js
  bigbluebutton-html5/imports/api/voice-call-states/server/index.js
  bigbluebutton-html5/imports/api/voice-call-states/server/modifiers/clearVoiceCallStates.js
  bigbluebutton-html5/imports/api/voice-call-states/server/publishers.js
  bigbluebutton-html5/imports/api/voice-call-states/utils/callStates.js
  bigbluebutton-html5/imports/ui/components/subscriptions/component.jsx
  bigbluebutton-html5/server/main.js
Labels: HTML5 Client

#8647 Fix user-list item text-overflow
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/styles.scss
Labels: HTML5 Client

#8681 Pulled HTML5 locales on Feb 28, 2020
  bigbluebutton-html5/private/locales/es_ES.json
  bigbluebutton-html5/private/locales/uk_UA.json
  bigbluebutton-html5/private/locales/vi_VN.json
Labels: HTML5 Client, Localization

#8680 Remove unused package "history"
  bigbluebutton-html5/package-lock.json
  bigbluebutton-html5/package.json
Labels: HTML5 Client

#8683 Implement WebAudio fallback
  bigbluebutton-html5/imports/api/audio/client/bridge/sip.js
  bigbluebutton-html5/public/compatibility/sip.js
Labels: HTML5 Client
