Repository bigbluebutton/bigbluebutton, pull requests merged in 2020-04, with the labels that each got.

#8952 Fix maximum update depth exceeded in poll annotation
  bigbluebutton-html5/imports/ui/components/whiteboard/annotations/poll/component.jsx
Labels: HTML5 Client, hot fix

#8855 Improve current presentation toast
  bigbluebutton-html5/imports/ui/components/presentation/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/styles.scss
Labels: HTML5 Client

#9019 Whiteboard performance improvements
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/apps/WhiteboardModel.scala
  bigbluebutton-html5/imports/ui/components/presentation/component.jsx
  bigbluebutton-html5/imports/ui/components/subscriptions/component.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/annotation-factory/reactive-annotation/service.js
  bigbluebutton-html5/imports/ui/components/whiteboard/annotation-factory/static-annotation/service.js
  bigbluebutton-html5/imports/ui/components/whiteboard/annotation-group/container.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/annotation-group/service.js
  bigbluebutton-html5/imports/ui/components/whiteboard/annotations/ellipse/component.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/annotations/helpers.js
  bigbluebutton-html5/imports/ui/components/whiteboard/annotations/line/component.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/annotations/pencil/component.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/annotations/rectangle/component.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/annotations/text/component.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/annotations/triangle/component.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/service.js
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-overlay/component.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-overlay/container.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-overlay/pencil-draw-listener/component.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-overlay/service.js
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-overlay/shape-draw-listener/component.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-overlay/text-draw-listener/component.jsx
Labels: HTML5 Client

#8933 adds media tests files
  bigbluebutton-html5/tests/puppeteer/.env-template
  bigbluebutton-html5/tests/puppeteer/core/page.js
Labels: HTML5 Client, QA

#9008 Update packages with vulnerabilities
  bigbluebutton-html5/package-lock.json
Labels: HTML5 Client

#9066 Display screen share button in safari browser
  bigbluebutton-html5/imports/ui/components/actions-bar/desktop-share/component.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/styles.scss
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#9126 Pulled HTML5 locales April 17, 2020
  bigbluebutton-html5/.gitignore
  bigbluebutton-html5/imports/startup/client/intl.jsx
  bigbluebutton-html5/private/locales/ar.json
  bigbluebutton-html5/private/locales/az.json
  bigbluebutton-html5/private/locales/bg_BG.json
  bigbluebutton-html5/private/locales/ca.json
  bigbluebutton-html5/private/locales/cs_CZ.json
  bigbluebutton-html5/private/locales/da.json
  bigbluebutton-html5/private/locales/de.json
  bigbluebutton-html5/private/locales/el_GR.json
  bigbluebutton-html5/private/locales/es.json
  bigbluebutton-html5/private/locales/es_ES.json
  bigbluebutton-html5/private/locales/es_MX.json
  bigbluebutton-html5/private/locales/et.json
  bigbluebutton-html5/private/locales/eu.json
  bigbluebutton-html5/private/locales/fa_IR.json
  bigbluebutton-html5/private/locales/fi.json
  bigbluebutton-html5/private/locales/fr.json
  bigbluebutton-html5/private/locales/gl.json
  bigbluebutton-html5/private/locales/he.json
  bigbluebutton-html5/private/locales/hi_IN.json
  bigbluebutton-html5/private/locales/hu_HU.json
  bigbluebutton-html5/private/locales/hy-AM.json
  bigbluebutton-html5/private/locales/it_IT.json
  bigbluebutton-html5/private/locales/ja.json
  bigbluebutton-html5/private/locales/ja_JP.json
  bigbluebutton-html5/private/locales/ka_GE.json
  bigbluebutton-html5/private/locales/km.json
  bigbluebutton-html5/private/locales/ko_KR.json
  bigbluebutton-html5/private/locales/lt_LT.json
  bigbluebutton-html5/private/locales/lv.json
  bigbluebutton-html5/private/locales/nl.json
  bigbluebutton-html5/private/locales/pl_PL.json
  bigbluebutton-html5/private/locales/pt.json
  bigbluebutton-html5/private/locales/pt_BR.json
  bigbluebutton-html5/private/locales/ro_RO.json
  bigbluebutton-html5/private/locales/ru.json
  bigbluebutton-html5/private/locales/ru_RU.json
  bigbluebutton-html5/private/locales/sk_SK.json
  bigbluebutton-html5/private/locales/sl.json
  bigbluebutton-html5/private/locales/sr.json
  bigbluebutton-html5/private/locales/sv_SE.json
  bigbluebutton-html5/private/locales/th.json
  bigbluebutton-html5/private/locales/th_TH.json
  bigbluebutton-html5/private/locales/tr.json
  bigbluebutton-html5/private/locales/tr_TR.json
  bigbluebutton-html5/private/locales/uk_UA.json
  bigbluebutton-html5/private/locales/vi.json
  bigbluebutton-html5/private/locales/vi_VN.json
  bigbluebutton-html5/private/locales/zh_CN.json
  bigbluebutton-html5/private/locales/zh_TW.json
Labels: HTML5 Client, Localization

#9125 Update HTML5 npm packages
  bigbluebutton-html5/package-lock.json
Labels: HTML5 Client

#9218 Pulled HTML5 locales April 23, 2020; Added Norwegian
  bigbluebutton-html5/imports/startup/client/intl.jsx
  bigbluebutton-html5/private/locales/ar.json
  bigbluebutton-html5/private/locales/de.json
  bigbluebutton-html5/private/locales/es.json
  bigbluebutton-html5/private/locales/fi.json
  bigbluebutton-html5/private/locales/hy_AM.json
  bigbluebutton-html5/private/locales/nb_NO.json
  bigbluebutton-html5/private/locales/sl.json
  bigbluebutton-html5/private/locales/zh_TW.json
Labels: HTML5 Client, Localization

#9289 Fix exception in presentation when minimized and poll published
  bigbluebutton-html5/imports/ui/components/media/styles.scss
  bigbluebutton-html5/imports/ui/components/presentation/component.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-toolbar/styles.scss
Labels: HTML5 Client

#9298 Improving on chat lock settings
  bigbluebutton-html5/imports/ui/components/chat/service.js
Labels: HTML5 Client, hot fix

#9081 fixes shortcut help on mac browsers
  bigbluebutton-html5/imports/ui/components/shortcut-help/component.jsx
Labels: signed-cla

#9334 Switch setPresenterInPodReqMsg to in-file function, not method
  bigbluebutton-html5/imports/api/presentation-pods/server/methods.js
  bigbluebutton-html5/imports/api/presentation-pods/server/methods/setPresenterInPodReqMsg.js
  bigbluebutton-html5/imports/api/users/server/handlers/presenterAssigned.js
Labels: HTML5 Client, hot fix

#9341 Add logger and upload failure error messages
  bigbluebutton-html5/imports/ui/components/presentation/presentation-uploader/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/presentation-uploader/service.js
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client, hot fix

#8725 Fix the spacing in the typing indicator
  bigbluebutton-html5/imports/ui/components/chat/message-form/styles.scss
  bigbluebutton-html5/imports/ui/components/chat/message-form/typing-indicator/component.jsx
Labels: HTML5 Client

#9343 Fix media overlay blocking whiteboard when drawing
  bigbluebutton-html5/imports/ui/components/media/component.jsx
Labels: HTML5 Client, hot fix

#9362 Include Meteor connection ID in logs from client
  bigbluebutton-html5/imports/api/log-client/server/methods/logClient.js
  bigbluebutton-html5/imports/startup/client/logger.js
Labels: HTML5 Client

#9363 Disable private chat initiation in breakouts
  bigbluebutton-html5/imports/ui/components/chat/service.js
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/user-dropdown/component.jsx
Labels: Enhancement, HTML5 Client
