Repository bigbluebutton/bigbluebutton, pull requests merged in 2020-06, with the labels that each got.

#9732 Call onmount for custom arc-player
  bigbluebutton-html5/imports/ui/components/external-video-player/custom-players/arc-player.jsx
Labels: HTML5 Client

#9782 Subscribe to collections when user role change
  bigbluebutton-html5/imports/api/breakouts/server/publishers.js
  bigbluebutton-html5/imports/api/meetings/server/publishers.js
  bigbluebutton-html5/imports/api/users/server/publishers.js
  bigbluebutton-html5/imports/ui/components/subscriptions/component.jsx
Labels: HTML5 Client

#9783 Pulled HTML5 locales on June 5, 2020
  bigbluebutton-html5/private/locales/fi.json
  bigbluebutton-html5/private/locales/hr.json
  bigbluebutton-html5/private/locales/hu_HU.json
  bigbluebutton-html5/private/locales/ja.json
  bigbluebutton-html5/private/locales/ja_JP.json
  bigbluebutton-html5/private/locales/pt.json
  bigbluebutton-html5/private/locales/sv_SE.json
  bigbluebutton-html5/private/locales/uk_UA.json
Labels: HTML5 Client, Localization

#9814 Fix ending of screenshare displaying empty container
  bigbluebutton-html5/imports/ui/components/screenshare/component.jsx
  bigbluebutton-html5/imports/ui/components/screenshare/container.jsx
Labels: HTML5 Client

#9825 Fix twitch external video sharing
  bigbluebutton-html5/imports/ui/components/external-video-player/component.jsx
  bigbluebutton-html5/package-lock.json
  bigbluebutton-html5/package.json
Labels: HTML5 Client

#9744 Fix custom parameters for guest users
  bigbluebutton-html5/imports/ui/components/join-handler/component.jsx
Labels: HTML5 Client

#9827 Added callerIdName in audio logs where possible
  bigbluebutton-html5/imports/api/audio/client/bridge/sip.js
Labels: HTML5 Client

#9845 Update Note About Sharing External Video
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#9758 Clear video streams collection
  bigbluebutton-html5/imports/api/meetings/server/modifiers/meetingHasEnded.js
  bigbluebutton-html5/imports/api/video-streams/server/modifiers/clearVideoStreams.js
Labels: HTML5 Client

#9860 Disable chat option with dial in users
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/user-dropdown/component.jsx
Labels: HTML5 Client

#9824 Prevent banned user from trying to validateAuthToken multiple times
  bigbluebutton-html5/imports/api/meetings/server/modifiers/addMeeting.js
  bigbluebutton-html5/imports/api/users/server/handlers/validateAuthToken.js
  bigbluebutton-html5/imports/api/users/server/methods/removeUser.js
  bigbluebutton-html5/imports/api/users/server/methods/validateAuthToken.js
  bigbluebutton-html5/imports/api/users/server/store/bannedUsers.js
  bigbluebutton-html5/imports/ui/services/auth/index.js
Labels: HTML5 Client

#9876 centralize base prop cleaning / deletion
  bigbluebutton-html5/imports/ui/components/button/component.jsx
Labels: HTML5 Client, signed-cla

#9882 Pulled HTML5 locales on June 18, 2020
  bigbluebutton-html5/private/locales/ca.json
  bigbluebutton-html5/private/locales/eu.json
  bigbluebutton-html5/private/locales/fa_IR.json
  bigbluebutton-html5/private/locales/gl.json
  bigbluebutton-html5/private/locales/hi_IN.json
  bigbluebutton-html5/private/locales/ja.json
  bigbluebutton-html5/private/locales/ja_JP.json
  bigbluebutton-html5/private/locales/lt_LT.json
  bigbluebutton-html5/private/locales/pt_BR.json
  bigbluebutton-html5/private/locales/ru.json
  bigbluebutton-html5/private/locales/ru_RU.json
  bigbluebutton-html5/private/locales/sl.json
Labels: HTML5 Client, Localization

#9757 Prevent drag and drop of files closing session
  bigbluebutton-html5/imports/ui/components/app/component.jsx
Labels: HTML5 Client

#9885 Remove Log In back button in error screen
  bigbluebutton-html5/imports/ui/components/authenticated-handler/component.jsx
  bigbluebutton-html5/imports/ui/components/error-screen/component.jsx
  bigbluebutton-html5/imports/ui/components/error-screen/styles.scss
  bigbluebutton-html5/imports/ui/components/join-handler/component.jsx
  bigbluebutton-html5/imports/ui/services/auth/index.js
Labels: HTML5 Client

#9873 Fix regex issue in bbb-conf
  bigbluebutton-config/bin/bbb-conf
Labels: signed-cla

#9753 Handle userData autoSwap and hidePresentation params
  bigbluebutton-html5/imports/ui/components/media/container.jsx
  bigbluebutton-html5/imports/ui/components/presentation/default-content/component.jsx
Labels: HTML5 Client

#9756 Add debounce to talking indicator mute function
  bigbluebutton-html5/imports/ui/components/nav-bar/talking-indicator/container.jsx
Labels: HTML5 Client

#9771 Fix poll vote not incrementing when - is used as a custom option
  bigbluebutton-html5/imports/ui/components/poll/live-result/component.jsx
Labels: HTML5 Client

#9755 Close whiteboard toolbar sub menu on mousedown
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-toolbar/component.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-toolbar/toolbar-submenu/component.jsx
Labels: HTML5 Client

#9754 Fix poll annotation error with large presentations
  bigbluebutton-html5/imports/ui/components/whiteboard/annotations/poll/component.jsx
Labels: HTML5 Client

#9741 Show correct screen when user leaves meeting
  bigbluebutton-html5/imports/startup/client/base.jsx
  bigbluebutton-html5/imports/ui/components/error-screen/component.jsx
  bigbluebutton-html5/imports/ui/components/meeting-ended/component.jsx
Labels: HTML5 Client

#9828 Enable mirroring for video streams
  bigbluebutton-html5/imports/api/users-settings/server/methods/addUserSettings.js
  bigbluebutton-html5/imports/ui/components/video-preview/component.jsx
  bigbluebutton-html5/imports/ui/components/video-preview/styles.scss
  bigbluebutton-html5/imports/ui/components/video-provider/service.js
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/styles.scss
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/video-list-item/component.jsx
  bigbluebutton-html5/private/config/settings.yml
Labels: HTML5 Client, signed-cla

#9846 Custom parameters autotest
  bigbluebutton-html5/imports/ui/components/meeting-ended/component.jsx
  bigbluebutton-html5/imports/ui/components/nav-bar/settings-dropdown/component.jsx
  bigbluebutton-html5/tests/puppeteer/.env-template
  bigbluebutton-html5/tests/puppeteer/.gitignore
  bigbluebutton-html5/tests/puppeteer/core/elements.js
  bigbluebutton-html5/tests/puppeteer/core/helper.js
  bigbluebutton-html5/tests/puppeteer/core/page.js
  bigbluebutton-html5/tests/puppeteer/customparameters.test.js
  bigbluebutton-html5/tests/puppeteer/customparameters/constants.js
  bigbluebutton-html5/tests/puppeteer/customparameters/customparameters.js
  bigbluebutton-html5/tests/puppeteer/customparameters/elements.js
  bigbluebutton-html5/tests/puppeteer/customparameters/util.js
  bigbluebutton-html5/tests/puppeteer/jest.config.js
  bigbluebutton-html5/tests/puppeteer/notifications/elements.js
  bigbluebutton-html5/tests/puppeteer/notifications/util.js
Labels: QA

#9863 bbb notifications automated test
  bigbluebutton-html5/tests/puppeteer/notifications.test.js
  bigbluebutton-html5/tests/puppeteer/notifications/notifications.js
  bigbluebutton-html5/tests/puppeteer/notifications/util.js
  bigbluebutton-html5/tests/puppeteer/user/multiusers.js
Labels: QA

#9878 Make meeting/breakout ending time alerts configurable
  bigbluebutton-html5/imports/ui/components/breakout-room/breakout-remaining-time/container.jsx
  bigbluebutton-html5/imports/ui/components/notifications-bar/container.jsx
  bigbluebutton-html5/private/config/settings.yml
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#9888 Add a listener to voice user ejecting user from audio on socket disconnection
  bigbluebutton-html5/imports/api/voice-users/server/publishers.js
Labels: HTML5 Client

#9780 Improve audio reconnection for muted users for 2.2
  bigbluebutton-html5/imports/api/voice-users/server/methods/muteToggle.js
  bigbluebutton-html5/imports/ui/services/audio-manager/index.js
Labels: HTML5 Client

#9896 Fix shared note unread indicator placement
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/styles.scss
Labels: HTML5 Client

#9900 Revert "Improve audio reconnection for muted users for 2.2"
  bigbluebutton-html5/imports/api/voice-users/server/methods/muteToggle.js
  bigbluebutton-html5/imports/ui/services/audio-manager/index.js
Labels: HTML5 Client

#9949 Prevent 'unmute' calls for others caused by incorrect state
  bigbluebutton-html5/imports/api/voice-users/server/methods/muteToggle.js
  bigbluebutton-html5/imports/ui/components/user-list/service.js
Labels: HTML5 Client

#9929 fixes webcam and audio automated tests
  bigbluebutton-html5/tests/puppeteer/audio.test.js
  bigbluebutton-html5/tests/puppeteer/core/page.js
  bigbluebutton-html5/tests/puppeteer/webcam.test.js
  bigbluebutton-html5/tests/puppeteer/webcam/check.js
  bigbluebutton-html5/tests/puppeteer/webcam/elements.js
  bigbluebutton-html5/tests/puppeteer/webcam/share.js
  bigbluebutton-html5/tests/puppeteer/webcam/util.js
Labels: HTML5 Client, QA

#9963 Added clientURL to client logs
  bigbluebutton-html5/imports/startup/client/logger.js
Labels: HTML5 Client

#8888 Fix webcamsOnlyForModerator
  bigbluebutton-html5/imports/ui/components/video-preview/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/service.js
Labels: HTML5 Client
