Repository bigbluebutton/bigbluebutton, pull requests merged in 2020-05, with the labels that each got.

#9419 Fix race condition in addUserSettings
  bigbluebutton-html5/imports/ui/components/join-handler/component.jsx
Labels: HTML5 Client, hot fix

#9433 Split querySelector with fallback value
  bigbluebutton-html5/imports/ui/components/media/webcam-draggable-overlay/component.jsx
Labels: HTML5 Client

#9189 Fix calcGuestStatus
  bbb-common-web/src/main/java/org/bigbluebutton/api/domain/Meeting.java
Labels: signed-cla

#9153 adds Virtualizedlist test
  bigbluebutton-html5/tests/puppeteer/.env-template
  bigbluebutton-html5/tests/puppeteer/audio/audio.js
  bigbluebutton-html5/tests/puppeteer/audio/elements.js
  bigbluebutton-html5/tests/puppeteer/audio/util.js
  bigbluebutton-html5/tests/puppeteer/core/page.js
  bigbluebutton-html5/tests/puppeteer/package.json
  bigbluebutton-html5/tests/puppeteer/virtualizedlist.test.js
  bigbluebutton-html5/tests/puppeteer/virtualizedlist/virtualize.js
Labels: HTML5 Client, QA

#9474 Use Meteor setTimeout to run within Fiber
  bigbluebutton-html5/imports/api/users/server/handlers/validateAuthToken.js
Labels: HTML5 Client

#9499 Rebasing for v2.2.x-release #9173 customSvgIcon css class bug fixed for rtl layouts
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-toolbar/styles.scss
Labels: HTML5 Client

#9173 customSvgIcon css class bug fixed for rtl layouts
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-toolbar/styles.scss
Labels: signed-cla

#9475 Adds remove user confirmation
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/user-dropdown/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/user-dropdown/styles.scss
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#9408 Set correct state in user list for selected user onClick
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/user-dropdown/styles.scss
Labels: HTML5 Client

#9481 Close video preview modal when "share webcam" lock activated
  bigbluebutton-html5/imports/ui/components/video-preview/component.jsx
  bigbluebutton-html5/imports/ui/components/video-preview/container.jsx
Labels: HTML5 Client

#9477 Localize default poll options before calculating annotation required space
  bigbluebutton-html5/imports/ui/components/whiteboard/annotations/poll/component.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/annotations/poll/styles.scss
Labels: HTML5 Client

#9407 Fix 'See other viewers in the Users list' lock enforcing lock on 'See other viewers webcams'
  bigbluebutton-html5/imports/ui/components/video-provider/service.js
Labels: HTML5 Client

#9505 Pulled HTML5 locales May 11, 2020
  bigbluebutton-html5/imports/startup/client/intl.jsx
  bigbluebutton-html5/private/locales/bg_BG.json
  bigbluebutton-html5/private/locales/ca.json
  bigbluebutton-html5/private/locales/de.json
  bigbluebutton-html5/private/locales/de_DE.json
  bigbluebutton-html5/private/locales/es.json
  bigbluebutton-html5/private/locales/eu.json
  bigbluebutton-html5/private/locales/fa_IR.json
  bigbluebutton-html5/private/locales/fr.json
  bigbluebutton-html5/private/locales/gl.json
  bigbluebutton-html5/private/locales/hi_IN.json
  bigbluebutton-html5/private/locales/it_IT.json
  bigbluebutton-html5/private/locales/ja.json
  bigbluebutton-html5/private/locales/ja_JP.json
  bigbluebutton-html5/private/locales/kn.json
  bigbluebutton-html5/private/locales/ko_KR.json
  bigbluebutton-html5/private/locales/nb_NO.json
  bigbluebutton-html5/private/locales/nl.json
  bigbluebutton-html5/private/locales/pl_PL.json
  bigbluebutton-html5/private/locales/pt.json
  bigbluebutton-html5/private/locales/sl.json
  bigbluebutton-html5/private/locales/uk_UA.json
  bigbluebutton-html5/private/locales/vi_VN.json
  bigbluebutton-html5/private/locales/zh_TW.json
Labels: HTML5 Client, Localization

#9510 Move Intl component outside of Base component
  bigbluebutton-html5/client/main.jsx
  bigbluebutton-html5/imports/startup/client/base.jsx
  bigbluebutton-html5/imports/startup/client/intl.jsx
Labels: HTML5 Client

#9515 Add user name to remove user modal
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/user-dropdown/component.jsx
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#9518 Change shared notes lock behavior
  bigbluebutton-html5/imports/ui/components/note/service.js
  bigbluebutton-html5/imports/ui/components/user-list/service.js
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/styles.scss
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-notes/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-notes/container.jsx
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#9301 Adds arrow to toggle user list icon
  bigbluebutton-html5/imports/ui/components/nav-bar/component.jsx
  bigbluebutton-html5/imports/ui/components/nav-bar/styles.scss
Labels: HTML5 Client

#9379 Apply autoShareWebCam on return from breakout room
  bigbluebutton-html5/imports/ui/components/audio/container.jsx
Labels: HTML5 Client, signed-cla

#9332 added port 443 to bbb-conf --network command.
  bigbluebutton-config/bin/bbb-conf
Labels: requires-cla

#9617 Avoid guest promotion
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/container.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/user-dropdown/component.jsx
Labels: HTML5 Client

#9616 removing /tmp/t_net after --network finished
  bigbluebutton-config/bin/bbb-conf
Labels: signed-cla

#9619 Only provide modOnlyMessage to moderators
  bigbluebutton-html5/imports/api/meetings/server/publishers.js
  bigbluebutton-html5/imports/ui/components/chat/container.jsx
  bigbluebutton-html5/imports/ui/components/join-handler/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/service.js
  bigbluebutton-web/grails-app/controllers/org/bigbluebutton/web/controllers/ApiController.groovy
Labels: HTML5 Client

#9593 Attempt to fix external video syncing
  bigbluebutton-html5/imports/api/external-videos/server/methods/initializeExternalVideo.js
  bigbluebutton-html5/imports/ui/components/external-video-player/component.jsx
  bigbluebutton-html5/package-lock.json
  bigbluebutton-html5/package.json
Labels: HTML5 Client

#9542 Screenshare: add support on Safari 13+ and make constraints configurable
  bigbluebutton-html5/imports/api/screenshare/client/bridge/kurento.js
  bigbluebutton-html5/imports/api/screenshare/client/bridge/service.js
  bigbluebutton-html5/imports/ui/components/actions-bar/desktop-share/component.jsx
  bigbluebutton-html5/imports/ui/components/screenshare/service.js
  bigbluebutton-html5/private/config/settings.yml
  bigbluebutton-html5/public/compatibility/kurento-extension.js
  bigbluebutton-html5/public/compatibility/kurento-utils.js
Labels: HTML5 Client

#9632 Do not display "Lock viewers" option in breakouts
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-options/component.jsx
Labels: HTML5 Client

#9630 Change prompt message when screen share not supported
  bigbluebutton-html5/imports/ui/components/actions-bar/desktop-share/component.jsx
  bigbluebutton-html5/imports/ui/components/media/container.jsx
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#9631 Fix userData-shortcuts causing client crash
  bigbluebutton-html5/imports/ui/components/audio/audio-controls/component.jsx
  bigbluebutton-html5/imports/ui/components/shortcut-help/component.jsx
  bigbluebutton-html5/imports/ui/components/shortcut-help/service.jsx
  bigbluebutton-html5/private/config/settings.yml
Labels: HTML5 Client

#9629 Update shared note item style
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/styles.scss
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-notes/component.jsx
Labels: HTML5 Client

#9620 Simplify the code used for promote-demote subscriptions
  bigbluebutton-html5/imports/api/breakouts/server/publishers.js
  bigbluebutton-html5/imports/api/meetings/server/publishers.js
  bigbluebutton-html5/imports/api/users/server/publishers.js
  bigbluebutton-html5/imports/ui/components/subscriptions/component.jsx
Labels: HTML5 Client

#9640 Distinguish between eject and ban for Remove user
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/apps/users/EjectUserFromMeetingCmdMsgHdlr.scala
  bbb-common-message/src/main/scala/org/bigbluebutton/common2/msgs/UsersMgs.scala
  bigbluebutton-html5/imports/api/users/server/methods/removeUser.js
  bigbluebutton-html5/imports/startup/server/redis.js
  bigbluebutton-html5/imports/ui/components/modal/remove-user/component.jsx
  bigbluebutton-html5/imports/ui/components/modal/remove-user/styles.scss
  bigbluebutton-html5/imports/ui/components/user-list/service.js
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/user-dropdown/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/user-dropdown/styles.scss
  bigbluebutton-html5/private/locales/en.json
Labels: Apps, HTML5 Client

#9641 Pulled HTML5 locales May 22, 2020
  bigbluebutton-html5/private/locales/ar.json
  bigbluebutton-html5/private/locales/bg_BG.json
  bigbluebutton-html5/private/locales/ca.json
  bigbluebutton-html5/private/locales/cs_CZ.json
  bigbluebutton-html5/private/locales/de.json
  bigbluebutton-html5/private/locales/es.json
  bigbluebutton-html5/private/locales/eu.json
  bigbluebutton-html5/private/locales/fa_IR.json
  bigbluebutton-html5/private/locales/fr.json
  bigbluebutton-html5/private/locales/gl.json
  bigbluebutton-html5/private/locales/id.json
  bigbluebutton-html5/private/locales/it_IT.json
  bigbluebutton-html5/private/locales/ja.json
  bigbluebutton-html5/private/locales/ja_JP.json
  bigbluebutton-html5/private/locales/kn.json
  bigbluebutton-html5/private/locales/ko_KR.json
  bigbluebutton-html5/private/locales/nb_NO.json
  bigbluebutton-html5/private/locales/nl.json
  bigbluebutton-html5/private/locales/pl_PL.json
  bigbluebutton-html5/private/locales/pt.json
  bigbluebutton-html5/private/locales/pt_BR.json
  bigbluebutton-html5/private/locales/ru.json
  bigbluebutton-html5/private/locales/sl.json
  bigbluebutton-html5/private/locales/tr.json
  bigbluebutton-html5/private/locales/tr_TR.json
  bigbluebutton-html5/private/locales/uk_UA.json
  bigbluebutton-html5/private/locales/vi_VN.json
  bigbluebutton-html5/private/locales/zh_CN.json
  bigbluebutton-html5/private/locales/zh_TW.json
Labels: HTML5 Client, Localization

#9642 Update message / style for remove user confirmation
  bigbluebutton-html5/imports/ui/components/modal/remove-user/component.jsx
  bigbluebutton-html5/imports/ui/components/modal/remove-user/styles.scss
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#9662 Logging with JSON stringify was leading to crashes. Reverting, need t…
  bigbluebutton-html5/imports/startup/server/redis.js
Labels: HTML5 Client, hot fix

#9683 Fix non userData defined shortcuts not functioning
  bigbluebutton-html5/imports/ui/components/shortcut-help/service.jsx
Labels: HTML5 Client

#9687 Revert "Fix calcGuestStatus"
  bbb-common-web/src/main/java/org/bigbluebutton/api/domain/Meeting.java
Labels: Apps

#9686 Prevent chat input shifting with error & typing messages
  bigbluebutton-html5/imports/ui/components/chat/message-form/styles.scss
  bigbluebutton-html5/imports/ui/components/chat/message-form/typing-indicator/component.jsx
Labels: HTML5 Client

#9688 Do not ban user who left while in waiting list. Adjusting after mergi…
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/apps/users/UsersApp.scala
Labels: Apps

#8579 Audio stats
  bigbluebutton-html5/imports/api/connection-status/index.js
  bigbluebutton-html5/imports/api/connection-status/server/index.js
  bigbluebutton-html5/imports/api/connection-status/server/methods.js
  bigbluebutton-html5/imports/api/connection-status/server/methods/addConnectionStatus.js
  bigbluebutton-html5/imports/api/connection-status/server/modifiers/clearConnectionStatus.js
  bigbluebutton-html5/imports/api/connection-status/server/modifiers/updateConnectionStatus.js
  bigbluebutton-html5/imports/api/connection-status/server/publishers.js
  bigbluebutton-html5/imports/api/meetings/server/modifiers/meetingHasEnded.js
  bigbluebutton-html5/imports/ui/components/connection-status/modal/component.jsx
  bigbluebutton-html5/imports/ui/components/connection-status/modal/container.jsx
  bigbluebutton-html5/imports/ui/components/connection-status/modal/styles.scss
  bigbluebutton-html5/imports/ui/components/connection-status/service.js
  bigbluebutton-html5/imports/ui/components/notifications-bar/container.jsx
  bigbluebutton-html5/imports/ui/components/subscriptions/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-options/component.jsx
  bigbluebutton-html5/imports/ui/services/audio-manager/index.js
  bigbluebutton-html5/imports/utils/stats.js
  bigbluebutton-html5/private/config/settings.yml
  bigbluebutton-html5/private/locales/en.json
  bigbluebutton-html5/server/main.js
Labels: HTML5 Client

#9691 Close tab when user logout from a breakout room
  bigbluebutton-html5/imports/startup/client/base.jsx
Labels: HTML5 Client

#8964 Fix chat dropdown not filling screen (mobile)
  bigbluebutton-html5/imports/ui/components/chat/styles.scss
Labels: HTML5 Client

#9649 Sort sanity files so it processes older recordings first
  record-and-playback/core/scripts/rap-process-worker.rb
Labels: Recording

#9251 Fix voiceBridge collision (Issue #9024)
  bbb-common-web/src/main/java/org/bigbluebutton/api/MeetingService.java
  bigbluebutton-web/grails-app/controllers/org/bigbluebutton/web/controllers/ApiController.groovy
Labels: signed-cla

#9113 add env to specify settings location
  bigbluebutton-html5/imports/startup/server/settings.js
Labels: requires-cla

#9715 Make screen reader announce captions as they are appear
  bigbluebutton-html5/imports/ui/components/captions/component.jsx
Labels: HTML5 Client

#9658 Add bbb_show_public_chat_on_login as a join (co-) parameter
  bigbluebutton-html5/imports/api/users-settings/server/methods/addUserSettings.js
  bigbluebutton-html5/imports/startup/client/base.jsx
  bigbluebutton-html5/private/config/settings.yml
Labels: HTML5 Client, signed-cla

#9516 Hide default content when hidePresentation and autoSwapLayout enabled
  bigbluebutton-html5/imports/ui/components/presentation/default-content/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/default-content/styles.scss
Labels: HTML5 Client

#9517 Restore minimized presentation for viewer on (slide or zoom change / pub…
  bigbluebutton-html5/imports/api/users-settings/server/methods/addUserSettings.js
  bigbluebutton-html5/imports/ui/components/presentation/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/container.jsx
  bigbluebutton-html5/imports/ui/components/presentation/cursor/component.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/annotation-factory/reactive-annotation/container.jsx
  bigbluebutton-html5/private/config/settings.yml
Labels: HTML5 Client

#9718 Pulled HTML5 locales on May 29, 2020
  bigbluebutton-html5/private/locales/bg_BG.json
  bigbluebutton-html5/private/locales/ca.json
  bigbluebutton-html5/private/locales/cs_CZ.json
  bigbluebutton-html5/private/locales/de.json
  bigbluebutton-html5/private/locales/es.json
  bigbluebutton-html5/private/locales/et.json
  bigbluebutton-html5/private/locales/fr.json
  bigbluebutton-html5/private/locales/gl.json
  bigbluebutton-html5/private/locales/id.json
  bigbluebutton-html5/private/locales/ja.json
  bigbluebutton-html5/private/locales/ja_JP.json
  bigbluebutton-html5/private/locales/lt_LT.json
  bigbluebutton-html5/private/locales/nb_NO.json
  bigbluebutton-html5/private/locales/nl.json
  bigbluebutton-html5/private/locales/pt.json
  bigbluebutton-html5/private/locales/pt_BR.json
  bigbluebutton-html5/private/locales/ru.json
  bigbluebutton-html5/private/locales/sl.json
  bigbluebutton-html5/private/locales/tr.json
  bigbluebutton-html5/private/locales/tr_TR.json
  bigbluebutton-html5/private/locales/uk_UA.json
  bigbluebutton-html5/private/locales/zh_CN.json
  bigbluebutton-html5/private/locales/zh_TW.json
Labels: HTML5 Client, Localization
