Repository bigbluebutton/bigbluebutton, pull requests merged in 2020-08, with the labels that each got.

#10193 Fix regular expression in Arc Player (LGTM)
  bigbluebutton-html5/imports/ui/components/external-video-player/custom-players/arc-player.jsx
Labels: HTML5 Client, externalVideo

#10200 Improve Panopto MATCH_URL regular expression
  bigbluebutton-html5/imports/ui/components/external-video-player/custom-players/panopto.jsx
Labels: HTML5 Client, externalVideo

#10189 Restore activity check modal.
  bigbluebutton-html5/imports/startup/client/base.jsx
  bigbluebutton-html5/imports/ui/components/activity-check/component.jsx
  bigbluebutton-html5/imports/ui/components/error-screen/component.jsx
  bigbluebutton-html5/imports/ui/components/meeting-ended/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/service.js
Labels: HTML5 Client

#10208 Backport PRs #8374 and its follow-ups #8888 and #8758 into 2.2
  bigbluebutton-html5/imports/api/audio/client/bridge/base.js
  bigbluebutton-html5/imports/api/audio/client/bridge/kurento.js
  bigbluebutton-html5/imports/api/audio/client/bridge/sip.js
  bigbluebutton-html5/imports/api/users-settings/server/methods/addUserSettings.js
  bigbluebutton-html5/imports/api/video-streams/server/handlers/userSharedHtml5Webcam.js
  bigbluebutton-html5/imports/api/video-streams/server/handlers/userUnsharedHtml5Webcam.js
  bigbluebutton-html5/imports/api/video-streams/server/helpers.js
  bigbluebutton-html5/imports/api/video-streams/server/modifiers/sharedWebcam.js
  bigbluebutton-html5/imports/api/video-streams/server/modifiers/unsharedWebcam.js
  bigbluebutton-html5/imports/ui/components/actions-bar/component.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/container.jsx
  bigbluebutton-html5/imports/ui/components/media/component.jsx
  bigbluebutton-html5/imports/ui/components/media/container.jsx
  bigbluebutton-html5/imports/ui/components/media/service.js
  bigbluebutton-html5/imports/ui/components/nav-bar/settings-dropdown/component.jsx
  bigbluebutton-html5/imports/ui/components/video-preview/component.jsx
  bigbluebutton-html5/imports/ui/components/video-preview/container.jsx
  bigbluebutton-html5/imports/ui/components/video-preview/styles.scss
  bigbluebutton-html5/imports/ui/components/video-provider/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/container.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/service.js
  bigbluebutton-html5/imports/ui/components/video-provider/styles.scss
  bigbluebutton-html5/imports/ui/components/video-provider/video-button/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/video-button/container.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/video-button/service.js
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/styles.scss
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/video-list-item/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/video-list-item/container.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/video-list-item/video-list-item-stats/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/video-menu/component.jsx
  bigbluebutton-html5/imports/ui/services/audio-manager/index.js
  bigbluebutton-html5/imports/utils/stats.js
  bigbluebutton-html5/imports/utils/visibilityEvent.js
  bigbluebutton-html5/private/config/settings.yml
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#10216 video-provider: remove unused app.video.stats locales
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#10196 Update filenames for saved public chat / users list
  bigbluebutton-html5/imports/ui/components/chat/chat-dropdown/component.jsx
  bigbluebutton-html5/imports/ui/components/chat/chat-dropdown/container.jsx
  bigbluebutton-html5/imports/ui/components/chat/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/service.js
Labels: HTML5 Client

#10233 Updated meteor-node-stubs and postcss-nested
  bigbluebutton-html5/package-lock.json
  bigbluebutton-html5/package.json
Labels: HTML5 Client

#10234 Remove muteAll and muteAllExceptPresenter from breakouts
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-options/component.jsx
Labels: HTML5 Client, breakouts

#10235 Improve log for parsed passed parameter error
  bigbluebutton-html5/imports/api/users-settings/server/methods/addUserSettings.js
Labels: HTML5 Client

#10236 Pulled HTML5 locales Aug 10, 2020
  bigbluebutton-html5/private/locales/ar.json
  bigbluebutton-html5/private/locales/az.json
  bigbluebutton-html5/private/locales/bg_BG.json
  bigbluebutton-html5/private/locales/ca.json
  bigbluebutton-html5/private/locales/cs_CZ.json
  bigbluebutton-html5/private/locales/da.json
  bigbluebutton-html5/private/locales/de.json
  bigbluebutton-html5/private/locales/el_GR.json
  bigbluebutton-html5/private/locales/eo.json
  bigbluebutton-html5/private/locales/es.json
  bigbluebutton-html5/private/locales/es_ES.json
  bigbluebutton-html5/private/locales/es_MX.json
  bigbluebutton-html5/private/locales/et.json
  bigbluebutton-html5/private/locales/eu.json
  bigbluebutton-html5/private/locales/fa_IR.json
  bigbluebutton-html5/private/locales/fi.json
  bigbluebutton-html5/private/locales/fr.json
  bigbluebutton-html5/private/locales/gl.json
  bigbluebutton-html5/private/locales/he.json
  bigbluebutton-html5/private/locales/hi_IN.json
  bigbluebutton-html5/private/locales/hr.json
  bigbluebutton-html5/private/locales/hu_HU.json
  bigbluebutton-html5/private/locales/id.json
  bigbluebutton-html5/private/locales/it_IT.json
  bigbluebutton-html5/private/locales/ja.json
  bigbluebutton-html5/private/locales/ja_JP.json
  bigbluebutton-html5/private/locales/ka_GE.json
  bigbluebutton-html5/private/locales/km.json
  bigbluebutton-html5/private/locales/kn.json
  bigbluebutton-html5/private/locales/ko_KR.json
  bigbluebutton-html5/private/locales/lv.json
  bigbluebutton-html5/private/locales/nb_NO.json
  bigbluebutton-html5/private/locales/nl.json
  bigbluebutton-html5/private/locales/pl_PL.json
  bigbluebutton-html5/private/locales/pt.json
  bigbluebutton-html5/private/locales/pt_BR.json
  bigbluebutton-html5/private/locales/ro_RO.json
  bigbluebutton-html5/private/locales/ru.json
  bigbluebutton-html5/private/locales/ru_RU.json
  bigbluebutton-html5/private/locales/sk_SK.json
  bigbluebutton-html5/private/locales/sl.json
  bigbluebutton-html5/private/locales/sr.json
  bigbluebutton-html5/private/locales/sv_SE.json
  bigbluebutton-html5/private/locales/te.json
  bigbluebutton-html5/private/locales/th.json
  bigbluebutton-html5/private/locales/th_TH.json
  bigbluebutton-html5/private/locales/tr.json
  bigbluebutton-html5/private/locales/tr_TR.json
  bigbluebutton-html5/private/locales/uk_UA.json
  bigbluebutton-html5/private/locales/vi_VN.json
  bigbluebutton-html5/private/locales/zh_CN.json
  bigbluebutton-html5/private/locales/zh_TW.json
Labels: HTML5 Client, Localization

#10237 Allow more tags in welcome message/ mod only message
  bigbluebutton-html5/imports/api/meetings/server/modifiers/addMeeting.js
  bigbluebutton-html5/imports/ui/components/join-handler/component.jsx
Labels: HTML5 Client

#10231 Notify users when presentation is available for download
  bigbluebutton-html5/imports/ui/components/presentation/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/styles.scss
  bigbluebutton-html5/imports/ui/components/status-notifier/component.jsx
  bigbluebutton-html5/imports/ui/components/status-notifier/styles.scss
  bigbluebutton-html5/imports/ui/components/toast/styles.scss
  bigbluebutton-html5/imports/ui/stylesheets/variables/typography.scss
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#10195 Improve poll results in public chat
  bigbluebutton-html5/imports/ui/components/chat/message-list/message-list-item/component.jsx
  bigbluebutton-html5/imports/ui/components/chat/message-list/message-list-item/container.jsx
  bigbluebutton-html5/imports/ui/components/chat/message-list/message-list-item/message/component.jsx
  bigbluebutton-html5/imports/ui/components/chat/message-list/message-list-item/styles.scss
  bigbluebutton-html5/imports/ui/components/chat/service.js
  bigbluebutton-html5/imports/ui/components/poll/live-result/component.jsx
  bigbluebutton-html5/imports/ui/components/poll/service.js
Labels: HTML5 Client, Polling

#10194 Allow polling when presentation does not exist but chat is available
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/models/Polls.scala
  bigbluebutton-html5/imports/ui/components/poll/component.jsx
  bigbluebutton-html5/imports/ui/components/poll/container.jsx
  bigbluebutton-html5/imports/ui/components/poll/service.js
Labels: HTML5 Client, Polling

#10274 Switch to YAML Syntax for Logging
  bigbluebutton-html5/private/config/settings.yml
Labels: HTML5 Client

#10220 Remove unsafe lifecycle from intl component
  bigbluebutton-html5/imports/startup/client/intl.jsx
Labels: HTML5 Client

#10288 Fix dropdown menus not closing on item select
  bigbluebutton-html5/imports/ui/components/dropdown/component.jsx
Labels: HTML5 Client

#9012 Add preloading for slides
  bigbluebutton-html5/imports/ui/components/presentation/container.jsx
  bigbluebutton-html5/private/config/settings.yml
Labels: HTML5 Client

#10280 Localize drop-down values for webcam quality
  bigbluebutton-html5/imports/ui/components/video-preview/component.jsx
  bigbluebutton-html5/private/config/settings.yml
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#10289 Check video data savings to set presentation max-height
  bigbluebutton-html5/imports/ui/components/media/component.jsx
Labels: HTML5 Client

#10265 Fix shared notes and closed captions header button style
  bigbluebutton-html5/imports/ui/components/captions/pad/component.jsx
  bigbluebutton-html5/imports/ui/components/captions/pad/styles.scss
  bigbluebutton-html5/imports/ui/components/note/component.jsx
  bigbluebutton-html5/imports/ui/components/note/styles.scss
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#10294 Notes and captions footer disabled as default
  bigbluebutton-html5/imports/ui/components/captions/pad/component.jsx
  bigbluebutton-html5/imports/ui/components/captions/pad/styles.scss
  bigbluebutton-html5/imports/ui/components/note/component.jsx
  bigbluebutton-html5/imports/ui/components/note/styles.scss
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#10296 Add presentation slide text for screen readers
  bigbluebutton-html5/imports/ui/components/presentation/component.jsx
Labels: HTML5 Client

#10295 video-provider: fix mirrorOwnWebcam behaviour (regression from #10208)
  bigbluebutton-html5/imports/ui/components/video-provider/service.js
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/video-list-item/component.jsx
Labels: HTML5 Client, Video

#10293 video-provider: first tackle at video pagination
  bigbluebutton-html5/imports/ui/components/video-provider/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/container.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/service.js
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/container.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/styles.scss
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/video-list-item/component.jsx
  bigbluebutton-html5/private/config/settings.yml
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client, Video

#10315 video-provider: fix pagination edge case
  bigbluebutton-html5/imports/ui/components/video-provider/service.js
Labels: HTML5 Client, Video

#10316 Make external video MATCH_URL even more generic
  bigbluebutton-html5/imports/ui/components/external-video-player/custom-players/panopto.jsx
Labels: HTML5 Client, externalVideo

#10317 video-provider: fix dynamic profile accounting when using pagination
  bigbluebutton-html5/imports/ui/components/media/container.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/container.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/service.js
Labels: HTML5 Client, Video

#10304 Add individual video record control
  bigbluebutton-html5/imports/api/users-settings/server/methods/addUserSettings.js
  bigbluebutton-html5/imports/ui/components/video-provider/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/service.js
Labels: HTML5 Client, Video

#10318 video-provider: prioritise presenter in pagination ordering, restore pre-.22 full mesh ordering
  bigbluebutton-html5/imports/ui/components/video-provider/service.js
Labels: HTML5 Client, Video

#10273 Modern Camera Profiles
  bigbluebutton-html5/private/config/settings.yml
Labels: HTML5 Client, Video

#10238 Events archiver: Strip more invalid characters
  record-and-playback/core/lib/recordandplayback/events_archiver.rb
Labels: Recording

#10324 Fix intl loop
  bigbluebutton-html5/imports/startup/client/intl.jsx
Labels: HTML5 Client

#10219 Remove unsafe lifecycle from all dropdown related components
  bigbluebutton-html5/imports/ui/components/actions-bar/actions-dropdown/component.jsx
  bigbluebutton-html5/imports/ui/components/dropdown/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/user-dropdown/component.jsx
Labels: HTML5 Client

#10198 fixes outdated auto tests
  bigbluebutton-html5/tests/puppeteer/all.test.js
  bigbluebutton-html5/tests/puppeteer/audio.obj.js
  bigbluebutton-html5/tests/puppeteer/audio.test.js
  bigbluebutton-html5/tests/puppeteer/breakout.obj.js
  bigbluebutton-html5/tests/puppeteer/breakout.test.js
  bigbluebutton-html5/tests/puppeteer/breakout/create.js
  bigbluebutton-html5/tests/puppeteer/breakout/elements.js
  bigbluebutton-html5/tests/puppeteer/breakout/join.js
  bigbluebutton-html5/tests/puppeteer/chat.obj.js
  bigbluebutton-html5/tests/puppeteer/chat.test.js
  bigbluebutton-html5/tests/puppeteer/chat/clear.js
  bigbluebutton-html5/tests/puppeteer/chat/copy.js
  bigbluebutton-html5/tests/puppeteer/chat/save.js
  bigbluebutton-html5/tests/puppeteer/chat/send.js
  bigbluebutton-html5/tests/puppeteer/customparameters.obj.js
  bigbluebutton-html5/tests/puppeteer/customparameters.test.js
  bigbluebutton-html5/tests/puppeteer/notifications.obj.js
  bigbluebutton-html5/tests/puppeteer/notifications.test.js
  bigbluebutton-html5/tests/puppeteer/notifications/notifications.js
  bigbluebutton-html5/tests/puppeteer/package-lock.json
  bigbluebutton-html5/tests/puppeteer/package.json
  bigbluebutton-html5/tests/puppeteer/presentation.obj.js
  bigbluebutton-html5/tests/puppeteer/presentation.test.js
  bigbluebutton-html5/tests/puppeteer/presentation/elements.js
  bigbluebutton-html5/tests/puppeteer/presentation/upload.js
  bigbluebutton-html5/tests/puppeteer/run.sh
  bigbluebutton-html5/tests/puppeteer/screenshare.obj.js
  bigbluebutton-html5/tests/puppeteer/screenshare.test.js
  bigbluebutton-html5/tests/puppeteer/sharednotes.obj.js
  bigbluebutton-html5/tests/puppeteer/sharednotes.test.js
  bigbluebutton-html5/tests/puppeteer/user.obj.js
  bigbluebutton-html5/tests/puppeteer/user.test.js
  bigbluebutton-html5/tests/puppeteer/virtualizedlist.obj.js
  bigbluebutton-html5/tests/puppeteer/virtualizedlist.test.js
  bigbluebutton-html5/tests/puppeteer/webcam.obj.js
  bigbluebutton-html5/tests/puppeteer/webcam.test.js
  bigbluebutton-html5/tests/puppeteer/whiteboard.obj.js
  bigbluebutton-html5/tests/puppeteer/whiteboard.test.js
Labels: HTML5 Client, QA

#10158 Fix newlines in playback of chat
  record-and-playback/presentation/playback/presentation/2.0/lib/popcorn.chattimeline.js
  record-and-playback/presentation/playback/presentation/2.0/playback.js
Labels: Recording, signed-cla

#10334 Include voice user's upsert to changes observer
  bigbluebutton-html5/imports/ui/services/audio-manager/index.js
Labels: HTML5 Client

#10336 video-provider: add missing PropType, remove render socketOpen check
  bigbluebutton-html5/imports/ui/components/video-provider/component.jsx
Labels: HTML5 Client, Video

#10350 Update minBrowserVersions
  bigbluebutton-html5/private/config/settings.yml
Labels: HTML5 Client

#10346 Also delete opus files in freeswitch cache dir
  bigbluebutton-config/bin/bbb-record
Labels: Recording, signed-cla

#10362 Also delete opus files in freeswitch cache dir
  bigbluebutton-config/bin/bbb-record
Labels: Recording

#10360 Update saved users text file data
  bigbluebutton-html5/imports/ui/components/user-list/service.js
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-options/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-options/container.jsx
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client
