Repository bigbluebutton/bigbluebutton, pull requests merged in 2020-03, with the labels that each got.

#8693 Harden the cursor streamer emit logic
  bigbluebutton-html5/imports/api/cursor/server/handlers/cursorUpdate.js
Labels: HTML5 Client

#8674 More enhancements to the external video code
  bigbluebutton-html5/imports/api/external-videos/server/methods.js
  bigbluebutton-html5/imports/api/external-videos/server/methods/emitExternalVideoEvent.js
  bigbluebutton-html5/imports/api/external-videos/server/methods/initializeExternalVideo.js
  bigbluebutton-html5/imports/api/external-videos/server/methods/stopWatchingExternalVideo.js
  bigbluebutton-html5/imports/ui/components/external-video-player/component.jsx
  bigbluebutton-html5/imports/ui/components/external-video-player/service.js
Labels: HTML5 Client

#8695 Add info to error log on external video streamer no found
  bigbluebutton-html5/imports/api/external-videos/server/methods/emitExternalVideoEvent.js
Labels: HTML5 Client

#8700 Fix external video extractCredentials usage
  bigbluebutton-html5/imports/api/external-videos/server/methods/emitExternalVideoEvent.js
Labels: HTML5 Client

#8699 Fix whiteboard toolbar overlapping userlist
  bigbluebutton-html5/imports/ui/components/app/styles.scss
Labels: HTML5 Client

#8703 Harden some server-side collection selectors
  bigbluebutton-html5/imports/api/breakouts/server/publishers.js
  bigbluebutton-html5/imports/api/meetings/server/publishers.js
  bigbluebutton-html5/imports/api/users/server/modifiers/removeUser.js
  bigbluebutton-html5/imports/api/users/server/publishers.js
  bigbluebutton-html5/imports/api/voice-users/server/methods/listenOnlyToggle.js
  bigbluebutton-html5/imports/api/voice-users/server/methods/muteToggle.js
Labels: HTML5 Client

#8629 Fix RTL in chat using react-virtualized
  bigbluebutton-html5/imports/ui/components/chat/message-list/component.jsx
Labels: HTML5 Client

#8707 Properly handle voice call state with FreeSWITCH listen-only connections
  bigbluebutton-html5/imports/api/audio/client/bridge/sip.js
  bigbluebutton-html5/imports/api/voice-call-states/server/handlers/voiceCallStateEvent.js
  bigbluebutton-html5/imports/api/voice-users/server/methods.js
  bigbluebutton-html5/imports/api/voice-users/server/methods/listenOnlyToggle.js
Labels: HTML5 Client

#8708 adds single user webcam test spec
  bigbluebutton-html5/imports/ui/components/video-preview/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/video-button/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/video-list-item/component.jsx
  bigbluebutton-html5/tests/puppeteer/.gitignore
  bigbluebutton-html5/tests/puppeteer/core/page.js
  bigbluebutton-html5/tests/puppeteer/webcam.test.js
  bigbluebutton-html5/tests/puppeteer/webcam/elements.js
  bigbluebutton-html5/tests/puppeteer/webcam/share.js
  bigbluebutton-html5/tests/puppeteer/webcam/util.js
Labels: HTML5 Client, QA

#8666 fixes missing returned Test results
  bigbluebutton-html5/tests/puppeteer/chat/copy.js
  bigbluebutton-html5/tests/puppeteer/chat/save.js
  bigbluebutton-html5/tests/puppeteer/presentation/slide.js
  bigbluebutton-html5/tests/puppeteer/presentation/upload.js
  bigbluebutton-html5/tests/puppeteer/user/status.js
  bigbluebutton-html5/tests/puppeteer/whiteboard/draw.js
Labels: HTML5 Client, QA

#8720 Add license and copyright info for HTML5 client
  bigbluebutton-html5/client/main.html
  bigbluebutton-html5/client/main.jsx
  bigbluebutton-html5/package.json
Labels: HTML5 Client

#8714 Fix idChatOpen Session usage
  bigbluebutton-html5/imports/api/group-chat-msg/server/handlers/userTyping.js
  bigbluebutton-html5/imports/api/group-chat-msg/server/publishers.js
  bigbluebutton-html5/imports/startup/client/base.jsx
  bigbluebutton-html5/imports/ui/components/authenticated-handler/component.jsx
  bigbluebutton-html5/imports/ui/components/chat/alert/container.jsx
  bigbluebutton-html5/imports/ui/components/chat/container.jsx
  bigbluebutton-html5/imports/ui/components/chat/service.js
Labels: HTML5 Client

#8719 Track listen only ICE connection state to trigger reconnections
  bigbluebutton-html5/public/compatibility/kurento-extension.js
Labels: HTML5 Client

#8722 Pulled HTML5 locales March 6, 2020
  bigbluebutton-html5/private/locales/ar.json
  bigbluebutton-html5/private/locales/bg_BG.json
  bigbluebutton-html5/private/locales/cs_CZ.json
  bigbluebutton-html5/private/locales/da.json
  bigbluebutton-html5/private/locales/de.json
  bigbluebutton-html5/private/locales/el_GR.json
  bigbluebutton-html5/private/locales/es.json
  bigbluebutton-html5/private/locales/es_ES.json
  bigbluebutton-html5/private/locales/es_MX.json
  bigbluebutton-html5/private/locales/eu.json
  bigbluebutton-html5/private/locales/fa_IR.json
  bigbluebutton-html5/private/locales/fi.json
  bigbluebutton-html5/private/locales/fr.json
  bigbluebutton-html5/private/locales/gl.json
  bigbluebutton-html5/private/locales/hi_IN.json
  bigbluebutton-html5/private/locales/hu_HU.json
  bigbluebutton-html5/private/locales/id.json
  bigbluebutton-html5/private/locales/it_IT.json
  bigbluebutton-html5/private/locales/ja.json
  bigbluebutton-html5/private/locales/ja_JP.json
  bigbluebutton-html5/private/locales/km.json
  bigbluebutton-html5/private/locales/ko_KR.json
  bigbluebutton-html5/private/locales/nl.json
  bigbluebutton-html5/private/locales/pl_PL.json
  bigbluebutton-html5/private/locales/pt.json
  bigbluebutton-html5/private/locales/pt_BR.json
  bigbluebutton-html5/private/locales/ro_RO.json
  bigbluebutton-html5/private/locales/ru_RU.json
  bigbluebutton-html5/private/locales/sk_SK.json
  bigbluebutton-html5/private/locales/sr.json
  bigbluebutton-html5/private/locales/sv_SE.json
  bigbluebutton-html5/private/locales/th.json
  bigbluebutton-html5/private/locales/th_TH.json
  bigbluebutton-html5/private/locales/tr.json
  bigbluebutton-html5/private/locales/tr_TR.json
  bigbluebutton-html5/private/locales/uk_UA.json
  bigbluebutton-html5/private/locales/vi_VN.json
  bigbluebutton-html5/private/locales/zh_CN.json
  bigbluebutton-html5/private/locales/zh_TW.json
Labels: HTML5 Client, Localization

#8721 Remove the minMessageLength warning from chat
  bigbluebutton-html5/imports/ui/components/chat/message-form/component.jsx
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#8710 Track listen only ICE connection state to trigger reconnections
  bigbluebutton-html5/public/compatibility/kurento-extension.js
Labels: HTML5 Client

#8723 Force a stacking context to be created for the media container
  bigbluebutton-html5/imports/ui/components/app/styles.scss
Labels: HTML5 Client

#8726 Reword media error strings to be more human friendly
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#8698 Fix chat names with emoji's being clipped
  bigbluebutton-html5/imports/ui/components/chat/message-list/message-list-item/styles.scss
Labels: HTML5 Client

#8143 Don't recommend Firefox or Chrome for WebRTC when Puffin is being used
  bigbluebutton-client/src/org/bigbluebutton/modules/phone/managers/WebRTCCallManager.as
  bigbluebutton-client/src/org/bigbluebutton/util/browser/BrowserCheck.as
Labels: Flash Client

#8200 Sort private chat messages by last activity
  bigbluebutton-html5/imports/ui/components/user-list/service.js
Labels: HTML5 Client

#8741 Fix client crash when client is unsecured
  bigbluebutton-html5/imports/ui/components/video-provider/service.js
Labels: HTML5 Client

#8742 Fix client crash race condition with presentation pods
  bigbluebutton-html5/imports/ui/components/actions-bar/actions-dropdown/component.jsx
Labels: HTML5 Client

#8743 Replace use of $ jquery with javascript in webcam-draggable-overlay
  bigbluebutton-html5/imports/ui/components/media/webcam-draggable-overlay/component.jsx
Labels: HTML5 Client

#8485 Move quick poll button to presentation tool bar
  bigbluebutton-html5/imports/ui/components/actions-bar/actions-dropdown/component.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/captions/component.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/component.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/desktop-share/component.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/presentation-options/component.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/quick-poll-dropdown/component.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/quick-poll-dropdown/container.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/styles.scss
  bigbluebutton-html5/imports/ui/components/dropdown/list/styles.scss
  bigbluebutton-html5/imports/ui/components/poll/component.jsx
  bigbluebutton-html5/imports/ui/components/poll/live-result/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/presentation-toolbar/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/presentation-toolbar/container.jsx
  bigbluebutton-html5/imports/ui/components/presentation/presentation-toolbar/styles.scss
  bigbluebutton-html5/imports/ui/components/presentation/styles.scss
Labels: HTML5 Client

#8747 Update Arabic translations for 2.2 release
  bigbluebutton-html5/private/locales/ar.json
Labels: HTML5 Client, Localization

#8724 adds audio emulation and mute other user test considering isTalking indicator #12
  bigbluebutton-html5/imports/ui/components/nav-bar/talking-indicator/component.jsx
  bigbluebutton-html5/tests/puppeteer/audio.test.js
  bigbluebutton-html5/tests/puppeteer/audio/audio.js
  bigbluebutton-html5/tests/puppeteer/audio/util.js
  bigbluebutton-html5/tests/puppeteer/core/elements.js
  bigbluebutton-html5/tests/puppeteer/core/page.js
Labels: HTML5 Client, QA

#8755 Fix render loop after changing locale with override setting
  bigbluebutton-html5/imports/startup/client/intl.jsx
  bigbluebutton-html5/imports/startup/server/index.js
Labels: HTML5 Client

#8759 Only join a user if the connection is still active
  bigbluebutton-html5/imports/api/users/server/handlers/validateAuthToken.js
  bigbluebutton-html5/imports/api/users/server/methods/userLeaving.js
  bigbluebutton-html5/imports/api/users/server/modifiers/removeUser.js
Labels: HTML5 Client

#8767 adds screensharing test
  bigbluebutton-html5/tests/puppeteer/core/elements.js
  bigbluebutton-html5/tests/puppeteer/screensahre.test.js
  bigbluebutton-html5/tests/puppeteer/screenshare/screenshare.js
  bigbluebutton-html5/tests/puppeteer/screenshare/util.js
Labels: HTML5 Client, QA

#8775 adds notifications test (saved settings/private and public chat)
  bigbluebutton-html5/imports/ui/components/nav-bar/component.jsx
  bigbluebutton-html5/imports/ui/components/nav-bar/settings-dropdown/component.jsx
  bigbluebutton-html5/imports/ui/components/settings/submenus/application/component.jsx
  bigbluebutton-html5/imports/ui/components/toast/component.jsx
  bigbluebutton-html5/tests/puppeteer/notifications.test.js
  bigbluebutton-html5/tests/puppeteer/notifications/elements.js
  bigbluebutton-html5/tests/puppeteer/notifications/notifications.js
  bigbluebutton-html5/tests/puppeteer/notifications/util.js
Labels: HTML5 Client, QA

#8859 Pulled HTML5 locales, March 24, 2020
  bigbluebutton-html5/imports/startup/client/intl.jsx
  bigbluebutton-html5/private/locales/ar.json
  bigbluebutton-html5/private/locales/bg_BG.json
  bigbluebutton-html5/private/locales/ca.json
  bigbluebutton-html5/private/locales/cs_CZ.json
  bigbluebutton-html5/private/locales/da.json
  bigbluebutton-html5/private/locales/de.json
  bigbluebutton-html5/private/locales/el_GR.json
  bigbluebutton-html5/private/locales/es.json
  bigbluebutton-html5/private/locales/es_ES.json
  bigbluebutton-html5/private/locales/es_MX.json
  bigbluebutton-html5/private/locales/et.json
  bigbluebutton-html5/private/locales/eu.json
  bigbluebutton-html5/private/locales/fa_IR.json
  bigbluebutton-html5/private/locales/fi.json
  bigbluebutton-html5/private/locales/fr.json
  bigbluebutton-html5/private/locales/gl.json
  bigbluebutton-html5/private/locales/he.json
  bigbluebutton-html5/private/locales/hi_IN.json
  bigbluebutton-html5/private/locales/hu_HU.json
  bigbluebutton-html5/private/locales/id.json
  bigbluebutton-html5/private/locales/it_IT.json
  bigbluebutton-html5/private/locales/ja.json
  bigbluebutton-html5/private/locales/ja_JP.json
  bigbluebutton-html5/private/locales/km.json
  bigbluebutton-html5/private/locales/ko_KR.json
  bigbluebutton-html5/private/locales/lt_LT.json
  bigbluebutton-html5/private/locales/lv.json
  bigbluebutton-html5/private/locales/nl.json
  bigbluebutton-html5/private/locales/pl_PL.json
  bigbluebutton-html5/private/locales/pt.json
  bigbluebutton-html5/private/locales/pt_BR.json
  bigbluebutton-html5/private/locales/ro_RO.json
  bigbluebutton-html5/private/locales/ru_RU.json
  bigbluebutton-html5/private/locales/sk_SK.json
  bigbluebutton-html5/private/locales/sr.json
  bigbluebutton-html5/private/locales/sv_SE.json
  bigbluebutton-html5/private/locales/th.json
  bigbluebutton-html5/private/locales/th_TH.json
  bigbluebutton-html5/private/locales/tr.json
  bigbluebutton-html5/private/locales/tr_TR.json
  bigbluebutton-html5/private/locales/uk_UA.json
  bigbluebutton-html5/private/locales/vi_VN.json
  bigbluebutton-html5/private/locales/zh_CN.json
  bigbluebutton-html5/private/locales/zh_TW.json
Labels: HTML5 Client, Localization

#8885 Fix presenter indicator problem in Safari / Opera
  bigbluebutton-html5/imports/ui/components/user-avatar/styles.scss
Labels: HTML5 Client

#8884 Fix render loop after changing locale with override setting
  bigbluebutton-html5/imports/startup/client/intl.jsx
  bigbluebutton-html5/imports/startup/server/index.js
Labels: HTML5 Client

#8791 adds required test variables to .env-template with empty values
  bigbluebutton-html5/tests/puppeteer/.env-template
Labels: HTML5 Client, QA

#8836 adds popup notifications test spec (not considering errors notifications)
  bigbluebutton-html5/imports/ui/components/actions-bar/actions-dropdown/component.jsx
  bigbluebutton-html5/imports/ui/components/poll/component.jsx
  bigbluebutton-html5/imports/ui/components/poll/live-result/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/presentation-uploader/component.jsx
  bigbluebutton-html5/imports/ui/components/settings/submenus/application/component.jsx
  bigbluebutton-html5/tests/puppeteer/audio/audio.js
  bigbluebutton-html5/tests/puppeteer/core/elements.js
  bigbluebutton-html5/tests/puppeteer/notifications.test.js
  bigbluebutton-html5/tests/puppeteer/notifications/elements.js
  bigbluebutton-html5/tests/puppeteer/notifications/notifications.js
  bigbluebutton-html5/tests/puppeteer/notifications/util.js
  bigbluebutton-html5/tests/puppeteer/screenshare/screenshare.js
  bigbluebutton-html5/tests/puppeteer/user/multiusers.js
Labels: HTML5 Client, QA

#8871 adds shared notes single user test
  bigbluebutton-html5/tests/puppeteer/notes/elements.js
  bigbluebutton-html5/tests/puppeteer/notes/sharednotes.js
  bigbluebutton-html5/tests/puppeteer/notes/util.js
  bigbluebutton-html5/tests/puppeteer/sharednotes.test.js
Labels: HTML5 Client, QA

#8905 Pulled HTML5 locales; Fixed Georgian issues
  bigbluebutton-html5/.gitignore
  bigbluebutton-html5/imports/startup/client/intl.jsx
  bigbluebutton-html5/private/locales/ar.json
  bigbluebutton-html5/private/locales/de.json
  bigbluebutton-html5/private/locales/et.json
  bigbluebutton-html5/private/locales/hr.json
  bigbluebutton-html5/private/locales/ka_GE.json
  bigbluebutton-html5/private/locales/lt_LT.json
  bigbluebutton-html5/private/locales/ru.json
  bigbluebutton-html5/private/locales/sl.json
  bigbluebutton-html5/private/locales/tr.json
  bigbluebutton-html5/private/locales/tr_TR.json
Labels: HTML5 Client, Localization

#8854 Fix chat opening after saving application settings
  bigbluebutton-html5/imports/startup/client/base.jsx
Labels: HTML5 Client

#8814 Improve layout of notification options
  bigbluebutton-html5/client/stylesheets/bbb-icons.css
  bigbluebutton-html5/imports/ui/components/settings/component.jsx
  bigbluebutton-html5/imports/ui/components/settings/submenus/application/component.jsx
  bigbluebutton-html5/imports/ui/components/settings/submenus/notification/component.jsx
  bigbluebutton-html5/imports/ui/components/settings/submenus/styles.scss
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/container.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/user-dropdown/component.jsx
  bigbluebutton-html5/private/config/settings.yml
  bigbluebutton-html5/private/locales/en.json
  bigbluebutton-html5/public/fonts/BbbIcons/bbb-icons.woff
  bigbluebutton-html5/public/resources/sounds/bbb-handRaise.mp3
Labels: HTML5 Client
