Repository bigbluebutton/bigbluebutton, pull requests merged in 2020-01, with the labels that each got.

#8465 Update SourceSansPro font files to support more languages.
  bigbluebutton-html5/public/fonts/SourceSansPro/OFL.txt
  bigbluebutton-html5/public/fonts/SourceSansPro/SourceSansPro-Bold.woff
  bigbluebutton-html5/public/fonts/SourceSansPro/SourceSansPro-BoldItalic.woff
  bigbluebutton-html5/public/fonts/SourceSansPro/SourceSansPro-Italic.woff
  bigbluebutton-html5/public/fonts/SourceSansPro/SourceSansPro-Light.woff
  bigbluebutton-html5/public/fonts/SourceSansPro/SourceSansPro-LightItalic.woff
  bigbluebutton-html5/public/fonts/SourceSansPro/SourceSansPro-Regular.woff
  bigbluebutton-html5/public/fonts/SourceSansPro/SourceSansPro-Semibold.woff
  bigbluebutton-html5/public/fonts/SourceSansPro/SourceSansPro-SemiboldItalic.woff
Labels: HTML5 Client

#8467 Prevent no-mic warning displaying when recording is stopped
  bigbluebutton-html5/imports/ui/components/nav-bar/recording-indicator/component.jsx
Labels: HTML5 Client

#8468 webdriver* and wdio* packages are not node12 ready
  bigbluebutton-html5/package-lock.json
  bigbluebutton-html5/package.json
Labels: HTML5 Client

#8436 Fix shared notes notification
  bigbluebutton-html5/imports/ui/components/nav-bar/container.jsx
  bigbluebutton-html5/imports/ui/components/note/component.jsx
  bigbluebutton-html5/imports/ui/components/note/service.js
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-notes/component.jsx
Labels: HTML5 Client

#8374 Multiple cameras
  bigbluebutton-html5/imports/api/audio/client/bridge/base.js
  bigbluebutton-html5/imports/api/audio/client/bridge/kurento.js
  bigbluebutton-html5/imports/api/audio/client/bridge/sip.js
  bigbluebutton-html5/imports/api/users-settings/server/methods/addUserSettings.js
  bigbluebutton-html5/imports/api/video-streams/server/handlers/userSharedHtml5Webcam.js
  bigbluebutton-html5/imports/api/video-streams/server/handlers/userUnsharedHtml5Webcam.js
  bigbluebutton-html5/imports/api/video-streams/server/helpers.js
  bigbluebutton-html5/imports/api/video-streams/server/modifiers/sharedWebcam.js
  bigbluebutton-html5/imports/api/video-streams/server/modifiers/unsharedWebcam.js
  bigbluebutton-html5/imports/ui/components/actions-bar/component.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/container.jsx
  bigbluebutton-html5/imports/ui/components/media/component.jsx
  bigbluebutton-html5/imports/ui/components/media/container.jsx
  bigbluebutton-html5/imports/ui/components/media/service.js
  bigbluebutton-html5/imports/ui/components/nav-bar/settings-dropdown/component.jsx
  bigbluebutton-html5/imports/ui/components/video-preview/component.jsx
  bigbluebutton-html5/imports/ui/components/video-preview/container.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/container.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/service.js
  bigbluebutton-html5/imports/ui/components/video-provider/styles.scss
  bigbluebutton-html5/imports/ui/components/video-provider/video-button/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/video-button/container.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/video-button/service.js
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/styles.scss
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/video-list-item/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/video-list-item/container.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/video-list-item/video-list-item-stats/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/video-menu/component.jsx
  bigbluebutton-html5/imports/ui/services/audio-manager/index.js
  bigbluebutton-html5/imports/utils/stats.js
  bigbluebutton-html5/imports/utils/visibilityEvent.js
  bigbluebutton-html5/private/config/settings.yml
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#8483 Fix guest icon
  bigbluebutton-html5/imports/ui/components/waiting-users/component.jsx
  bigbluebutton-html5/imports/ui/components/waiting-users/styles.scss
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#8473 Update Meteor from 1.9-beta4 to 1.9.0
  bigbluebutton-html5/.meteor/.finished-upgraders
  bigbluebutton-html5/.meteor/packages
  bigbluebutton-html5/.meteor/release
  bigbluebutton-html5/.meteor/versions
  bigbluebutton-html5/package-lock.json
  bigbluebutton-html5/package.json
Labels: HTML5 Client

#8482 Fix streamer not working on meteor restart
  bigbluebutton-html5/imports/ui/components/cursor/service.js
  bigbluebutton-html5/imports/ui/components/subscriptions/component.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/service.js
  bigbluebutton-html5/imports/ui/services/auth/index.js
Labels: HTML5 Client

#8461 Add config to show download option in the Upload presentation dialog
  bigbluebutton-html5/imports/ui/components/presentation/presentation-uploader/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/presentation-uploader/container.jsx
  bigbluebutton-html5/imports/ui/components/presentation/presentation-uploader/styles.scss
  bigbluebutton-html5/private/config/settings.yml
Labels: HTML5 Client

#8484 Create text area's by clicking on whiteboard (text tool selected)
  bigbluebutton-html5/imports/api/annotations/addAnnotation.js
Labels: HTML5 Client

#8506 Detect aspect ratio to autochange webcams placement
  bigbluebutton-html5/imports/startup/client/base.jsx
  bigbluebutton-html5/imports/ui/components/app/component.jsx
  bigbluebutton-html5/imports/ui/components/media/component.jsx
  bigbluebutton-html5/imports/ui/components/media/styles.scss
  bigbluebutton-html5/imports/ui/components/media/webcam-draggable-overlay/component.jsx
  bigbluebutton-html5/imports/ui/components/media/webcam-draggable-overlay/context.jsx
  bigbluebutton-html5/imports/ui/components/presentation/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/component.jsx
  bigbluebutton-html5/package.json
Labels: HTML5 Client

#8507 Add the meetingId to the external video sync update logs
  bigbluebutton-html5/imports/api/external-videos/server/methods/initializeExternalVideo.js
Labels: HTML5 Client

#8508 Add missing package-lock info for react-device-detect
  bigbluebutton-html5/package-lock.json
  bigbluebutton-html5/package.json
Labels: HTML5 Client

#8509 Pulled html5 client locales for BBB 2.2 on Jan 17, 2020
  bigbluebutton-html5/imports/startup/client/intl.jsx
  bigbluebutton-html5/private/locales/da.json
  bigbluebutton-html5/private/locales/de.json
  bigbluebutton-html5/private/locales/es.json
  bigbluebutton-html5/private/locales/es_ES.json
  bigbluebutton-html5/private/locales/fa_IR.json
  bigbluebutton-html5/private/locales/fr.json
  bigbluebutton-html5/private/locales/gl.json
  bigbluebutton-html5/private/locales/nl.json
  bigbluebutton-html5/private/locales/pt_BR.json
  bigbluebutton-html5/private/locales/ru_RU.json
  bigbluebutton-html5/private/locales/sk_SK.json
  bigbluebutton-html5/private/locales/sr.json
  bigbluebutton-html5/private/locales/zh_CN.json
  bigbluebutton-html5/private/locales/zh_TW.json
Labels: HTML5 Client, Localization

#8426 Fix exception when publishing poll while presentation swapped (chrome)
  bigbluebutton-html5/imports/ui/components/media/styles.scss
  bigbluebutton-html5/imports/ui/components/presentation/component.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-toolbar/styles.scss
Labels: HTML5 Client

#8527 Fixes render loop
  bigbluebutton-html5/imports/ui/components/media/webcam-draggable-overlay/component.jsx
Labels: HTML5 Client

#8522 Virtualized chat
  bigbluebutton-html5/imports/ui/components/chat/container.jsx
  bigbluebutton-html5/imports/ui/components/chat/message-list/component.jsx
  bigbluebutton-html5/imports/ui/components/chat/message-list/message-list-item/component.jsx
  bigbluebutton-html5/imports/ui/components/chat/message-list/message-list-item/container.jsx
  bigbluebutton-html5/imports/ui/components/chat/message-list/message-list-item/styles.scss
  bigbluebutton-html5/imports/ui/components/chat/service.js
  bigbluebutton-html5/package-lock.json
  bigbluebutton-html5/package.json
Labels: HTML5 Client

#8519 Fixes maximum width and height when no webcams
  bigbluebutton-html5/imports/ui/components/media/component.jsx
Labels: HTML5 Client

#8537 Workaround to CTM request in svg out of the screen
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-overlay/component.jsx
Labels: HTML5 Client

#8528 Show user who joined the breakout room in the invitation mode
  bigbluebutton-html5/imports/ui/components/actions-bar/create-breakout-room/component.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/create-breakout-room/container.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/create-breakout-room/sort-user-list/component.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/create-breakout-room/styles.scss
  bigbluebutton-html5/imports/ui/components/actions-bar/service.js
Labels: HTML5 Client

#8536 Fixes resizing bar appearing while there are no webcams shared
  bigbluebutton-html5/imports/ui/components/media/component.jsx
  bigbluebutton-html5/imports/ui/components/media/container.jsx
  bigbluebutton-html5/imports/ui/components/media/styles.scss
  bigbluebutton-html5/imports/ui/components/media/webcam-draggable-overlay/context.jsx
  bigbluebutton-html5/private/config/settings.yml
Labels: HTML5 Client

#8552 Add ability to switch presentations via actions menu (Presenter)
  bigbluebutton-html5/imports/ui/components/actions-bar/actions-dropdown/component.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/component.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/container.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/styles.scss
  bigbluebutton-html5/imports/ui/components/media/styles.scss
  bigbluebutton-html5/imports/ui/components/presentation/container.jsx
  bigbluebutton-html5/imports/ui/components/presentation/presentation-uploader/service.js
Labels: HTML5 Client

#8564 Fixes for Puppeteer tests
  bigbluebutton-html5/imports/ui/components/chat/message-list/component.jsx
  bigbluebutton-html5/imports/ui/components/chat/message-list/message-list-item/component.jsx
  bigbluebutton-html5/imports/ui/components/chat/message-list/message-list-item/message/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/presentation-toolbar/component.jsx
  bigbluebutton-html5/package-lock.json
  bigbluebutton-html5/package.json
  bigbluebutton-html5/tests/puppeteer/chat/clear.js
  bigbluebutton-html5/tests/puppeteer/chat/copy.js
  bigbluebutton-html5/tests/puppeteer/chat/elements.js
  bigbluebutton-html5/tests/puppeteer/chat/send.js
  bigbluebutton-html5/tests/puppeteer/chat/util.js
  bigbluebutton-html5/tests/puppeteer/core/elements.js
  bigbluebutton-html5/tests/puppeteer/core/page.js
  bigbluebutton-html5/tests/puppeteer/presentation/elements.js
  bigbluebutton-html5/tests/puppeteer/presentation/upload.js
  bigbluebutton-html5/tests/puppeteer/user/status.js
Labels: QA

#8529 Add a rule to don't show breakout invitation modal to moderators
  bigbluebutton-html5/imports/ui/components/breakout-room/invitation/component.jsx
  bigbluebutton-html5/imports/ui/components/breakout-room/invitation/container.jsx
Labels: HTML5 Client

#8573 Show right breakout room in free join mode
  bigbluebutton-html5/imports/ui/components/breakout-room/invitation/component.jsx
Labels: HTML5 Client

#8565 set new minimum browsers versions to run html5 client
  bigbluebutton-html5/private/config/settings.yml
Labels: HTML5 Client

#8575 Add bbb_show_participants_on_login as a join parameter
  bigbluebutton-html5/imports/api/users-settings/server/methods/addUserSettings.js
  bigbluebutton-html5/imports/startup/client/base.jsx
  bigbluebutton-html5/imports/ui/components/join-handler/component.jsx
  bigbluebutton-html5/private/config/settings.yml
Labels: HTML5 Client

#8580 Fix race condition in video-provider that may cause peers to fail
  bigbluebutton-html5/imports/ui/components/video-provider/component.jsx
Labels: HTML5 Client

#8581 2.3 equivalent of #8580
  bigbluebutton-html5/imports/ui/components/video-provider/component.jsx
Labels: HTML5 Client
