Repository bigbluebutton/bigbluebutton, pull requests merged in 2021-02, with the labels that each got.

#10805 string fixes
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client, signed-cla

#11304 Show current user identification on breakout room creation
  bigbluebutton-html5/imports/ui/components/actions-bar/create-breakout-room/component.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/create-breakout-room/container.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/service.js
Labels: HTML5 Client, breakouts

#11305 Fix overlapping messages
  bigbluebutton-html5/imports/ui/components/chat/message-list/component.jsx
Labels: HTML5 Client

#11273 Update guest-wait.html
  bigbluebutton-html5/private/static/guest-wait/guest-wait.html
Labels: HTML5 Client

#11284 Add new join param skip echo test on first join only
  bigbluebutton-html5/imports/api/users-settings/server/methods/addUserSettings.js
  bigbluebutton-html5/imports/ui/components/audio/audio-controls/container.jsx
  bigbluebutton-html5/imports/ui/components/audio/audio-modal/component.jsx
  bigbluebutton-html5/imports/ui/components/audio/audio-modal/container.jsx
  bigbluebutton-html5/private/config/settings.yml
Labels: Enhancement, HTML5 Client

#11285 Changes on webcam skip preview behavior
  bigbluebutton-html5/imports/api/users-settings/server/methods/addUserSettings.js
  bigbluebutton-html5/imports/ui/components/video-preview/component.jsx
  bigbluebutton-html5/imports/ui/components/video-preview/container.jsx
  bigbluebutton-html5/imports/ui/components/video-preview/service.js
  bigbluebutton-html5/imports/ui/components/video-provider/service.js
  bigbluebutton-html5/imports/ui/components/video-provider/video-button/container.jsx
  bigbluebutton-html5/private/config/settings.yml
Labels: HTML5 Client, Video

#11315 Fix video preview modal behavior
  bigbluebutton-html5/imports/ui/components/video-preview/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/video-button/component.jsx
Labels: HTML5 Client, Video

#11312 Fix message list not updating when switching between private chats
  bigbluebutton-html5/imports/ui/components/chat/message-list/component.jsx
Labels: HTML5 Client

#11314 Fix icon in chat poll result not displaying
  bigbluebutton-html5/imports/ui/components/chat/message-list/message-list-item/component.jsx
  bigbluebutton-html5/imports/ui/components/poll/service.js
Labels: HTML5 Client

#11272 Clone unmuted input stream for usage with hark
  bigbluebutton-html5/imports/ui/components/audio/audio-controls/component.jsx
  bigbluebutton-html5/imports/ui/components/muted-alert/component.jsx
Labels: HTML5 Client, audio

#11215 Disable authenticated guests
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/apps/users/ChangeUserRoleCmdMsgHdlr.scala
  akka-bbb-apps/src/test/scala/org/bigbluebutton/core/AppsTestFixtures.scala
  bbb-common-message/src/main/scala/org/bigbluebutton/common2/domain/Meeting2x.scala
  bbb-common-message/src/test/scala/org/bigbluebutton/common2/TestFixtures.scala
  bbb-common-web/src/main/java/org/bigbluebutton/api/MeetingService.java
  bbb-common-web/src/main/java/org/bigbluebutton/api/ParamsProcessorUtil.java
  bbb-common-web/src/main/java/org/bigbluebutton/api/domain/Meeting.java
  bbb-common-web/src/main/java/org/bigbluebutton/api2/IBbbWebApiGWApp.java
  bbb-common-web/src/main/java/org/bigbluebutton/api2/domain/UsersProp2.java
  bbb-common-web/src/main/scala/org/bigbluebutton/api2/BbbWebApiGWApp.scala
  bigbluebutton-html5/imports/api/meetings/server/modifiers/addMeeting.js
  bigbluebutton-html5/imports/api/users/server/methods.js
  bigbluebutton-html5/imports/api/users/server/methods/setMobileUser.js
  bigbluebutton-html5/imports/api/users/server/modifiers/addUser.js
  bigbluebutton-html5/imports/api/users/server/modifiers/setMobile.js
  bigbluebutton-html5/imports/startup/client/base.jsx
  bigbluebutton-html5/imports/ui/components/app/component.jsx
  bigbluebutton-html5/imports/ui/components/panel-manager/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/service.js
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/container.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/user-dropdown/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/user-name/component.jsx
  bigbluebutton-html5/imports/ui/components/waiting-users/component.jsx
  bigbluebutton-html5/imports/ui/components/waiting-users/container.jsx
  bigbluebutton-html5/imports/ui/components/waiting-users/styles.scss
  bigbluebutton-html5/private/config/settings.yml
  bigbluebutton-html5/private/locales/en.json
  bigbluebutton-html5/private/locales/pt_BR.json
  bigbluebutton-web/grails-app/conf/bigbluebutton.properties
  bigbluebutton-web/grails-app/conf/spring/resources.xml
Labels: Apps, HTML5 Client

#11322 Set default cursorInterval to 150ms (was 40ms)
  bigbluebutton-html5/private/config/settings.yml
Labels: HTML5 Client

#11323 Set default cursorInterval to 150ms (was 40ms)
  bigbluebutton-html5/private/config/settings.yml
Labels: HTML5 Client

#11337 Fix mobile user-list identification
  bigbluebutton-html5/imports/api/users/server/methods/setMobileUser.js
  bigbluebutton-html5/imports/api/users/server/modifiers/setMobile.js
Labels: HTML5 Client

#11343 Pulled HTML5 locales, Feb 8, 2021
  bigbluebutton-html5/private/locales/ar.json
  bigbluebutton-html5/private/locales/az.json
  bigbluebutton-html5/private/locales/bg_BG.json
  bigbluebutton-html5/private/locales/ca.json
  bigbluebutton-html5/private/locales/cs_CZ.json
  bigbluebutton-html5/private/locales/da.json
  bigbluebutton-html5/private/locales/de.json
  bigbluebutton-html5/private/locales/de_DE.json
  bigbluebutton-html5/private/locales/el_GR.json
  bigbluebutton-html5/private/locales/eo.json
  bigbluebutton-html5/private/locales/es.json
  bigbluebutton-html5/private/locales/es_ES.json
  bigbluebutton-html5/private/locales/es_MX.json
  bigbluebutton-html5/private/locales/et.json
  bigbluebutton-html5/private/locales/eu.json
  bigbluebutton-html5/private/locales/fa_IR.json
  bigbluebutton-html5/private/locales/fi.json
  bigbluebutton-html5/private/locales/fr.json
  bigbluebutton-html5/private/locales/gl.json
  bigbluebutton-html5/private/locales/he.json
  bigbluebutton-html5/private/locales/hi_IN.json
  bigbluebutton-html5/private/locales/hr.json
  bigbluebutton-html5/private/locales/hu_HU.json
  bigbluebutton-html5/private/locales/id.json
  bigbluebutton-html5/private/locales/it_IT.json
  bigbluebutton-html5/private/locales/ja.json
  bigbluebutton-html5/private/locales/ja_JP.json
  bigbluebutton-html5/private/locales/ka.json
  bigbluebutton-html5/private/locales/km.json
  bigbluebutton-html5/private/locales/kn.json
  bigbluebutton-html5/private/locales/ko_KR.json
  bigbluebutton-html5/private/locales/lt_LT.json
  bigbluebutton-html5/private/locales/lv.json
  bigbluebutton-html5/private/locales/nb_NO.json
  bigbluebutton-html5/private/locales/nl.json
  bigbluebutton-html5/private/locales/oc.json
  bigbluebutton-html5/private/locales/pl_PL.json
  bigbluebutton-html5/private/locales/pt.json
  bigbluebutton-html5/private/locales/pt_BR.json
  bigbluebutton-html5/private/locales/ro_RO.json
  bigbluebutton-html5/private/locales/ru.json
  bigbluebutton-html5/private/locales/ru_RU.json
  bigbluebutton-html5/private/locales/sk_SK.json
  bigbluebutton-html5/private/locales/sl.json
  bigbluebutton-html5/private/locales/sr.json
  bigbluebutton-html5/private/locales/sv_SE.json
  bigbluebutton-html5/private/locales/te.json
  bigbluebutton-html5/private/locales/th.json
  bigbluebutton-html5/private/locales/th_TH.json
  bigbluebutton-html5/private/locales/tr.json
  bigbluebutton-html5/private/locales/tr_TR.json
  bigbluebutton-html5/private/locales/uk_UA.json
  bigbluebutton-html5/private/locales/vi_VN.json
  bigbluebutton-html5/private/locales/zh_CN.json
  bigbluebutton-html5/private/locales/zh_TW.json
Labels: HTML5 Client, Localization

#11308 Updated the bbb-webhooks documentation. Ensuring the configuration file gets ignored.
  bbb-webhooks/.gitignore
  bbb-webhooks/README.md
Labels: signed-cla

#11350 Disable user typing notifications when feature is disabled
  bigbluebutton-html5/imports/ui/components/chat/message-form/component.jsx
Labels: HTML5 Client

#11356 Clear meeting-time-remaining collection
  bigbluebutton-html5/imports/api/meetings/server/modifiers/clearMeetingTimeRemaining.js
  bigbluebutton-html5/imports/api/meetings/server/modifiers/meetingHasEnded.js
Labels: HTML5 Client

#11357 [2.3] Clear missing collections on meeting end
  bigbluebutton-html5/imports/api/guest-users/server/modifiers/clearGuestUsers.js
  bigbluebutton-html5/imports/api/meetings/server/modifiers/clearMeetingTimeRemaining.js
  bigbluebutton-html5/imports/api/meetings/server/modifiers/meetingHasEnded.js
  bigbluebutton-html5/imports/api/screenshare/server/modifiers/clearScreenshare.js
  bigbluebutton-html5/imports/api/voice-call-states/server/modifiers/clearVoiceCallStates.js
  bigbluebutton-html5/imports/api/whiteboard-multi-user/server/modifiers/clearWhiteboardMultiUser.js
Labels: HTML5 Client

#11360 Cover clear screen share collection case
  bigbluebutton-html5/imports/api/meetings/server/modifiers/meetingHasEnded.js
  bigbluebutton-html5/imports/api/screenshare/server/modifiers/clearScreenshare.js
Labels: HTML5 Client

#11363 Don't validate insecure http urls for external video to prevent browser errors
  bigbluebutton-html5/imports/ui/components/external-video-player/service.js
Labels: HTML5 Client, externalVideo

#11365 Stop screenshare on joining breakout room
  bigbluebutton-html5/imports/ui/components/breakout-join-confirmation/component.jsx
  bigbluebutton-html5/imports/ui/components/breakout-room/component.jsx
Labels: HTML5 Client

#11341 Add property to settings.yml to enable/disable breakout invitations to moderators
  bigbluebutton-html5/imports/api/breakouts/server/methods/createBreakout.js
  bigbluebutton-html5/imports/ui/components/actions-bar/create-breakout-room/component.jsx
  bigbluebutton-html5/imports/ui/components/breakout-room/invitation/component.jsx
  bigbluebutton-html5/imports/ui/components/breakout-room/invitation/container.jsx
  bigbluebutton-html5/imports/ui/components/breakout-room/service.js
  bigbluebutton-html5/private/config/settings.yml
Labels: HTML5 Client, breakouts

#11364 Fix webcam video dropdown collapse after expanding
  bigbluebutton-html5/imports/ui/components/dropdown/component.jsx
Labels: HTML5 Client

#11370 Add delay to join video button
  bigbluebutton-html5/imports/ui/components/video-provider/video-button/component.jsx
Labels: HTML5 Client

#11374 Remove unsafe lifecycle from all whiteboard related components
  bigbluebutton-html5/imports/ui/components/whiteboard/annotations/pencil/component.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/annotations/poll/component.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-overlay/text-draw-listener/component.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-toolbar/toolbar-menu-item/component.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-toolbar/toolbar-submenu-item/component.jsx
Labels: HTML5 Client, Whiteboard

#11375 Fix rendering after public chat cleared
  bigbluebutton-html5/imports/ui/components/chat/message-list/component.jsx
Labels: HTML5 Client

#11376 Make screen reader announce status changes in userlist
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/user-dropdown/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/user-name/component.jsx
Labels: Accessibilty, HTML5 Client

#11381 Skip echo test in breakout room
  bigbluebutton-html5/imports/startup/client/base.jsx
  bigbluebutton-html5/imports/ui/components/audio/audio-controls/container.jsx
  bigbluebutton-html5/imports/ui/components/audio/audio-modal/component.jsx
  bigbluebutton-html5/imports/ui/components/audio/audio-modal/container.jsx
  bigbluebutton-html5/imports/ui/components/audio/audio-modal/service.js
  bigbluebutton-html5/imports/ui/components/audio/container.jsx
  bigbluebutton-html5/imports/ui/components/modal/service.js
Labels: HTML5 Client, audio

#8697 Fix lost output audio when change client language
  bigbluebutton-html5/imports/ui/components/audio/service.js
Labels: HTML5 Client

#11298 Set safe default values for slide position (WIP)
  bigbluebutton-html5/imports/ui/components/presentation/component.jsx
Labels: HTML5 Client

#11164 preserve bbbWebAPI and sharedSecret over upgrades
  akka-bbb-apps/src/debian/DEBIAN/postinst
  akka-bbb-apps/src/debian/DEBIAN/preinst
Labels: Apps

#11383 User role is incorrect after client reconnect.
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/apps/users/ChangeUserRoleCmdMsgHdlr.scala
Labels: Apps

#11386 Preserve mutestatus when disconnecting/reconnecting microphone
  bigbluebutton-html5/imports/api/voice-users/server/methods/muteToggle.js
  bigbluebutton-html5/imports/ui/components/audio/service.js
  bigbluebutton-html5/imports/ui/services/audio-manager/index.js
Labels: audio

#11389 Fixes interruption of webcam, external video and screenshare when user changes language settings
  bigbluebutton-html5/imports/startup/client/intl.jsx
  bigbluebutton-html5/imports/ui/components/loading-screen/styles.scss
Labels: HTML5 Client

#11410 Show uploaded slides from other users
  bigbluebutton-html5/imports/ui/components/presentation/presentation-uploader/container.jsx
Labels: HTML5 Client

#10291 Store the changed and default settings in different variables
  bigbluebutton-html5/imports/ui/services/settings/index.js
Labels: HTML5 Client

#11400 Fix user-list-item dropdowns breaking on mobile screen sizes
  bigbluebutton-html5/imports/ui/components/dropdown/styles.scss
Labels: HTML5 Client

#11416 Fix 'data-test' values for chat messages
  bigbluebutton-html5/imports/ui/components/chat/time-window-list/time-window-chat-item/component.jsx
  bigbluebutton-html5/imports/ui/components/chat/time-window-list/time-window-chat-item/message-chat-item/component.jsx
Labels: HTML5 Client

#11317 Split Meteor roles backend-frontend revisit
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core2/FromAkkaAppsMsgSenderActor.scala
  bbb-common-web/src/main/java/org/bigbluebutton/api/HTML5LoadBalancingService.java
  bbb-common-web/src/main/java/org/bigbluebutton/api/util/HTML5ProcessLine.java
  bigbluebutton-html5/deploy_to_usr_share.sh
  bigbluebutton-html5/dev_local_deployment/README.md
  bigbluebutton-html5/dev_local_deployment/bbb-html5-backend@.service
  bigbluebutton-html5/dev_local_deployment/bbb-html5-frontend@.service
  bigbluebutton-html5/dev_local_deployment/mongo-ramdisk.conf
  bigbluebutton-html5/dev_local_deployment/mongod_start_pre.sh
  bigbluebutton-html5/dev_local_deployment/systemd_start.sh
  bigbluebutton-html5/dev_local_deployment/systemd_start_frontend.sh
  bigbluebutton-html5/dev_local_deployment/workers-start.sh
  bigbluebutton-html5/imports/api/meetings/server/handlers/meetingDestruction.js
  bigbluebutton-html5/imports/api/meetings/server/modifiers/addMeeting.js
  bigbluebutton-html5/imports/api/meetings/server/modifiers/meetingHasEnded.js
  bigbluebutton-html5/imports/api/users/server/handlers/validateAuthToken.js
  bigbluebutton-html5/imports/api/users/server/store/bannedUsers.js
  bigbluebutton-html5/imports/startup/server/index.js
  bigbluebutton-html5/imports/startup/server/redis.js
  bigbluebutton-html5/imports/startup/server/settings.js
  bigbluebutton-html5/package.json
  bigbluebutton-html5/private/config/settings.yml
  bigbluebutton-web/grails-app/conf/bigbluebutton.properties
  bigbluebutton-web/grails-app/controllers/org/bigbluebutton/web/controllers/ApiController.groovy
Labels: Apps, HTML5 Client

#11339 Enable video-pagination and cameraQualityThresholds by default
  bigbluebutton-html5/private/config/settings.yml
Labels: Enhancement, Performance, User Experience (UX), Video

#11366 Updated poll UI: question field and typed responses
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/apps/polls/PollApp2x.scala
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/apps/polls/RespondToTypedPollReqMsgHdlr.scala
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/apps/polls/StartCustomPollReqMsgHdlr.scala
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/apps/polls/StartPollReqMsgHdlr.scala
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/models/Polls.scala
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/pubsub/senders/ReceivedJsonMsgHandlerActor.scala
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/running/MeetingActor.scala
  bbb-common-message/src/main/scala/org/bigbluebutton/common2/msgs/PollsMsgs.scala
  bigbluebutton-html5/imports/api/polls/server/eventHandlers.js
  bigbluebutton-html5/imports/api/polls/server/handlers/pollStarted.js
  bigbluebutton-html5/imports/api/polls/server/handlers/userTypedResponse.js
  bigbluebutton-html5/imports/api/polls/server/methods.js
  bigbluebutton-html5/imports/api/polls/server/methods/publishTypedVote.js
  bigbluebutton-html5/imports/api/polls/server/methods/startPoll.js
  bigbluebutton-html5/imports/api/polls/server/modifiers/addPoll.js
  bigbluebutton-html5/imports/ui/components/poll/component.jsx
  bigbluebutton-html5/imports/ui/components/poll/container.jsx
  bigbluebutton-html5/imports/ui/components/poll/live-result/component.jsx
  bigbluebutton-html5/imports/ui/components/poll/live-result/styles.scss
  bigbluebutton-html5/imports/ui/components/poll/styles.scss
  bigbluebutton-html5/imports/ui/components/polling/component.jsx
  bigbluebutton-html5/imports/ui/components/polling/container.jsx
  bigbluebutton-html5/imports/ui/components/polling/service.js
  bigbluebutton-html5/imports/ui/components/polling/styles.scss
  bigbluebutton-html5/imports/ui/components/presentation/presentation-toolbar/container.jsx
  bigbluebutton-html5/private/locales/en.json
Labels: Apps, HTML5 Client, Polling

#11424 Add yes / no / abstention option to updated Poll UI
  bigbluebutton-html5/imports/ui/components/poll/component.jsx
  bigbluebutton-html5/imports/ui/components/poll/styles.scss
Labels: HTML5 Client, Polling

#11417 Skip publishing poll annotation to whiteboard if presentation swapped
  bigbluebutton-html5/imports/ui/components/whiteboard/annotations/poll/component.jsx
Labels: HTML5 Client

#11420 Fix user status in chat
  bigbluebutton-html5/imports/ui/components/chat/time-window-list/time-window-chat-item/component.jsx
  bigbluebutton-html5/imports/ui/components/chat/time-window-list/time-window-chat-item/container.jsx
  bigbluebutton-html5/imports/ui/components/components-data/chat-context/adapter.jsx
  bigbluebutton-html5/imports/ui/components/components-data/chat-context/context.jsx
  bigbluebutton-html5/imports/ui/components/components-data/users-context/adapter.jsx
Labels: Chat, HTML5 Client

#11429 Remove duplicate import of throttle
  bigbluebutton-html5/imports/ui/components/audio/service.js
Labels: HTML5 Client

#11431 Pulled HTML5 locales on Feb 18, 2021
  bigbluebutton-html5/private/locales/ar.json
  bigbluebutton-html5/private/locales/az.json
  bigbluebutton-html5/private/locales/bg_BG.json
  bigbluebutton-html5/private/locales/ca.json
  bigbluebutton-html5/private/locales/cs_CZ.json
  bigbluebutton-html5/private/locales/da.json
  bigbluebutton-html5/private/locales/de.json
  bigbluebutton-html5/private/locales/el_GR.json
  bigbluebutton-html5/private/locales/eo.json
  bigbluebutton-html5/private/locales/es.json
  bigbluebutton-html5/private/locales/es_ES.json
  bigbluebutton-html5/private/locales/es_MX.json
  bigbluebutton-html5/private/locales/et.json
  bigbluebutton-html5/private/locales/eu.json
  bigbluebutton-html5/private/locales/fa_IR.json
  bigbluebutton-html5/private/locales/fi.json
  bigbluebutton-html5/private/locales/fr.json
  bigbluebutton-html5/private/locales/gl.json
  bigbluebutton-html5/private/locales/he.json
  bigbluebutton-html5/private/locales/hi_IN.json
  bigbluebutton-html5/private/locales/hr.json
  bigbluebutton-html5/private/locales/hu_HU.json
  bigbluebutton-html5/private/locales/id.json
  bigbluebutton-html5/private/locales/it_IT.json
  bigbluebutton-html5/private/locales/ja.json
  bigbluebutton-html5/private/locales/ka.json
  bigbluebutton-html5/private/locales/km.json
  bigbluebutton-html5/private/locales/kn.json
  bigbluebutton-html5/private/locales/ko_KR.json
  bigbluebutton-html5/private/locales/lt_LT.json
  bigbluebutton-html5/private/locales/lv.json
  bigbluebutton-html5/private/locales/nb_NO.json
  bigbluebutton-html5/private/locales/nl.json
  bigbluebutton-html5/private/locales/pl_PL.json
  bigbluebutton-html5/private/locales/pt.json
  bigbluebutton-html5/private/locales/pt_BR.json
  bigbluebutton-html5/private/locales/ro_RO.json
  bigbluebutton-html5/private/locales/ru.json
  bigbluebutton-html5/private/locales/ru_RU.json
  bigbluebutton-html5/private/locales/sk_SK.json
  bigbluebutton-html5/private/locales/sl.json
  bigbluebutton-html5/private/locales/sr.json
  bigbluebutton-html5/private/locales/sv_SE.json
  bigbluebutton-html5/private/locales/te.json
  bigbluebutton-html5/private/locales/th.json
  bigbluebutton-html5/private/locales/th_TH.json
  bigbluebutton-html5/private/locales/tr.json
  bigbluebutton-html5/private/locales/tr_TR.json
  bigbluebutton-html5/private/locales/uk_UA.json
  bigbluebutton-html5/private/locales/vi_VN.json
  bigbluebutton-html5/private/locales/zh_CN.json
  bigbluebutton-html5/private/locales/zh_TW.json
Labels: HTML5 Client, Localization

#11437 Fix user-sent poll result messages
  bigbluebutton-html5/imports/api/group-chat-msg/server/modifiers/addSystemMsg.js
  bigbluebutton-html5/imports/api/polls/server/eventHandlers.js
  bigbluebutton-html5/imports/api/polls/server/handlers/sendPollChatMsg.js
  bigbluebutton-html5/imports/ui/components/chat/time-window-list/time-window-chat-item/component.jsx
  bigbluebutton-html5/imports/ui/components/chat/time-window-list/time-window-chat-item/message-chat-item/component.jsx
  bigbluebutton-html5/imports/ui/components/poll/component.jsx
  bigbluebutton-html5/imports/ui/components/poll/container.jsx
  bigbluebutton-html5/imports/ui/components/poll/live-result/component.jsx
  bigbluebutton-html5/imports/ui/components/poll/service.js
  bigbluebutton-html5/private/config/settings.yml
Labels: Chat, HTML5 Client, Polling

#11423 Fix layout params (show participants + show public chat) not affecting the meeting
  bigbluebutton-html5/imports/startup/client/base.jsx
  bigbluebutton-html5/private/config/settings.yml
Labels: HTML5 Client

#11439 Remove setNumberOfHTML5Processes
  bigbluebutton-config/bin/apply-lib.sh
Labels: Config

#11453 Fix bbb_skip_check_audio_on_first_join parameter
  bigbluebutton-html5/imports/ui/components/audio/audio-modal/component.jsx
  bigbluebutton-html5/imports/ui/components/audio/audio-modal/container.jsx
Labels: audio

#11436 Implemented merge option for default and local settings.
  bigbluebutton-html5/imports/startup/server/settings.js
Labels: HTML5 Client, signed-cla

#11454 Akka config
  akka-bbb-apps/build.sbt
  akka-bbb-apps/src/debian/DEBIAN/postinst
  akka-bbb-apps/src/debian/DEBIAN/postrm
  akka-bbb-apps/src/debian/DEBIAN/preinst
  akka-bbb-fsesl/build.sbt
  akka-bbb-fsesl/src/debian/DEBIAN/postrm
  akka-bbb-fsesl/src/debian/DEBIAN/preinst
  bigbluebutton-config/bin/bbb-conf
Labels: Apps, Config

#11466 Fix skip check test
  bigbluebutton-html5/tests/puppeteer/customparameters/customparameters.js
Labels: HTML5 Client, QA

#11443 Do not uncessarily fetch locales at first time you open/save settings menu
  bigbluebutton-html5/imports/startup/client/intl.jsx
Labels: HTML5 Client, Localization

#11469 Remove unused 'app.poll.yn' from locales/en.json
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client, Polling

#11468 Prevent ejecting user from them main room when leaving breakout room
  bigbluebutton-html5/imports/ui/components/app/container.jsx
Labels: HTML5 Client

#11471 Show polling button over the full-screened shared-screen
  bigbluebutton-html5/imports/ui/components/app/component.jsx
  bigbluebutton-html5/imports/ui/components/layout/context.jsx
  bigbluebutton-html5/imports/ui/components/screenshare/component.jsx
Labels: HTML5 Client

#11467 Clean up HTMLAudioElement used for notification sounds
  bigbluebutton-html5/imports/ui/components/activity-check/component.jsx
  bigbluebutton-html5/imports/ui/components/audio/audio-test/container.jsx
  bigbluebutton-html5/imports/ui/services/audio-manager/index.js
Labels: HTML5 Client, audio

#11426 Fix nav-bar unread message indicator
  bigbluebutton-html5/imports/ui/components/nav-bar/container.jsx
  bigbluebutton-html5/imports/ui/components/user-list/chat-list-item/component.jsx
Labels: Chat, HTML5 Client

#11482 Do not return empty array when groupChats is empty
  bigbluebutton-html5/imports/ui/components/user-list/service.js
Labels: HTML5 Client

#11480 Fix moderator welcome message closing border
  bigbluebutton-html5/imports/ui/components/chat/message-list/component.jsx
  bigbluebutton-html5/imports/ui/components/chat/message-list/container.jsx
  bigbluebutton-html5/imports/ui/components/chat/message-list/message-list-item/component.jsx
  bigbluebutton-html5/imports/ui/components/chat/message-list/message-list-item/container.jsx
  bigbluebutton-html5/imports/ui/components/chat/message-list/message-list-item/message/component.jsx
  bigbluebutton-html5/imports/ui/components/chat/message-list/message-list-item/styles.scss
  bigbluebutton-html5/imports/ui/components/chat/message-list/styles.scss
  bigbluebutton-html5/imports/ui/components/chat/time-window-list/component.jsx
Labels: Chat, HTML5 Client

#11483 Add break-word to system messages
  bigbluebutton-html5/imports/ui/components/chat/time-window-list/time-window-chat-item/styles.scss
Labels: Chat, HTML5 Client

#11485 Fix unnecessary re-renders caused by #11480 changes
  bigbluebutton-html5/imports/ui/components/chat/time-window-list/component.jsx
Labels: Chat, HTML5 Client

#11477 Fix whiteboard text-area not allowing input on Firefox
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-overlay/text-draw-listener/component.jsx
Labels: HTML5 Client

#11486 Disable customHeartbeat 10826
  bigbluebutton-html5/private/config/settings.yml
Labels: HTML5 Client

#11487 Set falllback value of voiceConf.ejectRogueVoiceUsers to true
  akka-bbb-apps/src/main/scala/org/bigbluebutton/SystemConfiguration.scala
Labels: Apps

#11492 Add extra logs when handling messages on redis
  bigbluebutton-html5/imports/startup/server/redis.js
Labels: HTML5 Client

#11502 Visual changes on connection status modal
  bigbluebutton-html5/imports/ui/components/connection-status/modal/component.jsx
  bigbluebutton-html5/imports/ui/components/connection-status/modal/styles.scss
Labels: HTML5 Client

#11500 Fix whiteboard use for iPad and other landscape mobile devices
  bigbluebutton-html5/imports/ui/components/dropdown/component.jsx
Labels: HTML5 Client

#11503 Fix for userlist menu on tablets
  bigbluebutton-html5/imports/ui/components/dropdown/component.jsx
Labels: HTML5 Client

#11505 Recover mute state for moderator when returning from breakout's audio transfer
  bigbluebutton-html5/imports/ui/components/audio/audio-controls/container.jsx
  bigbluebutton-html5/imports/ui/components/audio/service.js
  bigbluebutton-html5/imports/ui/components/breakout-room/component.jsx
  bigbluebutton-html5/imports/ui/components/breakout-room/container.jsx
  bigbluebutton-html5/imports/ui/services/audio-manager/index.js
Labels: HTML5 Client, audio

#11510 Fix breakout room timer sync
  bigbluebutton-html5/imports/ui/components/breakout-room/breakout-remaining-time/container.jsx
Labels: HTML5 Client, breakouts

#11493 WIP: Http endpoint added for health check
  akka-bbb-apps/project/Dependencies.scala
  akka-bbb-apps/src/main/scala/org/bigbluebutton/ApiService.scala
  akka-bbb-apps/src/main/scala/org/bigbluebutton/Boot.scala
  akka-bbb-apps/src/main/scala/org/bigbluebutton/SystemConfiguration.scala
  akka-bbb-apps/src/main/scala/org/bigbluebutton/service/HealthzService.scala
  akka-bbb-apps/src/universal/conf/application.conf
Labels: Apps

#11422 CI presettings: part 1 - set page.viewPort && export visual regressions testing media files
  bigbluebutton-html5/tests/puppeteer/core/page.js
  bigbluebutton-html5/tests/puppeteer/import-tests-ci-resources.sh
  bigbluebutton-html5/tests/puppeteer/run.sh
Labels: HTML5 Client, QA

#11515 Cleanup joinedAudioOnly state when user disconnects or reconnect microphone
  bigbluebutton-html5/imports/ui/components/audio/service.js
  bigbluebutton-html5/imports/ui/components/breakout-room/component.jsx
  bigbluebutton-html5/imports/ui/components/breakout-room/container.jsx
  bigbluebutton-html5/imports/ui/services/audio-manager/index.js
Labels: HTML5 Client

#11516 Do not try to recover mute state when joining listenonly
  bigbluebutton-html5/imports/ui/components/audio/service.js
  bigbluebutton-html5/imports/ui/services/audio-manager/index.js
Labels: HTML5 Client
