Repository bigbluebutton/bigbluebutton, pull requests merged in 2021-03, with the labels that each got.

#11523 Fix mobile user removal bug
  bigbluebutton-html5/imports/startup/client/base.jsx
Labels: HTML5 Client

#11520 Breakout room audio fixes
  bigbluebutton-html5/imports/api/audio/client/bridge/sip.js
  bigbluebutton-html5/imports/ui/components/audio/container.jsx
Labels: HTML5 Client, audio

#11524 Fix chat messages timestamp
  bigbluebutton-html5/imports/ui/components/chat/time-window-list/time-window-chat-item/component.jsx
  bigbluebutton-html5/imports/ui/components/chat/time-window-list/time-window-chat-item/container.jsx
Labels: Chat, HTML5 Client

#11526 Fix chat textarea resizing bug
  bigbluebutton-html5/imports/ui/components/chat/message-form/component.jsx
Labels: Chat, HTML5 Client

#11525 Adds lastAuthTokenValidatedOn to users
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/apps/users/ValidateAuthTokenReqMsgHdlr.scala
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/models/RegisteredUsers.scala
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core2/message/senders/MsgBuilder.scala
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core2/message/senders/ValidateAuthTokenRespMsgSender.scala
  bbb-common-message/src/main/scala/org/bigbluebutton/common2/msgs/UsersMgs.scala
  bigbluebutton-html5/imports/api/users/server/handlers/validateAuthToken.js
Labels: Apps

#11447 External video events propagated through akka-apps
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/apps/externalvideo/ExternalVideoApp2x.scala
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/apps/externalvideo/StartExternalVideoPubMsgHdlr.scala
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/apps/externalvideo/StopExternalVideoPubMsgHdlr.scala
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/apps/externalvideo/UpdateExternalVideoPubMsgHdlr.scala
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/pubsub/senders/ReceivedJsonMsgHandlerActor.scala
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/record/events/AbsractExternalVideoRecordEvent.scala
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/record/events/StartExternalVideoRecordEvent.scala
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/record/events/StopExternalVideoRecordEvent.scala
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/record/events/UpdateExternalVideoRecordEvent.scala
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/running/MeetingActor.scala
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core2/FromAkkaAppsMsgSenderActor.scala
  akka-bbb-apps/src/main/scala/org/bigbluebutton/endpoint/redis/RedisRecorderActor.scala
  bbb-common-message/src/main/scala/org/bigbluebutton/common2/msgs/ExternalVideoMsgs.scala
  bigbluebutton-html5/imports/api/external-videos/index.js
  bigbluebutton-html5/imports/api/external-videos/server/eventHandlers.js
  bigbluebutton-html5/imports/api/external-videos/server/handlers/startExternalVideo.js
  bigbluebutton-html5/imports/api/external-videos/server/handlers/stopExternalVideo.js
  bigbluebutton-html5/imports/api/external-videos/server/handlers/updateExternalVideo.js
  bigbluebutton-html5/imports/api/external-videos/server/index.js
  bigbluebutton-html5/imports/api/external-videos/server/methods.js
  bigbluebutton-html5/imports/api/external-videos/server/methods/destroyExternalVideo.js
  bigbluebutton-html5/imports/api/external-videos/server/methods/emitExternalVideoEvent.js
  bigbluebutton-html5/imports/api/external-videos/server/methods/initializeExternalVideo.js
  bigbluebutton-html5/imports/api/external-videos/server/methods/startWatchingExternalVideo.js
  bigbluebutton-html5/imports/api/external-videos/server/methods/stopWatchingExternalVideo.js
  bigbluebutton-html5/imports/api/external-videos/server/methods/stopWatchingExternalVideoSystemCall.js
  bigbluebutton-html5/imports/api/external-videos/server/streamer.js
  bigbluebutton-html5/imports/api/meetings/server/handlers/meetingDestruction.js
  bigbluebutton-html5/imports/api/meetings/server/modifiers/addMeeting.js
  bigbluebutton-html5/imports/api/meetings/server/modifiers/meetingHasEnded.js
  bigbluebutton-html5/imports/api/screenshare/server/handlers/screenshareStarted.js
  bigbluebutton-html5/imports/api/users/server/modifiers/changePresenter.js
  bigbluebutton-html5/imports/api/users/server/modifiers/removeUser.js
  bigbluebutton-html5/imports/api/users/server/store/bannedUsers.js
  bigbluebutton-html5/imports/ui/components/external-video-player/service.js
Labels: Apps, HTML5 Client, externalVideo

#11514 Adds tests recording + updates some outdated tests + linting
  bigbluebutton-html5/imports/ui/components/actions-bar/presentation-options/component.jsx
  bigbluebutton-html5/imports/ui/components/audio/audio-modal/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/presentation-close-button/component.jsx
  bigbluebutton-html5/package.json
  bigbluebutton-html5/private/config/settings.yml
  bigbluebutton-html5/tests/puppeteer/.env-template
  bigbluebutton-html5/tests/puppeteer/README.md
  bigbluebutton-html5/tests/puppeteer/audio.obj.js
  bigbluebutton-html5/tests/puppeteer/audio/elements.js
  bigbluebutton-html5/tests/puppeteer/audio/util.js
  bigbluebutton-html5/tests/puppeteer/breakout.obj.js
  bigbluebutton-html5/tests/puppeteer/breakout/create.js
  bigbluebutton-html5/tests/puppeteer/breakout/join.js
  bigbluebutton-html5/tests/puppeteer/breakout/util.js
  bigbluebutton-html5/tests/puppeteer/chat.obj.js
  bigbluebutton-html5/tests/puppeteer/chat/clear.js
  bigbluebutton-html5/tests/puppeteer/chat/copy.js
  bigbluebutton-html5/tests/puppeteer/chat/poll.js
  bigbluebutton-html5/tests/puppeteer/chat/save.js
  bigbluebutton-html5/tests/puppeteer/chat/send.js
  bigbluebutton-html5/tests/puppeteer/core/constants.js
  bigbluebutton-html5/tests/puppeteer/core/page.js
  bigbluebutton-html5/tests/puppeteer/customparameters.obj.js
  bigbluebutton-html5/tests/puppeteer/customparameters/customparameters.js
  bigbluebutton-html5/tests/puppeteer/customparameters/elements.js
  bigbluebutton-html5/tests/puppeteer/customparameters/util.js
  bigbluebutton-html5/tests/puppeteer/notifications.obj.js
  bigbluebutton-html5/tests/puppeteer/notifications/elements.js
  bigbluebutton-html5/tests/puppeteer/notifications/notifications.js
  bigbluebutton-html5/tests/puppeteer/notifications/util.js
  bigbluebutton-html5/tests/puppeteer/package-lock.json
  bigbluebutton-html5/tests/puppeteer/package.json
  bigbluebutton-html5/tests/puppeteer/polling.obj.js
  bigbluebutton-html5/tests/puppeteer/polling/elemens.js
  bigbluebutton-html5/tests/puppeteer/presentation.obj.js
  bigbluebutton-html5/tests/puppeteer/screenshare.obj.js
  bigbluebutton-html5/tests/puppeteer/screenshare/screenshare.js
  bigbluebutton-html5/tests/puppeteer/screenshare/util.js
  bigbluebutton-html5/tests/puppeteer/sharednotes.obj.js
  bigbluebutton-html5/tests/puppeteer/user.obj.js
  bigbluebutton-html5/tests/puppeteer/user/multiusers.js
  bigbluebutton-html5/tests/puppeteer/virtualizedlist.obj.js
  bigbluebutton-html5/tests/puppeteer/virtualizedlist/virtualize.js
  bigbluebutton-html5/tests/puppeteer/webcam.obj.js
  bigbluebutton-html5/tests/puppeteer/webcam/util.js
  bigbluebutton-html5/tests/puppeteer/webcamlayout.obj.js
  bigbluebutton-html5/tests/puppeteer/whiteboard.obj.js
Labels: HTML5 Client, QA

#11537 Update handleClick condition (fix text-area for FireFox)
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-overlay/text-draw-listener/component.jsx
Labels: HTML5 Client

#11542 Revert custom changes to settings.yml
  bigbluebutton-html5/private/config/settings.yml
Labels: HTML5 Client

#11543 Fix svg width error
  bigbluebutton-html5/imports/ui/components/presentation/component.jsx
Labels: HTML5 Client

#11532 numUsersVideo being undefined breaks layout
  bigbluebutton-html5/imports/startup/client/base.jsx
Labels: HTML5 Client

#11531 Add reconnection and sync handler
  bigbluebutton-html5/imports/api/group-chat-msg/server/methods.js
  bigbluebutton-html5/imports/api/group-chat-msg/server/methods/chatMessageBeforeJoinCounter.js
  bigbluebutton-html5/imports/api/group-chat-msg/server/methods/fetchMessagePerPage.js
  bigbluebutton-html5/imports/api/group-chat-msg/server/publishers.js
  bigbluebutton-html5/imports/ui/components/chat/container.jsx
  bigbluebutton-html5/imports/ui/components/components-data/chat-context/adapter.jsx
  bigbluebutton-html5/imports/ui/components/components-data/chat-context/context.jsx
  bigbluebutton-html5/private/config/settings.yml
  bigbluebutton-html5/private/locales/en.json
Labels: Chat, HTML5 Client

#11553 Fix clear chat for single message
  bigbluebutton-html5/imports/ui/components/chat/time-window-list/component.jsx
Labels: Chat, HTML5 Client

#11556 Quick poll improvements
  bigbluebutton-html5/imports/ui/components/actions-bar/quick-poll-dropdown/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/service.js
Labels: HTML5 Client, Polling

#11550 Add avatar back to chat poll result message
  bigbluebutton-html5/imports/ui/components/chat/time-window-list/time-window-chat-item/component.jsx
  bigbluebutton-html5/imports/ui/components/chat/time-window-list/time-window-chat-item/styles.scss
Labels: HTML5 Client, Polling

#11560 Backport audio improvements from 2.3
  bigbluebutton-html5/imports/api/audio/client/bridge/sip.js
  bigbluebutton-html5/imports/ui/components/audio/audio-controls/container.jsx
  bigbluebutton-html5/imports/ui/components/audio/service.js
  bigbluebutton-html5/imports/ui/components/breakout-room/component.jsx
  bigbluebutton-html5/imports/ui/components/breakout-room/container.jsx
  bigbluebutton-html5/imports/ui/services/audio-manager/index.js
Labels: audio

#11529 Fix openPanel errors related to polling and shared notes
  bigbluebutton-html5/imports/ui/components/chat/message-form/styles.scss
  bigbluebutton-html5/imports/ui/components/layout/layout-manager.jsx
  bigbluebutton-html5/imports/ui/components/meeting-ended/component.jsx
  bigbluebutton-html5/imports/ui/components/panel-manager/component.jsx
Labels: HTML5 Client, Layout

#11470 add overlay config for bbb-web
  bigbluebutton-config/bin/bbb-conf
  bigbluebutton-web/grails-app/conf/application.groovy
Labels: Apps, Config

#11581 Fixes incorrectly displaying of 'restore presentation' button when presentation is disabled
  bigbluebutton-html5/imports/ui/components/actions-bar/component.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/container.jsx
Labels: HTML5 Client

#11588 Changes on end meeting message
  bigbluebutton-html5/imports/ui/components/end-meeting-confirmation/component.jsx
  bigbluebutton-html5/imports/ui/components/end-meeting-confirmation/service.js
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#11591 Improve the way we observe changes on Users's collection
  bigbluebutton-html5/imports/startup/client/base.jsx
Labels: HTML5 Client, audio

#11584 When a moderator ends a meeting, indicate to viewers who ended the meeting
  bigbluebutton-html5/imports/api/meetings/server/handlers/meetingEnd.js
  bigbluebutton-html5/imports/ui/components/meeting-ended/component.jsx
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#11587 Improve the way store information about breakout audio transfer
  bigbluebutton-html5/imports/ui/components/audio/audio-controls/container.jsx
  bigbluebutton-html5/imports/ui/components/audio/service.js
  bigbluebutton-html5/imports/ui/components/breakout-room/component.jsx
  bigbluebutton-html5/imports/ui/components/breakout-room/container.jsx
  bigbluebutton-html5/imports/ui/services/audio-manager/index.js
Labels: HTML5 Client, audio, breakouts

#11600 Fixes incomplete session data error caused by PR #11529
  bigbluebutton-html5/imports/ui/components/layout/layout-manager.jsx
Labels: HTML5 Client

#11601 Fix audio and push alerts for user join
  bigbluebutton-html5/imports/startup/client/base.jsx
Labels: HTML5 Client, audio

#11605 Fix legacy client with customHeartbeat:false
  bigbluebutton-html5/imports/startup/server/index.js
Labels: HTML5 Client

#11595 Fixes presentation invisible box appearing if presentation is hidden
  bigbluebutton-html5/imports/ui/components/media/webcam-draggable-overlay/component.jsx
Labels: HTML5 Client

#11559 Editing poll options via drag and drop
  bigbluebutton-html5/imports/ui/components/poll/component.jsx
  bigbluebutton-html5/imports/ui/components/poll/dragAndDrop/component.jsx
  bigbluebutton-html5/imports/ui/components/poll/dragAndDrop/styles.scss
  bigbluebutton-html5/imports/ui/components/poll/styles.scss
  bigbluebutton-html5/private/config/settings.yml
  bigbluebutton-html5/private/locales/de.json
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client, Polling

#11607 User logged out ValidateAuthToken retracted
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/apps/users/RegisterUserReqMsgHdlr.scala
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/apps/users/UserLeaveReqMsgHdlr.scala
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/apps/users/ValidateAuthTokenReqMsgHdlr.scala
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/models/RegisteredUsers.scala
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/models/Users2x.scala
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core2/message/senders/MsgBuilder.scala
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core2/message/senders/ValidateAuthTokenRespMsgSender.scala
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core2/testdata/FakeUserGenerator.scala
  akka-bbb-apps/src/test/scala/org/bigbluebutton/core2/testdata/TestDataGen.scala
  bbb-common-message/src/main/scala/org/bigbluebutton/common2/msgs/UsersMgs.scala
  bigbluebutton-html5/imports/api/users/server/methods/userLeaving.js
  bigbluebutton-html5/imports/api/users/server/methods/userLeftMeeting.js
Labels: Apps, HTML5 Client

#11223 Alter UserLeaveReqMsg message payload
  bigbluebutton-html5/imports/api/users/server/methods/userLeaving.js
  bigbluebutton-html5/imports/api/users/server/methods/userLeftMeeting.js
Labels: HTML5 Client

#11596 re-implement chat sync and fix stucked loading indicator
  bigbluebutton-html5/imports/api/group-chat-msg/server/methods.js
  bigbluebutton-html5/imports/api/group-chat-msg/server/methods/chatMessageBeforeJoinCounter.js
  bigbluebutton-html5/imports/api/group-chat-msg/server/methods/fetchMessagePerPage.js
  bigbluebutton-html5/imports/api/group-chat-msg/server/publishers.js
  bigbluebutton-html5/imports/ui/components/chat/component.jsx
  bigbluebutton-html5/imports/ui/components/chat/container.jsx
  bigbluebutton-html5/imports/ui/components/chat/time-window-list/component.jsx
  bigbluebutton-html5/imports/ui/components/components-data/chat-context/adapter.jsx
  bigbluebutton-html5/imports/ui/components/components-data/chat-context/context.jsx
  bigbluebutton-html5/private/config/settings.yml
  bigbluebutton-html5/public/locales/en.json
Labels: Chat, HTML5 Client

#11620 Submit typed polling response by pressing enter
  bigbluebutton-html5/imports/ui/components/polling/component.jsx
Labels: HTML5 Client

#11589 Recording processing using MP4/OGG temporary files, stream copy, and …
  record-and-playback/core/lib/recordandplayback/edl.rb
  record-and-playback/core/lib/recordandplayback/edl/audio.rb
  record-and-playback/core/lib/recordandplayback/edl/video.rb
  record-and-playback/core/lib/recordandplayback/generators/audio_processor.rb
  record-and-playback/core/lib/recordandplayback/generators/video.rb
  record-and-playback/presentation/scripts/presentation.yml
  record-and-playback/presentation/scripts/process/presentation.rb
Labels: Recording, signed-cla

#11611 don't prompt for "Microphone" if that's the only option presented to the user
  bigbluebutton-html5/imports/ui/components/audio/audio-modal/component.jsx
Labels: HTML5 Client, audio

#11621 Fix locales url settings + captions locales order
  bigbluebutton-html5/imports/ui/components/captions/service.js
  bigbluebutton-html5/private/config/settings.yml
Labels: HTML5 Client

#11632 listen only: remove the old silent audio autoplay workaround (#11115)
  bigbluebutton-html5/imports/ui/services/audio-manager/index.js
  bigbluebutton-html5/public/resources/sounds/silence.mp3
Labels: audio

#11630 listenonly,video-provider,screenshare: remove ICE gathering pre-flight check
  bigbluebutton-html5/imports/ui/components/screenshare/service.js
  bigbluebutton-html5/imports/ui/components/video-provider/component.jsx
  bigbluebutton-html5/imports/ui/services/audio-manager/index.js
  bigbluebutton-html5/imports/utils/safari-webrtc.js
  bigbluebutton-html5/private/config/settings.yml
Labels: HTML5 Client

#11638 Pulled HTML5 locales on March 12, 2021
  bigbluebutton-html5/public/locales/ar.json
  bigbluebutton-html5/public/locales/az.json
  bigbluebutton-html5/public/locales/bg_BG.json
  bigbluebutton-html5/public/locales/ca.json
  bigbluebutton-html5/public/locales/cs_CZ.json
  bigbluebutton-html5/public/locales/da.json
  bigbluebutton-html5/public/locales/de.json
  bigbluebutton-html5/public/locales/el_GR.json
  bigbluebutton-html5/public/locales/eo.json
  bigbluebutton-html5/public/locales/es.json
  bigbluebutton-html5/public/locales/es_ES.json
  bigbluebutton-html5/public/locales/es_MX.json
  bigbluebutton-html5/public/locales/et.json
  bigbluebutton-html5/public/locales/eu.json
  bigbluebutton-html5/public/locales/fa_IR.json
  bigbluebutton-html5/public/locales/fi.json
  bigbluebutton-html5/public/locales/fr.json
  bigbluebutton-html5/public/locales/gl.json
  bigbluebutton-html5/public/locales/he.json
  bigbluebutton-html5/public/locales/hi_IN.json
  bigbluebutton-html5/public/locales/hr.json
  bigbluebutton-html5/public/locales/hu_HU.json
  bigbluebutton-html5/public/locales/id.json
  bigbluebutton-html5/public/locales/it_IT.json
  bigbluebutton-html5/public/locales/ja.json
  bigbluebutton-html5/public/locales/ka.json
  bigbluebutton-html5/public/locales/km.json
  bigbluebutton-html5/public/locales/kn.json
  bigbluebutton-html5/public/locales/ko_KR.json
  bigbluebutton-html5/public/locales/lt_LT.json
  bigbluebutton-html5/public/locales/lv.json
  bigbluebutton-html5/public/locales/nb_NO.json
  bigbluebutton-html5/public/locales/nl.json
  bigbluebutton-html5/public/locales/oc.json
  bigbluebutton-html5/public/locales/pl_PL.json
  bigbluebutton-html5/public/locales/pt.json
  bigbluebutton-html5/public/locales/pt_BR.json
  bigbluebutton-html5/public/locales/ro_RO.json
  bigbluebutton-html5/public/locales/ru.json
  bigbluebutton-html5/public/locales/ru_RU.json
  bigbluebutton-html5/public/locales/sk_SK.json
  bigbluebutton-html5/public/locales/sl.json
  bigbluebutton-html5/public/locales/sr.json
  bigbluebutton-html5/public/locales/sv_SE.json
  bigbluebutton-html5/public/locales/te.json
  bigbluebutton-html5/public/locales/th.json
  bigbluebutton-html5/public/locales/th_TH.json
  bigbluebutton-html5/public/locales/tr.json
  bigbluebutton-html5/public/locales/tr_TR.json
  bigbluebutton-html5/public/locales/uk_UA.json
  bigbluebutton-html5/public/locales/vi_VN.json
  bigbluebutton-html5/public/locales/zh_CN.json
  bigbluebutton-html5/public/locales/zh_TW.json
Labels: Localization

#11642 Change the color of color-picker icon even when the text tool is selected
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-toolbar/component.jsx
Labels: HTML5 Client, Whiteboard

#11650 fix: create meeting message order precedes group chat message in akka…
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/BigBlueButtonActor.scala
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/running/MeetingActor.scala
Labels: Apps

#11661 Prevent sending typed poll empty response
  bigbluebutton-html5/imports/ui/components/polling/component.jsx
Labels: HTML5 Client, Polling

#11658 Adds parameters check after extractCredentials is used
  bigbluebutton-html5/imports/api/annotations/server/methods/clearWhiteboard.js
  bigbluebutton-html5/imports/api/annotations/server/methods/sendAnnotation.js
  bigbluebutton-html5/imports/api/annotations/server/methods/sendBulkAnnotations.js
  bigbluebutton-html5/imports/api/annotations/server/methods/undoAnnotation.js
  bigbluebutton-html5/imports/api/breakouts/server/methods/createBreakout.js
  bigbluebutton-html5/imports/api/breakouts/server/methods/requestJoinURL.js
  bigbluebutton-html5/imports/api/external-videos/server/methods/emitExternalVideoEvent.js
  bigbluebutton-html5/imports/api/group-chat-msg/server/methods/chatMessageBeforeJoinCounter.js
  bigbluebutton-html5/imports/api/group-chat-msg/server/methods/clearPublicChatHistory.js
  bigbluebutton-html5/imports/api/group-chat-msg/server/methods/fetchMessagePerPage.js
  bigbluebutton-html5/imports/api/group-chat-msg/server/methods/sendGroupChatMsg.js
  bigbluebutton-html5/imports/api/group-chat-msg/server/methods/startUserTyping.js
  bigbluebutton-html5/imports/api/group-chat-msg/server/methods/stopUserTyping.js
  bigbluebutton-html5/imports/api/group-chat/server/methods/createGroupChat.js
  bigbluebutton-html5/imports/api/group-chat/server/methods/destroyGroupChat.js
  bigbluebutton-html5/imports/api/guest-users/server/methods/allowPendingUsers.js
  bigbluebutton-html5/imports/api/guest-users/server/methods/changeGuestPolicy.js
  bigbluebutton-html5/imports/api/local-settings/server/methods/userChangedLocalSettings.js
  bigbluebutton-html5/imports/api/meetings/server/methods/clearRandomlySelectedUser.js
  bigbluebutton-html5/imports/api/meetings/server/methods/endMeeting.js
  bigbluebutton-html5/imports/api/meetings/server/methods/toggleLockSettings.js
  bigbluebutton-html5/imports/api/meetings/server/methods/toggleRecording.js
  bigbluebutton-html5/imports/api/meetings/server/methods/toggleWebcamsOnlyForModerator.js
  bigbluebutton-html5/imports/api/meetings/server/methods/transferUser.js
  bigbluebutton-html5/imports/api/network-information/server/methods/userInstabilityDetected.js
  bigbluebutton-html5/imports/api/polls/server/methods/publishPoll.js
  bigbluebutton-html5/imports/api/polls/server/methods/publishTypedVote.js
  bigbluebutton-html5/imports/api/polls/server/methods/publishVote.js
  bigbluebutton-html5/imports/api/polls/server/methods/startPoll.js
  bigbluebutton-html5/imports/api/polls/server/methods/stopPoll.js
  bigbluebutton-html5/imports/api/presentation-upload-token/server/methods/requestPresentationUploadToken.js
  bigbluebutton-html5/imports/api/presentation-upload-token/server/methods/setUsedToken.js
  bigbluebutton-html5/imports/api/presentations/server/methods/removePresentation.js
  bigbluebutton-html5/imports/api/presentations/server/methods/setPresentation.js
  bigbluebutton-html5/imports/api/presentations/server/methods/setPresentationDownloadable.js
  bigbluebutton-html5/imports/api/slides/server/methods/switchSlide.js
  bigbluebutton-html5/imports/api/slides/server/methods/zoomSlide.js
  bigbluebutton-html5/imports/api/users-infos/server/methods/removeUserInformation.js
  bigbluebutton-html5/imports/api/users-infos/server/methods/requestUserInformation.js
  bigbluebutton-html5/imports/api/users-settings/server/methods/addUserSettings.js
  bigbluebutton-html5/imports/api/users/server/methods/assignPresenter.js
  bigbluebutton-html5/imports/api/users/server/methods/changeRole.js
  bigbluebutton-html5/imports/api/users/server/methods/removeUser.js
  bigbluebutton-html5/imports/api/users/server/methods/setEmojiStatus.js
  bigbluebutton-html5/imports/api/users/server/methods/setRandomUser.js
  bigbluebutton-html5/imports/api/users/server/methods/setUserEffectiveConnectionType.js
  bigbluebutton-html5/imports/api/users/server/methods/toggleUserLock.js
  bigbluebutton-html5/imports/api/users/server/methods/userActivitySign.js
  bigbluebutton-html5/imports/api/users/server/methods/userLeftMeeting.js
  bigbluebutton-html5/imports/api/users/server/publishers.js
  bigbluebutton-html5/imports/api/video-streams/server/methods/userShareWebcam.js
  bigbluebutton-html5/imports/api/video-streams/server/methods/userUnshareWebcam.js
  bigbluebutton-html5/imports/api/voice-users/server/methods/ejectUserFromVoice.js
  bigbluebutton-html5/imports/api/voice-users/server/methods/muteAllExceptPresenterToggle.js
  bigbluebutton-html5/imports/api/voice-users/server/methods/muteAllToggle.js
  bigbluebutton-html5/imports/api/voice-users/server/methods/muteToggle.js
  bigbluebutton-html5/imports/api/whiteboard-multi-user/server/methods/changeWhiteboardAccess.js
  bigbluebutton-html5/imports/startup/server/ClientConnections.js
Labels: HTML5 Client

#11669 [Refactor] Whiteboard individual access
  akka-bbb-apps/src/main/scala/org/bigbluebutton/SystemConfiguration.scala
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/apps/WhiteboardModel.scala
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/apps/whiteboard/ClearWhiteboardPubMsgHdlr.scala
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/apps/whiteboard/GetWhiteboardAnnotationsReqMsgHdlr.scala
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/apps/whiteboard/ModifyWhiteboardAccessPubMsgHdlr.scala
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/apps/whiteboard/SendCursorPositionPubMsgHdlr.scala
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/apps/whiteboard/SendWhiteboardAnnotationPubMsgHdlr.scala
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/apps/whiteboard/UndoWhiteboardPubMsgHdlr.scala
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/apps/whiteboard/WhiteboardApp2x.scala
  akka-bbb-apps/src/universal/conf/application.conf
  bbb-common-message/src/main/scala/org/bigbluebutton/common2/msgs/WhiteboardMsgs.scala
  bigbluebutton-html5/imports/api/annotations/server/handlers/whiteboardAnnotations.js
  bigbluebutton-html5/imports/api/whiteboard-multi-user/server/handlers/modifyWhiteboardAccess.js
  bigbluebutton-html5/imports/api/whiteboard-multi-user/server/helpers.js
  bigbluebutton-html5/imports/api/whiteboard-multi-user/server/methods.js
  bigbluebutton-html5/imports/api/whiteboard-multi-user/server/methods/addGlobalAccess.js
  bigbluebutton-html5/imports/api/whiteboard-multi-user/server/methods/addIndividualAccess.js
  bigbluebutton-html5/imports/api/whiteboard-multi-user/server/methods/removeGlobalAccess.js
  bigbluebutton-html5/imports/api/whiteboard-multi-user/server/methods/removeIndividualAccess.js
  bigbluebutton-html5/imports/api/whiteboard-multi-user/server/modifiers/modifyWhiteboardAccess.js
  bigbluebutton-html5/imports/ui/components/presentation/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/container.jsx
  bigbluebutton-html5/imports/ui/components/presentation/cursor/cursor-wrapper-container/container.jsx
  bigbluebutton-html5/imports/ui/components/presentation/cursor/cursor-wrapper-container/service.js
  bigbluebutton-html5/imports/ui/components/presentation/service.js
  bigbluebutton-html5/imports/ui/components/user-avatar/component.jsx
  bigbluebutton-html5/imports/ui/components/user-avatar/styles.scss
  bigbluebutton-html5/imports/ui/components/user-list/service.js
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/user-dropdown/component.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/annotations/text/container.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/annotations/text/service.js
  bigbluebutton-html5/imports/ui/components/whiteboard/service.js
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-toolbar/component.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-toolbar/container.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-toolbar/service.js
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-toolbar/styles.scss
  bigbluebutton-html5/private/config/settings.yml
  bigbluebutton-html5/public/locales/en.json
Labels: Apps, HTML5 Client, Whiteboard, feature

#11664 video-provider: add dynamic video page sizes based on number of users
  bigbluebutton-html5/imports/ui/components/user-list/service.js
  bigbluebutton-html5/imports/ui/components/video-provider/service.js
  bigbluebutton-html5/private/config/settings.yml
Labels: HTML5 Client, Video, feature

#11676 Fix for posJoinMessage as undefined
  bigbluebutton-html5/imports/ui/components/chat/container.jsx
  bigbluebutton-html5/imports/ui/components/user-list/service.js
Labels: Chat, HTML5 Client

#11678 Show unmuted microphone in video
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/video-list-item/component.jsx
Labels: HTML5 Client

#11671 Escaping user typed poll results
  bigbluebutton-html5/imports/api/polls/server/handlers/sendPollChatMsg.js
  bigbluebutton-html5/imports/ui/components/chat/time-window-list/time-window-chat-item/message-chat-item/component.jsx
Labels: HTML5 Client, Polling

#11672 Fixes chat panel appearing after webcam share/unshare
  bigbluebutton-html5/imports/startup/client/base.jsx
Labels: HTML5 Client

#11574 Update and add Polling specs
  bigbluebutton-html5/imports/ui/components/poll/component.jsx
  bigbluebutton-html5/imports/ui/components/poll/live-result/component.jsx
  bigbluebutton-html5/imports/ui/components/polling/component.jsx
  bigbluebutton-html5/tests/puppeteer/core/page.js
  bigbluebutton-html5/tests/puppeteer/polling.obj.js
  bigbluebutton-html5/tests/puppeteer/polling/elemens.js
  bigbluebutton-html5/tests/puppeteer/user/multiusers.js
Labels: HTML5 Client, QA

#11681 Replaced keepEvents with defaultKeepEvents and meetingKeepEvents
  bbb-common-web/src/main/java/org/bigbluebutton/api/ApiParams.java
  bbb-common-web/src/main/java/org/bigbluebutton/api/MeetingService.java
  bbb-common-web/src/main/java/org/bigbluebutton/api/ParamsProcessorUtil.java
  bbb-common-web/src/main/java/org/bigbluebutton/api/domain/Meeting.java
  bigbluebutton-web/grails-app/conf/bigbluebutton.properties
  bigbluebutton-web/grails-app/conf/spring/resources.xml
Labels: API, Apps, Recording

#11689 Handle multi-user whiteboard for solo presenter
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-toolbar/component.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-toolbar/container.jsx
Labels: HTML5 Client, Whiteboard

#11694 Fix userlist height if banner is enabled
  bigbluebutton-html5/imports/ui/components/app/styles.scss
Labels: HTML5 Client

#11697 Updated versions of npm packages for bbb-html5 on 2.2
  bigbluebutton-html5/package-lock.json
  bigbluebutton-html5/package.json
Labels: HTML5 Client

#11698 Fix client crash when user is sharing video
  bigbluebutton-html5/imports/ui/components/video-provider/many-users-notify/container.jsx
Labels: HTML5 Client

#11705 Add getter for defaultKeepEvents
  bbb-common-web/src/main/java/org/bigbluebutton/api/ParamsProcessorUtil.java
Labels: Apps

#11710 Increasing userlist menu width
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/user-dropdown/styles.scss
Labels: HTML5 Client

#11691 Fix messages being not cleared
  bigbluebutton-html5/imports/ui/components/components-data/chat-context/adapter.jsx
Labels: Chat, HTML5 Client

#11711 Increasing presenter menu width
  bigbluebutton-html5/imports/ui/components/actions-bar/styles.scss
  bigbluebutton-html5/imports/ui/components/dropdown/list/styles.scss
  bigbluebutton-html5/imports/ui/components/dropdown/styles.scss
Labels: HTML5 Client

#11703 Move Raise Hand Functionality To Actions Bar Button
  bigbluebutton-html5/imports/ui/components/actions-bar/component.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/container.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/service.js
  bigbluebutton-html5/imports/ui/components/actions-bar/styles.scss
  bigbluebutton-html5/imports/ui/components/app/component.jsx
  bigbluebutton-html5/imports/ui/components/shortcut-help/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/service.js
  bigbluebutton-html5/private/config/settings.yml
  bigbluebutton-html5/public/locales/en.json
Labels: HTML5 Client

#11713 Retrieve guest user pre-join messages only when userId is available
  bigbluebutton-html5/imports/ui/components/components-data/chat-context/adapter.jsx
Labels: Chat, HTML5 Client

#11719 Locales fetch rework
  bigbluebutton-html5/imports/startup/client/intl.jsx
  bigbluebutton-html5/private/config/settings.yml
Labels: HTML5 Client, Localization

#11721 Default enable banner alert when user speaks with mic muted
  bigbluebutton-html5/imports/ui/components/audio/audio-controls/component.jsx
  bigbluebutton-html5/private/config/settings.yml
Labels: HTML5 Client, audio

#11709 Prevent logged out user to spam validateAuthToken
  bigbluebutton-html5/imports/api/auth-token-validation/server/modifiers/upsertValidationState.js
  bigbluebutton-html5/imports/api/users/server/handlers/validateAuthToken.js
  bigbluebutton-html5/imports/ui/services/auth/index.js
Labels: HTML5 Client

#11726 Handle pad's events and Meteor's instances
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/record/events/AbstractPadRecordEvent.scala
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/record/events/AddPadRecordEvent.scala
  akka-bbb-apps/src/main/scala/org/bigbluebutton/endpoint/redis/RedisRecorderActor.scala
  bigbluebutton-html5/imports/api/captions/server/methods/createCaptions.js
  bigbluebutton-html5/imports/api/meetings/server/modifiers/addMeeting.js
  bigbluebutton-html5/imports/api/note/server/helpers.js
  bigbluebutton-html5/imports/api/note/server/methods/createNote.js
  bigbluebutton-html5/imports/startup/server/etherpad.js
  bigbluebutton-html5/imports/startup/server/redis.js
  record-and-playback/core/lib/recordandplayback.rb
  record-and-playback/core/lib/recordandplayback/generators/events.rb
  record-and-playback/core/scripts/archive/archive.rb
  record-and-playback/core/scripts/bigbluebutton.yml
Labels: HTML5 Client

#11725 Fix reactive issue with reconnection
  bigbluebutton-html5/imports/ui/components/components-data/chat-context/adapter.jsx
Labels: HTML5 Client

#11724 Fix userlist RTL/LTR for userlist when language is changed
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/user-list-item/user-dropdown/component.jsx
Labels: HTML5 Client

#11686 Improve poll function
  bigbluebutton-html5/imports/api/polls/server/handlers/pollPublished.js
  bigbluebutton-html5/imports/api/polls/server/handlers/sendPollChatMsg.js
  bigbluebutton-html5/imports/ui/components/chat/time-window-list/time-window-chat-item/component.jsx
  bigbluebutton-html5/imports/ui/components/chat/time-window-list/time-window-chat-item/container.jsx
  bigbluebutton-html5/imports/ui/components/chat/time-window-list/time-window-chat-item/message-chat-item/component.jsx
  bigbluebutton-html5/imports/ui/components/poll/live-result/component.jsx
  bigbluebutton-html5/imports/ui/components/poll/live-result/styles.scss
Labels: HTML5 Client, Polling

#11626 screenshare: add rap processing for screen streams with audio (complements #11622)
  record-and-playback/core/lib/recordandplayback/edl/audio.rb
  record-and-playback/core/lib/recordandplayback/generators/audio.rb
  record-and-playback/core/lib/recordandplayback/generators/audio_processor.rb
  record-and-playback/core/lib/recordandplayback/generators/events.rb
Labels: Recording

#11730 screenshare: check if the user is still presenter after gDM resolves
  bigbluebutton-html5/imports/ui/components/screenshare/service.js
Labels: Bug, HTML5 Client

#11732 Pulled HTML5 locales on March 24, 2021
  bigbluebutton-html5/public/locales/de.json
  bigbluebutton-html5/public/locales/gl.json
  bigbluebutton-html5/public/locales/it_IT.json
  bigbluebutton-html5/public/locales/ja.json
  bigbluebutton-html5/public/locales/ru.json
  bigbluebutton-html5/public/locales/uk_UA.json
Labels: HTML5 Client, Localization

#11742 Remove the drag and drop input field for typed responses polls
  bigbluebutton-html5/imports/ui/components/poll/component.jsx
Labels: HTML5 Client, Polling

#11738 Reduce Audio Modal Heading To H2
  bigbluebutton-html5/imports/ui/components/audio/audio-modal/component.jsx
Labels: Accessibilty, HTML5 Client

#11737 Remove complementary role from user content
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/component.jsx
Labels: Accessibilty, HTML5 Client

#11736 Fix duplicate element Id in UserParticipants
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/component.jsx
Labels: Accessibilty, HTML5 Client

#11735 Remove gradient from content styling
  bigbluebutton-html5/imports/ui/components/app/styles.scss
Labels: Accessibilty, HTML5 Client

#11747 Retry sending annotations if user information is not available
  bigbluebutton-html5/imports/api/annotations/server/methods/sendBulkAnnotations.js
  bigbluebutton-html5/imports/ui/components/whiteboard/service.js
Labels: HTML5 Client, Whiteboard

#11749 Fix Cannot read property 'posJoinMessages' of undefined
  bigbluebutton-html5/imports/ui/components/chat/component.jsx
  bigbluebutton-html5/imports/ui/components/chat/container.jsx
  bigbluebutton-html5/imports/ui/components/chat/time-window-list/component.jsx
  bigbluebutton-html5/imports/ui/components/components-data/chat-context/context.jsx
Labels: Chat, HTML5 Client

#11751 Updated meteor-node-stubs from 1.0.1 to 1.0.3
  bigbluebutton-html5/package-lock.json
  bigbluebutton-html5/package.json
Labels: HTML5 Client

#11750 Quick fix to avoid empty slides
  bbb-common-web/src/main/java/org/bigbluebutton/presentation/imp/SvgImageCreatorImp.java
Labels: Apps

#11755 Remove black border on video resize
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/styles.scss
Labels: HTML5 Client

#11753 Recording: Ignore video in audio processing scripts
  record-and-playback/core/lib/recordandplayback/edl/audio.rb
Labels: Recording

#11756 Revert "Remove black border on video resize"
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/styles.scss
Labels: HTML5 Client

#11722 Add collection user persistent data
  bigbluebutton-html5/imports/api/meetings/server/modifiers/meetingHasEnded.js
  bigbluebutton-html5/imports/api/users-persistent-data/index.js
  bigbluebutton-html5/imports/api/users-persistent-data/server/index.js
  bigbluebutton-html5/imports/api/users-persistent-data/server/modifiers/addUserPersistentData.js
  bigbluebutton-html5/imports/api/users-persistent-data/server/modifiers/clearUsersPersistentData.js
  bigbluebutton-html5/imports/api/users-persistent-data/server/modifiers/setloggedOutStatus.js
  bigbluebutton-html5/imports/api/users-persistent-data/server/publishers.js
  bigbluebutton-html5/imports/api/users/server/modifiers/addUser.js
  bigbluebutton-html5/imports/api/users/server/modifiers/removeUser.js
  bigbluebutton-html5/imports/ui/components/chat/time-window-list/time-window-chat-item/container.jsx
  bigbluebutton-html5/imports/ui/components/components-data/users-context/adapter.jsx
  bigbluebutton-html5/imports/ui/components/components-data/users-context/context.jsx
  bigbluebutton-html5/imports/ui/components/subscriptions/component.jsx
  bigbluebutton-html5/server/main.js
Labels: HTML5 Client

#11727 Logout response message modified reasoncode
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/apps/users/ValidateAuthTokenReqMsgHdlr.scala
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/models/Users2x.scala
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core2/message/senders/MsgBuilder.scala
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core2/message/senders/ValidateAuthTokenRespMsgSender.scala
  bbb-common-message/src/main/scala/org/bigbluebutton/common2/msgs/UsersMsgs.scala
Labels: Apps

#11127 Fix for poll result in RTL languages
  bigbluebutton-html5/imports/ui/components/whiteboard/annotations/poll/component.jsx
Labels: HTML5 Client, signed-cla

#11766 Auto-reconnect webcam after leaving breakout room
  bigbluebutton-html5/imports/ui/components/breakout-join-confirmation/component.jsx
  bigbluebutton-html5/imports/ui/components/breakout-room/component.jsx
  bigbluebutton-html5/imports/ui/components/media/container.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/service.js
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/video-list-item/component.jsx
Labels: HTML5 Client, breakouts

#11784 Remove invalid aria values and roles without proper structure
  bigbluebutton-html5/imports/ui/components/chat/container.jsx
  bigbluebutton-html5/imports/ui/components/chat/message-form/component.jsx
  bigbluebutton-html5/imports/ui/components/chat/service.js
  bigbluebutton-html5/imports/ui/components/presentation/presentation-close-button/component.jsx
  bigbluebutton-html5/imports/ui/components/user-list/user-list-content/user-participants/container.jsx
Labels: Accessibilty, HTML5 Client

#11793 fix:Banned user rejoining error code modified with error message
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/apps/users/ValidateAuthTokenReqMsgHdlr.scala
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/models/Users2x.scala
Labels: Apps

#11797 Updated meteor-node-stubs and y18n
  bigbluebutton-html5/package-lock.json
  bigbluebutton-html5/package.json
Labels: HTML5 Client

#11798 Backport sdpSemantics unified-plan
  bigbluebutton-html5/imports/api/audio/client/bridge/sip.js
  bigbluebutton-html5/private/config/settings.yml
Labels: HTML5 Client, audio

#11783 Fix actions bar buttons overlapped by right side
  bigbluebutton-html5/imports/ui/components/actions-bar/component.jsx
  bigbluebutton-html5/imports/ui/components/actions-bar/styles.scss
Labels: HTML5 Client, readyForTesting

#11800 Refactor Etherpad API calls
  bigbluebutton-html5/imports/api/captions/server/helpers.js
  bigbluebutton-html5/imports/api/captions/server/methods/appendText.js
  bigbluebutton-html5/imports/api/captions/server/methods/createCaptions.js
  bigbluebutton-html5/imports/api/captions/server/methods/fetchReadOnlyPadId.js
  bigbluebutton-html5/imports/api/common/server/etherpad.js
  bigbluebutton-html5/imports/api/common/server/helpers.js
  bigbluebutton-html5/imports/api/meetings/server/modifiers/addMeeting.js
  bigbluebutton-html5/imports/api/note/server/helpers.js
  bigbluebutton-html5/imports/api/note/server/methods/createNote.js
  bigbluebutton-html5/imports/ui/components/captions/service.js
Labels: HTML5 Client

#11801 Improve guest lobby feedback
  bigbluebutton-html5/private/static/guest-wait/guest-wait.html
  bigbluebutton-web/grails-app/controllers/org/bigbluebutton/web/controllers/ApiController.groovy
Labels: Apps

#11799 Add additional user whiteboard access test spec
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-toolbar/component.jsx
  bigbluebutton-html5/package.json
  bigbluebutton-html5/tests/puppeteer/.env-template
  bigbluebutton-html5/tests/puppeteer/package-lock.json
  bigbluebutton-html5/tests/puppeteer/package.json
  bigbluebutton-html5/tests/puppeteer/user/multiusers.js
  bigbluebutton-html5/tests/puppeteer/whiteboard.obj.js
  bigbluebutton-html5/tests/puppeteer/whiteboard/elements.js
Labels: HTML5 Client, QA

#11792 Mobile video dropdown size
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/styles.scss
Labels: HTML5 Client, readyForTesting

#11807 Rework banned users
  bigbluebutton-html5/imports/api/meetings/server/modifiers/addMeeting.js
  bigbluebutton-html5/imports/api/meetings/server/modifiers/meetingHasEnded.js
  bigbluebutton-html5/imports/api/users/server/handlers/validateAuthToken.js
  bigbluebutton-html5/imports/api/users/server/methods/removeUser.js
  bigbluebutton-html5/imports/api/users/server/methods/validateAuthToken.js
  bigbluebutton-html5/imports/api/users/server/store/bannedUsers.js
  bigbluebutton-html5/imports/ui/components/error-screen/component.jsx
  bigbluebutton-html5/imports/ui/services/auth/index.js
  bigbluebutton-html5/public/locales/en.json
Labels: HTML5 Client

#11804 Config overlay for bbb-web turn server config
  bigbluebutton-web/grails-app/conf/spring/resources.groovy
  bigbluebutton-web/grails-app/conf/spring/resources.xml
Labels: Apps, Config

#11813 Update and some improvements on PR #10129 - dynamic change audio device
  bigbluebutton-html5/.eslintrc.js
  bigbluebutton-html5/imports/api/audio/client/bridge/sip.js
  bigbluebutton-html5/imports/ui/components/audio/audio-controls/component.jsx
  bigbluebutton-html5/imports/ui/components/audio/audio-controls/input-stream-live-selector/component.jsx
  bigbluebutton-html5/imports/ui/components/audio/audio-controls/input-stream-live-selector/container.jsx
  bigbluebutton-html5/imports/ui/components/audio/audio-controls/styles.scss
  bigbluebutton-html5/imports/ui/components/audio/service.js
  bigbluebutton-html5/imports/ui/components/dropdown/list/item/component.jsx
  bigbluebutton-html5/imports/ui/components/dropdown/trigger/component.jsx
  bigbluebutton-html5/imports/ui/services/audio-manager/index.js
  bigbluebutton-html5/private/config/settings.yml
  bigbluebutton-html5/public/locales/en.json
  bigbluebutton-html5/public/locales/pt.json
Labels: HTML5 Client, audio, feature

#10129 Add input/output dynamic audio change
  bigbluebutton-html5/imports/api/audio/client/bridge/sip.js
  bigbluebutton-html5/imports/ui/components/audio/audio-controls/component.jsx
  bigbluebutton-html5/imports/ui/components/audio/audio-controls/input-stream-live-selector/component.jsx
  bigbluebutton-html5/imports/ui/components/audio/audio-controls/input-stream-live-selector/container.jsx
  bigbluebutton-html5/imports/ui/components/audio/audio-controls/styles.scss
  bigbluebutton-html5/imports/ui/components/audio/service.js
  bigbluebutton-html5/imports/ui/components/dropdown/trigger/component.jsx
  bigbluebutton-html5/imports/ui/services/audio-manager/index.js
  bigbluebutton-html5/public/locales/en.json
Labels: HTML5 Client, has-conflicts

#11827 Fix: making allowModsToUnmuteUsers=true work again
  bigbluebutton-html5/imports/ui/components/user-list/service.js
Labels: Bug, HTML5 Client
