Repository bigbluebutton/bigbluebutton, pull requests merged in 2021-11, with the labels that each got.

#10737 feat: Fill shape in whiteboard
  bigbluebutton-html5/imports/api/annotations/server/methods/sendAnnotationHelper.js
  bigbluebutton-html5/imports/ui/components/whiteboard/annotations/ellipse/component.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/annotations/rectangle/component.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/annotations/triangle/component.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-overlay/component.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-overlay/shape-draw-listener/component.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-overlay/shape-pointer-listener/component.jsx
  record-and-playback/presentation/scripts/publish/presentation.rb
Labels: component: whiteboard, module: client

#12682 More robust updates of recordings' "metadata.xml" when issuing "bbb-conf --setip"
  bigbluebutton-config/bin/bbb-conf
Labels: cla: signed

#13674 Fix wrong annotation codes
  bigbluebutton-html5/imports/ui/components/whiteboard/annotations/ellipse/component.jsx
  bigbluebutton-html5/imports/ui/components/whiteboard/annotations/triangle/component.jsx
Labels: component: whiteboard
