Repository bigbluebutton/bigbluebutton, pull requests merged in 2021-01, with the labels that each got.

#11105 Updated axios to 0.21.1 to resolve vuln
  bigbluebutton-html5/package-lock.json
  bigbluebutton-html5/package.json
Labels: HTML5 Client

#11111 Ensure sorting has a fallback in case of undefined name
  bigbluebutton-html5/imports/ui/components/user-list/service.js
Labels: HTML5 Client

#11112 Correct path to silence.mp3
  bigbluebutton-html5/imports/ui/services/audio-manager/index.js
Labels: HTML5 Client

#11113 Remove duplicated html id video-modal-input
  bigbluebutton-html5/imports/ui/components/external-video-player/modal/component.jsx
Labels: externalVideo

#11114 Temporarily allow undefined user name for offline chat sender
  bigbluebutton-html5/imports/ui/components/chat/message-list/message-list-item/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/video-button/component.jsx
Labels: HTML5 Client

#11120 Increase camera baseTimeout to 30 seconds (webcam share timeout workaround)
  bigbluebutton-html5/private/config/settings.yml
Labels: HTML5 Client, Video

#11143 Allow audio constraints to be changed in bbb-html5's settings.yml
  bigbluebutton-html5/imports/api/audio/client/bridge/sip.js
  bigbluebutton-html5/private/config/settings.yml
Labels: HTML5 Client, audio

#11171 Fix fetch loop when override / fallback locales set with region
  bigbluebutton-html5/imports/startup/client/intl.jsx
  bigbluebutton-html5/imports/ui/components/layout/layout-manager.jsx
  bigbluebutton-html5/imports/ui/components/settings/submenus/application/component.jsx
Labels: HTML5 Client

#11179 Fixes closed captions language list
  bigbluebutton-html5/imports/api/captions/server/helpers.js
Labels: HTML5 Client

#11186 Fixes crash when presenter is kicked
  bigbluebutton-html5/imports/ui/components/actions-bar/service.js
  bigbluebutton-html5/imports/ui/components/user-list/service.js
Labels: HTML5 Client

#11187 Configurable annotation and cursor interval
  bigbluebutton-html5/imports/api/annotations/server/handlers/whiteboardSend.js
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-overlay/cursor-listener/component.jsx
  bigbluebutton-html5/private/config/settings.yml
Labels: HTML5 Client

#11199 Throttle user typing indicator function
  bigbluebutton-html5/imports/api/group-chat-msg/server/modifiers/startTyping.js
  bigbluebutton-html5/imports/ui/components/chat/message-form/container.jsx
Labels: HTML5 Client

#11175 Presenter selecting a random viewer
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/apps/users/SelectRandomViewerReqMsgHdlr.scala
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/apps/users/UsersApp.scala
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/models/Users2x.scala
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/pubsub/senders/ReceivedJsonMsgHandlerActor.scala
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/running/MeetingActor.scala
  bbb-common-message/src/main/scala/org/bigbluebutton/common2/msgs/UsersMgs.scala
  bigbluebutton-html5/imports/api/meetings/server/eventHandlers.js
  bigbluebutton-html5/imports/api/meetings/server/handlers/selectRandomViewer.js
  bigbluebutton-html5/imports/api/meetings/server/methods.js
  bigbluebutton-html5/imports/api/meetings/server/methods/clearRandomlySelectedUser.js
  bigbluebutton-html5/imports/api/meetings/server/modifiers/addMeeting.js
  bigbluebutton-html5/imports/api/meetings/server/modifiers/updateRandomViewer.js
  bigbluebutton-html5/imports/api/users/server/methods.js
  bigbluebutton-html5/imports/api/users/server/methods/setRandomUser.js
  bigbluebutton-html5/imports/ui/components/actions-bar/actions-dropdown/component.jsx
  bigbluebutton-html5/imports/ui/components/app/component.jsx
  bigbluebutton-html5/imports/ui/components/app/container.jsx
  bigbluebutton-html5/imports/ui/components/modal/random-user/component.jsx
  bigbluebutton-html5/imports/ui/components/modal/random-user/container.jsx
  bigbluebutton-html5/imports/ui/components/modal/random-user/styles.scss
  bigbluebutton-html5/imports/ui/stylesheets/variables/typography.scss
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client, feature

#11194 Improves the end meeting confirmation message
  bigbluebutton-html5/imports/ui/components/end-meeting-confirmation/component.jsx
  bigbluebutton-html5/imports/ui/components/end-meeting-confirmation/container.jsx
  bigbluebutton-html5/imports/ui/components/end-meeting-confirmation/service.js
  bigbluebutton-html5/imports/ui/components/end-meeting-confirmation/styles.scss
  bigbluebutton-html5/private/locales/en.json
Labels: HTML5 Client

#11206 Add setting for enabling/disabling microphone audio filters
  bigbluebutton-html5/imports/api/audio/client/bridge/sip.js
  bigbluebutton-html5/imports/ui/components/audio/container.jsx
  bigbluebutton-html5/imports/ui/components/audio/service.js
  bigbluebutton-html5/imports/ui/components/settings/component.jsx
  bigbluebutton-html5/imports/ui/components/settings/submenus/application/component.jsx
  bigbluebutton-html5/imports/ui/services/audio-manager/index.js
  bigbluebutton-html5/private/config/settings.yml
  bigbluebutton-html5/private/locales/en.json
  bigbluebutton-html5/private/locales/pt_BR.json
Labels: audio

#11207 Prevent open text-area blocking select menus
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-overlay/text-draw-listener/component.jsx
Labels: HTML5 Client

#11222 Avoid setting empty/undefined constraint
  bigbluebutton-html5/imports/api/audio/client/bridge/sip.js
Labels: HTML5 Client, audio

#11235 Fix wrong path in settings for audio constraints
  bigbluebutton-html5/imports/api/audio/client/bridge/sip.js
Labels: HTML5 Client, audio

#11236 Only publish full users to client side, no dummy users
  bigbluebutton-html5/imports/api/users/server/publishers.js
Labels: HTML5 Client

#11232 video-provider: fix inconsistent client state when a webcam being shared times out
  bigbluebutton-html5/imports/ui/components/video-provider/service.js
Labels: HTML5 Client, Video

#11216 9101 add poll abstention
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/models/Polls.scala
  bigbluebutton-html5/imports/ui/components/actions-bar/quick-poll-dropdown/component.jsx
  bigbluebutton-html5/imports/ui/components/poll/component.jsx
  bigbluebutton-html5/imports/ui/components/poll/service.js
  bigbluebutton-html5/imports/ui/components/presentation/service.js
  bigbluebutton-html5/imports/ui/components/whiteboard/annotations/poll/component.jsx
  bigbluebutton-html5/private/locales/de.json
  bigbluebutton-html5/private/locales/en.json
Labels: signed-cla

#11265 Remove old connection id on user leave
  bigbluebutton-html5/imports/api/users/server/methods/userLeaving.js
  bigbluebutton-html5/imports/api/users/server/methods/userLeftMeeting.js
Labels: HTML5 Client

#11267 Pulled HTML5 locales Jan 29, 2021; tested
  bigbluebutton-html5/private/locales/ar.json
  bigbluebutton-html5/private/locales/az.json
  bigbluebutton-html5/private/locales/bg_BG.json
  bigbluebutton-html5/private/locales/ca.json
  bigbluebutton-html5/private/locales/cs_CZ.json
  bigbluebutton-html5/private/locales/da.json
  bigbluebutton-html5/private/locales/de.json
  bigbluebutton-html5/private/locales/el_GR.json
  bigbluebutton-html5/private/locales/eo.json
  bigbluebutton-html5/private/locales/es.json
  bigbluebutton-html5/private/locales/es_ES.json
  bigbluebutton-html5/private/locales/es_MX.json
  bigbluebutton-html5/private/locales/et.json
  bigbluebutton-html5/private/locales/eu.json
  bigbluebutton-html5/private/locales/fa_IR.json
  bigbluebutton-html5/private/locales/fi.json
  bigbluebutton-html5/private/locales/fr.json
  bigbluebutton-html5/private/locales/gl.json
  bigbluebutton-html5/private/locales/he.json
  bigbluebutton-html5/private/locales/hi_IN.json
  bigbluebutton-html5/private/locales/hr.json
  bigbluebutton-html5/private/locales/hu_HU.json
  bigbluebutton-html5/private/locales/id.json
  bigbluebutton-html5/private/locales/it_IT.json
  bigbluebutton-html5/private/locales/ja.json
  bigbluebutton-html5/private/locales/ja_JP.json
  bigbluebutton-html5/private/locales/ka.json
  bigbluebutton-html5/private/locales/km.json
  bigbluebutton-html5/private/locales/kn.json
  bigbluebutton-html5/private/locales/ko_KR.json
  bigbluebutton-html5/private/locales/lt_LT.json
  bigbluebutton-html5/private/locales/lv.json
  bigbluebutton-html5/private/locales/nb_NO.json
  bigbluebutton-html5/private/locales/nl.json
  bigbluebutton-html5/private/locales/oc.json
  bigbluebutton-html5/private/locales/pl_PL.json
  bigbluebutton-html5/private/locales/pt.json
  bigbluebutton-html5/private/locales/pt_BR.json
  bigbluebutton-html5/private/locales/ro_RO.json
  bigbluebutton-html5/private/locales/ru.json
  bigbluebutton-html5/private/locales/ru_RU.json
  bigbluebutton-html5/private/locales/sk_SK.json
  bigbluebutton-html5/private/locales/sl.json
  bigbluebutton-html5/private/locales/sr.json
  bigbluebutton-html5/private/locales/sv_SE.json
  bigbluebutton-html5/private/locales/te.json
  bigbluebutton-html5/private/locales/th.json
  bigbluebutton-html5/private/locales/th_TH.json
  bigbluebutton-html5/private/locales/tr.json
  bigbluebutton-html5/private/locales/tr_TR.json
  bigbluebutton-html5/private/locales/uk_UA.json
  bigbluebutton-html5/private/locales/vi_VN.json
  bigbluebutton-html5/private/locales/zh_CN.json
  bigbluebutton-html5/private/locales/zh_TW.json
Labels: HTML5 Client, Localization

#11268 Correctly return MediaStream object when calling audio-manager's inputStream
  bigbluebutton-html5/imports/api/audio/client/bridge/sip.js
  bigbluebutton-html5/imports/ui/components/settings/submenus/application/component.jsx
  bigbluebutton-html5/imports/ui/services/audio-manager/index.js
Labels: HTML5 Client, audio
