Repository bigbluebutton/bigbluebutton, pull requests merged in 2021-06, with the labels that each got.

#12496 chore(locales): Pulled HTML5 locales June 1, 2021
  bigbluebutton-html5/private/config/fallbackLocales.json
  bigbluebutton-html5/public/locales/ar_EG.json
  bigbluebutton-html5/public/locales/ar_IQ.json
  bigbluebutton-html5/public/locales/ar_JO.json
  bigbluebutton-html5/public/locales/ar_SA.json
  bigbluebutton-html5/public/locales/bn.json
  bigbluebutton-html5/public/locales/kk.json
  bigbluebutton-html5/public/locales/ml.json
  bigbluebutton-html5/public/locales/te.json
  bigbluebutton-html5/public/locales/th_TH.json
Labels: target: localization

#12513 fix: Increase slightly area for webcam+presentation
  bigbluebutton-html5/imports/ui/components/layout/layout-manager/component.jsx
Labels: component: layout, module: client

#12538 feat: emphasize moderator messages in public chat
  bigbluebutton-html5/imports/ui/components/chat/time-window-list/time-window-chat-item/component.jsx
  bigbluebutton-html5/imports/ui/components/chat/time-window-list/time-window-chat-item/styles.scss
  bigbluebutton-html5/private/config/settings.yml
Labels: component: chat, module: client

#12452 refactor: chat alerts
  bigbluebutton-html5/imports/ui/components/app/component.jsx
  bigbluebutton-html5/imports/ui/components/app/container.jsx
  bigbluebutton-html5/imports/ui/components/chat/alert/audio-alert/component.jsx
  bigbluebutton-html5/imports/ui/components/chat/alert/component.jsx
  bigbluebutton-html5/imports/ui/components/chat/alert/container.jsx
  bigbluebutton-html5/imports/ui/components/chat/alert/push-alert/component.jsx
  bigbluebutton-html5/imports/ui/components/chat/service.js
  bigbluebutton-html5/imports/ui/services/notification/index.js
Labels: module: client

#12505 Add 'Extend duration' option for breakout rooms
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/api/InMessages.scala
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/apps/BreakoutModel.scala
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/apps/breakout/BreakoutApp2x.scala
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/apps/breakout/ExtendBreakoutRoomTimeInternalMsgHdlr.scala
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/apps/breakout/ExtendBreakoutRoomsTimeMsgHdlr.scala
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/pubsub/senders/ReceivedJsonMsgHandlerActor.scala
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/running/MeetingActor.scala
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core2/AnalyticsActor.scala
  bbb-common-message/src/main/scala/org/bigbluebutton/common2/msgs/BreakoutMsgs.scala
  bigbluebutton-html5/imports/api/breakouts/server/methods.js
  bigbluebutton-html5/imports/api/breakouts/server/methods/extendBreakoutsTime.js
  bigbluebutton-html5/imports/ui/components/breakout-room/component.jsx
  bigbluebutton-html5/imports/ui/components/breakout-room/container.jsx
  bigbluebutton-html5/imports/ui/components/breakout-room/service.js
  bigbluebutton-html5/imports/ui/components/breakout-room/styles.scss
  bigbluebutton-html5/public/locales/en.json
Labels: component: breakout rooms, module: core

#12583 Set Divehi as RTL
  bigbluebutton-html5/imports/startup/client/intl.jsx
Labels: target: localization

#12585 Add container for presentation
  bigbluebutton-html5/imports/ui/components/app/component.jsx
  bigbluebutton-html5/imports/ui/components/layout/defaultValues.js
  bigbluebutton-html5/imports/ui/components/layout/layout-manager/videoFocusLayout.jsx
  bigbluebutton-html5/imports/ui/components/poll/container.jsx
  bigbluebutton-html5/imports/ui/components/presentation-pod/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation-pod/container.jsx
  bigbluebutton-html5/imports/ui/components/presentation/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/container.jsx
  bigbluebutton-html5/imports/ui/components/presentation/presentation-area/component.jsx
  bigbluebutton-html5/imports/ui/components/presentation/presentation-area/container.jsx
  bigbluebutton-html5/imports/ui/components/presentation/styles.scss
Labels: component: layout

#12587 Pulled HTML5 locales, June 14, 2021
  bigbluebutton-html5/public/locales/af.json
  bigbluebutton-html5/public/locales/ar.json
  bigbluebutton-html5/public/locales/bn.json
  bigbluebutton-html5/public/locales/cs_CZ.json
  bigbluebutton-html5/public/locales/da.json
  bigbluebutton-html5/public/locales/de.json
  bigbluebutton-html5/public/locales/dv.json
  bigbluebutton-html5/public/locales/el_GR.json
  bigbluebutton-html5/public/locales/es.json
  bigbluebutton-html5/public/locales/es_ES.json
  bigbluebutton-html5/public/locales/fa_IR.json
  bigbluebutton-html5/public/locales/fr.json
  bigbluebutton-html5/public/locales/gl.json
  bigbluebutton-html5/public/locales/hu_HU.json
  bigbluebutton-html5/public/locales/it_IT.json
  bigbluebutton-html5/public/locales/ja.json
  bigbluebutton-html5/public/locales/ko_KR.json
  bigbluebutton-html5/public/locales/ml.json
  bigbluebutton-html5/public/locales/nl.json
  bigbluebutton-html5/public/locales/pl_PL.json
  bigbluebutton-html5/public/locales/pt_BR.json
  bigbluebutton-html5/public/locales/ru.json
  bigbluebutton-html5/public/locales/sk_SK.json
  bigbluebutton-html5/public/locales/ta.json
  bigbluebutton-html5/public/locales/te.json
  bigbluebutton-html5/public/locales/tr_TR.json
  bigbluebutton-html5/public/locales/uk_UA.json
  bigbluebutton-html5/public/locales/vi_VN.json
  bigbluebutton-html5/public/locales/zh_TW.json
Labels: target: localization

#12591 Screenshare component - new Layout Manager
  bigbluebutton-html5/imports/ui/components/app/component.jsx
  bigbluebutton-html5/imports/ui/components/app/container.jsx
  bigbluebutton-html5/imports/ui/components/layout/context/context.jsx
  bigbluebutton-html5/imports/ui/components/layout/layout-manager/customLayout.jsx
  bigbluebutton-html5/imports/ui/components/layout/layout-manager/presentationFocusLayout.jsx
  bigbluebutton-html5/imports/ui/components/layout/layout-manager/smartLayout.jsx
  bigbluebutton-html5/imports/ui/components/layout/layout-manager/videoFocusLayout.jsx
  bigbluebutton-html5/imports/ui/components/screenshare/component.jsx
  bigbluebutton-html5/imports/ui/components/screenshare/container.jsx
Labels: component: layout

#12598 feat(poll): Add option to hide individual answers in polls
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/apps/polls/RespondToPollReqMsgHdlr.scala
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/apps/polls/StartCustomPollReqMsgHdlr.scala
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/apps/polls/StartPollReqMsgHdlr.scala
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/models/Polls.scala
  akka-bbb-apps/src/main/scala/org/bigbluebutton/core/record/events/PollStartedRecordEvent.scala
  akka-bbb-apps/src/main/scala/org/bigbluebutton/endpoint/redis/RedisRecorderActor.scala
  bbb-common-message/src/main/scala/org/bigbluebutton/common2/domain/Meeting2x.scala
  bbb-common-message/src/main/scala/org/bigbluebutton/common2/msgs/PollsMsgs.scala
  bigbluebutton-html5/imports/api/polls/server/handlers/pollStarted.js
  bigbluebutton-html5/imports/api/polls/server/handlers/sendPollChatMsg.js
  bigbluebutton-html5/imports/api/polls/server/methods/startPoll.js
  bigbluebutton-html5/imports/api/polls/server/modifiers/addPoll.js
  bigbluebutton-html5/imports/ui/components/actions-bar/quick-poll-dropdown/component.jsx
  bigbluebutton-html5/imports/ui/components/poll/component.jsx
  bigbluebutton-html5/imports/ui/components/poll/container.jsx
  bigbluebutton-html5/imports/ui/components/poll/live-result/component.jsx
  bigbluebutton-html5/imports/ui/components/poll/service.js
  bigbluebutton-html5/imports/ui/components/poll/styles.scss
  bigbluebutton-html5/imports/ui/components/polling/component.jsx
  bigbluebutton-html5/imports/ui/components/polling/service.js
  bigbluebutton-html5/imports/ui/components/polling/styles.scss
  bigbluebutton-html5/imports/ui/components/presentation/presentation-toolbar/container.jsx
  bigbluebutton-html5/public/locales/de.json
  bigbluebutton-html5/public/locales/en.json
  bigbluebutton-html5/public/locales/es.json
  bigbluebutton-html5/public/locales/es_ES.json
  bigbluebutton-html5/public/locales/fr.json
  bigbluebutton-html5/public/locales/pt_BR.json
Labels: component: polling

#12609 fix: poll panel position - new LM
  bigbluebutton-html5/imports/ui/components/sidebar-content/component.jsx
Labels: component: layout

#12621 feat(poll): add option to disable poll chat message
  bigbluebutton-html5/imports/api/polls/server/eventHandlers.js
  bigbluebutton-html5/imports/api/polls/server/handlers/pollPublished.js
  bigbluebutton-html5/private/config/settings.yml
Labels: component: polling

#12612 feat(recording): process published polls
  record-and-playback/presentation/scripts/publish/presentation.rb
Labels: component: polling, module: recording

#12639 fix a bug when a shape coordinate is zero
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-overlay/shape-pointer-listener/component.jsx
Labels: component: whiteboard

#12643 Backport Bug Fix When A Shape Coordinate Is Zero
  bigbluebutton-html5/imports/ui/components/whiteboard/whiteboard-overlay/shape-pointer-listener/component.jsx
Labels: component: whiteboard

#12637 Add webcams component on new Layout Manager
  bigbluebutton-html5/imports/ui/components/app/component.jsx
  bigbluebutton-html5/imports/ui/components/app/container.jsx
  bigbluebutton-html5/imports/ui/components/media/container.jsx
  bigbluebutton-html5/imports/ui/components/media/webcam-draggable-overlay/context.jsx
  bigbluebutton-html5/imports/ui/components/presentation/presentation-area/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/container.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/container.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/video-list-item/component.jsx
  bigbluebutton-html5/imports/ui/components/video-provider/video-list/video-list-item/container.jsx
  bigbluebutton-html5/imports/ui/components/webcam/component.jsx
  bigbluebutton-html5/imports/ui/components/webcam/container.jsx
Labels: component: layout
