Repository bigbluebutton/bigbluebutton, pull requests merged in 2022-07, with the labels that each got.

#15206 test: add documentation on how to record Meteor traffic
  bigbluebutton-tests/playwright/README.md
Labels: type: test, target: documentation

#15246 test suite: add an option to multiuser initPages()
  bigbluebutton-tests/playwright/notifications/chatNotifications.js
  bigbluebutton-tests/playwright/notifications/notifications.spec.js
  bigbluebutton-tests/playwright/notifications/presenterNotifications.js
  bigbluebutton-tests/playwright/polling/poll.js
  bigbluebutton-tests/playwright/polling/polling.spec.js
  bigbluebutton-tests/playwright/presentation/presentation.js
  bigbluebutton-tests/playwright/presentation/presentation.spec.js
  bigbluebutton-tests/playwright/user/multiusers.js
  bigbluebutton-tests/playwright/user/user.spec.js
Labels: type: test

#15310 fix(tldraw): fix shapes not persisting in production +
  bigbluebutton-html5/imports/ui/components/whiteboard/component.jsx
Labels: component: whiteboard

#15389 fix(recording): Override configuration properties applied to 2.4 (closes #15388)
  record-and-playback/core/scripts/post_events/post_events_analytics_callback.rb
Labels: module: recording

#15236 test: Various test suite updates
  bigbluebutton-tests/playwright/core/page.js
  bigbluebutton-tests/playwright/user/lockViewers.js
  bigbluebutton-tests/playwright/user/status.js
  bigbluebutton-tests/playwright/webcam/util.js
Labels: type: test
